Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

add script
  .github/workflows/scripts/approved_status.js
Due: none

Add workflow for PR approved
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Due: none

Regenerate client from commit 6fd1064 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit e6c8320 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestOptions.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Update logback to 1.2.0 (#9722)
  .generator/templates/libraries/microprofile/pom.mustache
Due: none

update resteasy dependencies (#9729)
  .generator/templates/libraries/resteasy/JSON.mustache
  .generator/templates/libraries/resteasy/build.gradle.mustache
  .generator/templates/libraries/resteasy/build.sbt.mustache
  .generator/templates/libraries/resteasy/pom.mustache
Due: none

Don't run approved workflow on non generated PRs
  .github/workflows/approved_status.yml
Due: none

Don't run approved workflow on non generated PRs (#862)
  .github/workflows/approved_status.yml
Due: none

Regenerate client from commit f570d1e of spec repo
  .apigentools-info
  api_docs/v1/UsageBillableSummaryKeys.md
  src/main/java/com/datadog/api/v1/client/model/UsageBillableSummaryKeys.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Release 1.0.0
  .github/workflows/test_integration.yml
  CHANGELOG.md
  pom.xml
Due: none

Release 1.0.0 (#864)
  .github/workflows/test_integration.yml
  CHANGELOG.md
  pom.xml
Due: none

new release cycle
  pom.xml
Due: none

new release cycle (#865)
  pom.xml
Due: none

Filter out problem+json mime type from JSON mime types (#9680)
  .generator/templates/libraries/webclient/ApiClient.mustache
Due: none

Hide buildOauthRequestInterceptor under isOAuth section (#9147) (#9736)
  .generator/templates/libraries/feign/ApiClient.mustache
Due: none

skip oauth files in java feign (#9760)
  .generator/templates/libraries/feign/ApiClient.mustache
Due: none

Regenerate client from commit 6c1fcab of spec repo
  .apigentools-info
  api_docs/v1/ServiceLevelObjectivesApi.md
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 0664044 of spec repo
  .apigentools-info
  api_docs/v1/Dashboard.md
  src/main/java/com/datadog/api/v1/client/model/Dashboard.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit 92478ee of spec repo
  .apigentools-info
  api_docs/v2/SecurityMonitoringListRulesResponse.md
  api_docs/v2/SecurityMonitoringRuleCreatePayload.md
  api_docs/v2/SecurityMonitoringRuleResponse.md
  api_docs/v2/SecurityMonitoringRuleUpdatePayload.md
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringListRulesResponse.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleCreatePayload.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleQueryCreate.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleResponse.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleUpdatePayload.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated

Add functions for time in bdd
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: java-format

fix
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 67742c8 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryMetricsSeriesMetadata.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Small tweaks
  src/test/java/com/datadog/api/World.java
Due: java-format

Update pom.mustache (#9768)
  .generator/templates/libraries/resteasy/pom.mustache
Due: none

Add cassettes
  src/test/resources/cassettes/v1/Query_timeseries_points_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Query_timeseries_points_returns_OK_response.json
Due: none

Regenerate client from commit ccc57f4 of spec repo
  .apigentools-info
  api_docs/v1/MetricsQueryMetadata.md
  src/main/java/com/datadog/api/v1/client/model/MetricsQueryMetadata.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 4951cff of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
Due: generated

Update cassettes
  src/test/resources/cassettes/v1/Query_timeseries_points_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Query_timeseries_points_returns_OK_response.json
  src/test/resources/cassettes/v1/Submit_metrics_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/v1/Submit_metrics_returns_Payload_accepted_response.json
Due: none

Regenerate client from commit 3efd10d of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
Due: generated

Regenerate client from commit 7f25c3e of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v2/README.md
  api_docs/v2/SecurityFilterDeleteResponse.md
  api_docs/v2/SecurityMonitoringApi.md
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/client/model/SecurityFilterDeleteResponse.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

[Java] Remove JAX-RS dependency from generated java-native client. (#8320) (#9585)
  .generator/templates/libraries/native/AbstractOpenApiSchema.mustache
  .generator/templates/libraries/native/JSON.mustache
  .generator/templates/libraries/native/anyof_model.mustache
  .generator/templates/libraries/native/build.gradle.mustache
  .generator/templates/libraries/native/oneof_model.mustache
  .generator/templates/libraries/native/pom.mustache
Due: none

[Java][WebClient] add ResponseEntity return for webclient (#9327)
  .generator/templates/libraries/webclient/ApiClient.mustache
  .generator/templates/libraries/webclient/api.mustache
Due: none

Add support for undo body, add cassettes
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.json
Due: java-format

[Synthetics] Fix tests for tick every
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
Due: java-format

Regenerate client from commit 8327a94 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionJSONPathTargetTarget.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated

Regenerate client from commit 609ca23 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SyntheticsTestOptions.md
  api_docs/v1/SyntheticsTickInterval.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTickInterval.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 6820788 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
Due: none

Regenerate client from commit ac88040 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 30e3ae0 of spec repo
  .apigentools-info
  api_docs/v1/AwsIntegrationApi.md
  src/main/java/com/datadog/api/v1/client/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit d18c63f of spec repo
  .apigentools-info
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
