Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Fix azure tests
  src/test/java/com/datadog/api/client/v1/api/AzureIntegrationApiTest.java
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.json
Due: java-format

Re-record
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.json
Due: none

pre-commit fixes
  src/test/java/com/datadog/api/client/v1/api/AzureIntegrationApiTest.java
Due: java-format

remove broken 400 test
  src/test/java/com/datadog/api/client/v1/api/DowntimesApiTest.java
  src/test/resources/cassettes/v1/DowntimesApiTest.downtimeUpdateErrorsTest.json
Due: java-format

Fix azure tests (#1943)
  src/test/java/com/datadog/api/client/v1/api/AzureIntegrationApiTest.java
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.freeze
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.json
Due: java-format

remove broken 400 test (#1944)
  src/test/java/com/datadog/api/client/v1/api/DowntimesApiTest.java
  src/test/resources/cassettes/v1/DowntimesApiTest.downtimeUpdateErrorsTest.json
Due: java-format

Regenerate client from commit 1a77c0b6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objective-corrections/ListSLOCorrection_2647266873.java
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectiveCorrectionsApi.java
  src/test/resources/cassettes/features/v1/Get_all_SLO_corrections_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v1/Get_all_SLO_corrections_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v1/api/service_level_objective_corrections.feature
Due: generate

add validation on backoffbase
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/resources/cassettes/v2/RetryTest.backoffBaseCannotBeSmallerThanTwo.freeze
  src/test/resources/cassettes/v2/RetryTest.backoffBaseCannotBeSmallerThanTwo.json
Due: generate, java-format

pre-commit fixes
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

Remove unnecessary cassette
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/resources/cassettes/v2/RetryTest.backoffBaseCannotBeSmallerThanTwo.freeze
  src/test/resources/cassettes/v2/RetryTest.backoffBaseCannotBeSmallerThanTwo.json
Due: java-format

Add support for page param
  .generator/conftest.py
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/PaginationIterable.j2
  .generator/src/generator/templates/PaginationIterator.j2
  .generator/src/generator/templates/example.j2
Due: generate

add validation on backoffbase (#1947)
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: generate, java-format

Fix boolean setting
  .generator/src/generator/templates/Api.j2
Due: generate

Regenerate client from commit 0fac706f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageProfilingHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

FIx empty resultsPath
  .generator/src/generator/templates/PaginationIterable.j2
  .generator/src/generator/templates/PaginationIterator.j2
Due: generate

Regenerate client from commit febdee32 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/ListSLOs_3036942817.java
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectivesApi.java
  src/test/resources/cassettes/features/v1/Get_all_SLOs_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v1/Get_all_SLOs_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: generate

Regenerate client from commit fee86b40 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/ListMonitors_2966492814.java
  src/main/java/com/datadog/api/client/PaginationIterable.java
  src/main/java/com/datadog/api/client/PaginationIterator.java
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/client/v2/api/AuditApi.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityTestsApi.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/main/java/com/datadog/api/client/v2/api/ProcessesApi.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/main/java/com/datadog/api/client/v2/api/SpansApi.java
  src/test/resources/cassettes/features/v1/Get_all_monitor_details_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v1/Get_all_monitor_details_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit 2f2fd804 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/ListTests_1938827783.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/test/resources/cassettes/features/v1/Get_the_list_of_all_Synthetic_tests_returns_OK_Returns_the_list_of_all_Synthetic_tests_response_with_pagination.freeze
  src/test/resources/cassettes/features/v1/Get_the_list_of_all_Synthetic_tests_returns_OK_Returns_the_list_of_all_Synthetic_tests_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit 046d6b18 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3792639844.java
  src/main/java/com/datadog/api/client/v1/model/GeomapWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/GeomapWidgetStyle.java
  src/test/resources/cassettes/features/v1/Create_a_point_geomap_widget_defining_the_style_for_the_request.freeze
  src/test/resources/cassettes/features/v1/Create_a_point_geomap_widget_defining_the_style_for_the_request.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 87d036cf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2705593938.java
  src/main/java/com/datadog/api/client/v1/model/SunburstWidgetRequest.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit fd65b2e4 of spec repo
  .apigentools-info
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1092490364.java
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule_428087276.java
  src/test/resources/cassettes/features/v2/Create_a_cloud_configuration_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_cloud_configuration_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_cloud_configuration_rule_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_cloud_configuration_rule_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_cloud_configuration_rule_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_cloud_configuration_rule_s_details_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: none

Regenerate client from commit a5115137 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/notebooks/ListNotebooks_788665428.java
  src/main/java/com/datadog/api/client/v1/api/NotebooksApi.java
  src/test/resources/cassettes/features/v1/Get_all_notebooks_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v1/Get_all_notebooks_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v1/api/notebooks.feature
Due: generate

Regenerate client from commit eb534d74 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DowntimeRelationshipsMonitorData.java
Due: generate

Regenerate client from commit 37689a7b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: generate

Regenerate client from commit c59cafad of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/ListDashboards_1062671515.java
  src/main/java/com/datadog/api/client/v1/api/DashboardsApi.java
  src/test/resources/cassettes/features/v1/Get_all_dashboards_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v1/Get_all_dashboards_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 07ee6775 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/downtimes/ListDowntimes_805770330.java
  src/main/java/com/datadog/api/client/v2/api/DowntimesApi.java
  src/test/resources/cassettes/features/v2/Get_all_downtimes_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_downtimes_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/downtimes.feature
Due: generate

Regenerate client from commit c0d26405 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/users/ListUsers_4075885358.java
  src/main/java/com/datadog/api/client/v2/api/UsersApi.java
  src/test/resources/cassettes/features/v2/List_all_users_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/List_all_users_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: generate

Regenerate client from commit 5896c0ef of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/ListTeams_3592098458.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/test/resources/cassettes/features/v2/Get_all_teams_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_teams_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit f65a8312 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 40dbfff2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Handle arrays better in test assertions
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit cbc99635 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/downtimes/CancelDowntime.java
  examples/v2/downtimes/CreateDowntime.java
  examples/v2/downtimes/GetDowntime.java
  examples/v2/downtimes/ListDowntimes.java
  examples/v2/downtimes/ListDowntimes_805770330.java
  examples/v2/downtimes/ListMonitorDowntimes.java
  examples/v2/downtimes/ListMonitorDowntimes_128979780.java
  examples/v2/downtimes/UpdateDowntime.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/DowntimesApi.java
  src/test/resources/com/datadog/api/client/v2/api/downtimes.feature
Due: generate

Regenerate client from commit 752c972d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Monitor.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
Due: generate

Regenerate client from commit bc2ae18f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionTarget.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionTimingsScope.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_payload.json
Due: generate

Regenerate client from commit ec46249d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3777304439.java
  src/main/java/com/datadog/api/client/v1/model/HeatMapWidgetRequest.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_formula_and_function_heatmap_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_formula_and_function_heatmap_widget.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 1d834ec1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Version bump 2.16.0
  pom.xml
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
