Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 7447d103 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
Due: none

Regenerate client from commit c185a9c5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1442588603.java
  examples/v1/dashboards/CreateDashboard_252716965.java
  examples/v1/dashboards/CreateDashboard_3882428227.java
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetHistogramRequestQuery.java
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetHistogramRequestType.java
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmResourceStatName.java
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_APM_Stats_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_APM_Stats_query.json
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_events_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_events_query.json
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_metrics_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_metrics_query.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generate

Regenerate client from commit 56c3bcc3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/OrganizationsApi.java
Due: generate

Regenerate client from commit d8878c2d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
Due: generate

Regenerate client from commit ba61a429 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/organizations/DowngradeOrg.java
  examples/v1/organizations/UpdateOrg.java
  src/main/java/com/datadog/api/v1/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v1/client/model/OrgDowngradedResponse.java
  src/main/java/com/datadog/api/v1/client/model/Organization.java
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generate

Regenerate client from commit 17f09b79 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleNewValueOptions.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleNewValueOptionsLearningMethod.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleNewValueOptionsLearningThreshold.java
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generate

Regenerate client from commit 9149a7a9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/organizations/DowngradeOrg.java
  examples/v1/organizations/UpdateOrg.java
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/v1/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/model/OrgDowngradedResponse.java
  src/main/java/com/datadog/api/v1/client/model/Organization.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleNewValueOptions.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleNewValueOptionsLearningMethod.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleNewValueOptionsLearningThreshold.java
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generate

Fix dashboard integration tests
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/resources/cassettes/v1/DashboardsApiTest.dashboardDeleteErrorsTest.json
  src/test/resources/cassettes/v1/DashboardsApiTest.dashboardUpdateErrorsTest.json
Due: java-format

Fix dashboard integration tests (#1390)
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/resources/cassettes/v1/DashboardsApiTest.dashboardDeleteErrorsTest.json
  src/test/resources/cassettes/v1/DashboardsApiTest.dashboardUpdateErrorsTest.json
Due: java-format

Use custom HTTP client for cassettes
  pom.xml
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/World.java
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/World.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Due: java-format

Fix license
  LICENSE-3rdparty.csv
Due: none

Fix integration tests
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Due: java-format

Sets up default clock
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Remove datadog-ci git-metadata upload
  .github/workflows/test_integration.yml
Due: none

Remove datadog-ci git-metadata upload (#1394)
  .github/workflows/test_integration.yml
Due: none

Change error, trust certs
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Move the trust in record mode.
  src/test/java/com/datadog/api/World.java
Due: java-format

Remove test header
  src/test/java/com/datadog/api/World.java
Due: java-format

Use custom HTTP client for cassettes (#1393)
  LICENSE-3rdparty.csv
  pom.xml
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/World.java
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Due: java-format

Regenerate client from commit 55922470 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.java
  examples/v1/synthetics/CreateSyntheticsBrowserTest_2932742688.java
  examples/v1/synthetics/UpdateBrowserTest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestCiOptions.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_browser_test_payload_with_rum_settings.json
Due: generate

Regenerate client from commit f4bb12c3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/pagerduty_integration.feature
Due: generate

Regenerate client from commit c91969fc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/opsgenie_integration.feature
Due: generate

Regenerate client from commit c2c6e7b4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/SearchSLO.java
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryMetrics.java
  src/main/java/com/datadog/api/v1/client/model/SLOResponseData.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponse.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseData.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributesFacets.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributesFacetsObjectInt.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributesFacetsObjectString.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseLinks.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseMeta.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseMetaPage.java
  src/main/java/com/datadog/api/v1/client/model/ServiceLevelObjective.java
  src/main/java/com/datadog/api/v1/client/model/ServiceLevelObjectiveQuery.java
  src/main/java/com/datadog/api/v1/client/model/ServiceLevelObjectiveRequest.java
  src/test/resources/cassettes/features/v1/Search_for_SLOs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_for_SLOs_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.json
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generate

Regenerate client from commit c16f550c of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v2/client/api/cloud_workload_security.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: none

Regenerate client from commit e1bfdb84 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/service-level-objectives/SearchSLO.java
  examples/v2/metrics/SubmitMetrics_1762007427.java
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/model/MetricContentEncoding.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryMetrics.java
  src/main/java/com/datadog/api/v1/client/model/SLOResponseData.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponse.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseData.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributesFacets.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributesFacetsObjectInt.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseDataAttributesFacetsObjectString.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseLinks.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseMeta.java
  src/main/java/com/datadog/api/v1/client/model/SearchSLOResponseMetaPage.java
  src/main/java/com/datadog/api/v1/client/model/ServiceLevelObjective.java
  src/main/java/com/datadog/api/v1/client/model/ServiceLevelObjectiveQuery.java
  src/main/java/com/datadog/api/v1/client/model/ServiceLevelObjectiveRequest.java
  src/main/java/com/datadog/api/v2/client/model/MetricContentEncoding.java
  src/main/java/com/datadog/api/v2/client/model/MetricIntakeType.java
  src/main/java/com/datadog/api/v2/client/model/MetricSeries.java
  src/test/resources/com/datadog/api/v1/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/cloud_workload_security.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/opsgenie_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generate

Upgrade mockserver (#1382)
  pom.xml
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Apply suggestions from code review
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Use temurin
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 7362c094 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
Due: generate

Apply suggestions from code review
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
Due: none

Use java-action for tests (#1381)
  .github/workflows/approved_status.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 9b830bd8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationUpdateAttributes.java
Due: generate

Regenerate client from commit f1bd5a77 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTest.java
Due: generate

Regenerate client from commit 7d00058d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetEstimatedCostByOrg.java
  examples/v2/usage-metering/GetEstimatedCostByOrg_1171921972.java
  examples/v2/usage-metering/GetEstimatedCostByOrg_627383212.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/test/resources/cassettes/features/v2/Get_estimated_cost_across_multi_org_account_with_date_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_estimated_cost_across_multi_org_account_with_date_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_estimated_cost_across_multi_org_account_with_month_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_estimated_cost_across_multi_org_account_with_month_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Regenerate client from commit 7283c87c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSort.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
Due: generate

Regenerate client from commit 3b41c5ef of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Regenerate client from commit 773b3560 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSort.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
Due: generate

Regenerate client from commit 2d1ebbf0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleOptions.java
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generate

Regenerate client from commit de78e1e5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/IPPrefixesSyntheticsPrivateLocations.java
  src/main/java/com/datadog/api/v1/client/model/IPRanges.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
