Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit 4b9e0f1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/ContentEncoding.md
  api_docs/v2/HTTPLogError.md
  api_docs/v2/HTTPLogErrors.md
  api_docs/v2/HTTPLogItem.md
  api_docs/v2/LogsApi.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v1/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/model/ContentEncoding.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogError.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogErrors.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogItem.java
  src/test/resources/cassettes/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generated, generate

Regenerate client from commit ea18b19 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorOptions.md
  api_docs/v1/MonitorType.md
  api_docs/v1/MonitorsApi.md
  api_docs/v2/ContentEncoding.md
  api_docs/v2/HTTPLogError.md
  api_docs/v2/HTTPLogErrors.md
  api_docs/v2/HTTPLogItem.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated, generate

Regenerate client from commit 2a03497 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorType.md
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
Due: generated, generate

Regenerate client from commit 51e9017 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/AzureAccount.md
  src/main/java/com/datadog/api/v1/client/model/AzureAccount.java
  src/test/resources/com/datadog/api/v1/client/api/azure_integration.feature
Due: generated, generate

Regenerate client from commit 63c3c10 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 54b7a75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/DowntimesApi.md
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
Due: generated, generate

Regenerate client from commit d9035aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageBillableSummaryHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageBillableSummaryHour.java
Due: generated, generate

Regenerate client from commit 089545c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/Monitor.java
Due: generated, generate

Remove old spec copy
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit 904c411 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/snapshots.feature
Due: none

Regenerate client from commit 6ddcc8e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsAPITestConfig.md
  api_docs/v1/SyntheticsAssertionTarget.md
  api_docs/v1/SyntheticsCIBatchMetadataGit.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionTarget.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataGit.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsStepDetail.java
  src/test/resources/com/datadog/api/v1/client/api/snapshots.feature
Due: generated, generate

Regenerate client from commit 084ca04 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageNetworkFlowsHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageNetworkFlowsHour.java
Due: generated, generate

Regenerate client from commit fabbc01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributes.java
Due: generated, generate

Regenerate client from commit c588c56 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/ChangeWidgetRequest.md
  src/main/java/com/datadog/api/v1/client/model/ChangeWidgetRequest.java
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_a_formulas_and_functions_change_widget.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_a_formulas_and_functions_change_widget.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Regenerate client from commit cbb6f12 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageRumUnitsHour.md
  api_docs/v1/UsageRumUnitsResponse.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageRumUnitsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageRumUnitsResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Regenerate client from commit a5c075c of spec repo
  .apigentools-info
  api_docs/v1/UsageRumUnitsHour.md
  api_docs/v1/UsageRumUnitsResponse.md
Due: generated

Regenerate client from commit 82e0a55 of spec repo
  .apigentools-info
  api_docs/v1/UsageRumUnitsHour.md
  api_docs/v1/UsageRumUnitsResponse.md
Due: generated

Regenerate client from commit 2b850b7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  api_docs/v1/SyntheticsTriggerBody.md
  api_docs/v1/SyntheticsTriggerTest.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTriggerBody.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTriggerTest.java
  src/test/resources/cassettes/v1/Trigger_some_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Trigger_some_Synthetics_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated, generate

Regenerate client from commit c16b6e1 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTriggerBody.md
  api_docs/v1/SyntheticsTriggerTest.md
Due: generated

Regenerate client from commit ec0039a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsAssertionType.md
  api_docs/v1/SyntheticsTestDetailsSubType.md
  api_docs/v1/SyntheticsTestRequest.md
  api_docs/v1/SyntheticsTriggerBody.md
  api_docs/v1/SyntheticsTriggerTest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetailsSubType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/test/resources/cassettes/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_test_udp_payload.json
Due: generated, generate

Regenerate client from commit 45e1e30 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTriggerBody.md
  api_docs/v1/SyntheticsTriggerTest.md
Due: generated

Remove old spec copy (#1042)
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit 3b593f9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsTestDetailsSubType.md
  api_docs/v1/SyntheticsTestRequest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetailsSubType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/test/resources/cassettes/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_test_websocket_payload.json
Due: generated, generate

Regenerate client from commit fabf585 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageFargateHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageFargateHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
Due: generated, generate

Regenerate client from commit 1f673ca of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/hosts.feature
Due: none

Regenerate client from commit b4edd57 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/hosts.feature
Due: none

Regenerate client from commit 27830cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorType.md
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
Due: generated, generate

Regenerate client from commit f1dce60 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/authentication.feature
Due: none

Regenerate client from commit 7d4329a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTriggerCITestsResponse.java
Due: generated, generate

Regenerate client from commit ddc1872 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/EventCreateRequest.md
  src/main/java/com/datadog/api/v1/client/model/EventCreateRequest.java
Due: generated, generate

Document authentication setting
  README.md
Due: none

Document authentication setting (#1063)
  README.md
Due: none

Regenerate client from commit a3413fa of spec repo
  .apigentools-info
  src/test/resources/cassettes/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/v2/Search_logs_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Search_logs_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Remove access role
  src/main/java/com/datadog/api/v1/client/model/User.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
Due: generated

Remove access role
  src/main/java/com/datadog/api/v1/client/model/User.java
Due: generated

Regenerate client from commit 4ce4b9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorSearchResult.md
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResult.java
Due: generated, generate

Regenerate client from commit acfdbc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsBrowserVariable.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserVariable.java
Due: generated, generate

Regenerate client from commit c0e7143 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorOptions.md
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/test/resources/cassettes/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/v1/Edit_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_a_monitor_s_details_returns_OK_response.json
  src/test/resources/cassettes/v1/Schedule_a_monitor_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Schedule_a_monitor_downtime_returns_OK_response.json
  src/test/resources/cassettes/v1/Validate_a_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/monitor_payload.json
Due: generated, generate

Regenerate client from commit 765200a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageFargateHour.md
  api_docs/v1/UsageSDSHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageFargateHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSDSHour.java
Due: generated, generate

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  generate: any of: ^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)
