Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

fix value templating for list of object assertion
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

fix conftest bdd assertion definition
  .generator/conftest.py
Due: generate

fix value templating on list of object assertion
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 8f11d99c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1402674167.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionType.java
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_grpc_test_payload.json
Due: generate

Regenerate client from commit df6d9f53 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: none

Regenerate client from commit 9eab5bf4 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: none

Regenerate client from commit ccb6bfc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1402674167.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionType.java
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_grpc_test_payload.json
Due: generate

fix h5 tags out of order
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit b4e540b4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit a3f3bc16 of spec repo
  .apigentools-info
  examples/v2/monitors/CreateMonitorConfigPolicy.java
  examples/v2/monitors/UpdateMonitorConfigPolicy.java
  src/test/resources/cassettes/features/v2/Create_a_monitor_configuration_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.freeze
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: none

Regenerate client from commit d013809f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSDSHour.java
Due: generate

Regenerate client from commit 108ecd5c of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: none

Regenerate client from commit d79e55e6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v2/monitors/CreateMonitorConfigPolicy.java
  examples/v2/monitors/UpdateMonitorConfigPolicy.java
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
  src/main/java/com/datadog/api/client/v1/model/UsageSDSHour.java
  src/test/resources/cassettes/features/v2/Create_a_monitor_configuration_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.freeze
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: generate

Regenerate client from commit 4d58341b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_173805046.java
  src/main/java/com/datadog/api/client/v1/model/SLOWidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_slo_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_slo_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/slo_widget.json
Due: generate

Regenerate client from commit 6b2e8b39 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IncidentCreateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: generate

Regenerate client from commit dcb4806e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

specify assert for arrays
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Regenerate client from commit d4e215d8 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v2/api/dashboard_lists.feature
Due: none

Regenerate client from commit aefd16c6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 6d09b714 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: none

Regenerate client from commit b8cbfe94 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit 05a49f9c of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/notebooks.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
  src/test/resources/com/datadog/api/client/v2/api/roles.feature
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: java-format

Regenerate client from commit 4706b973 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentTeamsApi.java
  src/test/resources/com/datadog/api/client/v2/api/incident_teams.feature
Due: generate

Regenerate client from commit c0cc4b41 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/downtimes/CreateDowntime_2908359488.java
  examples/v1/downtimes/CreateDowntime_3059354445.java
  src/main/java/com/datadog/api/client/v1/model/Downtime.java
  src/main/java/com/datadog/api/client/v1/model/DowntimeChild.java
  src/main/java/com/datadog/api/client/v1/model/NotifyEndState.java
  src/main/java/com/datadog/api/client/v1/model/NotifyEndType.java
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_once_a_year.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_once_a_year.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_until_date.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_until_date.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_once_a_year.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_until_date.json
  src/test/resources/com/datadog/api/client/v1/api/downtimes.feature
Due: generate

Regenerate client from commit ff8b9894 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
Due: generate

Regenerate client from commit 380840ff of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageAnalyzedLogsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageIndexedSpansHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageIngestedSpansHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageLogsByRetentionHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageNetworkFlowsHour.java
Due: generate

Regenerate client from commit 70465187 of spec repo
  .apigentools-info
  examples/v1/downtimes/CreateDowntime.java
  examples/v1/downtimes/UpdateDowntime.java
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_downtime_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/downtimes.feature
Due: none

add unique_hash fixture using truncated sha256
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Regenerate client from commit 2ba8c6cd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/TeamCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamUpdateAttributes.java
Due: generate

remove test prefix
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Regenerate client from commit b6d2ec34 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_metrics_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit 9eca3996 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/GetServiceDefinition.java
  examples/v2/service-definition/ListServiceDefinitions.java
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionSchemaVersions.java
  src/test/resources/cassettes/features/v2/Get_a_single_service_definition_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_single_service_definition_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Use a repository variable for sleep after request
  .github/workflows/test_integration.yml
Due: none

Use a repository variable for sleep after request (#1790)
  .github/workflows/test_integration.yml
Due: none

ignore 500 test temporarily
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
Due: java-format

Ignore logsIndexesUpdateErrorsTest temporarily (#1791)
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
Due: java-format

Regenerate client from commit a81f8706 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionBody.java
  src/main/java/com/datadog/api/client/v1/model/LogsRetentionAggSumUsage.java
  src/main/java/com/datadog/api/client/v1/model/LogsRetentionSumUsage.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageAuditLogsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageBillableSummaryBody.java
  src/main/java/com/datadog/api/client/v1/model/UsageIoTHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageLogsByIndexHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageLogsByRetentionHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageNetworkHostsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageRumSessionsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v1/model/UsageSyntheticsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageTimeseriesHour.java
Due: generate
