Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit a1b0ee6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/CreateReferenceTable.java
  src/main/java/com/datadog/api/client/v2/model/TableResultV2DataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TableResultV2DataAttributesFileMetadata.java
  src/main/java/com/datadog/api/client/v2/model/TableResultV2DataAttributesFileMetadataCloudStorage.java
  src/main/java/com/datadog/api/client/v2/model/TableResultV2DataAttributesFileMetadataLocalFile.java
  src/test/resources/com/datadog/api/client/v2/api/reference_tables.feature
Due: generate

Regenerate client from commit a11cf8b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/GetTeamSync.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/main/java/com/datadog/api/client/v2/model/TeamSyncAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamSyncAttributesFrequency.java
  src/main/java/com/datadog/api/client/v2/model/TeamSyncAttributesType.java
  src/main/java/com/datadog/api/client/v2/model/TeamSyncRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamSyncResponse.java
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 10c6f7d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/monitors/CreateMonitorNotificationRule_1379932371.java
  examples/v2/monitors/UpdateMonitorNotificationRule_1446058210.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleCondition.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleConditionalRecipients.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleFilter.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleFilterScope.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleFilterTags.java
  src/main/java/com/datadog/api/client/v2/model/MonitorNotificationRuleResponseAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_monitor_notification_rule_with_scope_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_monitor_notification_rule_with_scope_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_monitor_notification_rule_with_scope_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_monitor_notification_rule_with_scope_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: generate

Regenerate client from commit 3caef01 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/LayerAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ScheduleCreateRequestDataAttributesLayersItems.java
  src/main/java/com/datadog/api/client/v2/model/ScheduleUpdateRequestDataAttributesLayersItems.java
Due: generate

Regenerate client from commit 8651642 of spec repo
  src/test/resources/cassettes/features/v2/Create_Azure_scan_options_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_azure_scan_options_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_azure_scan_options_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Delete_AWS_Scan_Options_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Delete_AWS_Scan_Options_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Delete_AWS_Scan_Options_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_AWS_Scan_Options_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Delete_AWS_scan_options_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Delete_GCP_Scan_Options_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Delete_GCP_Scan_Options_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Delete_GCP_Scan_Options_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_GCP_Scan_Options_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_GCP_scan_options_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_AWS_Scan_Options_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_AWS_Scan_Options_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_AWS_scan_options_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Azure_scan_options_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_GCP_Scan_Options_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_GCP_Scan_Options_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_GCP_scan_options_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_azure_scan_options_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_azure_scan_options_returns_OK_response.json
Due: none

Regenerate client from commit dfcbd9b of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleChronicleDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGooglePubSubSource.java
Due: generate

Prevent case conflict in files
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 29adf1f of spec repo
  src/test/resources/cassettes/features/v2/Get_team_on_call_users_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_team_on_call_users_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Set_On_Call_team_routing_rules_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Set_On_Call_team_routing_rules_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: none

Regenerate client from commit 30cfd3e of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Due: generate

Regenerate client from commit e2f3b21 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/UpdateReferenceTable.java
  src/main/java/com/datadog/api/client/v2/model/PatchTableRequestDataAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/reference_tables.feature
Due: generate

Prevent case conflict in files (#3261)
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 643ae23 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline.java
  examples/v2/observability-pipelines/UpdatePipeline.java
  examples/v2/observability-pipelines/ValidatePipeline.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAddEnvVarsProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAddFieldsProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfig.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfigProcessorGroup.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfigProcessors.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineCustomProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineDatadogTagsProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineDedupeProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineEnrichmentTableProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineFilterProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGenerateMetricsProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineOcsfMapperProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineParseGrokProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineQuotaProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineReduceProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineRemoveFieldsProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineRenameFieldsProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSampleProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSensitiveDataScannerProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineThrottleProcessor.java
Due: generate

Regenerate client from commit 2aab4b8 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/CreateSLO_512760759.java
  src/main/java/com/datadog/api/client/v1/model/SLOCountCondition.java
  src/main/java/com/datadog/api/client/v1/model/SLOCountSpec.java
  src/main/java/com/datadog/api/client/v1/model/SLOResponseData.java
  src/main/java/com/datadog/api/client/v1/model/SLOSliSpec.java
  src/main/java/com/datadog/api/client/v1/model/ServiceLevelObjective.java
  src/main/java/com/datadog/api/client/v1/model/ServiceLevelObjectiveQuery.java
  src/main/java/com/datadog/api/client/v1/model/ServiceLevelObjectiveRequest.java
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: generate

Regenerate client from commit 5615e9c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/DeleteRows.java
  examples/v2/reference-tables/UpsertRows.java
  src/main/java/com/datadog/api/client/v2/api/ReferenceTablesApi.java
  src/main/java/com/datadog/api/client/v2/model/BatchDeleteRowsRequestArray.java
  src/main/java/com/datadog/api/client/v2/model/BatchDeleteRowsRequestData.java
  src/main/java/com/datadog/api/client/v2/model/BatchUpsertRowsRequestArray.java
  src/main/java/com/datadog/api/client/v2/model/BatchUpsertRowsRequestData.java
  src/main/java/com/datadog/api/client/v2/model/BatchUpsertRowsRequestDataAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/reference_tables.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 3d6d8b4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddTeamHierarchyLink.java
  examples/v2/teams/GetTeamHierarchyLink.java
  examples/v2/teams/GetTeamHierarchyLinks.java
  examples/v2/teams/GetTeamHierarchyLinks_3360757486.java
  examples/v2/teams/RemoveTeamHierarchyLink.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLink.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreate.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateRelationships.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateTeam.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateTeamRelationship.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkRelationships.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkTeam.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkTeamRelationship.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkType.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinksResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamsHierarchyLinksResponseLinks.java
  src/main/java/com/datadog/api/client/v2/model/TeamsHierarchyLinksResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/TeamsHierarchyLinksResponseMetaPage.java
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 1943b0b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/deployment-gates/GetDeploymentGateRules.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/DeploymentGatesApi.java
  src/main/java/com/datadog/api/client/v2/model/DeploymentGateRulesResponse.java
  src/test/resources/com/datadog/api/client/v2/api/deployment_gates.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 73f2ad5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/PatchGlobalVariable.java
  src/main/java/com/datadog/api/client/v2/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableData.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableJsonPatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableJsonPatchRequestData.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableJsonPatchRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableJsonPatchType.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableResponse.java
  src/main/java/com/datadog/api/client/v2/model/GlobalVariableType.java
  src/main/java/com/datadog/api/client/v2/model/JsonPatchOperation.java
  src/main/java/com/datadog/api/client/v2/model/JsonPatchOperationOp.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariable.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableOptions.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableParseTestOptions.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableParseTestOptionsType.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableParserType.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableTOTPParameters.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableValue.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsVariableParser.java
  src/test/resources/com/datadog/api/client/v2/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 08db818 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddTeamHierarchyLink.java
  examples/v2/teams/GetTeamHierarchyLink.java
  examples/v2/teams/GetTeamHierarchyLinks.java
  examples/v2/teams/GetTeamHierarchyLinks_3360757486.java
  examples/v2/teams/RemoveTeamHierarchyLink.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLink.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreate.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateRelationships.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateTeam.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkCreateTeamRelationship.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkRelationships.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkTeam.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkTeamRelationship.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinkType.java
  src/main/java/com/datadog/api/client/v2/model/TeamHierarchyLinksResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamsHierarchyLinksResponseLinks.java
  src/main/java/com/datadog/api/client/v2/model/TeamsHierarchyLinksResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/TeamsHierarchyLinksResponseMetaPage.java
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 5f572cc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/fleet-automation/GetFleetAgentInfo.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/FleetAutomationApi.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfo.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoDetails.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoResourceType.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoResponse.java
  src/main/java/com/datadog/api/client/v2/model/FleetConfigurationFile.java
  src/main/java/com/datadog/api/client/v2/model/FleetConfigurationLayer.java
  src/main/java/com/datadog/api/client/v2/model/FleetDetectedIntegration.java
  src/main/java/com/datadog/api/client/v2/model/FleetIntegrationDetails.java
  src/main/java/com/datadog/api/client/v2/model/FleetIntegrationsByStatus.java
  src/test/resources/com/datadog/api/client/v2/api/fleet_automation.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 6cba7b1 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/CreateMonitor_3541766733.java
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
  src/main/java/com/datadog/api/client/v1/model/Monitor.java
  src/main/java/com/datadog/api/client/v1/model/MonitorAsset.java
  src/main/java/com/datadog/api/client/v1/model/MonitorAssetCategory.java
  src/main/java/com/datadog/api/client/v1/model/MonitorAssetResourceType.java
  src/main/java/com/datadog/api/client/v1/model/MonitorUpdateRequest.java
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_monitor_with_assets_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_monitor_with_assets_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit a736973 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamConnections.java
  examples/v2/teams/DeleteTeamConnections.java
  examples/v2/teams/ListTeamConnections.java
  examples/v2/teams/ListTeamConnections_1473516764.java
  examples/v2/teams/ListTeamConnections_2418873869.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/TeamConnectionsApi.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/team_connections.feature
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

bump jackson library versions
  pom.xml
Due: none

bump jackson library versions (#3274)
  pom.xml
Due: none

Bump versions and add changelog entries.
  CHANGELOG.md
  pom.xml
Due: none

bump dd-trace and fix isntance check
  pom.xml
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Regenerate client from commit 479ca66 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call/GetScheduleOnCallUser_3672445524.java
  src/main/java/com/datadog/api/client/v2/api/OnCallApi.java
  src/test/resources/com/datadog/api/client/v2/api/on-call.feature
Due: generate

bump dd-trace and fix isntance check (#3276)
  pom.xml
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Regenerate client from commit a7f7c3e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/CreateSyntheticsSuite.java
  examples/v2/synthetics/DeleteSyntheticsSuites.java
  examples/v2/synthetics/EditSyntheticsSuite.java
  examples/v2/synthetics/GetSyntheticsSuite.java
  examples/v2/synthetics/SearchSuites.java
  src/main/java/com/datadog/api/client/v2/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuiteResponseData.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuiteResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuiteType.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuitesRequestDelete.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuitesRequestDeleteAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuitesRequestDeleteRequest.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuitesRequestType.java
  src/main/java/com/datadog/api/client/v2/model/DeletedSuitesResponse.java
  src/main/java/com/datadog/api/client/v2/model/SuiteCreateEdit.java
  src/main/java/com/datadog/api/client/v2/model/SuiteCreateEditRequest.java
  src/main/java/com/datadog/api/client/v2/model/SuiteSearchResponseType.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuite.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteOptions.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteOptionsAlerting.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteResponse.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteSearchResponse.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteSearchResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteSearchResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteTest.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteTestAlertingCriticality.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsSuiteType.java
  src/test/resources/com/datadog/api/client/v2/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit c854967 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/fleet-automation/GetFleetAgentInfo.java
  examples/v2/fleet-automation/ListFleetAgents.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/FleetAutomationApi.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentAttributesTagsItems.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfo.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoDetails.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoResourceType.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentInfoResponse.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentsResponse.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentsResponseData.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentsResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FleetAgentsResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/FleetConfigurationFile.java
  src/main/java/com/datadog/api/client/v2/model/FleetConfigurationLayer.java
  src/main/java/com/datadog/api/client/v2/model/FleetDetectedIntegration.java
  src/main/java/com/datadog/api/client/v2/model/FleetIntegrationDetails.java
  src/main/java/com/datadog/api/client/v2/model/FleetIntegrationsByStatus.java
  src/test/resources/com/datadog/api/client/v2/api/fleet_automation.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 02228bc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSuppressionVersionHistory.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/GetSuppressionVersionHistoryData.java
  src/main/java/com/datadog/api/client/v2/model/GetSuppressionVersionHistoryDataType.java
  src/main/java/com/datadog/api/client/v2/model/GetSuppressionVersionHistoryResponse.java
  src/main/java/com/datadog/api/client/v2/model/SuppressionVersionHistory.java
  src/main/java/com/datadog/api/client/v2/model/SuppressionVersions.java
  src/main/java/com/datadog/api/client/v2/model/VersionHistoryUpdate.java
  src/main/java/com/datadog/api/client/v2/model/VersionHistoryUpdateType.java
  src/test/resources/cassettes/features/v2/Get_a_suppression_s_version_history_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_suppression_s_version_history_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_suppression_s_version_history_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_suppression_s_version_history_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit e7e4a68 of spec repo
  src/test/resources/cassettes/features/v2/Create_deployment_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_deployment_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_deployment_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_deployment_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_deployment_gate_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_deployment_gate_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_deployment_rule_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_deployment_rule_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_deployment_gate_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_deployment_gate_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_deployment_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_deployment_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_deployment_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_deployment_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_deployment_gate_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_deployment_gate_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_deployment_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_deployment_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_deployment_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_deployment_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: none
