Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit 1bea0809 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorsApi.md
  api_docs/v1/README.md
  examples/v1/dashboards/CreateDashboard_2308247857.java
  examples/v1/dashboards/CreateDashboard_2316374332.java
  examples/v1/monitors/ValidateExistingMonitor.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/DeletedMonitor.java
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_Invalid_JSON_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_Invalid_JSON_response.json
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

ci: fix target branch name usage
  .github/workflows/test.yml
Due: none

ci: fix target branch name usage (#1274)
  .github/workflows/test.yml
Due: none

Fix lint docs
  .pre-commit-config.yaml
Due: generate

Have a working version
  pom.xml
Due: none

Regenerate client from commit 3030fda7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
Due: generated, generate

Regenerate client from commit 94f25be6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_765140092.java
  src/main/java/com/datadog/api/v1/client/model/QueryValueWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/TimeseriesBackground.java
  src/main/java/com/datadog/api/v1/client/model/TimeseriesBackgroundType.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Regenerate client from commit 0c154010 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagConfiguration.java
  examples/v2/metrics/DeleteTagConfiguration.java
  examples/v2/metrics/ListTagConfigurationByName.java
  examples/v2/metrics/ListTagConfigurations_103226315.java
  examples/v2/metrics/ListTagsByMetricName.java
  examples/v2/metrics/ListVolumesByMetricName.java
  examples/v2/metrics/UpdateTagConfiguration.java
  src/test/resources/cassettes/features/v2/Configure_tags_for_multiple_metrics_returns_Accepted_response.freeze
  src/test/resources/cassettes/features/v2/Configure_tags_for_multiple_metrics_returns_Accepted_response.json
  src/test/resources/cassettes/features/v2/Create_a_tag_configuration_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_tag_configuration_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Delete_a_tag_configuration_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_tag_configuration_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/List_distinct_metric_volumes_by_metric_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_distinct_metric_volumes_by_metric_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tag_configuration_by_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tag_configuration_by_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tag_configurations_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_a_tag_filter_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_a_tag_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_configured_filter_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tags_by_metric_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tags_by_metric_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Update_a_tag_configuration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_tag_configuration_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/metric_payload.json
  src/test/resources/com/datadog/api/v2/client/api/given.json
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: generate

Provide shaded jar (#1243)
  pom.xml
Due: none

fix cassette file storage
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Fix recorded cassette storage path (#1280)
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Regenerate client from commit 5ed02dad of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreatePrivateLocation.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsPrivateLocation.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsPrivateLocationMetadata.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/test/resources/cassettes/features/v1/Create_a_private_location_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_private_location_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated, generate

Regenerate client from commit d02e4e05 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit a87e717d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/organizations/UploadIdPMetadata.java
  src/main/java/com/datadog/api/v2/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v2/client/model/IdPMetadataFormData.java
  src/test/java/com/datadog/api/v2/client/api/OrganizationsApiTest.java
  src/test/resources/cassettes/features/v2/Upload_IdP_metadata_returns_Bad_Request_caused_by_either_malformed_XML_or_invalid_SAML_IdP_metadata_response.freeze
  src/test/resources/cassettes/features/v2/Upload_IdP_metadata_returns_Bad_Request_caused_by_either_malformed_XML_or_invalid_SAML_IdP_metadata_response.json
  src/test/resources/cassettes/features/v2/Upload_IdP_metadata_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Upload_IdP_metadata_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/fixtures/organizations/saml_configurations/invalid_idp_metadata.xml
  src/test/resources/com/datadog/api/v2/client/api/fixtures/organizations/saml_configurations/valid_idp_metadata.xml
  src/test/resources/com/datadog/api/v2/client/api/organizations.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generated, java-format, generate

remove swagger annotations
  .generator/templates/libraries/jersey2/build.sbt.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/libraries/jersey2/pom.mustache
  .generator/templates/pojo.mustache
  .generator/templates/pom.mustache
Due: generate

update pom
  pom.xml
Due: none

initial project files
  .generator/openapitools.json
  .generator/poetry.lock
  .generator/pyproject.toml
  .generator/src/generator/__init__.py
  .generator/src/generator/__main__.py
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .pre-commit-config.yaml
  Makefile
  check-examples.sh
Due: generate

name fixes
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/pojo.j2
Due: generate

rename api_info
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/ApiException.j2
  .generator/src/generator/templates/ApiInfo.j2
  .generator/src/generator/templates/ApiResponse.j2
  .generator/src/generator/templates/Configuration.j2
  .generator/src/generator/templates/JSON.j2
  .generator/src/generator/templates/JavaTimeFormatter.j2
  .generator/src/generator/templates/Pair.j2
  .generator/src/generator/templates/RFC3339DateFormat.j2
  .generator/src/generator/templates/ServerConfiguration.j2
  .generator/src/generator/templates/ServerVariable.j2
  .generator/src/generator/templates/StringUtil.j2
  .generator/src/generator/templates/auth/ApiKeyAuth.j2
  .generator/src/generator/templates/auth/Authentication.j2
  .generator/src/generator/templates/auth/HttpBasicAuth.j2
  .generator/src/generator/templates/auth/HttpBearerAuth.j2
  .generator/src/generator/templates/auth/OAuth.j2
  .generator/src/generator/templates/auth/OAuthFlow.j2
  .generator/src/generator/templates/model.j2
Due: generate

Add extra files
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/ApiException.j2
  .generator/src/generator/templates/ApiResponse.j2
  .generator/src/generator/templates/Configuration.j2
  .generator/src/generator/templates/JSON.j2
  .generator/src/generator/templates/JavaTimeFormatter.j2
  .generator/src/generator/templates/Pair.j2
  .generator/src/generator/templates/RFC3339DateFormat.j2
  .generator/src/generator/templates/ServerConfiguration.j2
  .generator/src/generator/templates/ServerVariable.j2
  .generator/src/generator/templates/StringUtil.j2
  .generator/src/generator/templates/api_info.j2
Due: generate

fix default value
  .generator/src/generator/formatter.py
Due: generate

fix oneOf
  .generator/src/generator/templates/modelOneOf.j2
Due: generate

simple model
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/pogo.j2
Due: generate

auth files
  .generator/src/generator/cli.py
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/ApiException.j2
  .generator/src/generator/templates/ApiResponse.j2
  .generator/src/generator/templates/Configuration.j2
  .generator/src/generator/templates/JSON.j2
  .generator/src/generator/templates/JavaTimeFormatter.j2
  .generator/src/generator/templates/Pair.j2
  .generator/src/generator/templates/RFC3339DateFormat.j2
  .generator/src/generator/templates/ServerConfiguration.j2
  .generator/src/generator/templates/ServerVariable.j2
  .generator/src/generator/templates/StringUtil.j2
  .generator/src/generator/templates/auth/ApiKeyAuth.j2
  .generator/src/generator/templates/auth/Authentication.j2
  .generator/src/generator/templates/auth/HttpBasicAuth.j2
  .generator/src/generator/templates/auth/HttpBearerAuth.j2
  .generator/src/generator/templates/auth/OAuth.j2
  .generator/src/generator/templates/auth/OAuthFlow.j2
Due: generate

fixess
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/pojo.j2
Due: generate

handle enums
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/modelEnum.j2
Due: generate

finish up pogo
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/pogo.j2
Due: generate

add support for oneOF
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/ApiInfo.j2
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/modelEnum.j2
  .generator/src/generator/templates/modelOneOf.j2
Due: generate

fix default values
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/pojo.j2
Due: generate

fix makefile and config
  .generator/src/generator/cli.py
  .gitignore
  .pre-commit-config.yaml
  Makefile
Due: generate

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
  generate: any of: ^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)
