Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]
  - id: generate
    name: Generate
    language: node
    entry: make
    files: "^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)"
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown
    "types": [text]
    files: '^api_docs/'
    args: []
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.2.1
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']

Post release bump
  pom.xml
Due: none

Minor release tweak
  .github/workflows/prepare_release.yml
Due: none

Parse URI manually
  .generator/templates/libraries/jersey2/ApiClient.mustache
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
Due: generated, generate

Don't do git add in Make
  Makefile
Due: generate

Minor release tweak (#1203)
  .github/workflows/prepare_release.yml
Due: none

Regenerate client from commit 7bd6b98 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/README.md
  api_docs/v2/README.md
Due: generated, generate

Regenerate client from commit cf974e8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsTestOptions.md
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.java
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_http_test_payload.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_ssl_test_payload.json
Due: generated, generate

Parse URI in api to make compatible with old javax version
  .generator/templates/libraries/jersey2/ApiClient.mustache
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
Due: generated, generate

Remove env
  .gitignore
  Makefile
Due: generate

Don't do git add in Make (#1208)
  .gitignore
  Makefile
Due: generate

Regenerate client from commit 1823f58 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/UsageCIVisibilityHour.md
  api_docs/v1/UsageCIVisibilityResponse.md
  api_docs/v1/UsageMeteringApi.md
  examples/v1/usage-metering/GetUsageCIApp.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageCIVisibilityHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageCIVisibilityResponse.java
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Regenerate client from commit fea6d10 of spec repo
  .apigentools-info
  examples/v2/logs/AggregateLogs_2955613758.java
  src/test/resources/cassettes/features/v2/Aggregate_compute_events_with_group_by_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_compute_events_with_group_by_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Regenerate client from commit 7fe3e9a of spec repo
  .apigentools-info
  examples/v1/dashboards/DeleteDashboard.java
  examples/v1/dashboards/GetDashboard.java
  examples/v1/dashboards/RestoreDashboards.java
  examples/v1/dashboards/UpdateDashboard.java
  src/test/resources/cassettes/features/v1/Delete_a_dashboard_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_a_dashboard_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_dashboard_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_dashboard_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Restore_deleted_dashboards_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v1/Restore_deleted_dashboards_returns_No_Content_response.json
  src/test/resources/cassettes/features/v1/Update_a_dashboard_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_dashboard_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: none

lower tag for extracted examples
  extract-code-blocks.awk
Due: none

Regenerate client from commit 0f5bd41 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/README.md
  api_docs/v2/SecurityMonitoringRuleDetectionMethod.md
  api_docs/v2/SecurityMonitoringRuleImpossibleTravelOptions.md
  api_docs/v2/SecurityMonitoringRuleOptions.md
  api_docs/v2/SecurityMonitoringRuleQueryAggregation.md
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleDetectionMethod.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleImpossibleTravelOptions.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleOptions.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleQueryAggregation.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_type_impossible_travel_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_type_impossible_travel_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

toClassName(RUM) -> Rum
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 7902fb5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/LogsByRetentionMonthlyUsage.md
  src/main/java/com/datadog/api/v1/client/model/LogsByRetentionMonthlyUsage.java
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Regenerate client from commit cd0cc83 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/UsageCIVisibilityHour.md
  api_docs/v1/UsageCIVisibilityResponse.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  examples/v1/usage-metering/GetUsageCIApp.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageCIVisibilityHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageCIVisibilityResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

fix telemetry regex
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
Due: java-format

Apply code review suggestions
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
Due: java-format

Apply code review suggestions
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
Due: java-format

Fix telemetry regex (#1217)
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
Due: java-format

Regenerate client from commit 9717e6d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/NotebooksApi.md
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
Due: generated, generate

Update test_integration.yml
  .github/workflows/test_integration.yml
Due: none

Update test_integration.yml (#1223)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit ab143bb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/RumApi.md
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
Due: generated, generate

Regenerate client from commit 1124bbef of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/List_IP_Ranges_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/List_IP_Ranges_returns_OK_response.json
Due: none

Regenerate client from commit b5bc30a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageOnlineArchiveHour.md
  api_docs/v1/UsageOnlineArchiveResponse.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  examples/v1/usage-metering/GetUsageOnlineArchive.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageOnlineArchiveHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageOnlineArchiveResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_Online_Archive_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_Online_Archive_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_Online_Archive_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_Online_Archive_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Regenerate client from commit f9b0de6f of spec repo
  .apigentools-info
  examples/v1/service-level-objectives/GetSLO.java
  examples/v1/service-level-objectives/GetSLOHistory.java
  examples/v1/service-level-objectives/ListSLOs.java
  examples/v1/service-level-objectives/UpdateSLO.java
  src/test/resources/cassettes/features/v1/Get_all_SLOs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_all_SLOs_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_history_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_history_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_an_SLO_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_SLO_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
Due: none

rename datadog-ci standalone binary
  .github/workflows/test_integration.yml
Due: none

rename datadog-ci standalone binary (#1226)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 6503cfbf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit b056b6a3 of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.java
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none
