Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit 00e20be of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v2/OrganizationsResponse.md
  api_docs/v2/README.md
  api_docs/v2/UsersApi.md
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
  src/main/java/com/datadog/api/v2/client/model/OrganizationsResponse.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: generated

ci: bump jdk to 16.0.2
  .github/workflows/test.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Update pom.xml
  pom.xml
Due: none

Update mockserver
  pom.xml
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Re-record
  src/test/resources/cassettes/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.json
Due: none

Switch to openjdk, bump 8 revision
  .github/workflows/test.yml
Due: none

Switch to openjdk, bump 8 revision (#916)
  .github/workflows/test.yml
Due: none

Regenerate client from commit 0b10309 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: none

[Java][resttemplate] better code format (#10033)
  .generator/templates/libraries/resttemplate/ApiClient.mustache
  .generator/templates/libraries/resttemplate/api.mustache
Due: none

[Java] fix nullable arrays when JsonNullable is used (#10012)
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/libraries/native/pojo.mustache
  .generator/templates/pojo.mustache
Due: none

Store uri template attribute for webclient to store in metrics (#9964)
  .generator/templates/libraries/webclient/ApiClient.mustache
  .generator/templates/libraries/webclient/api.mustache
Due: none

Regenerate client from commit c5118ab of spec repo
  .apigentools-info
  api_docs/v1/ChargebackOrgMonth.md
  api_docs/v1/ChargebackSummaryCharge.md
  api_docs/v1/ChargebackSummaryResponse.md
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/ChargebackOrgMonth.java
  src/main/java/com/datadog/api/v1/client/model/ChargebackSummaryCharge.java
  src/main/java/com/datadog/api/v1/client/model/ChargebackSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Regenerate client from commit a54f925 of spec repo
  .apigentools-info
  .openapi-generator/VERSION
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionTarget.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/LogsGroupBy.java
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit daf910e of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
Due: generated

Move the JsonbProperty annotation from the getter to the field declaration (#10035)
  .generator/templates/libraries/microprofile/pojo.mustache
Due: none

Regenerate client from commit 7d1e126 of spec repo
  .apigentools-info
  api_docs/v1/LogsExclusionFilter.md
  src/main/java/com/datadog/api/v1/client/model/LogsExclusionFilter.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
Due: generated

Add OAuth2 dependency
  pom.xml
Due: none

fix missing jackson-databind-nullable in okhttp java client (#10078)
  .generator/templates/libraries/okhttp-gson/build.gradle.mustache
  .generator/templates/libraries/okhttp-gson/build.sbt.mustache
  .generator/templates/libraries/okhttp-gson/pom.mustache
Due: none

[BUG]Java] Fix a race condition in RetryingOAuth.mustache (#10087)
  .generator/templates/libraries/okhttp-gson/auth/RetryingOAuth.mustache
  .generator/templates/libraries/okhttp-gson/pom.mustache
Due: none

Regenerate client from commit 7c70bbe of spec repo
  .apigentools-info
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Bump dd-trace-java
  pom.xml
Due: none

pin openjdk version in integration tests
  .github/workflows/test_integration.yml
Due: none

Bump dd-trace-java (#927)
  .github/workflows/test_integration.yml
  pom.xml
Due: none

retry
  src/test/java/com/datadog/api/v1/client/api/LogsApiTest.java
Due: java-format

Regenerate client from commit c6e36ca of spec repo
  .apigentools-info
  api_docs/v1/LogsArithmeticProcessor.md
  api_docs/v1/LogsGrokParser.md
  src/main/java/com/datadog/api/v1/client/model/LogsArithmeticProcessor.java
  src/main/java/com/datadog/api/v1/client/model/LogsGrokParser.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
Due: generated

Regenerate client from commit dafdffa of spec repo
  .apigentools-info
  api_docs/v1/MonitorOptions.md
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated

tests: main log index has daily limit set to null
  src/test/java/com/datadog/api/v1/client/api/LogsIndexesApiTest.java
Due: java-format

ci triggers
  .github/workflows/test_integration.yml
Due: none

tests: main log index has daily limit set to null (#929)
  .github/workflows/test_integration.yml
  src/test/java/com/datadog/api/v1/client/api/LogsIndexesApiTest.java
Due: java-format

Regenerate client from commit f060367 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit bf781b9 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v2/ApplicationKeyRelationships.md
  api_docs/v2/PartialApplicationKeyResponse.md
  api_docs/v2/README.md
  api_docs/v2/ServiceAccountCreateAttributes.md
  api_docs/v2/ServiceAccountCreateData.md
  api_docs/v2/ServiceAccountCreateRequest.md
  api_docs/v2/ServiceAccountsApi.md
  api_docs/v2/UserAttributes.md
  api_docs/v2/UsersApi.md
  src/main/java/com/datadog/api/v2/client/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
  src/main/java/com/datadog/api/v2/client/model/PartialApplicationKeyResponse.java
  src/main/java/com/datadog/api/v2/client/model/ServiceAccountCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/ServiceAccountCreateData.java
  src/main/java/com/datadog/api/v2/client/model/ServiceAccountCreateRequest.java
  src/main/java/com/datadog/api/v2/client/model/UserAttributes.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/java/com/datadog/api/v2/client/api/ServiceAccountsApiTest.java
  src/test/resources/cassettes/v2/Create_a_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Create_a_service_account_returns_OK_response.json
  src/test/resources/cassettes/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/given.json
  src/test/resources/com/datadog/api/v2/client/api/service_accounts.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: generated, java-format

Update Dashboard API test to use new ScatterplotWidgetAggreagtor
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
Due: java-format

Regenerate client from commit 75fd781 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v1/SyntheticsDeviceID.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsDeviceID.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 6e156e1 of spec repo
  .apigentools-info
  api_docs/v1/Event.md
  src/main/java/com/datadog/api/v1/client/model/Event.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 772783e of spec repo
  .apigentools-info
  api_docs/v1/FormulaAndFunctionMetricAggregation.md
  api_docs/v1/README.md
  api_docs/v1/ScatterPlotRequest.md
  api_docs/v1/ScatterplotWidgetAggregator.md
  src/main/java/com/datadog/api/v1/client/model/ScatterPlotRequest.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotWidgetAggregator.java
  src/main/java/com/datadog/api/v1/client/model/WidgetAggregator.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit 47465fb of spec repo
  .apigentools-info
  api_docs/v1/ListStreamSource.md
  src/main/java/com/datadog/api/v1/client/model/ListStreamSource.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 692cbbb of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: none

add client deserialization cassette
  src/test/resources/cassettes/v1/Client_is_resilient_to_enum_and_oneOf_deserialization_errors.freeze
  src/test/resources/cassettes/v1/Client_is_resilient_to_enum_and_oneOf_deserialization_errors.json
Due: none
