Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit a603c17 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/BitsAiApi.java
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialAPIKeyAttributes.java
Due: generate

Regenerate client from commit 920d72f of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialAPIKeyAttributes.java
Due: generate

Regenerate client from commit 81ee39e of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialAPIKeyAttributes.java
Due: generate

Regenerate client from commit 86a41f5 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialAPIKeyAttributes.java
Due: generate

Regenerate client from commit 964c48e of spec repo
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_heatmaps.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_playlists.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_sessions.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_viewership.feature
Due: none

Regenerate client from commit 0b71f4d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/SearchCostRecommendations.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequestData.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequestSortItems.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_heatmaps.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_playlists.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_sessions.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_replay_viewership.feature
Due: generate

Regenerate client from commit 25a0f62 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 20014b8 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/TeamRoutingRulesRequestRule.java
Due: generate

Regenerate client from commit 7a16c20 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DatabricksIntegrationAccountPrivateActionRunnerAuthResponse.java
Due: generate

Regenerate client from commit 8aeb78f of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/AgentObservabilityApi.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsCreatePromptDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsCreatePromptVersionDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptAuthoringItem.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptAuthoringMessagesTemplate.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptInclude.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptIncludeItem.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptTemplate.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptVersionData.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsPromptVersionDataAttributes.java
Due: generate

Regenerate client from commit 4147f43 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/TeamNotificationRuleAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamNotificationRuleAttributesServiceNow.java
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  pom.xml
Due: none

Regenerate client from commit 6271596 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DashboardUsageUser.java
Due: generate

ci: update Sonatype deployment toolchain
  .gitlab-ci.yml
  pom.xml
Due: none

Update portable compression steps
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Regenerate client from commit f3f929e of spec repo
  src/test/resources/generated-test/test-server
Due: none

ci: update Sonatype deployment toolchain (#4379)
  .gitlab-ci.yml
  pom.xml
Due: none

ci: retry Sonatype deployment for 2.61.0
  .gitlab-ci.yml
Due: none

ci: disable doclint for Sonatype retry
  .gitlab-ci.yml
Due: none

ci: disable doclint for Sonatype deployment
  .gitlab-ci.yml
Due: none

Regenerate client from commit d3abe21 of spec repo
  src/test/resources/generated-test/test-server
Due: none

Apply generated request compression
  src/test/java/com/datadog/api/TestRunner.java
Due: java-format

Support request compression test step
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Support explicit compression selection
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestRunner.java
Due: java-format

Revert generated compression replay runtime
  src/test/resources/generated-test/test-server
Due: none

Regenerate client from commit 47b8a8c of spec repo
  src/test/resources/com/datadog/api/client/v1/api/logs.feature
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v1/logs/send-deflate-logs-returns-response-from-server-always-200-empty-json-response.json
  src/test/resources/generated-test/test-runner-data/v1/logs/send-gzip-logs-returns-response-from-server-always-200-empty-json-response.json
  src/test/resources/generated-test/test-runner-data/v2/logs/send-deflate-logs-returns-request-accepted-for-processing-always-202-empty-json-response.json
  src/test/resources/generated-test/test-runner-data/v2/logs/send-gzip-logs-returns-request-accepted-for-processing-always-202-empty-json-response.json
  src/test/resources/generated-test/test-server-data/v1/logs.json
  src/test/resources/generated-test/test-server-data/v2/logs.json
Due: none

Regenerate client from commit 546cee1 of spec repo
  src/test/resources/generated-test/test-server
Due: none

Revert generated compression replay runtime (#4382)
  src/test/resources/generated-test/test-server
Due: none
