Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Version bump 2.9.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 7d823ab8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/restriction-policies/DeleteRestrictionPolicy.java
  examples/v2/restriction-policies/GetRestrictionPolicy.java
  examples/v2/restriction-policies/UpdateRestrictionPolicy.java
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicy.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyBinding.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyType.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyUpdateRequest.java
  src/test/resources/cassettes/features/v2/Delete_a_restriction_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_restriction_policy_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Delete_a_restriction_policy_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_restriction_policy_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_restriction_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_restriction_policy_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_restriction_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_restriction_policy_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/restriction_policies.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 4982e03d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/EventsDataSource.java
  src/main/java/com/datadog/api/client/v2/model/MetricsAggregator.java
Due: generate

Regenerate client from commit a05a9d36 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/GetOnDemandConcurrencyCap.java
  examples/v2/synthetics/GetOnDemandConcurrencyCap_2633566918.java
  examples/v2/synthetics/SetOnDemandConcurrencyCap.java
  examples/v2/synthetics/SetOnDemandConcurrencyCap_2850884405.java
  src/main/java/com/datadog/api/client/v2/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v2/model/OnDemandConcurrencyCap.java
  src/main/java/com/datadog/api/client/v2/model/OnDemandConcurrencyCapAttributes.java
  src/main/java/com/datadog/api/client/v2/model/OnDemandConcurrencyCapResponse.java
  src/test/resources/cassettes/features/v2/Get_on_demand_concurrency_cap.freeze
  src/test/resources/cassettes/features/v2/Get_on_demand_concurrency_cap.json
  src/test/resources/cassettes/features/v2/Save_on_demand_concurrency_cap.freeze
  src/test/resources/cassettes/features/v2/Save_on_demand_concurrency_cap.json
  src/test/resources/com/datadog/api/client/v2/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 643c315f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyBinding.java
Due: generate

Regenerate client from commit f388a249 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageRumSessionsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 7f9c8d81 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
Due: generate

Regenerate client from commit 837505a7 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_template_variable_defaults_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_template_variable_defaults_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_template_variable_presets_using_values_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_template_variable_presets_using_values_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_dashboard_lists_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_all_dashboard_lists_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_dashboards_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_all_dashboards_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/authentication.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/downtimes.feature
  src/test/resources/com/datadog/api/client/v1/api/ip_ranges.feature
  src/test/resources/com/datadog/api/client/v1/api/metrics.feature
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
  src/test/resources/com/datadog/api/client/v1/api/notebooks.feature
  src/test/resources/com/datadog/api/client/v1/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v1/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/client/v1/api/snapshots.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: none

Regenerate client from commit 437dad25 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

pin docker jdk image to 20 because 21-jdk is shared with early-access builds
  Dockerfile.format
Due: none

use amazon jdk build and update google java format to 1.16.0
  Dockerfile.format
Due: none

Pin linting jdk image to 20 because 21-jdk breaks google-java-format (#1693)
  Dockerfile.format
Due: none

Regenerate client from commit 8905444b of spec repo
  .apigentools-info
  examples/v2/logs-metrics/CreateLogsMetric.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v2/Create_a_log_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_log_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/authn_mappings.feature
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_tests.feature
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/confluent_cloud.feature
  src/test/resources/com/datadog/api/client/v2/api/events.feature
  src/test/resources/com/datadog/api/client/v2/api/fastly_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/incident_services.feature
  src/test/resources/com/datadog/api/client/v2/api/incident_teams.feature
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
  src/test/resources/com/datadog/api/client/v2/api/logs_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
  src/test/resources/com/datadog/api/client/v2/api/opsgenie_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/roles.feature
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
  src/test/resources/com/datadog/api/client/v2/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit fc9468ac of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_workload_security.feature
Due: java-format

Regenerate client from commit d6815e0a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTypeRead.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit 0ec7fe9d of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
Due: java-format

Regenerate client from commit e71b6cea of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2800096921.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionEventsDataSource.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_ci_pipelines_data_source.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_ci_pipelines_data_source.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate, java-format

Regenerate client from commit 911d7cda of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/ip_allowlist.feature
Due: generate, java-format

Regenerate client from commit b2aaf22c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3195475781.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_ci_test_stream_list_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_ci_test_stream_list_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate, java-format

Regenerate client from commit 52f78f82 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit 5248c0df of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentIntegration.java
  examples/v2/incidents/DeleteIncidentIntegration.java
  examples/v2/incidents/GetIncidentIntegration.java
  examples/v2/incidents/ListIncidentIntegrations.java
  examples/v2/incidents/UpdateIncidentIntegration.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataCreateData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataListResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataMetadata.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataPatchData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataPatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataResponseData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/JiraIntegrationMetadata.java
  src/main/java/com/datadog/api/client/v2/model/JiraIntegrationMetadataIssuesItem.java
  src/main/java/com/datadog/api/client/v2/model/SlackIntegrationMetadata.java
  src/main/java/com/datadog/api/client/v2/model/SlackIntegrationMetadataChannelItem.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v2/Create_an_incident_integration_metadata_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_incident_integration_metadata_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_an_incident_integration_metadata_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_incident_integration_metadata_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_an_incident_s_integration_metadata_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_an_incident_s_integration_metadata_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_incident_integration_metadata_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_incident_integration_metadata_details_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_integration_metadata_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_integration_metadata_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate, java-format

Regenerate client from commit c9d1fe42 of spec repo
  .apigentools-info
  examples/v2/restriction-policies/DeleteRestrictionPolicy.java
  examples/v2/restriction-policies/GetRestrictionPolicy.java
  examples/v2/restriction-policies/UpdateRestrictionPolicy.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v2/Delete_a_restriction_policy_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_restriction_policy_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_restriction_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_restriction_policy_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/restriction_policies.feature
Due: java-format

Regenerate client from commit d749ce87 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SnapshotsApi.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit f09bf63c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
