Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

ci: report status for unit tests
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

format
  .github/workflows/test.yml
Due: none

use job status
  .github/workflows/test.yml
Due: none

Regenerate client from commit 49e5f63 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/TreeMapColorBy.md
  api_docs/v1/TreeMapGroupBy.md
  api_docs/v1/TreeMapSizeBy.md
  api_docs/v1/TreeMapWidgetDefinition.md
  api_docs/v1/TreeMapWidgetDefinitionType.md
  api_docs/v1/TreeMapWidgetRequest.md
  api_docs/v1/WidgetDefinition.md
  src/main/java/com/datadog/api/v1/client/model/TreeMapColorBy.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapGroupBy.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapSizeBy.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetDefinitionType.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/WidgetDefinition.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 6fd5e2f of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 4cc1eed of spec repo
  .apigentools-info
  api_docs/v1/SLOTimeframe.md
  api_docs/v1/ServiceLevelObjectivesApi.md
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/model/SLOTimeframe.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

migrate to GH actions
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit d33e517 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 17171be of spec repo
  .apigentools-info
  api_docs/v1/Pagination.md
  api_docs/v1/README.md
  api_docs/v1/ResponseMetaAttributes.md
  api_docs/v1/SLOCorrectionListResponse.md
  src/main/java/com/datadog/api/v1/client/model/Pagination.java
  src/main/java/com/datadog/api/v1/client/model/ResponseMetaAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionListResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

[Java] [Native] Unify exception messages for async, add the status code (#9825)
  .generator/templates/libraries/native/api.mustache
Due: none

Regenerate client from commit 9777e49 of spec repo
  .apigentools-info
  api_docs/v2/KeyManagementApi.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v2/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generated

Regenerate client from commit 0eabb4b of spec repo
  .apigentools-info
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Fix undo parameters
  src/test/java/com/datadog/api/World.java
Due: java-format

Fix undo parameters (#894)
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 88896c8 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit beba4a1 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/HTTPLogError.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 6586890 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageTraceHour.md
  api_docs/v1/UsageTraceResponse.md
  api_docs/v1/UsageTracingWithoutLimitsHour.md
  api_docs/v1/UsageTracingWithoutLimitsResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageTraceHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageTraceResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageTracingWithoutLimitsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageTracingWithoutLimitsResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Regenerate client from commit 5155c78 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestRequest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit c2e2dda of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsBrowserError.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserError.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit f0a4221 of spec repo
  .apigentools-info
  api_docs/v1/AWSAccountDeleteRequest.md
  api_docs/v1/AwsIntegrationApi.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/model/AWSAccountDeleteRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
Due: generated

Regenerate client from commit 305aaa6 of spec repo
  .apigentools-info
  api_docs/v1/UsageAttributionValues.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 18eae8f of spec repo
  .apigentools-info
  api_docs/v1/FormulaAndFunctionEventsDataSource.md
  api_docs/v1/QueryValueWidgetRequest.md
  api_docs/v1/TimeseriesWidgetRequest.md
  api_docs/v1/ToplistWidgetRequest.md
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionEventsDataSource.java
  src/main/java/com/datadog/api/v1/client/model/QueryValueWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TimeseriesWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ToplistWidgetRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_an_audit_logs_query.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_an_audit_logs_query.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit 3333df2 of spec repo
  .apigentools-info
  api_docs/v1/DashboardBulkActionData.md
  api_docs/v1/DashboardBulkDeleteRequest.md
  api_docs/v1/DashboardResourceType.md
  api_docs/v1/DashboardRestoreRequest.md
  api_docs/v1/DashboardsApi.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/api/DashboardsApi.java
  src/main/java/com/datadog/api/v1/client/model/DashboardBulkActionData.java
  src/main/java/com/datadog/api/v1/client/model/DashboardBulkDeleteRequest.java
  src/main/java/com/datadog/api/v1/client/model/DashboardResourceType.java
  src/main/java/com/datadog/api/v1/client/model/DashboardRestoreRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Delete_dashboards_returns_No_Content_response.freeze
  src/test/resources/cassettes/v1/Delete_dashboards_returns_No_Content_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated

Regenerate client from commit a499a64 of spec repo
  .apigentools-info
  api_docs/v1/UsageAttributionValues.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 36f6365 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

[Java][*] Annotate deprecated operations and schemas (#9478)
  .generator/templates/libraries/feign/api.mustache
  .generator/templates/libraries/google-api-client/api.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/libraries/microprofile/api.mustache
  .generator/templates/libraries/microprofile/pojo.mustache
  .generator/templates/libraries/native/pojo.mustache
  .generator/templates/libraries/resttemplate/api.mustache
  .generator/templates/libraries/retrofit/api.mustache
  .generator/templates/libraries/retrofit2/play24/api.mustache
  .generator/templates/libraries/retrofit2/play25/api.mustache
  .generator/templates/libraries/retrofit2/play26/api.mustache
  .generator/templates/libraries/vertx/api.mustache
  .generator/templates/libraries/vertx/pom.mustache
  .generator/templates/libraries/webclient/api.mustache
  .generator/templates/libraries/webclient/api_test.mustache
  .generator/templates/pojo.mustache
Due: none

[Java] Add @javax.annotation.Nonnull to required getters (#9593)
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/libraries/native/pojo.mustache
  .generator/templates/pojo.mustache
Due: none

skip-java
  src/test/java/com/datadog/api/ScenariosTest.java
Due: java-format

Regenerate client from commit 9c185b5 of spec repo
  .apigentools-info
  api_docs/v1/TableWidgetRequest.md
  api_docs/v1/WidgetFormula.md
  src/main/java/com/datadog/api/v1/client/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/WidgetFormula.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

[Java][RestTemplate][WebClient] Templatized query params for metrics and evicts oom (#9871)
  .generator/templates/libraries/resttemplate/ApiClient.mustache
  .generator/templates/libraries/resttemplate/api.mustache
  .generator/templates/libraries/webclient/ApiClient.mustache
Due: none

Release 1.1.0
  CHANGELOG.md
  pom.xml
Due: none

Release 1.1.0 (#910)
  CHANGELOG.md
  pom.xml
Due: none

Start dev cycle
  pom.xml
Due: none

Regenerate client from commit a4f22f3 of spec repo
  .apigentools-info
  api_docs/v1/ListStreamColumn.md
  api_docs/v1/ListStreamColumnWidth.md
  api_docs/v1/ListStreamQuery.md
  api_docs/v1/ListStreamResponseFormat.md
  api_docs/v1/ListStreamSource.md
  api_docs/v1/ListStreamWidgetDefinition.md
  api_docs/v1/ListStreamWidgetDefinitionType.md
  api_docs/v1/ListStreamWidgetRequest.md
  api_docs/v1/README.md
  api_docs/v1/WidgetDefinition.md
  src/main/java/com/datadog/api/v1/client/model/ListStreamColumn.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamColumnWidth.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamQuery.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamResponseFormat.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamSource.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamWidgetDefinitionType.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/WidgetDefinition.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_list_stream_widget.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_list_stream_widget.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Start dev cycle (#912)
  pom.xml
Due: none

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
