Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Remove create user in test
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
Due: java-format

Change user tests (#2202)
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
  src/test/java/com/datadog/api/client/v1/api/V1ApiTest.java
Due: java-format

Regenerate client from commit 86101285 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionBody.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 30d313fd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionEventsDataSource.java
Due: generate

Regenerate client from commit cc313cae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
  src/main/java/com/datadog/api/client/v1/model/Monitor.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFreshness.java
Due: generate

Regenerate client from commit 76697835 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit d0c076c9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataMetadata.java
  src/main/java/com/datadog/api/client/v2/model/MicrosoftTeamsIntegrationMetadata.java
  src/main/java/com/datadog/api/client/v2/model/MicrosoftTeamsIntegrationMetadataTeamsItem.java
Due: generate

Regenerate client from commit 65e025be of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Setup static analysis (#2144)
  .github/workflows/static-analysis.datadog.yml
  static-analysis.datadog.yml
Due: none

Regenerate client from commit 39b75d82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/LogsArchiveIntegrationGCS.java
Due: generate

Regenerate client from commit 9bc5f106 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
Due: generate

Regenerate client from commit af330811 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/logs.feature
  src/test/resources/com/datadog/api/client/v1/api/metrics.feature
  src/test/resources/com/datadog/api/client/v1/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/ip_allowlist.feature
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
  src/test/resources/com/datadog/api/client/v2/api/logs_archives.feature
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/powerpack.feature
  src/test/resources/com/datadog/api/client/v2/api/processes.feature
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit a9aecd28 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/service_checks.feature
  src/test/resources/com/datadog/api/client/v1/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/client/v1/api/tags.feature
  src/test/resources/com/datadog/api/client/v1/api/webhooks_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/service_scorecards.feature
  src/test/resources/com/datadog/api/client/v2/api/spans_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit f478a381 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Create_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_Azure_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Delete_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_an_Azure_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_Azure_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
Due: none

Regenerate client from commit bb5305bc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/ListMetricAssets.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetDashboardRelationship.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetDashboardRelationships.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetMonitorRelationship.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetMonitorRelationships.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetNotebookRelationship.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetNotebookRelationships.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetResponseData.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetResponseIncluded.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetResponseRelationships.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetSLORelationship.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetSLORelationships.java
  src/main/java/com/datadog/api/client/v2/model/MetricAssetsResponse.java
  src/main/java/com/datadog/api/client/v2/model/MetricDashboardAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricDashboardAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricDashboardType.java
  src/main/java/com/datadog/api/client/v2/model/MetricMonitorAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricMonitorType.java
  src/main/java/com/datadog/api/client/v2/model/MetricNotebookAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricNotebookType.java
  src/main/java/com/datadog/api/client/v2/model/MetricSLOAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricSLOType.java
  src/test/resources/cassettes/features/v2/Related_Assets_to_a_Metric_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/Related_Assets_to_a_Metric_returns_Success_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit be6551a9 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/downtimes.feature
Due: none

Regenerate client from commit acf036aa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerStandardPatternAttributes.java
Due: generate

Regenerate client from commit dbf17f07 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleOneTimeCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleRecurrencesUpdateRequest.java
Due: generate

Regenerate client from commit ba5b230c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.json
Due: generate

Regenerate client from commit 52e6d7fb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 0f7ad8f2 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/downtimes.feature
Due: none

Add step to assert a field is not present
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Regenerate client from commit ac12ffe4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Fix method naming
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Add step to assert a field is not present (#2224)
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Regenerate client from commit e9113926 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentServicesApi.java
Due: generate

Regenerate client from commit 32fcfc91 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityTestsApi.java
Due: generate

Regenerate client from commit 29884c34 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.java
  examples/v1/synthetics/UpdateBrowserTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_multi_step_payload.json
Due: generate

Version bump 2.23.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 5745e5bb of spec repo
  .apigentools-info
  examples/v2/gcp-integration/CreateGCPSTSAccount.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_109518525.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_130557025.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_194782945.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_2597004741.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_4235664992.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount_2241994060.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount_3205636354.java
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_account_tags_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_account_tags_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cloud_run_revision_filters_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cloud_run_revision_filters_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cspm_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cspm_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_disabled_and_cspm_enabled_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_disabled_and_cspm_enabled_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_security_command_center_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_security_command_center_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_GCP_STS_enabled_service_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_GCP_STS_enabled_service_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_cloud_run_revision_filters.freeze
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_cloud_run_revision_filters.json
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_enable_resource_collection_turned_on.freeze
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_enable_resource_collection_turned_on.json
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: none

Regenerate client from commit 1d14f3f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-workload-security/CreateCSMThreatsAgentRule.java
  examples/v2/cloud-workload-security/DeleteCSMThreatsAgentRule.java
  examples/v2/cloud-workload-security/DownloadCSMThreatsPolicy.java
  examples/v2/cloud-workload-security/GetCSMThreatsAgentRule.java
  examples/v2/cloud-workload-security/ListCSMThreatsAgentRules.java
  examples/v2/cloud-workload-security/UpdateCSMThreatsAgentRule.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CloudWorkloadSecurityApi.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_workload_security.feature
Due: generate

Regenerate client from commit 78958536 of spec repo
  .apigentools-info
  examples/v2/roles/CreateRole.java
  src/test/resources/com/datadog/api/client/v2/api/roles.feature
Due: none

Regenerate client from commit 95184165 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
