Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit f7db18b of spec repo
  .apigentools-info
  api_docs/v1/SLOHistorySLIData.md
  src/main/java/com/datadog/api/v1/client/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 9684c06 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: none

Java Resiliency
  .generator/templates/UnparsedObject.mustache
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/modelEnum.mustache
  .generator/templates/pojo.mustache
Due: none

add package to UnparsedObject template
  .generator/templates/UnparsedObject.mustache
Due: none

fix pojo
  .generator/templates/UnparsedObject.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/modelEnum.mustache
  .generator/templates/pojo.mustache
Due: none

Fix setActualInstance to accept UnparsedObject instances
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/modelEnum.mustache
Due: none

Regenerate client from commit fa2403b of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsGlobalVariableParserType.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsGlobalVariableParserType.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

add equals method for enum classes
  .generator/templates/modelEnum.mustache
Due: none

add getter/setter for UnparsedObject
  .generator/templates/UnparsedObject.mustache
Due: none

ignore unparsed attribute on serialization
  .generator/templates/libraries/jersey2/model.mustache
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

override UnparsedObject toString method to fix serialization issues on instance fields
  .generator/templates/UnparsedObject.mustache
Due: none

override UnparsedObject equals methods
  .generator/templates/UnparsedObject.mustache
Due: none

Record cassettes, add upper support
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/resources/cassettes/v1/Create_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/v1/Create_a_webhooks_integration_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_a_webhooks_integration_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_webhook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_webhook_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_a_webhook_integration_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_a_webhook_integration_returns_OK_response.json
  src/test/resources/cassettes/v1/Update_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/v1/Update_a_webhook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_a_webhook_returns_OK_response.json
Due: java-format

fixes
  .generator/templates/UnparsedObject.mustache
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

add custom serializer to the UnparsedObject class
  .generator/templates/UnparsedObject.mustache
Due: none

update client resiliency cassette
  src/test/resources/cassettes/v1/Client_is_resilient_to_enum_and_oneOf_deserialization_errors.json
Due: none

Add support for @replay-only
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Don't save cassettes for skipped scenarios
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Regenerate client from commit 64ee0b9 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/WebhooksIntegration.md
  api_docs/v1/WebhooksIntegrationApi.md
  api_docs/v1/WebhooksIntegrationCustomVariable.md
  api_docs/v1/WebhooksIntegrationCustomVariableResponse.md
  api_docs/v1/WebhooksIntegrationCustomVariableUpdateRequest.md
  api_docs/v1/WebhooksIntegrationEncoding.md
  api_docs/v1/WebhooksIntegrationUpdateRequest.md
  src/main/java/com/datadog/api/v1/client/api/WebhooksIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegration.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegrationCustomVariable.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegrationCustomVariableResponse.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegrationCustomVariableUpdateRequest.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegrationEncoding.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegrationUpdateRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/java/com/datadog/api/v1/client/api/WebhooksIntegrationApiTest.java
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/webhooks_integration.feature
Due: generated, java-format

Support @replay-only tag for BDD scenarios (#938)
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

fixing errors
  .generator/templates/UnparsedObject.mustache
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

update lookUp method to try to fetch data when attribute is not found
  src/test/java/com/datadog/api/World.java
Due: java-format

Add Custom Serializer/Deserializer and getters/setters to modelEnum
  .generator/templates/modelEnum.mustache
Due: none

Regenerate client from commit fcc640d of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SyntheticsGlobalVariable.md
  api_docs/v1/SyntheticsGlobalVariableAttributes.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsGlobalVariable.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsGlobalVariableAttributes.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

remove {{first}} on pojo enum value check
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

Regenerate client from commit e3699c0 of spec repo
  .apigentools-info
  api_docs/v1/FormulaAndFunctionEventsDataSource.md
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionEventsDataSource.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 20a3ffe of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: none

normal Enum, Update Cast for oneof
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/modelEnum.mustache
Due: none

jackson not using setters, trying with JsonCreator to set unparsed
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

Regenerate client from commit 092b505 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v2/IncidentCreateAttributes.md
  api_docs/v2/IncidentNotificationHandle.md
  api_docs/v2/IncidentResponseAttributes.md
  api_docs/v2/IncidentUpdateAttributes.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v2/client/model/IncidentCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/IncidentNotificationHandle.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/v2/client/model/IncidentUpdateAttributes.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
Due: generated

[Java] Add missing imports for Set in java clients (#10171)
  .generator/templates/libraries/microprofile/api.mustache
  .generator/templates/libraries/microprofile/api_test.mustache
  .generator/templates/libraries/native/api.mustache
  .generator/templates/libraries/native/api_test.mustache
Due: none

[Java][Native] Add an async response interceptor in ApiClient (#10027)
  .generator/templates/libraries/native/ApiClient.mustache
  .generator/templates/libraries/native/api.mustache
Due: none

propagate unparsed in pojo
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

Fix Handling of primitive types, and propagation of unparsed Value
  .generator/templates/UnparsedObject.mustache
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

Fix Mistakes
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

add Deserialization test
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
Due: java-format

Fix oneof_model generation issue
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

Adjust Lookup function to handle Map<String, Object>
  src/test/java/com/datadog/api/World.java
Due: java-format

Code fixes
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none
