Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit d90e7b67 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/IntakePayloadAccepted.java
Due: generate

Regenerate client from commit a968a736 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit be2f0c5e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/UsageBillableSummaryKeys.java
Due: generate

Regenerate client from commit 713cd02c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionSupportedMetrics.java
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: none

Fix java 16 tests
  src/test/java/com/datadog/api/World.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/World.java
Due: java-format

Fix java 16 tests (#1408)
  src/test/java/com/datadog/api/World.java
Due: java-format

Validate if unstable operations are enabled (#1349)
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
Due: generate

Remove useless checkout
  .github/workflows/test.yml
Due: none

Regenerate client from commit 2439bda0 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: none

pre-commit fixes
  src/test/java/com/datadog/api/World.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
Due: java-format

Fix
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
Due: java-format

Remove unused method
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
Due: generate

Fix tests
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 72426c86 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
Due: generate

Fix unstable usage in examples
  .generator/src/generator/templates/example.j2
  examples/v1/service-level-objectives/GetSLOHistory.java
  examples/v1/service-level-objectives/SearchSLO.java
  examples/v1/usage-metering/GetDailyCustomReports.java
  examples/v1/usage-metering/GetHourlyUsageAttribution.java
  examples/v1/usage-metering/GetMonthlyCustomReports.java
  examples/v1/usage-metering/GetMonthlyUsageAttribution.java
  examples/v1/usage-metering/GetSpecifiedDailyCustomReports.java
  examples/v1/usage-metering/GetSpecifiedMonthlyCustomReports.java
  examples/v1/usage-metering/GetUsageAttribution.java
  examples/v2/incident-services/CreateIncidentService.java
  examples/v2/incident-services/DeleteIncidentService.java
  examples/v2/incident-services/GetIncidentService.java
  examples/v2/incident-services/ListIncidentServices.java
  examples/v2/incident-services/UpdateIncidentService.java
  examples/v2/incident-teams/CreateIncidentTeam.java
  examples/v2/incident-teams/DeleteIncidentTeam.java
  examples/v2/incident-teams/GetIncidentTeam.java
  examples/v2/incident-teams/ListIncidentTeams.java
  examples/v2/incident-teams/UpdateIncidentTeam.java
  examples/v2/incidents/CreateIncident.java
  examples/v2/incidents/DeleteIncident.java
  examples/v2/incidents/GetIncident.java
  examples/v2/incidents/ListIncidents.java
  examples/v2/incidents/UpdateIncident.java
  examples/v2/incidents/UpdateIncident_1009194038.java
  examples/v2/incidents/UpdateIncident_3369341440.java
Due: generate

Regenerate client from commit 3b40e043 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetEstimatedCostByOrg.java
  examples/v2/usage-metering/GetEstimatedCostByOrg_1171921972.java
  examples/v2/usage-metering/GetEstimatedCostByOrg_627383212.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Regenerate client from commit 5a020acd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionBody.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionBody.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionBody.java
Due: generate

Regenerate client from commit 901aaeda of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/MetricIntakeType.java
  src/main/java/com/datadog/api/client/v2/model/MetricSeries.java
Due: generate

Regenerate client from commit 0b076011 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Add support for zstd
  .generator/src/generator/cli.py
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/ZstdEncoder.j2
  pom.xml
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/ZstdEncoder.java
Due: generate

Make support optional
  .generator/src/generator/templates/ZstdEncoder.j2
  src/main/java/com/datadog/api/client/ZstdEncoder.java
Due: generate

Regenerate client from commit 2d238f31 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionSort.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionValues.java
Due: generate

Setup Code Scanning on datadog-api-client-java
  .github/workflows/codeql-analysis.yml
Due: none

remove python
  .github/workflows/codeql-analysis.yml
Due: none
