Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 7c115a3 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestRequest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 6ca80f8 of spec repo
  .apigentools-info
  api_docs/v1/SLOHistoryMetricsSeries.md
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryMetricsSeries.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

improve missing freeze error message
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

improve missing cassette error message
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

remove comment
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Regenerate client from commit 092cad9 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/MetricsPayload.java
  src/main/java/com/datadog/api/v1/client/model/ProcessQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/Series.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPIStep.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserError.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated

Skip setupClock for integration-only scenarios
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Regenerate client from commit b1c1fe4 of spec repo
  .apigentools-info
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit e4b1338 of spec repo
  .apigentools-info
  api_docs/v1/FormulaAndFunctionApmDependencyStatName.md
  api_docs/v1/FormulaAndFunctionApmDependencyStatsDataSource.md
  api_docs/v1/FormulaAndFunctionApmDependencyStatsQueryDefinition.md
  api_docs/v1/FormulaAndFunctionQueryDefinition.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmDependencyStatName.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmDependencyStatsDataSource.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmDependencyStatsQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_apm_dependency_stats_widget.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_apm_dependency_stats_widget.json
  src/test/resources/cassettes/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit 7d19e75 of spec repo
  .apigentools-info
  api_docs/v1/SLOCorrection.md
  api_docs/v1/SLOCorrectionCreateData.md
  api_docs/v1/SLOCorrectionCreateRequest.md
  api_docs/v1/SLOCorrectionCreateRequestAttributes.md
  api_docs/v1/SLOCorrectionListResponse.md
  api_docs/v1/SLOCorrectionResponse.md
  api_docs/v1/SLOCorrectionResponseAttributes.md
  api_docs/v1/SLOCorrectionUpdateData.md
  api_docs/v1/SLOCorrectionUpdateRequest.md
  api_docs/v1/SLOCorrectionUpdateRequestAttributes.md
  api_docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrection.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCategory.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCreateData.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCreateRequest.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCreateRequestAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionListResponse.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponse.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionUpdateData.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionUpdateRequest.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionUpdateRequestAttributes.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 864476c of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
Due: generated

Regenerate client from commit dd3ae87 of spec repo
  .apigentools-info
  api_docs/v1/FormulaAndFunctionApmResourceStatName.md
  api_docs/v1/FormulaAndFunctionApmResourceStatsDataSource.md
  api_docs/v1/FormulaAndFunctionApmResourceStatsQueryDefinition.md
  api_docs/v1/FormulaAndFunctionQueryDefinition.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmResourceStatName.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmResourceStatsDataSource.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmResourceStatsQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_apm_resource_stats_widget.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_apm_resource_stats_widget.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit 0ded40f of spec repo
  .apigentools-info
  api_docs/v1/FormulaAndFunctionApmDependencyStatsQueryDefinition.md
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionApmDependencyStatsQueryDefinition.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Improve missing cassette errors (#964)
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Regenerate client from commit f934b04 of spec repo
  .apigentools-info
  api_docs/v1/FunnelQuery.md
  api_docs/v1/FunnelRequestType.md
  api_docs/v1/FunnelSource.md
  api_docs/v1/FunnelWidgetDefinition.md
  api_docs/v1/FunnelWidgetDefinitionType.md
  api_docs/v1/FunnelWidgetRequest.md
  api_docs/v1/README.md
  api_docs/v1/WidgetDefinition.md
  src/main/java/com/datadog/api/v1/client/model/FunnelQuery.java
  src/main/java/com/datadog/api/v1/client/model/FunnelRequestType.java
  src/main/java/com/datadog/api/v1/client/model/FunnelSource.java
  src/main/java/com/datadog/api/v1/client/model/FunnelWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/FunnelWidgetDefinitionType.java
  src/main/java/com/datadog/api/v1/client/model/FunnelWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/WidgetDefinition.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_funnel_widget.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_funnel_widget.json
  src/test/resources/cassettes/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/v2/List_permissions_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Use new interface
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

Regenerate client from commit 10d22b2 of spec repo
  .apigentools-info
  .openapi-generator/VERSION
  api_docs/v1/UsageMeteringApi.md
  api_docs/v2/KeyManagementApi.md
  api_docs/v2/LogsApi.md
  api_docs/v2/MetricsApi.md
  api_docs/v2/RolesApi.md
  api_docs/v2/SecurityMonitoringApi.md
  api_docs/v2/ServiceAccountsApi.md
  api_docs/v2/UsersApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
Due: generated

Add support for gzip and deflate
  .generator/templates/libraries/jersey2/ApiClient.mustache
Due: none

Regenerate client from commit c7fa062 of spec repo
  .apigentools-info
  api_docs/v1/UsageAttributionValues.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit c02444e of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestDetails.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetails.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Add missing register calls
  .generator/templates/libraries/jersey2/ApiClient.mustache
Due: none

Regenerate client from commit 4a04b77 of spec repo
  .apigentools-info
  api_docs/v1/ContentEncoding.md
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/model/ContentEncoding.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
Due: generated

Regenerate client from commit 207f15b of spec repo
  .apigentools-info
  api_docs/v2/IncidentServicesApi.md
  api_docs/v2/IncidentTeamsApi.md
  api_docs/v2/IncidentsApi.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit 1f84aba of spec repo
  .apigentools-info
  api_docs/v1/DowntimeRecurrence.md
  api_docs/v1/MonitorOptions.md
  api_docs/v1/MonitorsApi.md
  api_docs/v1/WebhooksIntegration.md
  api_docs/v1/WebhooksIntegrationUpdateRequest.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/DowntimeRecurrence.java
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegration.java
  src/main/java/com/datadog/api/v1/client/model/WebhooksIntegrationUpdateRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
Due: generated

Regenerate client from commit d0cfebd of spec repo
  .apigentools-info
  api_docs/v1/MetricsApi.md
  api_docs/v1/ServiceChecksApi.md
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceChecksApi.java
  src/main/java/com/datadog/api/v1/client/model/Creator.java
  src/main/java/com/datadog/api/v1/client/model/DashboardSummaryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/MetricsQueryMetadata.java
  src/main/java/com/datadog/api/v1/client/model/NotebookAuthor.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/IncidentFieldAttributesSingleValue.java
  src/main/java/com/datadog/api/v2/client/model/UserAttributes.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/cassettes/v1/Client_is_resilient_to_enum_and_oneOf_deserialization_errors.freeze
  src/test/resources/cassettes/v1/Client_is_resilient_to_enum_and_oneOf_deserialization_errors.json
  src/test/resources/cassettes/v1/Create_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/v1/Create_a_webhooks_integration_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_a_webhooks_integration_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_webhook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_webhook_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_a_webhook_integration_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_a_webhook_integration_returns_OK_response.json
  src/test/resources/cassettes/v1/Submit_a_Service_Check_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/v1/Submit_a_Service_Check_returns_Payload_accepted_response.json
  src/test/resources/cassettes/v1/Submit_metrics_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/v1/Submit_metrics_returns_Payload_accepted_response.json
  src/test/resources/cassettes/v1/Update_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/v1/Update_a_webhook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_a_webhook_returns_OK_response.json
Due: generated

Regenerate client from commit 6ab9fa3 of spec repo
  .apigentools-info
  api_docs/v2/IncidentFieldAttributesSingleValueType.md
  src/main/java/com/datadog/api/v2/client/model/IncidentFieldAttributesSingleValueType.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit 863f29c of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/ScatterPlotWidgetDefinitionRequests.md
  api_docs/v1/ScatterplotDimension.md
  api_docs/v1/ScatterplotTableRequest.md
  api_docs/v1/ScatterplotWidgetFormula.md
  src/main/java/com/datadog/api/v1/client/model/ScatterPlotWidgetDefinitionRequests.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotDimension.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotTableRequest.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotWidgetFormula.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit 181ee2d of spec repo
  .apigentools-info
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Fix Usage unit test intermittent failure
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
Due: java-format

Regenerate client from commit 76490b5 of spec repo
  .apigentools-info
  api_docs/v2/IncidentFieldAttributesSingleValueType.md
  src/main/java/com/datadog/api/v2/client/model/IncidentFieldAttributesMultipleValue.java
  src/main/java/com/datadog/api/v2/client/model/IncidentFieldAttributesSingleValueType.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit a139e02 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionTarget.java
Due: generated

Regenerate client from commit 9033ba5 of spec repo
  .apigentools-info
  api_docs/v2/README.md
  api_docs/v2/SecurityMonitoringApi.md
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit d3a69ea of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/NotebookCellTime.java
  src/main/java/com/datadog/api/v1/client/model/NotebookGlobalTime.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Fix Usage unit test intermittent failure (#981)
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
Due: java-format

Regenerate client from commit 01e467f of spec repo
  .apigentools-info
  api_docs/v1/MetricContentEncoding.md
  api_docs/v1/MetricsApi.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/model/MetricContentEncoding.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
Due: generated

Regenerate client from commit bc91052 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestRequest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

support {{ "{{ FOO }}" }} in templates
  src/test/java/com/datadog/api/World.java
Due: java-format

Create Sjenica1
  Sjenica1
Due: none

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
