Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Use nop logger in tests
  pom.xml
Due: none

Use nop logger in tests (#1095)
  pom.xml
Due: none

Regenerate client from commit 0029fd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/RoleCreateAttributes.md
  src/main/java/com/datadog/api/v2/client/model/RoleCreateAttributes.java
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
Due: generated, generate

Fix toPropertyName
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 7316fb8 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
Due: none

Regenerate client from commit 15761ea of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
Due: none

Sleep after request if needed
  .github/workflows/test_integration.yml
  src/test/java/com/datadog/api/World.java
Due: java-format

Sleep after request if needed (#1105)
  .github/workflows/test_integration.yml
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 54aeadc of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Regenerate client from commit 729b64f of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/RolesApiTest.java
  src/test/java/com/datadog/api/v2/client/api/SecurityMonitoringApiTest.java
  src/test/java/com/datadog/api/v2/client/api/UsersApiTest.java
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/events.feature
  src/test/resources/com/datadog/api/v1/client/api/hosts.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/notebooks.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/pagerduty_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/slack_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/tags.feature
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
  src/test/resources/com/datadog/api/v1/client/api/webhooks_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_services.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_teams.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_archives.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v2/client/api/service_accounts.feature
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: java-format

Regenerate client from commit 4324847 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/SecurityMonitoringSignalAttributes.md
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringSignalAttributes.java
Due: generated, generate

Regenerate client from commit 7428356 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/IncidentFieldAttributesValueType.java
Due: generated, generate

Regenerate client from commit 4c16b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/LogsQueryFilter.md
  src/main/java/com/datadog/api/v2/client/model/LogsQueryFilter.java
Due: generated, generate

Regenerate client from commit eb96eba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
Due: generated, generate

Regenerate client from commit 33ea608 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageRumUnitsHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageRumUnitsHour.java
Due: generated, generate

Regenerate client from commit 3934ce4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsConfigVariable.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsConfigVariable.java
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated, generate

Regenerate client from commit f676b70 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SLOCorrectionCreateRequestAttributes.md
  api_docs/v1/SLOCorrectionResponseAttributes.md
  api_docs/v1/SLOCorrectionUpdateRequestAttributes.md
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCreateRequestAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionUpdateRequestAttributes.java
  src/test/resources/cassettes/features/v1/Create_an_SLO_correction_with_rrule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_SLO_correction_with_rrule_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
Due: generated, generate

Regenerate client from commit d90592c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/Event.md
  api_docs/v1/EventCreateRequest.md
  api_docs/v1/EventCreateResponse.md
  api_docs/v1/LogsListRequestTime.md
  api_docs/v1/MonitorSearchResult.md
  api_docs/v1/MonitorsApi.md
  api_docs/v1/SLOThreshold.md
  api_docs/v1/ServiceLevelObjectivesApi.md
  api_docs/v1/TagsApi.md
  api_docs/v1/UsageHostHour.md
  api_docs/v1/WidgetAxis.md
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/api/TagsApi.java
  src/main/java/com/datadog/api/v1/client/model/Event.java
  src/main/java/com/datadog/api/v1/client/model/EventCreateRequest.java
  src/main/java/com/datadog/api/v1/client/model/EventCreateResponse.java
  src/main/java/com/datadog/api/v1/client/model/LogsListRequestTime.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResult.java
  src/main/java/com/datadog/api/v1/client/model/SLOThreshold.java
  src/main/java/com/datadog/api/v1/client/model/UsageHostHour.java
  src/main/java/com/datadog/api/v1/client/model/WidgetAxis.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_archives.feature
Due: generated, generate

Regenerate client from commit 1d8c037 of spec repo
  .apigentools-info
  examples/v1/dashboards/CreateDashboard.java
  examples/v1/downtimes/CreateDowntime.java
  examples/v1/events/CreateEvent.java
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.java
  examples/v1/synthetics/CreateSyntheticsAPITest.java
  examples/v1/synthetics/ListTests.java
  examples/v2/key-management/CreateCurrentUserApplicationKey.java
  examples/v2/key-management/DeleteApplicationKey.java
  examples/v2/key-management/DeleteCurrentUserApplicationKey.java
  examples/v2/key-management/GetCurrentUserApplicationKey.java
  examples/v2/key-management/ListApplicationKeys.java
  examples/v2/key-management/ListCurrentUserApplicationKeys.java
  examples/v2/logs/ListLogsGet.java
  examples/v2/logs/SubmitLog.java
  examples/v2/metrics/ListTagConfigurations.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  examples/v2/security-monitoring/DeleteSecurityFilter.java
  examples/v2/service-accounts/CreateServiceAccountApplicationKey.java
  examples/v2/service-accounts/DeleteServiceAccountApplicationKey.java
  examples/v2/service-accounts/GetServiceAccountApplicationKey.java
  examples/v2/service-accounts/ListServiceAccountApplicationKeys.java
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey.java
  examples/v2/users/GetUser.java
Due: none

Prepare 1.3.0 release
  CHANGELOG.md
  pom.xml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Prepare 1.3.0 release (#1112)
  CHANGELOG.md
  pom.xml
Due: none

Start dev cycle
  pom.xml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1114)
  README.md
Due: none

Start dev cycle (#1113)
  pom.xml
Due: none

Regenerate client from commit 7feb9cb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SunburstWidgetDefinition.md
  api_docs/v1/SunburstWidgetDefinitionType.md
  api_docs/v1/SunburstWidgetLegend.md
  api_docs/v1/SunburstWidgetLegendInlineAutomatic.md
  api_docs/v1/SunburstWidgetLegendInlineAutomaticType.md
  api_docs/v1/SunburstWidgetLegendTable.md
  api_docs/v1/SunburstWidgetLegendTableType.md
  api_docs/v1/SunburstWidgetRequest.md
  api_docs/v1/WidgetDefinition.md
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetDefinitionType.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetLegend.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetLegendInlineAutomatic.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetLegendInlineAutomaticType.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetLegendTable.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetLegendTableType.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/WidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Regenerate client from commit 44311ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SunburstWidgetDefinition.md
  api_docs/v1/SunburstWidgetDefinitionType.md
  api_docs/v1/SunburstWidgetLegend.md
  api_docs/v1/SunburstWidgetLegendInlineAutomatic.md
  api_docs/v1/SunburstWidgetLegendInlineAutomaticType.md
  api_docs/v1/SunburstWidgetLegendTable.md
  api_docs/v1/SunburstWidgetLegendTableType.md
  api_docs/v1/SunburstWidgetRequest.md
  api_docs/v2/README.md
Due: generated, generate

Regenerate client from commit ee277b0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorType.md
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
  src/test/resources/cassettes/features/v1/Create_a_ci_pipelines_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_ci_pipelines_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated, generate

Regenerate client from commit 90bc255 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageAuditLogsHour.md
  api_docs/v1/UsageCWSHour.md
  api_docs/v1/UsageCloudSecurityPostureManagementHour.md
  api_docs/v1/UsageDBMHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageAuditLogsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageCWSHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageCloudSecurityPostureManagementHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageDBMHour.java
Due: generated, generate

Regenerate client from commit 4bb7a8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/README.md
  api_docs/v2/RoleClone.md
  api_docs/v2/RoleCloneAttributes.md
  api_docs/v2/RoleCloneRequest.md
  api_docs/v2/RolesApi.md
  examples/v2/roles/CloneRole.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/model/RoleClone.java
  src/main/java/com/datadog/api/v2/client/model/RoleCloneAttributes.java
  src/main/java/com/datadog/api/v2/client/model/RoleCloneRequest.java
  src/test/resources/cassettes/features/v2/Create_a_new_role_by_cloning_an_existing_role_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_role_by_cloning_an_existing_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_role_by_cloning_an_existing_role_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_role_by_cloning_an_existing_role_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generated, generate

Regenerate client from commit 5d20dc6 of spec repo
  .apigentools-info
  api_docs/v2/RoleClone.md
  api_docs/v2/RoleCloneAttributes.md
  api_docs/v2/RoleCloneRequest.md
Due: generated

Use local java for format
  format.sh
Due: none

Regenerate client from commit ef25063 of spec repo
  .apigentools-info
  api_docs/v2/RoleClone.md
  api_docs/v2/RoleCloneAttributes.md
  api_docs/v2/RoleCloneRequest.md
Due: generated

Regenerate client from commit 0437aa6 of spec repo
  .apigentools-info
  api_docs/v2/RoleClone.md
  api_docs/v2/RoleCloneAttributes.md
  api_docs/v2/RoleCloneRequest.md
Due: generated

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
  generate: any of: ^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)
