Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit f8bfb8c1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit d8186149 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3562282606.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLODataSource.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOGroupMode.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOMeasure.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOQueryType.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 8da6711e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/gcp-integration/CreateGCPSTSAccountsV2.java
  examples/v2/gcp-integration/DeleteGCPSTSAccountsV2.java
  examples/v2/gcp-integration/GetDelegateV2.java
  examples/v2/gcp-integration/ListGCPSTSAccountsV2.java
  examples/v2/gcp-integration/MakeDelegateV2.java
  examples/v2/gcp-integration/UpdateGCPSTSAccountsV2.java
  src/main/java/com/datadog/api/client/v2/api/GcpIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/AccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AccountCreationResponse.java
  src/main/java/com/datadog/api/client/v2/model/AccountPatchBody.java
  src/main/java/com/datadog/api/client/v2/model/AttributeMetadata.java
  src/main/java/com/datadog/api/client/v2/model/DelegateAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DelegateCreationResponse.java
  src/main/java/com/datadog/api/client/v2/model/DelegateInfo.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSAccounts.java
  src/main/java/com/datadog/api/client/v2/model/MetaInfo.java
  src/main/java/com/datadog/api/client/v2/model/STSEnabledAccountData.java
  src/main/java/com/datadog/api/client/v2/model/ServiceAccountInfo.java
  src/main/java/com/datadog/api/client/v2/model/ServiceAccountInfoPatch.java
  src/main/java/com/datadog/api/client/v2/model/ServiceAccountMetadata.java
  src/main/java/com/datadog/api/client/v2/model/ServiceAccountToBeCreatedData.java
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 937a9438 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2634813877.java
  src/main/java/com/datadog/api/client/v1/model/EventStreamWidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/event_stream_widget.json
Due: generate

Regenerate client from commit c3f9f308 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsBrowserTest.java
  examples/v1/synthetics/TriggerTests.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAPIStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAPITestResultData.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAPITestResultShortResult.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBatchDetailsData.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBatchResult.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBrowserVariable.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsCIBatchMetadata.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsCITest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsGlobalVariable.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsGlobalVariableParseTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsGlobalVariableParseTestOptionsType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsGlobalVariableParserType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsLocations.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsParsingOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStepDetail.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestCiOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestExecutionRule.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTiming.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTriggerBody.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTriggerCITestLocation.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTriggerCITestRunResult.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTriggerCITestsResponse.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTriggerTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsVariableParser.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_browser_test_payload.json
Due: generate

Regenerate client from commit f75e7820 of spec repo
  .apigentools-info
  examples/v1/downtimes/CreateDowntime.java
  src/test/resources/cassettes/features/v1/Cancel_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Cancel_a_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Cancel_downtimes_by_scope_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Cancel_downtimes_by_scope_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_downtime_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/downtimes.feature
  src/test/resources/com/datadog/api/client/v1/api/given.json
Due: none

Regenerate client from commit 2ccd9d0a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2634813877.java
  src/main/java/com/datadog/api/client/v1/model/EventStreamWidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/event_stream_widget.json
Due: generate

Regenerate client from commit d1e6ae92 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/GetMonitor_2200114573.java
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
  src/main/java/com/datadog/api/client/v1/model/MatchingDowntime.java
  src/main/java/com/datadog/api/client/v1/model/Monitor.java
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_with_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_with_downtime_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit ba7efe40 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
Due: generate

Regenerate client from commit 61d57b72 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 89276ce5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2432046716.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit a5ef3fab of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: none

Fix downtime test
  src/test/java/com/datadog/api/client/v1/api/DowntimesApiTest.java
  src/test/resources/cassettes/v1/DowntimesApiTest.createModifyCancelDowntimeTest.freeze
  src/test/resources/cassettes/v1/DowntimesApiTest.createModifyCancelDowntimeTest.json
Due: java-format

fix examples generation with empty body
  .generator/src/generator/formatter.py
  .gitignore
Due: generate

fix examples generation with empty body (#1811)
  .generator/src/generator/formatter.py
  .gitignore
Due: generate

Regenerate client from commit e4c04414 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2432046716.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Manually fix cassette
  src/test/resources/cassettes/v1/DowntimesApiTest.createModifyCancelDowntimeTest.freeze
  src/test/resources/cassettes/v1/DowntimesApiTest.createModifyCancelDowntimeTest.json
Due: none

Fix downtime test (#1808)
  src/test/java/com/datadog/api/client/v1/api/DowntimesApiTest.java
  src/test/resources/cassettes/v1/DowntimesApiTest.createModifyCancelDowntimeTest.json
Due: java-format

Regenerate client from commit 9bb20b79 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Update actions
  .github/workflows/changelog.yml
  .github/workflows/stale.yml
Due: none

Regenerate client from commit fa84acd1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/DeleteBulkTagsMetricsConfiguration.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit c4844513 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsParsingOptions.java
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_multi_step_payload.json
Due: generate

Update actions (#1812)
  .github/workflows/changelog.yml
  .github/workflows/stale.yml
Due: none

Regenerate client from commit adf5379f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/gcp-integration/CreateGCPSTSAccount.java
  examples/v2/gcp-integration/DeleteGCPSTSAccount.java
  examples/v2/gcp-integration/GetGCPSTSDelegate.java
  examples/v2/gcp-integration/ListGCPSTSAccounts.java
  examples/v2/gcp-integration/MakeGCPSTSDelegate.java
  examples/v2/gcp-integration/MakeGCPSTSDelegate_962598975.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount.java
  src/main/java/com/datadog/api/client/v2/api/GcpIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSDelegateAccount.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSDelegateAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSDelegateAccountResponse.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSDelegateAccountType.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccount.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountData.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountResponse.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountUpdateRequestData.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountsResponse.java
  src/main/java/com/datadog/api/client/v2/model/GCPServiceAccountMeta.java
  src/main/java/com/datadog/api/client/v2/model/GCPServiceAccountType.java
  src/test/resources/cassettes/features/v2/Create_a_Datadog_GCP_principal_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_Datadog_GCP_principal_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_Datadog_GCP_principal_with_empty_body_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_Datadog_GCP_principal_with_empty_body_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_GCP_STS_enabled_service_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_GCP_STS_enabled_service_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_delegate_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_delegate_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

remove 400 error check
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
  src/test/resources/cassettes/v1/LogsIndexesApiTest.logsIndexesOrderUpdateErrorsTest.json
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
Due: java-format

bump timeout for lambda test
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
Due: java-format

Remove 400 error check for `logsIndexesOrderUpdateErrorsTest` (#1815)
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
  src/test/resources/cassettes/v1/LogsIndexesApiTest.logsIndexesOrderUpdateErrorsTest.json
Due: java-format

Regenerate client from commit a4e581c4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagConfiguration_215159720.java
  examples/v2/monitors/UpdateMonitorConfigPolicy_1761088824.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/api/MonitorsApi.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: generate

unskip logs indexes order test
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
Due: java-format

Unskip logs indexes order test (#1817)
  src/test/java/com/datadog/api/client/v1/api/LogsIndexesApiTest.java
Due: java-format

Regenerate client from commit 3b710977 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1877023900.java
  examples/v1/dashboards/CreateDashboard_2361531620.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_list_stream_widget_with_a_valid_sort_parameter_ASC.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_list_stream_widget_with_a_valid_sort_parameter_ASC.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_list_stream_widget_with_a_valid_sort_parameter_DESC.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_list_stream_widget_with_a_valid_sort_parameter_DESC.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 75f2b526 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Version bump 2.12.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit c70ecd2f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 060dc917 of spec repo
  .apigentools-info
  examples/v2/metrics/ListActiveMetricConfigurations.java
  examples/v2/metrics/ListVolumesByMetricName.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_metrics_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_active_tags_and_aggregations_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_active_tags_and_aggregations_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_distinct_metric_volumes_by_metric_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_distinct_metric_volumes_by_metric_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/metric_payload_static.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: none

Regenerate client from commit 2638a894 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/UpdateFinding.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/FindingMuteReason.java
  src/main/java/com/datadog/api/client/v2/model/FindingsErrorItem.java
  src/main/java/com/datadog/api/client/v2/model/FindingsErrorResponse.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequest.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestProperties.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponse.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseProperties.java
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_finding_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_finding_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 26e48ac5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
