Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

added set -e to format.sh
  format.sh
Due: none

Regenerate client from commit bc7eaeb of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/events.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_services.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_teams.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated

java 1.16.0
  .github/workflows/test.yml
Due: none

Upgrade jacoco
  pom.xml
Due: none

cassettes
  src/test/resources/cassettes/v1/Create_an_SLO_correction_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_an_SLO_correction_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_all_SLO_corrections_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_all_SLO_corrections_returns_OK_response.json
  src/test/resources/cassettes/v1/Update_an_SLO_correction_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_an_SLO_correction_returns_OK_response.json
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
Due: none

Re-enable java 16
  .github/workflows/test.yml
  pom.xml
Due: none

Regenerate client from commit fa07bf6 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
Due: none

Add a profile for java 1.16
  pom.xml
Due: none

Re-enable java 16 (#777)
  .github/workflows/test.yml
  pom.xml
Due: none

Regenerate client from commit cb2432f of spec repo
  .apigentools-info
  api/openapi.yaml
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: generated

Regenerate client from commit 32aaa94 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
Due: none

Regenerate client from commit 9430c32 of spec repo
  .apigentools-info
  api/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 4463f95 of spec repo
  .apigentools-info
  api_docs/v1/DistributionWidgetDefinition.md
  api_docs/v1/DistributionWidgetXAxis.md
  api_docs/v1/DistributionWidgetYAxis.md
  api_docs/v1/README.md
  api_docs/v1/WidgetMarker.md
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetXAxis.java
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetYAxis.java
  src/main/java/com/datadog/api/v1/client/model/WidgetMarker.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

[Java][Jersey2]: Fixing a package import (#9336)
  .generator/templates/libraries/jersey2/AbstractOpenApiSchema.mustache
Due: none

[Java][Spring] Fix for #8659 - Different in-parameter types generated for api and delegate for files (#9331)
  .generator/templates/libraries/resttemplate/api.mustache
  .generator/templates/libraries/resttemplate/api_test.mustache
Due: none

Regenerate client from commit e26c7dd of spec repo
  .apigentools-info
  api_docs/v1/UsageHostHour.md
  api_docs/v1/UsageIoTHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageHostHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageIoTHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

cassettes
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorGetSyntheticsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorGetSyntheticsTest.json
Due: none

Regenerate client from commit 47ddfc1 of spec repo
  .apigentools-info
  api/openapi.yaml
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit ff4efbb of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated, java-format

Regenerate client from commit ed1fc39 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: none

Support #9151: Default Java client to Java 8 (#9344)
  .generator/templates/libraries/okhttp-gson/build.gradle.mustache
Due: none

Regenerate client from commit d50fc5a of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsAssertionType.md
  api_docs/v1/SyntheticsTestDetailsSubType.md
  api_docs/v1/SyntheticsTestRequest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetailsSubType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 6b0114c of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/dashboard_payload.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
Due: generated

do not run integration-only tests
  run-tests.sh
Due: none

Regenerate client from commit 088737f of spec repo
  .apigentools-info
  api_docs/v2/MetricTagConfigurationMetricTypes.md
  api_docs/v2/MetricsApi.md
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationMetricTypes.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

check-examples
  check-examples.sh
Due: none

Regenerate client from commit 267134d of spec repo
  .apigentools-info
Due: none

Fixes #9151: Bump OkHTTP dependency to latest (#9353)
  .generator/templates/libraries/okhttp-gson/build.gradle.mustache
Due: none

Regenerate client from commit 75ca6ae of spec repo
  .apigentools-info
  api_docs/v1/GroupWidgetDefinition.md
  api_docs/v1/ImageWidgetDefinition.md
  api_docs/v1/NoteWidgetDefinition.md
  api_docs/v1/README.md
  api_docs/v1/Widget.md
  api_docs/v1/WidgetHorizontalAlign.md
  api_docs/v1/WidgetImageSizing.md
  api_docs/v1/WidgetLayout.md
  api_docs/v1/WidgetMargin.md
  api_docs/v1/WidgetVerticalAlign.md
  src/main/java/com/datadog/api/v1/client/model/GroupWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/ImageWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/NoteWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/Widget.java
  src/main/java/com/datadog/api/v1/client/model/WidgetHorizontalAlign.java
  src/main/java/com/datadog/api/v1/client/model/WidgetImageSizing.java
  src/main/java/com/datadog/api/v1/client/model/WidgetLayout.java
  src/main/java/com/datadog/api/v1/client/model/WidgetMargin.java
  src/main/java/com/datadog/api/v1/client/model/WidgetVerticalAlign.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 93dbed8 of spec repo
  .apigentools-info
  api_docs/v1/EventsApi.md
  src/main/java/com/datadog/api/v1/client/api/EventsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Add new body step from file
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Bump OkHTTP dependency to latest in build.sbt (#9361)
  .generator/templates/libraries/okhttp-gson/build.sbt.mustache
Due: none

Update src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

readallbytes
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit ac83bf0 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SLOListResponse.md
  api_docs/v1/SLOListResponseMetadata.md
  api_docs/v1/SLOListResponseMetadataPage.md
  src/main/java/com/datadog/api/v1/client/model/SLOListResponse.java
  src/main/java/com/datadog/api/v1/client/model/SLOListResponseMetadata.java
  src/main/java/com/datadog/api/v1/client/model/SLOListResponseMetadataPage.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 88ccf9e of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/aws_logs_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/azure_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/events.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/hosts.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/pagerduty_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/slack_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/tags.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
  src/test/resources/com/datadog/api/v2/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_services.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_teams.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_archives.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: none

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
Due: none

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/aws_logs_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/azure_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/events.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/hosts.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/pagerduty_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/slack_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/tags.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
  src/test/resources/com/datadog/api/v2/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_services.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_teams.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_archives.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: none
