Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit b939bbb4 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/organizations.feature
Due: none

Regenerate client from commit d9e90344 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/organizations.feature
Due: none

add integration only api sync tests
  src/test/java/com/datadog/api/client/v1/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
Due: java-format

Regenerate client from commit 4aa21954 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/LogsProcessor.java
  src/main/java/com/datadog/api/client/v1/model/ReferenceTableLogsLookupProcessor.java
Due: generate

pre-commit fixes
  src/test/java/com/datadog/api/client/v1/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
Due: java-format

fix cache keys
  .github/workflows/test.yml
Due: none

Regenerate client from commit 0099d2ec of spec repo
  .apigentools-info
Due: none

[Java] fix additional annotations for oneOf interfaces (#13958)
  .generator/templates/additionalOneOfTypeAnnotations.mustache
  .generator/templates/oneof_interface.mustache
Due: generate

Regenerate client from commit 9015efdd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageHostHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 4ca2c235 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs-metrics/CreateLogsMetric.java
  examples/v2/logs-metrics/UpdateLogsMetric_1901534424.java
  src/main/java/com/datadog/api/client/v2/model/LogsMetricCompute.java
  src/main/java/com/datadog/api/client/v2/model/LogsMetricResponseCompute.java
  src/main/java/com/datadog/api/client/v2/model/LogsMetricUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LogsMetricUpdateCompute.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_log_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_log_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/logs_metrics.feature
Due: generate

Regenerate client from commit 19da6428 of spec repo
  .apigentools-info
  examples/v2/usage-metering/GetHistoricalCostByOrg.java
  src/test/resources/cassettes/features/v2/Get_historical_cost_across_your_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_historical_cost_across_your_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: none

Regenerate client from commit b67ecba8 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: none

Regenerate client from commit dad9f2c8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuth.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthOauthClient.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthOauthClientType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthOauthROP.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthOauthROPType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthOauthTokenApiAuthentication.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_payload.json
Due: generate

[JAVA][APACHE] Fix apache http client query parameters (#14020)
  .generator/templates/libraries/apache-httpclient/api.mustache
Due: generate

update test, suppress warnings in java apache client (#14098)
  .generator/templates/libraries/apache-httpclient/ApiClient.mustache
Due: generate

bump jersey version to latest
  pom.xml
Due: none

Improve Java native, apache-httpclient with better spec (#14109)
  .generator/templates/libraries/apache-httpclient/pom.mustache
Due: generate

bump jersey version to latest (#1580)
  pom.xml
Due: none

[Java][native][apache-httpclient] update dependencies to newer versions (#14110)
  .generator/templates/libraries/apache-httpclient/build.gradle.mustache
  .generator/templates/libraries/apache-httpclient/pom.mustache
  .generator/templates/libraries/native/build.gradle.mustache
  .generator/templates/libraries/native/pom.mustache
Due: generate

Speedup format call
  .github/workflows/test.yml
  pom.xml
Due: none

Test
  .generator/schemas/v2/openapi.yaml
Due: generate

Setup java
  .github/workflows/test.yml
  pom.xml
Due: none

Tweak
  .generator/schemas/v2/openapi.yaml
  .github/workflows/test.yml
  src/main/java/com/datadog/api/client/v2/api/KeyManagementApi.java
Due: generate

Fix
  src/main/java/com/datadog/api/client/v2/api/KeyManagementApi.java
Due: none

fix build warning in java apache client (#14127)
  .generator/templates/libraries/apache-httpclient/ApiClient.mustache
Due: generate

Regenerate client from commit 4b671e2f of spec repo
  .apigentools-info
  examples/v2/ci-visibility-pipelines/AggregateCIAppPipelineEvents.java
  examples/v2/ci-visibility-pipelines/ListCIAppPipelineEvents.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Aggregate_pipelines_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_pipelines_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_metrics_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_pipelines_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_pipelines_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_configured_filter_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: none

update jackson databind to newer versions (#14136)
  .generator/templates/libraries/resttemplate/build.gradle.mustache
  .generator/templates/libraries/resttemplate/pom.mustache
Due: generate

Better tests for Java native client (#14132)
  .generator/templates/libraries/native/api.mustache
Due: generate

[BUG] [client] [java] [native] [csharp-netcore] Multi use of schema params within deepobjects (#13662)
  .generator/templates/libraries/native/api.mustache
Due: generate

Regenerate client from commit 31a858fa of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Aggregate_pipelines_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_pipelines_events_returns_OK_response.json
Due: none

Regenerate client from commit cb4d2fcb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageBillableSummaryKeys.java
Due: generate

Regenerate client from commit 0035b416 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Modify Java ApiException to have a more informative message. (#14154)
  .generator/templates/apiException.mustache
  .generator/templates/libraries/okhttp-gson/apiException.mustache
Due: generate

Regenerate client from commit 1cc231e1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationList.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationListAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationListType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationsResponse.java
  src/test/resources/cassettes/features/v2/Create_a_new_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
Due: generate

Improve cache management
  .github/workflows/test.yml
Due: none

Fix apache http client query parameters (#14193)
  .generator/templates/libraries/apache-httpclient/api.mustache
Due: generate

Fix query parameters encoding in Java apache-httpclient (#14195)
  .generator/templates/libraries/apache-httpclient/ApiClient.mustache
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
