Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit b587fbb9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/EventCreateRequest.java
Due: generate

add suport for delay
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 51e652e9 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: none

Regenerate client from commit 145b72d1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/Event.java
Due: generate

Regenerate client from commit 7cce8766 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/audit.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/processes.feature
  src/test/resources/com/datadog/api/v2/client/api/rum.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: none

cleanup python generator
  .generator/config/v1.json
  .generator/config/v2.json
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
Due: generate

Regenerate client from commit 8df9ca3b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetUsageObservabilityPipelines.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/model/HourlyUsageType.java
  src/main/java/com/datadog/api/v2/client/model/UsageAttributesObject.java
  src/main/java/com/datadog/api/v2/client/model/UsageDataObject.java
  src/main/java/com/datadog/api/v2/client/model/UsageObservabilityPipelinesResponse.java
  src/main/java/com/datadog/api/v2/client/model/UsageTimeSeriesObject.java
  src/main/java/com/datadog/api/v2/client/model/UsageTimeSeriesType.java
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Observability_Pipelines_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Observability_Pipelines_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Observability_Pipelines_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Observability_Pipelines_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

cleanup python generator (#1299)
  .generator/config/v1.json
  .generator/config/v2.json
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
Due: generate

Ignore scenarios with with-pagination tag
  src/test/java/com/datadog/api/ScenariosTest.java
Due: java-format

Regenerate client from commit 0d1b8737 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/audit.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/processes.feature
  src/test/resources/com/datadog/api/v2/client/api/rum.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: none

Regenerate client from commit 4de29357 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
Due: generate

Regenerate client from commit b3117dc3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2618036642.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamSource.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_trace_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_trace_stream_widget.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generate

Support additionalProperties
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Regenerate client from commit 7f08212f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetCostByOrg.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/model/ChargebackBreakdown.java
  src/main/java/com/datadog/api/v2/client/model/CostByOrg.java
  src/main/java/com/datadog/api/v2/client/model/CostByOrgAttributes.java
  src/main/java/com/datadog/api/v2/client/model/CostByOrgResponse.java
  src/main/java/com/datadog/api/v2/client/model/CostByOrgType.java
  src/test/resources/cassettes/features/v2/Get_Cost_Across_Multi_Org_Account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Cost_Across_Multi_Org_Account_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Version bump 1.6.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

fix tests
  src/test/java/com/datadog/api/v2/client/api/LogsArchivesApiTest.java
Due: java-format

Regenerate client from commit 31bcc455 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit b0dd9845 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetUsageApplicationSecurityMonitoring.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/model/HourlyUsageType.java
  src/main/java/com/datadog/api/v2/client/model/UsageApplicationSecurityMonitoringResponse.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Application_Security_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Application_Security_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Application_Security_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Application_Security_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Generate examples in repository
  .generator/conftest.py
  .generator/poetry.lock
  .generator/pyproject.toml
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/example.j2
  .generator/tests/test_scenarios.py
  .pre-commit-config.yaml
  Makefile
  examples/v1/synthetics/CreateSyntheticsAPITest.java
Due: generate

Handle invalid response type
  .generator/src/generator/formatter.py
  examples/v1/aws-integration/ListAvailableAWSNamespaces.java
Due: generate

Remove list import
  .generator/src/generator/formatter.py
Due: generate

Handle map body
  .generator/src/generator/formatter.py
  examples/v1/service-level-objectives/DeleteSLOTimeframeInBulk.java
Due: generate

Handle file parameters
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/example.j2
  examples/v1/organizations/UploadIdPForOrg.java
  examples/v2/organizations/UploadIdPMetadata.java
Due: generate

Regenerate client from commit 2e87eb36 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/model/HourlyUsageType.java
  src/main/java/com/datadog/api/v2/client/model/UsageApplicationSecurityMonitoringResponse.java
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Regenerate client from commit edd5d6d6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/LogsArchiveAttributes.java
  src/main/java/com/datadog/api/v2/client/model/LogsArchiveCreateRequestAttributes.java
  src/test/resources/com/datadog/api/v2/client/api/logs_archives.feature
Due: generate

Handle basic response type
  .generator/src/generator/formatter.py
  examples/v1/aws-integration/ListAvailableAWSNamespaces.java
Due: generate

Do it for non array too
  .generator/src/generator/formatter.py
  examples/v1/synthetics/UpdateTestPauseStatus.java
Due: generate

pre-commit fixes
  examples/v2/logs-archives/CreateLogsArchive.java
  examples/v2/logs-archives/UpdateLogsArchive.java
  examples/v2/usage-metering/GetUsageApplicationSecurityMonitoring.java
Due: none

Regenerate client from commit e81df6f3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 2c917de9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/downtimes/CreateDowntime_2908359488.java
  examples/v1/downtimes/CreateDowntime_3059354445.java
  examples/v1/downtimes/UpdateDowntime.java
  src/main/java/com/datadog/api/v1/client/model/Downtime.java
  src/main/java/com/datadog/api/v1/client/model/DowntimeChild.java
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_once_a_year.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_once_a_year.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_until_date.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_until_date.json
  src/test/resources/cassettes/features/v1/Update_a_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_downtime_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/downtime_recurrence_payload_once_a_year.json
  src/test/resources/com/datadog/api/v1/client/api/downtime_recurrence_payload_until_date.json
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
Due: generate

Regenerate client from commit 058bd9cb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCreateRequestAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionUpdateRequestAttributes.java
Due: generate

Regenerate client from commit 793b16ab of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit ef28653b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/Event.java
Due: generate

Regenerate client from commit a3819bf3 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/notebooks.feature
  src/test/resources/com/datadog/api/v1/client/api/webhooks_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/authn_mappings.feature
  src/test/resources/com/datadog/api/v2/client/api/cloud_workload_security.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_services.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_teams.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v2/client/api/service_accounts.feature
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
