Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit e90b1fa of spec repo
  src/test/resources/com/datadog/api/client/v2/api/rum_audience_management.feature
Due: none

Regenerate client from commit d1d128a of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptionsNotificationPresets.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptionsNotificationPresetName.java
Due: generate

Regenerate client from commit 0ae64e3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetBudget.java
  examples/v2/cloud-cost-management/UpsertBudget.java
  examples/v2/cloud-cost-management/ValidateBudget.java
  examples/v2/cloud-cost-management/ValidateCsvBudget.java
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationRequest.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationRequestData.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponse.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponseData.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponseDataType.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataAttributesEntriesItems.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataAttributesEntriesItemsTagFiltersItems.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataType.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 2c69f89 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SensitiveDataScannerApi.java
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_with_should_save_match_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_with_should_save_match_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit 94d8b20 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetBudget.java
  examples/v2/cloud-cost-management/UpsertBudget.java
  examples/v2/cloud-cost-management/ValidateBudget.java
  examples/v2/cloud-cost-management/ValidateCsvBudget.java
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationRequest.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationRequestData.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponse.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponseData.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BudgetValidationResponseDataType.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataAttributesEntriesItems.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataAttributesEntriesItemsTagFiltersItems.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesDataType.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 8b43fc8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/UpdateFlakyTests.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/TestOptimizationApi.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsRequest.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsRequestData.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsRequestDataType.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsRequestTest.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsRequestTestNewState.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsResponse.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsResponseData.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsResponseDataType.java
  src/main/java/com/datadog/api/client/v2/model/UpdateFlakyTestsResponseResult.java
  src/test/resources/com/datadog/api/client/v2/api/test_optimization.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 319e516 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSBOM.java
  examples/v2/security-monitoring/ListAssetsSBOMs.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_Not_found_asset_not_found_response.freeze
  src/test/resources/cassettes/features/v2/List_assets_SBOMs_returns_Not_found_There_is_no_request_associated_with_the_provided_token_response.freeze
  src/test/resources/cassettes/features/v2/List_assets_SBOMs_returns_OK_response.freeze
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit ab01d4d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateJiraIssues_379590688.java
  examples/v2/security-monitoring/CreateJiraIssues_829823123.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/CreateJiraIssueRequestDataAttributes.java
  src/test/resources/cassettes/features/v2/Create_Jira_issue_for_security_finding_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_Jira_issue_for_security_finding_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_Jira_issue_for_security_findings_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_Jira_issue_for_security_findings_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_Jira_issues_for_security_findings_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_Jira_issues_for_security_findings_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Jira_issues_for_security_findings_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_Jira_issues_for_security_findings_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_Jira_issues_for_security_findings_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Create_Jira_issues_for_security_findings_returns_Not_Found_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 8f889fc of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 83ca8fa of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1259346254.java
  examples/v1/dashboards/CreateDashboard_3631423980.java
  examples/v1/dashboards/CreateDashboard_416487533.java
  src/main/java/com/datadog/api/client/v1/model/WidgetRequestStyle.java
  src/main/java/com/datadog/api/client/v1/model/WidgetStyleOrderBy.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_timeseries_widget_using_order_by_tags.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_timeseries_widget_using_order_by_tags.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_timeseries_widget_using_order_by_values.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_timeseries_widget_using_order_by_values.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_timeseries_widget_without_order_by_for_backward_compatibility.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_timeseries_widget_without_order_by_for_backward_compatibility.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit b317bd8 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CaseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CaseCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CaseStatusGroup.java
  src/main/java/com/datadog/api/client/v2/model/CaseUpdateStatusAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IssueCaseAttributes.java
Due: generate

Regenerate client from commit 42acf0f of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/OnCallTrigger.java
  src/main/java/com/datadog/api/client/v2/model/OnCallTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/Trigger.java
Due: generate

Regenerate client from commit 1bce4c0 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsGlobalVariableAttributes.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsPrivateLocationMetadata.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptions.java
  src/main/java/com/datadog/api/client/v2/model/SyntheticsGlobalVariableAttributes.java
Due: generate

Regenerate client from commit 7d8c547 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineHttpClientSourceAuthStrategy.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineOpenSearchDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineOpenSearchDestinationDataStream.java
Due: generate

Add path parameter support for undo operations (#3409)
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 667ed97 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateGlobalIncidentHandle.java
  examples/v2/incidents/DeleteGlobalIncidentHandle.java
  examples/v2/incidents/GetGlobalIncidentSettings.java
  examples/v2/incidents/ListGlobalIncidentHandles.java
  examples/v2/incidents/UpdateGlobalIncidentHandle.java
  examples/v2/incidents/UpdateGlobalIncidentSettings.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsAttributesRequest.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsAttributesResponse.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsDataRequest.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsDataResponse.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsRequest.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsResponse.java
  src/main/java/com/datadog/api/client/v2/model/GlobalIncidentSettingsType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleAttributesFields.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleAttributesRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleAttributesResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleDataRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleDataResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleIncludedItemResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleRelationship.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleRelationshipData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleRelationships.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleRelationshipsRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandleType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentHandlesResponse.java
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate, java-format

Regenerate client from commit 9ee3c80 of spec repo
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit d1403f5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-level-objectives/GetSloStatus.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/client/v2/model/RawErrorBudgetRemaining.java
  src/main/java/com/datadog/api/client/v2/model/SloStatusData.java
  src/main/java/com/datadog/api/client/v2/model/SloStatusDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SloStatusResponse.java
  src/main/java/com/datadog/api/client/v2/model/SloStatusType.java
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate, java-format

Regenerate client from commit 0fee65c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetBudget.java
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit e1f3e97 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeployment.java
  src/main/java/com/datadog/api/client/v2/api/DoraMetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRemediation.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRemediationType.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestData.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestDataType.java
  src/test/resources/com/datadog/api/client/v2/api/dora_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Revert "Update api spec with additional monitor notification presets (#3420)"
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptionsNotificationPresets.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptionsNotificationPresetName.java
Due: generate

Revert "Update api spec with additional monitor notification presets (#3420)" (#3429)
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptionsNotificationPresets.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptionsNotificationPresetName.java
Due: generate

Regenerate client from commit c41acce of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptionsNotificationPresets.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptionsNotificationPresetName.java
Due: generate

Regenerate client from commit 15dbc5e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentConfigRule.java
  examples/v2/incidents/DeleteIncidentConfigRule.java
  examples/v2/incidents/GetIncidentConfigRule.java
  examples/v2/incidents/ListIncidentConfigRules.java
  examples/v2/incidents/UpdateIncidentConfigRule.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleAttributesRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleAttributesResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleDataRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleDataResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRuleType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRulesResponse.java
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 8462b0a of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit d98173c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/ListCaseWatchers.java
  examples/v2/case-management/UnwatchCase.java
  examples/v2/case-management/WatchCase.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/Watcher.java
  src/main/java/com/datadog/api/client/v2/model/WatcherRelationships.java
  src/main/java/com/datadog/api/client/v2/model/WatcherResourceType.java
  src/main/java/com/datadog/api/client/v2/model/WatcherUserRelationship.java
  src/main/java/com/datadog/api/client/v2/model/WatchersResponse.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 56f2c5a of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit e143fcd of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfig.java
Due: generate

Regenerate client from commit 2cef817 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-authentication/ListAWSCloudAuthPersonaMappings.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CloudAuthenticationApi.java
  src/main/java/com/datadog/api/client/v2/model/AWSCloudAuthPersonaMappingAttributesResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSCloudAuthPersonaMappingDataResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSCloudAuthPersonaMappingType.java
  src/main/java/com/datadog/api/client/v2/model/AWSCloudAuthPersonaMappingsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_authentication.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit c96d162 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/FavoriteProject.java
  examples/v2/case-management/ListUserProjectFavorites.java
  examples/v2/case-management/UnfavoriteProject.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/ProjectFavorite.java
  src/main/java/com/datadog/api/client/v2/model/ProjectFavoriteRelationships.java
  src/main/java/com/datadog/api/client/v2/model/ProjectFavoriteResourceType.java
  src/main/java/com/datadog/api/client/v2/model/ProjectFavoriteUserRelationship.java
  src/main/java/com/datadog/api/client/v2/model/ProjectFavoritesResponse.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 832a46d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/CreateCaseJiraIssue.java
  examples/v2/case-management/CreateCaseNotebook.java
  examples/v2/case-management/CreateCaseServiceNowTicket.java
  examples/v2/case-management/LinkIncident.java
  examples/v2/case-management/LinkJiraIssueToCase.java
  examples/v2/case-management/MoveCaseToProject.java
  examples/v2/case-management/UnlinkJiraIssue.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRelationshipData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResourceType.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueResourceType.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateData.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/NotebookResourceType.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToIncidentRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateData.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketResourceType.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit a3c2cdc of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CreateComponentRequestData.java
  src/main/java/com/datadog/api/client/v2/model/CreateDegradationRequestData.java
  src/main/java/com/datadog/api/client/v2/model/CreateStatusPageRequestData.java
  src/main/java/com/datadog/api/client/v2/model/PatchComponentRequestData.java
  src/main/java/com/datadog/api/client/v2/model/PatchDegradationRequestData.java
  src/main/java/com/datadog/api/client/v2/model/PatchStatusPageRequestData.java
Due: generate

Regenerate client from commit 2752ed9 of spec repo
  src/test/resources/cassettes/features/v2/Create_a_team_link_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_team_link_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_team_link_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_team_link_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Remove_a_team_link_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Remove_a_team_link_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Update_a_team_link_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_team_link_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: none

Regenerate client from commit 866f882 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/CreateCaseJiraIssue.java
  examples/v2/case-management/CreateCaseNotebook.java
  examples/v2/case-management/CreateCaseServiceNowTicket.java
  examples/v2/case-management/LinkIncident.java
  examples/v2/case-management/LinkJiraIssueToCase.java
  examples/v2/case-management/MoveCaseToProject.java
  examples/v2/case-management/UnlinkJiraIssue.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRelationshipData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResourceType.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueResourceType.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateData.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/NotebookResourceType.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToIncidentRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateData.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketResourceType.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 4862f88 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeployment.java
  src/main/java/com/datadog/api/client/v2/api/DoraMetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRemediation.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRemediationType.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestData.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestDataType.java
  src/test/resources/cassettes/features/v2/Patch_a_deployment_event_returns_Accepted_response.freeze
  src/test/resources/cassettes/features/v2/Patch_a_deployment_event_returns_Accepted_response.json
  src/test/resources/cassettes/features/v2/Patch_a_deployment_event_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Patch_a_deployment_event_returns_Bad_Request_response.json
  src/test/resources/com/datadog/api/client/v2/api/dora_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate
