Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

user assertThat to ignore additionalProperties
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
  src/test/java/com/datadog/api/client/v1/api/EventsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/LogsPipelinesLifecycleTest.java
  src/test/resources/cassettes/v1/EventsApiTest.eventLifecycleTest.json
Due: java-format

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEventJob.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEventPipeline.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEventStage.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEventStep.java
  src/main/java/com/datadog/api/client/v2/model/CIAppUserInfo.java
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
  src/test/java/com/datadog/api/client/v1/api/EventsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/LogsPipelinesLifecycleTest.java
Due: java-format

Fix pagination setter generation
  .generator/src/generator/templates/Api.j2
Due: generate

Fix pagination setter generation (#1861)
  .generator/src/generator/templates/Api.j2
Due: generate

Regenerate client from commit 6831ab50 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
Due: generate

Version bump 2.13.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Update release docs to mention the gpg key
  RELEASING.md
Due: none

simplify wording
  RELEASING.md
Due: none

add suggestions
  RELEASING.md
Due: none

Update release docs (#1865)
  RELEASING.md
Due: none

Regenerate client from commit 042157e1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/EventsGroupBySort.java
  src/main/java/com/datadog/api/client/v2/model/MetricsAggregator.java
  src/main/java/com/datadog/api/client/v2/model/MetricsScalarQuery.java
Due: generate

Regenerate client from commit e0f0af3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3513586382.java
  src/main/java/com/datadog/api/client/v1/model/ChangeWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionResponseFormat.java
  src/main/java/com/datadog/api/client/v1/model/GeomapWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/QueryValueWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/ScatterplotTableRequest.java
  src/main/java/com/datadog/api/client/v1/model/SunburstWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/TimeseriesWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapWidgetRequest.java
  src/test/resources/cassettes/features/v1/Create_a_geomap_widget_using_an_event_list_request.freeze
  src/test/resources/cassettes/features/v1/Create_a_geomap_widget_using_an_event_list_request.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 1ee3bab6 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Get_a_shared_dashboard_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_shared_dashboard_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: none

Regenerate client from commit f2f4188d of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: none

Regenerate client from commit 832b2752 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/spans.feature
Due: none

Regenerate client from commit 29891cab of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SpansApi.java
Due: generate

Regenerate client from commit 9f8be06b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SpansApi.java
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/DowntimeIncludedMonitorType.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeNotifyEndStateActions.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeNotifyEndStateTypes.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeResourceType.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeStatus.java
  src/main/java/com/datadog/api/client/v2/model/MonitorDowntimeMatchResourceType.java
  src/main/java/com/datadog/api/client/v2/model/SpansAggregateRequestType.java
  src/main/java/com/datadog/api/client/v2/model/SpansAggregateResponseStatus.java
  src/main/java/com/datadog/api/client/v2/model/SpansAggregateSortType.java
  src/main/java/com/datadog/api/client/v2/model/SpansAggregationFunction.java
  src/main/java/com/datadog/api/client/v2/model/SpansComputeType.java
  src/main/java/com/datadog/api/client/v2/model/SpansListRequestType.java
  src/main/java/com/datadog/api/client/v2/model/SpansSort.java
  src/main/java/com/datadog/api/client/v2/model/SpansSortOrder.java
  src/main/java/com/datadog/api/client/v2/model/SpansType.java
Due: none

Regenerate client from commit dcb95a4a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEventPipeline.java
Due: generate

Regenerate client from commit aee1c6e4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3562282606.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOQueryDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 45b9e51d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs/ListLogsGet_2034110533.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_quick_list_of_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_quick_list_of_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
Due: generate

Regenerate client from commit 6f781b6c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/confluent-cloud/CreateConfluentAccount.java
  examples/v2/confluent-cloud/CreateConfluentResource.java
  examples/v2/confluent-cloud/UpdateConfluentResource.java
  src/main/java/com/datadog/api/client/v2/model/ConfluentAccountResourceAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ConfluentResourceRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ConfluentResourceResponseAttributes.java
  src/test/resources/cassettes/features/v2/Add_resource_to_Confluent_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_resource_to_Confluent_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_Confluent_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Confluent_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/confluent_cloud.feature
Due: generate

Regenerate client from commit 64593ced of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ConfluentResourceResponseAttributes.java
Due: generate

Regenerate client from commit 19d6892e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleOneTimeCreateUpdateRequest.java
Due: generate

Regenerate client from commit 96fb94b8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DowntimeResponseAttributes.java
Due: generate

Regenerate client from commit 9e0b471a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyBinding.java
  src/test/resources/com/datadog/api/client/v2/api/restriction_policies.feature
Due: generate

fix tests
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.json
Due: java-format

fix example generator
  .generator/src/generator/formatter.py
Due: generate

add triggers
  .github/workflows/test_integration.yml
Due: none

add triggers (#1884)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 7ca677d6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/organizations/UpdateOrg.java
  examples/v1/users/CreateUser_266604071.java
  examples/v1/users/UpdateUser.java
  src/main/java/com/datadog/api/client/v1/model/OrganizationSettings.java
  src/main/java/com/datadog/api/client/v1/model/User.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.freeze
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.freeze
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/com/datadog/api/client/v1/api/organizations.feature
  src/test/resources/com/datadog/api/client/v1/api/users.feature
Due: generate

Regenerate client from commit 824086bb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1284514532.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionCloudCostDataSource.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionCloudCostQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionQueryDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_timeseries_widget_using_formulas_and_functions_cloud_cost_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_timeseries_widget_using_formulas_and_functions_cloud_cost_query.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 8a9fe7f3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DowntimeCreateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeUpdateRequestAttributes.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
