Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit ca46cbd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_914562040.java
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleQueryCreate.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleQueryCreate.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 4a552860 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: none

Regenerate client from commit 5c013ee5 of spec repo
  .apigentools-info
  examples/v1/synthetics/CreateGlobalVariable_1068962881.java
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_global_variable_payload.json
Due: none

Regenerate client from commit 26eb8e8a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SLOCreator.java
  src/main/java/com/datadog/api/client/v1/model/SearchSLOResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v1/model/SearchSLOResponseLinks.java
  src/main/java/com/datadog/api/client/v1/model/SearchServiceLevelObjective.java
  src/main/java/com/datadog/api/client/v1/model/SearchServiceLevelObjectiveAttributes.java
  src/main/java/com/datadog/api/client/v1/model/SearchServiceLevelObjectiveData.java
  src/test/resources/cassettes/features/v1/Search_for_SLOs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_for_SLOs_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariable.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariablePresetValue.java
Due: none

Regenerate client from commit e57e3c55 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/ListIncidentAttachments.java
  examples/v2/incidents/ListIncidentAttachments_2457735435.java
  examples/v2/incidents/UpdateIncidentAttachments.java
  examples/v2/incidents/UpdateIncidentAttachments_3881702075.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentAttachmentType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentLinkAttachmentType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentLinkAttributesAttachmentObject.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentPostmortemAttachmentType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentPostmortemAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentRelatedObject.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentRelationships.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentUpdateResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentsPostmortemAttributesAttachmentObject.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentsResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentAttachmentsResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResponseRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToIncidentAttachment.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToIncidentAttachmentData.java
  src/test/resources/cassettes/features/v2/Create_an_incident_attachment_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_incident_attachment_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_incident_attachments_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_incident_attachments_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit e6eb3136 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: none

pre-commit fixes
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
Due: java-format

Version bump 2.3.0
  pom.xml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 1358b465 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/ValidateMonitor_4247196452.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/test/resources/cassettes/features/v1/Validate_a_multi_alert_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_a_multi_alert_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
  src/test/resources/com/datadog/api/client/v1/api/multi_alert_monitor_payload.json
Due: generate

remove debug code
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
Due: java-format

remove debug code (#1520)
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
Due: java-format

Regenerate client from commit e3288dc2 of spec repo
  .apigentools-info
  examples/v2/rum/UpdateRUMApplication.java
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
Due: none

Regenerate client from commit 032eb1c8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Regenerate client from commit abff3edb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionEventsDataSource.java
Due: generate

remove property deprecation warning
  .generator/src/generator/templates/modelSimple.j2
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariable.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariablePresetValue.java
  src/main/java/com/datadog/api/client/v1/model/DistributionWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/LogStreamWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/MonitorSummaryWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/Organization.java
  src/main/java/com/datadog/api/client/v1/model/OrganizationCreateBody.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapWidgetDefinition.java
Due: none

Regenerate client from commit a0867244 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetUsageSummary.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: generate

Regenerate client from commit c520a0fb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/HTTPLogItem.java
Due: generate

Regenerate client from commit a09fec54 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleResponseQuery.java
Due: generate

Regenerate client from commit 1010045c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentUpdateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: generate

Regenerate client from commit 9a1ad838 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/MonitorType.java
Due: generate

Regenerate client from commit d4e4f476 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionEventsDataSource.java
Due: generate

Regenerate client from commit e5a0f5b3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBrowserTest.java
Due: generate

Handle edge case
  .generator/src/generator/formatter.py
Due: generate

Add javadoc deprecation annotation for deprecated getter/setter methods (#1466)
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariable.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariablePresetValue.java
  src/main/java/com/datadog/api/client/v1/model/DistributionWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/LogStreamWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/MonitorSummaryWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/Organization.java
  src/main/java/com/datadog/api/client/v1/model/OrganizationCreateBody.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapWidgetDefinition.java
Due: generate

Regenerate client from commit 1bcaf2a0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageCIVisibilityHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageOnlineArchiveHour.java
  src/main/java/com/datadog/api/client/v2/model/Event.java
  src/main/java/com/datadog/api/client/v2/model/EventAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MonitorType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationAttributes.java
Due: generate

Regenerate client from commit 7eb6ca7a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
Due: generate

Fix dashboard list test
  src/test/java/com/datadog/api/client/v2/api/DashboardListsApiTest.java
  src/test/resources/cassettes/v2/DashboardListsApiTest.dashboardListItemCRUDTest.freeze
  src/test/resources/cassettes/v2/DashboardListsApiTest.dashboardListItemCRUDTest.json
Due: java-format

Bump jackson databind
  pom.xml
Due: none

Fix dashboard list test (#1532)
  src/test/java/com/datadog/api/client/v2/api/DashboardListsApiTest.java
  src/test/resources/cassettes/v2/DashboardListsApiTest.dashboardListItemCRUDTest.freeze
  src/test/resources/cassettes/v2/DashboardListsApiTest.dashboardListItemCRUDTest.json
Due: java-format

Bump jackson databind (#1533)
  pom.xml
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
