Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]
  - id: generate
    name: Generate
    language: node
    entry: make
    files: "^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)"
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown
    "types": [text]
    files: '^api_docs/'
    args: []
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.2.1
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']

Regenerate client from commit f7a8bd6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorFormulaAndFunctionEventAggregation.md
  api_docs/v1/MonitorFormulaAndFunctionEventQueryDefinition.md
  api_docs/v1/MonitorFormulaAndFunctionEventQueryDefinitionCompute.md
  api_docs/v1/MonitorFormulaAndFunctionEventQueryDefinitionSearch.md
  api_docs/v1/MonitorFormulaAndFunctionEventQueryGroupBy.md
  api_docs/v1/MonitorFormulaAndFunctionEventQueryGroupBySort.md
  api_docs/v1/MonitorFormulaAndFunctionEventsDataSource.md
  api_docs/v1/MonitorFormulaAndFunctionQueryDefinition.md
  api_docs/v1/MonitorOptions.md
  api_docs/v1/README.md
  examples/v1/monitors/CreateMonitor_3883669300.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventAggregation.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventQueryDefinitionCompute.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventQueryDefinitionSearch.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventQueryGroupBy.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventQueryGroupBySort.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventsDataSource.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/test/resources/cassettes/features/v1/Create_a_RUM_formula_and_functions_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_RUM_formula_and_functions_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated, generate

Add README
  README.md
Due: none

Add test
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/resources/cassettes/v1/DashboardsApiTest.getAllDashboardAsyncTest.freeze
  src/test/resources/cassettes/v1/DashboardsApiTest.getAllDashboardAsyncTest.json
Due: java-format

Regenerate
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
  src/main/java/com/datadog/api/v1/client/api/HostsApi.java
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Due: generated, java-format

Regenerate client from commit 2651654 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/List_IP_Ranges_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/List_IP_Ranges_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
Due: none

Regenerate client from commit 0aeef32 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
Due: generated, generate

Regenerate client from commit f8964dd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsStep.md
  examples/v1/synthetics/CreateSyntheticsBrowserTest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsStep.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_API_test_result_returns_result_with_failure_object.freeze
  src/test/resources/cassettes/features/v1/Get_an_API_test_result_returns_result_with_failure_object.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_browser_test_payload.json
Due: generated, generate

Regenerate client from commit e72d1cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/FunnelQuery.md
  api_docs/v1/FunnelStep.md
  api_docs/v1/README.md
  examples/v1/dashboards/CreateDashboard_927141680.java
  src/main/java/com/datadog/api/v1/client/model/FunnelQuery.java
  src/main/java/com/datadog/api/v1/client/model/FunnelStep.java
Due: generated, generate

Regenerate client from commit 5d7c376 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/webhooks_integration.feature
Due: none

Regenerate client from commit cdd703e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/MetricBulkConfigureTagsType.md
  api_docs/v2/MetricBulkTagConfigCreate.md
  api_docs/v2/MetricBulkTagConfigCreateAttributes.md
  api_docs/v2/MetricBulkTagConfigCreateRequest.md
  api_docs/v2/MetricBulkTagConfigDelete.md
  api_docs/v2/MetricBulkTagConfigDeleteAttributes.md
  api_docs/v2/MetricBulkTagConfigDeleteRequest.md
  api_docs/v2/MetricBulkTagConfigResponse.md
  api_docs/v2/MetricBulkTagConfigStatus.md
  api_docs/v2/MetricBulkTagConfigStatusAttributes.md
  api_docs/v2/MetricsApi.md
  api_docs/v2/README.md
  examples/v2/metrics/CreateBulkTagsMetricsConfiguration.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkConfigureTagsType.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigCreate.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigCreateRequest.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigDelete.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigDeleteAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigDeleteRequest.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigResponse.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigStatus.java
  src/main/java/com/datadog/api/v2/client/model/MetricBulkTagConfigStatusAttributes.java
  src/test/resources/cassettes/features/v2/Configure_tags_for_multiple_metrics_returns_Accepted_response.freeze
  src/test/resources/cassettes/features/v2/Configure_tags_for_multiple_metrics_returns_Accepted_response.json
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generated, generate

Remove unused models
  Makefile
  api_docs/v1/SyntheticsErrorCode.md
  api_docs/v2/SecurityMonitoringRuntimeAgentRule.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsErrorCode.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuntimeAgentRule.java
  src/main/resources/com/datadog/api/project.properties
Due: generated, generate

Regenerate client from commit 0047b09 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsBrowserTestResultShortResult.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestResultShortResult.java
Due: generated, generate

Keep properties file
  Makefile
  src/main/resources/com/datadog/api/project.properties
Due: generated, generate

Remove unused models (#1189)
  Makefile
  api_docs/v1/SyntheticsErrorCode.md
  api_docs/v2/SecurityMonitoringRuntimeAgentRule.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsErrorCode.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuntimeAgentRule.java
  src/main/resources/com/datadog/api/project.properties
Due: generated, generate

Regenerate client from commit b8f0eb7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/IncidentResponseMeta.md
  api_docs/v2/IncidentResponseMetaPagination.md
  api_docs/v2/IncidentServicesResponse.md
  api_docs/v2/IncidentServicesResponseMeta.md
  api_docs/v2/IncidentTeamsResponse.md
  api_docs/v2/IncidentsResponse.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseMeta.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseMetaPagination.java
  src/main/java/com/datadog/api/v2/client/model/IncidentServicesResponse.java
  src/main/java/com/datadog/api/v2/client/model/IncidentTeamsResponse.java
  src/main/java/com/datadog/api/v2/client/model/IncidentsResponse.java
Due: generated, generate

Regenerate client from commit 6ac3121 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/HourlyUsageAttributionUsageType.md
  api_docs/v1/MonthlyUsageAttributionSupportedMetrics.md
  api_docs/v1/MonthlyUsageAttributionValues.md
  api_docs/v1/UsageAttributionSort.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSort.java
Due: generated, generate

Regenerate client from commit 166e19c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/MetricsApi.md
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
Due: generated, generate

Regenerate client from commit 3cbdb80 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit ea9b9c8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/HTTPLogItem.md
  api_docs/v1/LogsApi.md
  api_docs/v2/AuthNMappingsApi.md
  api_docs/v2/ServiceAccountsApi.md
  api_docs/v2/UsersApi.md
  src/main/java/com/datadog/api/v1/client/api/LogsApi.java
  src/main/java/com/datadog/api/v1/client/model/ChangeWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/FunnelWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/GeomapWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/HTTPLogItem.java
  src/main/java/com/datadog/api/v1/client/model/ListStreamWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/NotebookMetadata.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryResponseData.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionTarget.java
  src/main/java/com/datadog/api/v2/client/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseData.java
  src/main/java/com/datadog/api/v2/client/model/IncidentTeamResponseData.java
  src/main/java/com/datadog/api/v2/client/model/IncidentTeamUpdateData.java
  src/main/java/com/datadog/api/v2/client/model/IncidentTeamsResponse.java
  src/main/java/com/datadog/api/v2/client/model/IncidentUpdateData.java
  src/main/java/com/datadog/api/v2/client/model/IncidentsResponse.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationAttributes.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToIncidentIntegrationMetadataData.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToIncidentIntegrationMetadatas.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToIncidentPostmortemData.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToOrganizationData.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToUserData.java
  src/main/java/com/datadog/api/v2/client/model/RoleUpdateData.java
  src/main/java/com/datadog/api/v2/client/model/UserUpdateData.java
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v2/client/api/incident_teams.feature
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: generated, generate

Regenerate client from commit 39aad71 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageHostHour.md
  api_docs/v1/UsageLambdaHour.md
  api_docs/v1/UsageLogsByIndexHour.md
  api_docs/v1/UsageLogsByRetentionHour.md
  api_docs/v1/UsageLogsHour.md
  api_docs/v1/UsageNetworkFlowsHour.md
  api_docs/v1/UsageNetworkHostsHour.md
  api_docs/v1/UsageSyntheticsAPIHour.md
  api_docs/v1/UsageSyntheticsBrowserHour.md
  api_docs/v1/UsageSyntheticsHour.md
  api_docs/v1/UsageTimeseriesHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageHostHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageLambdaHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageLogsByIndexHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageLogsByRetentionHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageLogsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageNetworkFlowsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageNetworkHostsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSyntheticsAPIHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSyntheticsBrowserHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSyntheticsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageTimeseriesHour.java
Due: generated, generate

Regenerate client from commit 3d3ffe1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Add support for null check
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 79cdf99 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/IncidentCreateRelationships.md
  api_docs/v2/IncidentResponseRelationships.md
  api_docs/v2/IncidentUpdateRelationships.md
  api_docs/v2/IncidentsApi.md
  api_docs/v2/NullableRelationshipToUser.md
  api_docs/v2/NullableRelationshipToUserData.md
  api_docs/v2/README.md
  examples/v2/incidents/CreateIncident.java
  examples/v2/incidents/DeleteIncident.java
  examples/v2/incidents/GetIncident.java
  examples/v2/incidents/ListIncidents.java
  examples/v2/incidents/UpdateIncident_1009194038.java
  examples/v2/incidents/UpdateIncident_3369341440.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseRelationships.java
  src/main/java/com/datadog/api/v2/client/model/IncidentUpdateRelationships.java
  src/main/java/com/datadog/api/v2/client/model/NullableRelationshipToUser.java
  src/main/java/com/datadog/api/v2/client/model/NullableRelationshipToUserData.java
  src/test/resources/cassettes/features/v2/Add_commander_to_an_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_commander_to_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_an_incident_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_incident_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_an_existing_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_existing_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_incidents_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_incidents_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_the_details_of_an_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_the_details_of_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Remove_commander_from_an_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Remove_commander_from_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
Due: generated, generate

Automatize release process
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Due: none

Update RELEASING.md
  RELEASING.md
Due: none

Automatize release process (#1195)
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Due: none

Do not use v prefix in prepare release workflow
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Due: none

Do not use v prefix in prepare release workflow (#1198)
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Due: none

Fix input name
  .github/workflows/prepare_release.yml
Due: none

Version bump 1.5.0
  pom.xml
Due: none
