Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 40749a6c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleOneTimeResponse.java
Due: generate

Regenerate client from commit 91969c8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FormulaLimit.java
  src/main/java/com/datadog/api/client/v2/model/QueryFormula.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Remove another one
  .generator/src/generator/formatter.py
Due: generate

Refactor
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit 835cb6df of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 3d6b3d5a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/OnDemandConcurrencyCap.java
  src/main/java/com/datadog/api/client/v2/model/OnDemandConcurrencyCapType.java
Due: generate

Regenerate client from commit 69e8c6e4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSecurityMonitoringSignal.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/CloudConfigurationRuleComplianceSignalOptions.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalMetadataType.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleResponseQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringTriageUser.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Remove invalid warning in example generator (#1914)
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit 6f54a513 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CIAppEventAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEvent.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineEventAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelineLevel.java
  src/main/java/com/datadog/api/client/v2/model/CIAppTestLevel.java
Due: generate

Regenerate client from commit c32c8926 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageCIVisibilityHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 279094e1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent.java
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelinesQueryFilter.java
  src/main/java/com/datadog/api/client/v2/model/CIAppTestsQueryFilter.java
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: generate

Regenerate client from commit 87a5a9d8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_252716965.java
  src/main/java/com/datadog/api/client/v1/model/DistributionWidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_metrics_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_metrics_query.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 75a8c502 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/UsageAttributesObject.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit 200d56a1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AuditLogsEventAttributes.java
Due: generate

Adding retry config
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

Regenerate client from commit b1453658 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DashboardListItem.java
Due: generate

Implement retry logic
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

correct millis
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

add default to retry config
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

change retry interval calculation
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

Regenerate client from commit 461f0d9e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetUsageCICommittersDetailed.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/UsageCICommittersDetailedAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UsageCICommittersDetailedHour.java
  src/main/java/com/datadog/api/client/v2/model/UsageCICommittersDetailedResponse.java
  src/main/java/com/datadog/api/client/v2/model/UsageDataPointType.java
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

first test iteration
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/java/com/datadog/api/client/v2/api/V2APITest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/java/com/datadog/api/client/v2/api/V2APITest.java
Due: java-format

Using apiclient With Retry
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

Regenerate client from commit dab7fe53 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Add retry test cassette
  src/main/java/com/datadog/api/client/ApiClient.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest.freeze
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest.json
Due: java-format

add generator code
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

Add retryconfig back
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

Update ReadMe
  README.md
Due: none

pre-commit fixes
  README.md
Due: none

Add RetryConfig in generator file item
  .generator/src/generator/cli.py
Due: generate

add retryConfig back
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

fix function name
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Add cassette for status code 500 test
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest429.freeze
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest429.json
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest500.freeze
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest500.json
Due: java-format

Add enable retry method on the client
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
