Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit de84400d of spec repo
  .apigentools-info
  examples/v2/cloudflare-integration/CreateCloudflareAccount.java
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_due_to_missing_email.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_due_to_missing_email.json
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_using_invalid_auth_key.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_using_invalid_auth_key.json
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Get_Cloudflare_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Cloudflare_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Cloudflare_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_Cloudflare_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_invalid_api_key.freeze
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_invalid_api_key.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_missing_required_email.freeze
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_missing_required_email.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: none

Regenerate client from commit e546294e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/QueryScalarData_3112571352.java
  examples/v2/metrics/QueryTimeseriesData_301142940.java
  src/main/java/com/datadog/api/client/v1/model/MetricsQueryMetadata.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/DataScalarColumn.java
  src/main/java/com/datadog/api/client/v2/model/GroupScalarColumn.java
  src/main/java/com/datadog/api/client/v2/model/ScalarColumn.java
  src/main/java/com/datadog/api/client/v2/model/ScalarMeta.java
  src/main/java/com/datadog/api/client/v2/model/TimeseriesResponseSeries.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

[Java] better default value handling (#14130)
  .generator/templates/libraries/native/pojo.mustache
  .generator/templates/pojo.mustache
Due: generate

Regenerate client from commit baadc22a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/gcp-integration/CreateGCPIntegration.java
  examples/v1/gcp-integration/DeleteGCPIntegration.java
  examples/v1/gcp-integration/UpdateGCPIntegration.java
  src/main/java/com/datadog/api/client/v1/model/GCPAccount.java
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
Due: generate

Regenerate client from commit 7f78c707 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/authentication.feature
Due: generate

change returned api name if undo tags are set
  src/test/java/com/datadog/api/Undo.java
Due: java-format

fix empty body in java apache client (#14574)
  .generator/templates/libraries/apache-httpclient/ApiClient.mustache
Due: generate

Regenerate client from commit a0ca58a8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/gcp-integration/CreateGCPIntegration.java
  examples/v1/gcp-integration/DeleteGCPIntegration.java
  examples/v1/gcp-integration/UpdateGCPIntegration.java
  src/main/java/com/datadog/api/client/v1/model/GCPAccount.java
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
Due: generate

Regenerate client from commit 0563dbc3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2610827685.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetDefinitionType.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetInput.java
  src/main/java/com/datadog/api/client/v1/model/WidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_run_workflow_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_run_workflow_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/run_workflow_widget.json
Due: generate

change undo tags to single string
  src/test/java/com/datadog/api/Undo.java
Due: java-format

Support differing operation tag and undo tag (#1646)
  src/test/java/com/datadog/api/Undo.java
Due: java-format

Regenerate client from commit a7d9eeca of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-accounts/CreateServiceAccount.java
  src/main/java/com/datadog/api/client/v2/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/client/v2/api/UsersApi.java
  src/test/resources/cassettes/features/v2/Create_a_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_service_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: generate

Regenerate client from commit 2cc8984b of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: none

Remove deleted usage tests
  src/test/java/com/datadog/api/client/v1/api/UsageMeteringApiTest.java
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getSpecifiedMonthlyCustomReportsErrorsTest.json
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageAttributionTest.json
Due: java-format

Remove deleted usage tests (#1650)
  src/test/java/com/datadog/api/client/v1/api/UsageMeteringApiTest.java
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getSpecifiedMonthlyCustomReportsErrorsTest.json
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageAttributionTest.json
Due: java-format

Regenerate client from commit 9df6db03 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2610827685.java
  examples/v2/users/CreateServiceAccount.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetDefinitionType.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetInput.java
  src/main/java/com/datadog/api/client/v1/model/WidgetDefinition.java
  src/main/java/com/datadog/api/client/v2/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/client/v2/api/UsersApi.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_run_workflow_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_run_workflow_widget.json
  src/test/resources/cassettes/features/v2/Create_a_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_service_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: generate

fix generation and use updated opendk image
  .generator/src/generator/openapi.py
  Dockerfile.format
Due: generate

Regenerate client from commit b2e03a0f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HostMeta.java
Due: generate

Regenerate client from commit c8c8a2b0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2610827685.java
  examples/v2/users/CreateServiceAccount.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetDefinitionType.java
  src/main/java/com/datadog/api/client/v1/model/RunWorkflowWidgetInput.java
  src/main/java/com/datadog/api/client/v1/model/WidgetDefinition.java
  src/main/java/com/datadog/api/client/v2/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/client/v2/api/UsersApi.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_run_workflow_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_run_workflow_widget.json
  src/test/resources/cassettes/features/v2/Create_a_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_service_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: generate

Regenerate client from commit 467a9b17 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleDetectionMethod.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQueryAggregation.java
Due: generate

Regenerate client from commit 7d2f8965 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HostMeta.java
Due: generate

Regenerate client from commit 61fed166 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CostByOrgAttributes.java
Due: generate

Regenerate client from commit 17eb9903 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsConfigVariable.java
Due: generate

Regenerate client from commit 7c0c43cc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit c826f5c2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2432046716.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Version bump 2.8.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 3f93b6e1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
Due: generate

Fix searchSLO unstable setting in examples
  .generator/src/generator/templates/example.j2
  examples/v1/service-level-objectives/SearchSLO.java
Due: generate

Fix searchSLO unstable setting in examples (#1665)
  .generator/src/generator/templates/example.j2
  examples/v1/service-level-objectives/SearchSLO.java
Due: generate

Regenerate client from commit 5146cd78 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2432046716.java
  examples/v2/restriction-policies/GetRestrictionPolicy.java
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsConfigVariable.java
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
  src/main/java/com/datadog/api/client/v2/model/Attributes.java
  src/main/java/com/datadog/api/client/v2/model/Binding.java
  src/main/java/com/datadog/api/client/v2/model/CostByOrgAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GetRestrictionPolicyResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicy.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyType.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_event_stream_list_stream_widget.json
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_restriction_policy_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v2/api/restriction_policies.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 062e75ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/IPPrefixesOrchestrator.java
  src/main/java/com/datadog/api/client/v1/model/IPRanges.java
Due: generate

Regenerate client from commit b3e2c8a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionValues.java
Due: generate

Regenerate client from commit 3916cc96 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit e92a3dde of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/MetricsDataSource.java
  src/main/java/com/datadog/api/client/v2/model/MetricsScalarQuery.java
  src/main/java/com/datadog/api/client/v2/model/MetricsTimeseriesQuery.java
Due: generate

Regenerate client from commit ca2fb7b8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 8652aeac of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HostMeta.java
Due: generate

Regenerate client from commit c0625360 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityTestsApi.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/api/MonitorsApi.java
Due: generate

Regenerate client from commit 7a7cb634 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/SearchSLO.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/client/v1/model/SLOState.java
  src/main/java/com/datadog/api/client/v1/model/SLOStatus.java
  src/main/java/com/datadog/api/client/v1/model/SearchServiceLevelObjectiveAttributes.java
  src/test/resources/cassettes/features/v1/Search_for_SLOs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_for_SLOs_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: generate

Regenerate client from commit 3371aaa2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_109450134.java
  src/main/java/com/datadog/api/client/v1/model/SLOListWidgetQuery.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_slo_list_widget_with_sort.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_slo_list_widget_with_sort.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/slo_list_widget_with_sort.json
Due: generate
