Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit 755120dd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/domain-allowlist/GetDomainAllowlist.java
  examples/v2/domain-allowlist/PatchDomainAllowlist.java
  src/main/java/com/datadog/api/client/v2/api/DomainAllowlistApi.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlist.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlistAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlistRequest.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlistResponse.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlistResponseData.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlistResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DomainAllowlistType.java
  src/test/resources/cassettes/features/v2/Get_Domain_Allowlist_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Domain_Allowlist_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Sets_Domain_Allowlist_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Sets_Domain_Allowlist_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/domain_allowlist.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit e9cc5e6a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParams.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementRelativePosition.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsPositionsItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsValue.java
Due: generate

Regenerate client from commit a7602fa1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountCreateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountUpdateRequestAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
Due: generate

Regenerate client from commit a11da7b5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetBillingDimensionMapping.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItem.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItemAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItemAttributesEndpointsItems.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItemAttributesEndpointsItemsStatus.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingResponse.java
  src/test/resources/cassettes/features/v2/Get_billing_dimension_mapping_for_usage_endpoints_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_billing_dimension_mapping_for_usage_endpoints_returns_Bad_Request_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 63c441b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/ListAWSRelatedAccounts.java
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/AWSRelatedAccount.java
  src/main/java/com/datadog/api/client/v2/model/AWSRelatedAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSRelatedAccountType.java
  src/main/java/com/datadog/api/client/v2/model/AWSRelatedAccountsResponse.java
  src/test/resources/cassettes/features/v2/List_related_AWS_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_related_AWS_accounts_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 6ffe013b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountResponseAttributes.java
Due: generate

Regenerate client from commit aeb956c4 of spec repo
  .apigentools-info
  examples/v2/security-monitoring/ListFindings_1668290866.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/resources/cassettes/features/v2/List_findings_with_detection_type_query_param_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_findings_with_detection_type_query_param_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: java-format

Regenerate client from commit 82ea89c4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
Due: generate

Regenerate client from commit 0a78d630 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RumMetricCompute.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricFilter.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricResponseCompute.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricResponseGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricResponseUniqueness.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricUniqueness.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricUniquenessWhen.java
  src/main/java/com/datadog/api/client/v2/model/RumMetricUpdateCompute.java
Due: generate

Regenerate client from commit 8d63eae4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBatchDetailsData.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBatchResult.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBatchStatus.java
Due: generate

Regenerate client from commit 1a56bfda of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStep.java
Due: generate

Regenerate client from commit 6c0fa1b6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/QueryScalarData.java
  examples/v2/metrics/QueryScalarData_3112571352.java
  examples/v2/metrics/QueryTimeseriesData.java
  examples/v2/metrics/QueryTimeseriesData_301142940.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit 2db17c21 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/GCPMetricNamespaceConfig.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: generate

Regenerate client from commit 0f558cbc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Version bump 2.30.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit efa118f1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SignalArchiveReason.java
Due: generate

Regenerate client from commit 66d9d069 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 8233abfb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRestrictionPolicyBinding.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit ae3b5463 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v2/security-monitoring/CancelHistoricalJob.java
  examples/v2/security-monitoring/ListHistoricalJobs.java
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

pre-commit fixes
  examples/v2/security-monitoring/GetHistoricalJob.java
Due: none

pre-commit fixes
  examples/v2/security-monitoring/ListHistoricalJobs.java
Due: none

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.java
  examples/v2/security-monitoring/GetHistoricalJob.java
  examples/v2/security-monitoring/ListHistoricalJobs.java
Due: none

pre-commit fixes
  examples/v2/security-monitoring/GetHistoricalJob.java
  examples/v2/security-monitoring/ListHistoricalJobs.java
Due: none

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.java
  examples/v2/security-monitoring/ListHistoricalJobs.java
Due: none

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.java
Due: none

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.java
  examples/v2/security-monitoring/GetHistoricalJob.java
Due: none
