Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit cd769d5 of spec repo
  .apigentools-info
  api_docs/v1/MonitorOptions.md
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Don't build draft PRs on AZP
  .azure-pipelines/all.yml
Due: none

put key in correct place
  .azure-pipelines/all.yml
Due: none

Don't build draft PRs on AZP (#829)
  .azure-pipelines/all.yml
Due: none

Regenerate client from commit 5765426 of spec repo
  .apigentools-info
  api_docs/v2/UsersApi.md
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit ccb4b9f of spec repo
  .apigentools-info
  api_docs/v2/IncidentIntegrationMetadataType.md
  src/main/java/com/datadog/api/v2/client/model/IncidentIntegrationMetadataType.java
  src/main/java/com/datadog/api/v2/client/model/IncidentsResponse.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToIncidentIntegrationMetadataData.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToIncidentIntegrationMetadatas.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
Due: generated

new release cycleé (#818)
  pom.xml
Due: none

Update tests
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/resources/cassettes/v1/MonitorsApiTest.listMonitorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.listMonitorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorCanDeleteErrorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorCanDeleteErrorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorCreateModifyDeleteTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorCreateModifyDeleteTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorDelete400ErrorTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorDelete401ErrorTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorGetErrorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorGetErrorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorGetSyntheticsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorGetSyntheticsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorUpdate401ErrorTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorUpdateErrorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorValidateErrorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorValidateErrorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorsCreateErrorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorsCreateErrorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorsListErrorsTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.monitorsListErrorsTest.json
  src/test/resources/cassettes/v1/MonitorsApiTest.validateMonitorTest.freeze
  src/test/resources/cassettes/v1/MonitorsApiTest.validateMonitorTest.json
Due: java-format

Regenerate client from commit f6cf0e5 of spec repo
  .apigentools-info
  api_docs/v1/NotebookCreateDataAttributes.md
  api_docs/v1/NotebookDistributionCellAttributes.md
  api_docs/v1/NotebookHeatMapCellAttributes.md
  api_docs/v1/NotebookLogStreamCellAttributes.md
  api_docs/v1/NotebookMarkdownCellAttributes.md
  api_docs/v1/NotebookTimeseriesCellAttributes.md
  api_docs/v1/NotebookToplistCellAttributes.md
  api_docs/v1/NotebookUpdateDataAttributes.md
  api_docs/v1/NotebooksResponse.md
  api_docs/v1/NotebooksResponseData.md
  api_docs/v1/NotebooksResponseDataAttributes.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/model/NotebookCreateDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookDistributionCellAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookHeatMapCellAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookLogStreamCellAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookMarkdownCellAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookTimeseriesCellAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookToplistCellAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookUpdateDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebooksResponse.java
  src/main/java/com/datadog/api/v1/client/model/NotebooksResponseData.java
  src/main/java/com/datadog/api/v1/client/model/NotebooksResponseDataAttributes.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 12e8b3e of spec repo
  .apigentools-info
  api_docs/v1/MetricsApi.md
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 63cdfda of spec repo
  .apigentools-info
  api_docs/v1/Dashboard.md
  src/main/java/com/datadog/api/v1/client/model/Dashboard.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit c413ebe of spec repo
  .apigentools-info
  api_docs/v1/Monitor.md
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/Monitor.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated

Revert "[Java][Spring] Fix for #8659 - Different in-parameter types generated for api and delegate for files (#9331)" (#9555)
  .generator/templates/libraries/resttemplate/api.mustache
  .generator/templates/libraries/resttemplate/api_test.mustache
Due: none

Regenerate client from commit 4ffe2b5 of spec repo
  .apigentools-info
  api_docs/v1/UsageAttributionBody.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionBody.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Add cassettes
  src/test/resources/cassettes/v1/Monitors_group_search_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/v1/Monitors_group_search_returns_Bad_Request_response.json
  src/test/resources/cassettes/v1/Monitors_group_search_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Monitors_group_search_returns_OK_response.json
  src/test/resources/cassettes/v1/Monitors_search_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/v1/Monitors_search_returns_Bad_Request_response.json
  src/test/resources/cassettes/v1/Monitors_search_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Monitors_search_returns_OK_response.json
Due: none

Replace AZP with github action
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

rename
  .github/workflows/test_integration.yml
Due: none

Replace AZP with github action (#839)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Fix integration tests scheduled run and agent host
  .github/workflows/test_integration.yml
Due: none

Fix integration tests scheduled run and agent host (#840)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 2c887a0 of spec repo
  .apigentools-info
  api_docs/v1/Dashboard.md
  src/main/java/com/datadog/api/v1/client/model/Dashboard.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

- added localVar prefix to the contentType variable defined in the api.mustache template in the java resttemplate library (#9568)
  .generator/templates/libraries/resttemplate/api.mustache
Due: none

Regenerate client from commit 0167d3f of spec repo
  .apigentools-info
  api_docs/v1/MonitorGroupSearchResponse.md
  api_docs/v1/MonitorGroupSearchResponseCounts.md
  api_docs/v1/MonitorGroupSearchResult.md
  api_docs/v1/MonitorSearchResponse.md
  api_docs/v1/MonitorSearchResponseCounts.md
  api_docs/v1/MonitorSearchResponseMetadata.md
  api_docs/v1/MonitorSearchResult.md
  api_docs/v1/MonitorSearchResultNotification.md
  api_docs/v1/MonitorsApi.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorGroupSearchResponse.java
  src/main/java/com/datadog/api/v1/client/model/MonitorGroupSearchResponseCounts.java
  src/main/java/com/datadog/api/v1/client/model/MonitorGroupSearchResult.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResponse.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResponseCounts.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResponseMetadata.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResult.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResultNotification.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated

Regenerate client from commit 8c512ec of spec repo
  .apigentools-info
  api_docs/v1/MonitorGroupSearchResponse.md
  api_docs/v1/MonitorGroupSearchResponseCounts.md
  api_docs/v1/MonitorGroupSearchResult.md
  api_docs/v1/MonitorSearchResponse.md
  api_docs/v1/MonitorSearchResponseCounts.md
  api_docs/v1/MonitorSearchResponseMetadata.md
  api_docs/v1/MonitorSearchResult.md
  api_docs/v1/MonitorSearchResultNotification.md
  api_docs/v1/MonitorsApi.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorGroupSearchResponse.java
  src/main/java/com/datadog/api/v1/client/model/MonitorGroupSearchResponseCounts.java
  src/main/java/com/datadog/api/v1/client/model/MonitorGroupSearchResult.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResponse.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResponseCounts.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResponseMetadata.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResult.java
  src/main/java/com/datadog/api/v1/client/model/MonitorSearchResultNotification.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated

Regenerate client from commit 5311d4c of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsAPITestConfig.md
  api_docs/v1/SyntheticsConfigVariable.md
  api_docs/v1/SyntheticsConfigVariableType.md
  api_docs/v1/SyntheticsTestConfig.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsConfigVariable.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsConfigVariableType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestConfig.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 2a54e42 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  api_docs/v1/SyntheticsListGlobalVariablesResponse.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsListGlobalVariablesResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated

Post integration test status to spec PR
  .github/workflows/scripts/test_integration.js
  .github/workflows/test_integration.yml
Due: none

Re-record
  src/test/resources/cassettes/v2/Aggregate_compute_events_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Aggregate_compute_events_returns_OK_response.json
  src/test/resources/cassettes/v2/Aggregate_events_returns_OK_response.freeze
Due: none

Fix handling of double values
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

Regenerate client from commit ea553b9 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageAuditLogsHour.md
  api_docs/v1/UsageAuditLogsResponse.md
  api_docs/v1/UsageCloudSecurityPostureManagementHour.md
  api_docs/v1/UsageCloudSecurityPostureManagementResponse.md
  api_docs/v1/UsageComplianceHour.md
  api_docs/v1/UsageComplianceResponse.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageAuditLogsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageAuditLogsResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageCloudSecurityPostureManagementHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageCloudSecurityPostureManagementResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageComplianceHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Regenerate client from commit 6c05087 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageAttributionValues.md
  api_docs/v1/UsageCWSHour.md
  api_docs/v1/UsageCWSResponse.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/v1/client/model/UsageCWSHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageCWSResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Regenerate client from commit 379360f of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 32f7494 of spec repo
  .apigentools-info
  api_docs/v2/SecurityMonitoringApi.md
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit f5f3f9b of spec repo
  .apigentools-info
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit b3fffea of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/LogsProcessor.java
  src/main/java/com/datadog/api/v1/client/model/NotebookCellCreateRequestAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookCellResponseAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookCellTime.java
  src/main/java/com/datadog/api/v1/client/model/NotebookCellUpdateRequestAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookGlobalTime.java
  src/main/java/com/datadog/api/v1/client/model/NotebookUpdateCell.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertion.java
  src/main/java/com/datadog/api/v1/client/model/WidgetDefinition.java
  src/main/java/com/datadog/api/v2/client/model/APIKeyResponseIncludedItem.java
  src/main/java/com/datadog/api/v2/client/model/ApplicationKeyResponseIncludedItem.java
  src/main/java/com/datadog/api/v2/client/model/IncidentFieldAttributes.java
  src/main/java/com/datadog/api/v2/client/model/IncidentResponseIncludedItem.java
  src/main/java/com/datadog/api/v2/client/model/IncidentServiceIncludedItems.java
  src/main/java/com/datadog/api/v2/client/model/IncidentTeamIncludedItems.java
  src/main/java/com/datadog/api/v2/client/model/IncidentTimelineCellCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/LogsAggregateBucketValue.java
  src/main/java/com/datadog/api/v2/client/model/LogsArchiveCreateRequestDestination.java
  src/main/java/com/datadog/api/v2/client/model/LogsArchiveDestination.java
  src/main/java/com/datadog/api/v2/client/model/LogsGroupByMissing.java
  src/main/java/com/datadog/api/v2/client/model/LogsGroupByTotal.java
  src/main/java/com/datadog/api/v2/client/model/MetricVolumes.java
  src/main/java/com/datadog/api/v2/client/model/MetricsAndMetricTagConfigurations.java
  src/main/java/com/datadog/api/v2/client/model/UserResponseIncludedItem.java
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: generated

cassettes
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageTopAvgMetricsTest.freeze
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageTopAvgMetricsTest.json
Due: none

Regenerate client from commit 9151896 of spec repo
  .apigentools-info
  api_docs/v1/UsageTopAvgMetricsMetadata.md
  src/main/java/com/datadog/api/v1/client/model/UsageTopAvgMetricsMetadata.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Add workflow for PR approved
  .github/workflows/approved_status.yml
Due: none

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
