Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generate

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: generate
    name: Generate
    language: node
    entry: make
    files: "^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)"
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown
    "types": [text]
    files: '^api_docs/'
    args: []
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.2.1
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']

Regenerate client from commit 71029a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SLOCorrectionResponseAttributes.md
  api_docs/v1/SLOCorrectionResponseAttributesModifier.md
  api_docs/v1/ServiceLevelObjectivesApi.md
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributesModifier.java
  src/test/resources/cassettes/v1/Get_Corrections_For_an_SLO_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_Corrections_For_an_SLO_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated, generate

Regenerate client from commit 71ca1d3 of spec repo
  .apigentools-info
  api_docs/v1/SLOCorrectionResponseAttributesModifier.md
Due: generated

Regenerate client from commit fdabc88 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SLOCorrectionResponseAttributesModifier.md
  src/test/resources/cassettes/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_browser_test_payload.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated, generate

Regenerate client from commit f050d35 of spec repo
  .apigentools-info
  src/test/resources/cassettes/v2/Search_logs_returns_OK_response.json
Due: none

Store error in BDD
  src/test/java/com/datadog/api/World.java
Due: none

Regenerate client from commit 60c6582 of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/v1/Post_an_event_in_the_past_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/v1/Post_an_event_in_the_past_returns_Bad_Request_response.json
  src/test/resources/com/datadog/api/v1/client/api/events.feature
Due: none

path
  src/test/java/com/datadog/api/RecorderSteps.java
Due: none

Regenerate client from commit 08c86e2 of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_profile_metric_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_profile_metric_query.json
  src/test/resources/cassettes/features/v1/Post_an_event_in_the_past_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Post_an_event_in_the_past_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_login_method_for_the_current_organization_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_login_method_for_the_current_organization_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_a_login_method_for_the_given_user_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_login_method_for_the_given_user_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_a_tag_configuration_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_tag_configuration_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Delete_a_non_existing_rule_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_tag_configuration_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_tag_configuration_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_the_given_organization_login_method_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_the_given_organization_login_method_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_the_given_user_login_method_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_the_given_user_login_method_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_login_methods_for_current_organization_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_login_methods_for_current_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_of_the_given_user_s_login_methods_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_of_the_given_user_s_login_methods_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_distinct_metric_volumes_by_metric_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_distinct_metric_volumes_by_metric_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tag_configuration_by_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tag_configuration_by_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tag_configurations_returns_Success_response.json
  src/test/resources/cassettes/features/v2/List_tags_by_metric_name_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/List_tags_by_metric_name_returns_Success_response.json
  src/test/resources/cassettes/features/v2/Update_a_tag_configuration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_tag_configuration_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: none

Regenerate client from commit d51b660 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageAttributionSupportedMetrics.md
  api_docs/v1/UsageAttributionValues.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/test/resources/com/datadog/api/v1/client/api/events.feature
Due: generated, generate

remove access role
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/User.java
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Due: generated, generate

Regenerate client from commit a7401b6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Trigger_some_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_some_Synthetics_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated, generate

Regenerate client from commit 350df8d of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: none

simpler check-examples.sh
  check-examples.sh
Due: none

Regenerate client from commit 0f45cf0 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: none

lint examples
  .pre-commit-config.yaml
Due: generate

manual
  .pre-commit-config.yaml
Due: generate

java 15
  Dockerfile.format
Due: none

separate again
  check-examples.sh
Due: none

remove access_role from json files
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.json
Due: none

Update cassettes
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.json
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreate409ErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.json
Due: none

Regenerate client from commit d837514 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generate

Regenerate client from commit c8a8203 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/User.md
  src/main/java/com/datadog/api/v1/client/model/User.java
Due: generated, generate

Regenerate client from commit 1c2091d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/User.md
  src/main/java/com/datadog/api/v1/client/model/User.java
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Due: generated, generate

Revert "Removes `access_role` property from user v1 (#1059)"
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/User.md
  src/main/java/com/datadog/api/v1/client/model/User.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.json
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreate409ErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.json
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Due: generated, generate

Revert "Removes `access_role` property from user v1 (#1059)" (#1084)
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/User.md
  src/main/java/com/datadog/api/v1/client/model/User.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.json
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreate409ErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.json
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Due: generated, generate

send as list
  src/test/java/com/datadog/api/ClientSteps.java
Due: none

Regenerate client from commit df97aef of spec repo
  .apigentools-info
  examples/v1/dashboards/ListDashboards.java
  examples/v1/hosts/ListHosts.java
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.java
  examples/v1/service-level-objective-corrections/GetSLOCorrection.java
  examples/v1/service-level-objective-corrections/ListSLOCorrection.java
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.java
  examples/v1/service-level-objectives/GetSLOCorrections.java
  examples/v1/snapshots/GetGraphSnapshot.java
  examples/v2/incident-services/CreateIncidentService.java
  examples/v2/incident-services/DeleteIncidentService.java
  examples/v2/incident-services/GetIncidentService.java
  examples/v2/incident-services/ListIncidentServices.java
  examples/v2/incident-services/UpdateIncidentService.java
  examples/v2/incident-teams/CreateIncidentTeam.java
  examples/v2/incident-teams/DeleteIncidentTeam.java
  examples/v2/incident-teams/GetIncidentTeam.java
  examples/v2/incident-teams/ListIncidentTeams.java
  examples/v2/incident-teams/UpdateIncidentTeam.java
  examples/v2/incidents/CreateIncident.java
  examples/v2/incidents/DeleteIncident.java
  examples/v2/incidents/GetIncident.java
  examples/v2/incidents/ListIncidents.java
  examples/v2/incidents/UpdateIncident.java
  examples/v2/key-management/ListAPIKeys.java
  examples/v2/logs/ListLogs.java
  examples/v2/processes/ListProcesses.java
  examples/v2/roles/ListRoles.java
  examples/v2/users/ListUsers.java
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Regenerate client from commit 9bcd121 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Create_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
Due: none

Provide a all-in-one jar
  pom.xml
Due: none

Provide a all-in-one jar (#1088)
  pom.xml
Due: none

Regenerate client from commit 9a2238a of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.java
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Regenerate client from commit ffc132e of spec repo
  .apigentools-info
Due: none

Remove log4j options
  pom.xml
Due: none

Add sl4j jar in tests
  pom.xml
Due: none

Remove ref in unused templates
  .generator/templates/libraries/jersey2/pom.mustache
  .generator/templates/pom.mustache
Due: generate

Remove log4j options (#1093)
  .generator/templates/libraries/jersey2/pom.mustache
  .generator/templates/pom.mustache
  pom.xml
Due: generate
