Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit ef6cfbc5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateCustomFramework.java
  examples/v2/security-monitoring/UpdateCustomFramework.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/CreateCustomFrameworkRequest.java
  src/main/java/com/datadog/api/client/v2/model/FrameworkControl.java
  src/main/java/com/datadog/api/client/v2/model/FrameworkRequirement.java
  src/main/java/com/datadog/api/client/v2/model/UpdateCustomFrameworkRequest.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 0ad24d9f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

Regenerate client from commit 366b36ab of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Regenerate client from commit 45186abe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 127642e2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateCostGCPUsageCostConfig.java
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.java
  examples/v2/cloud-cost-management/ListCostGCPUsageCostConfigs.java
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.java
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfig.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPatchData.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPatchRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPatchRequestType.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPostData.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPostRequest.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPostRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigPostRequestType.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigResponse.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigType.java
  src/main/java/com/datadog/api/client/v2/model/GCPUsageCostConfigsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 4e5906d6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/data-deletion/CreateDataDeletionRequest.java
  src/main/java/com/datadog/api/client/v2/model/CreateDataDeletionRequestBodyData.java
  src/main/java/com/datadog/api/client/v2/model/CreateDataDeletionRequestBodyDataType.java
  src/test/resources/cassettes/features/v2/Cancels_a_data_deletion_request_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Cancels_a_data_deletion_request_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Cancels_a_data_deletion_request_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Cancels_a_data_deletion_request_returns_Precondition_failed_error_response.freeze
  src/test/resources/cassettes/features/v2/Creates_a_data_deletion_request_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Creates_a_data_deletion_request_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Creates_a_data_deletion_request_returns_Precondition_failed_error_response.freeze
  src/test/resources/cassettes/features/v2/Creates_a_data_deletion_request_returns_Precondition_failed_error_response.json
  src/test/resources/cassettes/features/v2/Gets_a_list_of_data_deletion_requests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Gets_a_list_of_data_deletion_requests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/data_deletion.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: generate

Regenerate client from commit 617655da of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

Regenerate client from commit 27e609f7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/CreateMonitor_1303514967.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostAggregator.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostDataSource.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionQueryDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_Cost_Monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_Cost_Monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit c6fb58bd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/monitors/CreateMonitor_1303514967.java
  examples/v2/security-monitoring/GetSBOM.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostAggregator.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostDataSource.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/AssetAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AssetOperatingSystem.java
  src/main/java/com/datadog/api/client/v2/model/AssetRisks.java
  src/main/java/com/datadog/api/client/v2/model/AssetVersion.java
  src/main/java/com/datadog/api/client/v2/model/GetSBOMResponse.java
  src/main/java/com/datadog/api/client/v2/model/SBOM.java
  src/main/java/com/datadog/api/client/v2/model/SBOMAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SBOMComponent.java
  src/main/java/com/datadog/api/client/v2/model/SBOMComponentType.java
  src/main/java/com/datadog/api/client/v2/model/SBOMMetadata.java
  src/main/java/com/datadog/api/client/v2/model/SBOMMetadataComponent.java
  src/main/java/com/datadog/api/client/v2/model/SBOMType.java
  src/main/java/com/datadog/api/client/v2/model/SpecVersion.java
  src/main/java/com/datadog/api/client/v2/model/VulnerabilityAttributes.java
  src/main/java/com/datadog/api/client/v2/model/VulnerabilityCvss.java
  src/main/java/com/datadog/api/client/v2/model/VulnerabilityDependencyLocations.java
  src/test/resources/cassettes/features/v1/Create_a_Cost_Monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_Cost_Monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_Not_found_asset_not_found_response.freeze
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_Not_found_asset_not_found_response.json
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 0bbc13ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/monitors/CreateMonitor_1303514967.java
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_819339921.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostAggregator.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostDataSource.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionCostQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorFormulaAndFunctionQueryDefinition.java
  src/main/java/com/datadog/api/client/v2/model/CIAppCreatePipelineEventRequestAttributes.java
  src/test/resources/cassettes/features/v1/Create_a_Cost_Monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_Cost_Monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Send_pipeline_event_with_custom_provider_returns_Request_accepted_for_processing_response.freeze
  src/test/resources/cassettes/features/v2/Send_pipeline_event_with_custom_provider_returns_Request_accepted_for_processing_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: generate

Regenerate client from commit 7a8ea4b1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSBOM.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/AssetAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AssetOperatingSystem.java
  src/main/java/com/datadog/api/client/v2/model/AssetRisks.java
  src/main/java/com/datadog/api/client/v2/model/AssetVersion.java
  src/main/java/com/datadog/api/client/v2/model/GetSBOMResponse.java
  src/main/java/com/datadog/api/client/v2/model/SBOM.java
  src/main/java/com/datadog/api/client/v2/model/SBOMAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SBOMComponent.java
  src/main/java/com/datadog/api/client/v2/model/SBOMComponentType.java
  src/main/java/com/datadog/api/client/v2/model/SBOMMetadata.java
  src/main/java/com/datadog/api/client/v2/model/SBOMMetadataComponent.java
  src/main/java/com/datadog/api/client/v2/model/SBOMType.java
  src/main/java/com/datadog/api/client/v2/model/SpecVersion.java
  src/main/java/com/datadog/api/client/v2/model/VulnerabilityAttributes.java
  src/main/java/com/datadog/api/client/v2/model/VulnerabilityCvss.java
  src/main/java/com/datadog/api/client/v2/model/VulnerabilityDependencyLocations.java
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_Not_found_asset_not_found_response.freeze
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_Not_found_asset_not_found_response.json
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_SBOM_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

add encryption to test
  src/test/java/com/datadog/api/client/v2/api/LogsArchivesApiTest.java
Due: java-format

Regenerate client from commit 2350cf2b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/LogsArchiveDestinationS3.java
  src/main/java/com/datadog/api/client/v2/model/LogsArchiveEncryptionS3.java
  src/main/java/com/datadog/api/client/v2/model/LogsArchiveEncryptionS3Type.java
  src/test/java/com/datadog/api/client/v2/api/LogsArchivesApiTest.java
Due: generate, java-format

Regenerate client from commit ff83ed06 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/LogsPipeline.java
  src/test/resources/com/datadog/api/client/v1/api/logs_pipelines.feature
Due: generate

Regenerate client from commit 6a31fa8c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorUpdateRequest.java
Due: generate

Use GitHub action to inject Test Optimization
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  pom.xml
Due: none

Update log submission setting
  .github/workflows/test_integration.yml
Due: none

Disable auto-injection of DD Javac plugin
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Bump Test Optimization version
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  pom.xml
  src/test/java/com/datadog/api/ScenariosTest.java
  src/test/java/com/datadog/api/TracePlugin.java
Due: java-format

Remove GHA run conditions for debugging purposes
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Revert "Remove GHA run conditions for debugging purposes"
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Use GitHub action to inject Test Optimization (#2674)
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  pom.xml
  src/test/java/com/datadog/api/ScenariosTest.java
  src/test/java/com/datadog/api/TracePlugin.java
Due: java-format

Regenerate client from commit 9120bb44 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/action-connection/CreateActionConnection_2600083647.java
  examples/v2/action-connection/GetActionConnection_2273648770.java
  examples/v2/action-connection/UpdateActionConnection_2280399724.java
  src/main/java/com/datadog/api/client/v2/api/ActionConnectionApi.java
  src/main/java/com/datadog/api/client/v2/model/AWSAssumeRole.java
  src/main/java/com/datadog/api/client/v2/model/AWSAssumeRoleUpdate.java
  src/main/java/com/datadog/api/client/v2/model/ActionConnectionAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ActionConnectionAttributesUpdate.java
  src/main/java/com/datadog/api/client/v2/model/ActionConnectionData.java
  src/main/java/com/datadog/api/client/v2/model/CreateActionConnectionRequest.java
  src/main/java/com/datadog/api/client/v2/model/CreateActionConnectionResponse.java
  src/main/java/com/datadog/api/client/v2/model/GetActionConnectionResponse.java
  src/main/java/com/datadog/api/client/v2/model/HTTPIntegration.java
  src/main/java/com/datadog/api/client/v2/model/HTTPIntegrationUpdate.java
  src/main/java/com/datadog/api/client/v2/model/UpdateActionConnectionRequest.java
  src/test/resources/com/datadog/api/client/v2/api/action_connection.feature
Due: generate

Regenerate client from commit 333d42be of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/logs_indexes.feature
  src/test/resources/com/datadog/api/client/v1/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/client/v2/api/logs_archives.feature
  src/test/resources/com/datadog/api/client/v2/api/logs_metrics.feature
Due: generate

Regenerate client from commit 4a99b1d3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit aa10e3e1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/security_monitoring.feature
Due: generate

Regenerate client from commit f832f43e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 08386490 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
Due: generate

Regenerate client from commit a492a6f8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetActiveBillingDimensions.java
  examples/v2/usage-metering/GetMonthlyCostAttribution.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 14f5d952 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Update team name to include web-frameworks
  .github/CODEOWNERS
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
