Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Bump versions and add changelog entries.
  CHANGELOG.md
  pom.xml
Due: none

Regenerate client from commit 76344ef of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit a73640a of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_153558925.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQueryVersion.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_logs_transaction_stream_list_stream_widget_and_version.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_logs_transaction_stream_list_stream_widget_and_version.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

fix(logs-archives): use LogsArchiveIntegrationS3Role in S3 archive tests
  src/test/java/com/datadog/api/client/v2/api/LogsArchivesApiTest.java
Due: java-format

Regenerate client from commit c9aabc1 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/NotebookCreateDataAttributes.java
  src/main/java/com/datadog/api/client/v1/model/NotebookResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v1/model/NotebookTemplateVariable.java
  src/main/java/com/datadog/api/client/v1/model/NotebookTemplateVariableAvailableValuesQuery.java
  src/main/java/com/datadog/api/client/v1/model/NotebookTemplateVariableAvailableValuesQueryGroupBy.java
  src/main/java/com/datadog/api/client/v1/model/NotebookTemplateVariableAvailableValuesQueryLogRumSpans.java
  src/main/java/com/datadog/api/client/v1/model/NotebookTemplateVariableAvailableValuesQueryMetrics.java
  src/main/java/com/datadog/api/client/v1/model/NotebookTemplateVariableAvailableValuesQuerySearch.java
  src/main/java/com/datadog/api/client/v1/model/NotebookUpdateDataAttributes.java
  src/main/java/com/datadog/api/client/v1/model/NotebooksResponseDataAttributes.java
  src/test/resources/com/datadog/api/client/v1/api/notebooks.feature
Due: generate

Regenerate client from commit 19796bd of spec repo
  src/test/resources/cassettes/features/v2/List_assets_SBOMs_returns_Bad_request_Invalid_pagination_token_response.freeze
  src/test/resources/cassettes/features/v2/List_assets_SBOMs_returns_Bad_request_Invalid_pagination_token_response.json
  src/test/resources/cassettes/features/v2/List_assets_SBOMs_returns_Not_found_There_is_no_request_associated_with_the_provided_token_response.freeze
  src/test/resources/cassettes/features/v2/List_scanned_assets_metadata_returns_Bad_request_Invalid_Pagination_Token_response.freeze
  src/test/resources/cassettes/features/v2/List_scanned_assets_metadata_returns_Bad_request_Invalid_Pagination_Token_response.json
  src/test/resources/cassettes/features/v2/List_scanned_assets_metadata_returns_Not_found_asset_not_found_response.freeze
  src/test/resources/cassettes/features/v2/List_vulnerabilities_returns_Bad_request_Invalid_pagination_token_response.freeze
  src/test/resources/cassettes/features/v2/List_vulnerabilities_returns_Bad_request_Invalid_pagination_token_response.json
  src/test/resources/cassettes/features/v2/List_vulnerabilities_returns_Not_found_There_is_no_request_associated_with_the_provided_token_response.freeze
  src/test/resources/cassettes/features/v2/List_vulnerable_assets_returns_Bad_request_Invalid_Pagination_Token_response.freeze
  src/test/resources/cassettes/features/v2/List_vulnerable_assets_returns_Bad_request_Invalid_Pagination_Token_response.json
  src/test/resources/cassettes/features/v2/List_vulnerable_assets_returns_Not_found_There_is_no_request_associated_with_the_provided_token_response.freeze
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: none

Regenerate client from commit ee76c66 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/OnMissingDataOption.java
Due: generate

Regenerate client from commit 7e2a1a8 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2780500284.java
  examples/v1/dashboards/CreateDashboard_2882802132.java
  src/main/java/com/datadog/api/client/v1/model/DatasetListQuery.java
  src/main/java/com/datadog/api/client/v1/model/DatasetListQueryDataSourceType.java
  src/main/java/com/datadog/api/client/v1/model/DatasetListQuerySort.java
  src/main/java/com/datadog/api/client/v1/model/DatasetListQuerySortField.java
  src/main/java/com/datadog/api/client/v1/model/HostMapRequest.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDefinitionRequestType.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDefinitionRequests.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDefinitionStyle.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDimension.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetProjection.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetProjectionDimensionMapping.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetProjectionType.java
  src/main/java/com/datadog/api/client/v1/model/PublishedDatasetProvider.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_hostmap_DDSQL_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_hostmap_DDSQL_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/hostmap_ddsql_widget.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit 611f42b of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptions.java
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_ssl_test_payload.json
Due: generate

Regenerate client from commit 16e5fd0 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptions.java
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_ssl_test_payload.json
Due: generate

Regenerate client from commit 492dc21 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/DashboardAvailableValuesEventsDataSource.java
  src/main/java/com/datadog/api/client/v1/model/DashboardAvailableValuesEventsQuery.java
  src/main/java/com/datadog/api/client/v1/model/DashboardAvailableValuesEventsQueryGroupByItems.java
  src/main/java/com/datadog/api/client/v1/model/DashboardAvailableValuesEventsQuerySearch.java
  src/main/java/com/datadog/api/client/v1/model/DashboardAvailableValuesMetricsQuery.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariable.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariableAvailableValuesQuery.java
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate
