Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

update Deserialization unit tests
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
Due: java-format

Fix typo in pojo
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

Fix LookUp function, still needs cleanup overall
  src/test/java/com/datadog/api/World.java
Due: java-format

Fix Primitive Types OneOf
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

Add Deserialization Unit Tests
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
Due: java-format

lookup method cleanup
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 2f52b9e of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit eaa6615 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v2/README.md
  api_docs/v2/SecurityMonitoringRuleCreatePayload.md
  api_docs/v2/SecurityMonitoringRuleResponse.md
  api_docs/v2/SecurityMonitoringRuleTypeCreate.md
  api_docs/v2/SecurityMonitoringRuleTypeRead.md
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleCreatePayload.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleResponse.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleTypeCreate.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleTypeRead.java
  src/main/java/com/datadog/api/v2/openapi.yaml
  src/test/resources/cassettes/v2/Create_a_detection_rule_with_type_workload_security_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Create_a_detection_rule_with_type_workload_security_returns_OK_response.json
  src/test/resources/cassettes/v2/Delete_an_existing_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/given.json
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated

use x-one-of-as-properties
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

Regenerate client from commit cda030e of spec repo
  .apigentools-info
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Refactor Deserialization unit tests
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/LogsArchivesApiTest.java
Due: java-format

fix unparsed propagation on add{{item}} methods
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

fix unparsed propagation for arrays
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

Regenerate client from commit 4f0cc56 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsGlobalVariableValue.md
  api_docs/v1/SyntheticsTriggerCITestsResponse.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsGlobalVariableValue.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTriggerCITestsResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

fix equals and add hashCode for enum classes
  .generator/templates/modelEnum.mustache
Due: none

fix isEnum checks to #allowableValues
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

add hashCode to UnparsedObject class
  .generator/templates/UnparsedObject.mustache
Due: none

Regenerate client from commit 96bac9a of spec repo
  .apigentools-info
  api_docs/v1/MonitorType.md
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

[JAVA] Add apache httpclient library to java clients (#10218)
  .generator/templates/libraries/apache/ApiClient.mustache
  .generator/templates/libraries/apache/README.mustache
  .generator/templates/libraries/apache/api.mustache
  .generator/templates/libraries/apache/api_test.mustache
  .generator/templates/libraries/apache/pom.mustache
Due: none

[JAVA][FEIGN] Automatically retry request that fail due to a 401 or 403 (#10021)
  .generator/templates/libraries/feign/ApiClient.mustache
  .generator/templates/libraries/feign/auth/ApiErrorDecoder.mustache
  .generator/templates/libraries/feign/auth/OAuth.mustache
Due: none

Add a Jandex index to microprofile client packages (#10173)
  .generator/templates/libraries/microprofile/pom.mustache
Due: none

Regenerate client from commit fe1d096 of spec repo
  .apigentools-info
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

remove unused import on UnparsedObject
  .generator/templates/UnparsedObject.mustache
Due: none

fix equals method for UnparsedObject
  .generator/templates/UnparsedObject.mustache
Due: none

Fix oneOf on primitive types
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

code cleanup
  .generator/templates/libraries/jersey2/oneof_model.mustache
Due: none

code cleanup pojo
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

apply suggestion
  .generator/templates/libraries/jersey2/pojo.mustache
Due: none

Regenerate client from commit 67944e6 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsApi.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit fccf269 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageAttributionSupportedMetrics.md
  api_docs/v1/UsageAttributionValues.md
  api_docs/v1/UsageDBMHour.md
  api_docs/v1/UsageDBMResponse.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/v1/client/model/UsageDBMHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageDBMResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Fix unchecked conversion (#10246)
  .generator/templates/libraries/resttemplate/ApiClient.mustache
  .generator/templates/libraries/webclient/ApiClient.mustache
Due: none

Regenerate client from commit db0de24 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsBrowserTestConfig.md
  api_docs/v1/SyntheticsTestConfig.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestConfig.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Fix thousands of spelling typos (#10272)
  .generator/templates/ServerConfiguration.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/libraries/apache/ApiClient.mustache
  .generator/templates/libraries/feign/ApiClient.mustache
  .generator/templates/libraries/jersey2/AbstractOpenApiSchema.mustache
  .generator/templates/libraries/jersey2/ApiClient.mustache
  .generator/templates/libraries/jersey2/anyof_model.mustache
  .generator/templates/libraries/jersey2/api.mustache
  .generator/templates/libraries/jersey2/oneof_model.mustache
  .generator/templates/libraries/native/AbstractOpenApiSchema.mustache
  .generator/templates/libraries/native/anyof_model.mustache
  .generator/templates/libraries/native/oneof_model.mustache
  .generator/templates/libraries/okhttp-gson/ApiCallback.mustache
  .generator/templates/libraries/okhttp-gson/ApiClient.mustache
  .generator/templates/libraries/resteasy/ApiClient.mustache
  .generator/templates/libraries/retrofit2/play26/Play26CallAdapterFactory.mustache
Due: none

[Java][Spring] fix imports for nullable helpers (#10234)
  .generator/templates/libraries/jersey2/pojo.mustache
  .generator/templates/libraries/native/pojo.mustache
  .generator/templates/pojo.mustache
Due: none

[Java][RestTemplate][WebClient] Fix typo in comments (#10311)
  .generator/templates/libraries/resttemplate/ApiClient.mustache
  .generator/templates/libraries/webclient/ApiClient.mustache
Due: none

Regenerate client from commit e9ac191 of spec repo
  .apigentools-info
  api_docs/v1/DashboardTemplateVariable.md
  src/main/java/com/datadog/api/v1/client/model/DashboardTemplateVariable.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

Regenerate client from commit a9c0eae of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SLOHistoryResponseError.md
  api_docs/v1/SLOHistoryResponseErrorWithType.md
  api_docs/v1/SLOHistorySLIData.md
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryResponseError.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryResponseErrorWithType.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 8d89f84 of spec repo
  .apigentools-info
  api_docs/v1/OrganizationsApi.md
  src/main/java/com/datadog/api/v1/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit b4ace00 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SLOHistoryMonitor.md
  api_docs/v1/SLOHistoryResponseData.md
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/v1/client/model/SLOHistoryResponseData.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated
