Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit db6c3b19 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Update_Okta_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Okta_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: none

Regenerate client from commit 31c15660 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 52641937 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerIncludedKeywordConfiguration.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit e545b10b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SplitConfig.java
Due: generate

Regenerate client from commit 4e68d2cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/events.feature
  src/test/resources/com/datadog/api/client/v1/api/hosts.feature
  src/test/resources/com/datadog/api/client/v2/api/confluent_cloud.feature
  src/test/resources/com/datadog/api/client/v2/api/container_images.feature
  src/test/resources/com/datadog/api/client/v2/api/containers.feature
  src/test/resources/com/datadog/api/client/v2/api/events.feature
  src/test/resources/com/datadog/api/client/v2/api/fastly_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/incident_services.feature
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: generate

Regenerate client from commit 3518f3a0 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/pagerduty_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/slack_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/confluent_cloud.feature
  src/test/resources/com/datadog/api/client/v2/api/fastly_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
Due: none

Regenerate client from commit 46672359 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MetricsPayload.java
  src/main/java/com/datadog/api/client/v1/model/MetricsQueryMetadata.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMetrics.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMetricsSeries.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/client/v2/model/MetricPayload.java
Due: generate

Version bump 2.21.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

use openjdk8 from ddbuild mirror
  .gitlab-ci.yml
Due: none

use openjdk8 from ddbuild mirror (#2174)
  .gitlab-ci.yml
Due: none

Revert "Release 2.21.0 (#2172)"
  CHANGELOG.md
  pom.xml
Due: none

Revert "Release 2.21.0 (#2172)" (#2175)
  CHANGELOG.md
  pom.xml
Due: none

Revert "Release 2.21.0 (#2176)"
  CHANGELOG.md
  pom.xml
Due: none

update image
  .gitlab-ci.yml
Due: none

Revert Release (#2178)
  .gitlab-ci.yml
  CHANGELOG.md
  pom.xml
Due: none

relocate additional packages to avoid conflicts
  pom.xml
Due: none

remove duplicate
  pom.xml
Due: none

Relocate additional packages and remove duplicate patterns (#2186)
  pom.xml
Due: none

Version bump 2.21.1
  pom.xml
Due: none

remove old feature files
  src/test/resources/com/datadog/api/client/v2/api/cases.feature
  src/test/resources/com/datadog/api/client/v2/api/cases_projects.feature
Due: none

Regenerate client from commit 14c48bc8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAPIStepSubtype.java
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_multi_step_payload.json
Due: generate

Regenerate client from commit 45fd84e5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit dc02d0d0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/gcp-integration/UpdateGCPIntegration_3544259255.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_194782945.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount_2241994060.java
  src/main/java/com/datadog/api/client/v1/model/GCPAccount.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/cassettes/features/v1/Create_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_GCP_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_cloud_run_revision_filters_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_cloud_run_revision_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cloud_run_revision_filters_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cloud_run_revision_filters_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_cloud_run_revision_filters.freeze
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_cloud_run_revision_filters.json
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: generate

Regenerate client from commit 7e467650 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CIAppAggregateSort.java
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelinesGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/CIAppTestsGroupBy.java
Due: generate

exclude additional files from shaded jar
  pom.xml
Due: none

exclude additional files from shaded jar (#2195)
  pom.xml
Due: none

Regenerate client from commit 1ec2d96a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Version bump 2.22.0
  pom.xml
Due: none

Regenerate client from commit 90ae1ed9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/UserTeamIncluded.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamResponse.java
Due: generate

Regenerate client from commit ea7f4c9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionSort.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

enable retry
  src/test/java/com/datadog/api/client/v1/api/V1ApiTest.java
Due: java-format

Regenerate client from commit a79d8d5b of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: none
