Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

ci: constrain token policies to master PRs
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
  .github/chainguard/datadog-api-spec.github.merged.cleanup.sts.yaml
Due: none

ci: limit token policies to ci-cd
  .github/chainguard/datadog-api-spec.github.cache-builder.sts.yaml
  .github/chainguard/datadog-api-spec.github.merged.cleanup.sts.yaml
Due: none

ci: support current and post-migration sources
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
Due: none

ci: trust datadog-api-spec ci-cd via Octo STS (#4343)
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
Due: none

Regenerate client from commit c0f313d of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/IpRangesApi.java
Due: generate

Support request compression test step
  src/test/java/com/datadog/api/RecorderSteps.java
Due: java-format

Apply generated request compression
  src/test/java/com/datadog/api/TestRunner.java
Due: java-format

Regenerate client from commit 25c7640 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/bits-ai/TriggerInvestigation.java
  src/main/java/com/datadog/api/client/v2/model/GeneralInvestigationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TriggerAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TriggerType.java
  src/test/resources/com/datadog/api/client/v2/api/bits_ai.feature
Due: generate

Regenerate client from commit 45b46d0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/SearchCostRecommendations.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequest.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequestData.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RecommendationsFilterRequestDataType.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
Due: generate

Regenerate client from commit 49e5302 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit a452a54 of spec repo
  examples/v2/metrics/CreateTagIndexingRule.java
  examples/v2/metrics/UpdateTagIndexingRule.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/generated-test/test-runner-data/v2/metrics/create-a-tag-indexing-rule-returns-created-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-not-found-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-ok-response.json
Due: none

Regenerate client from commit 60c67b3 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
Due: generate

Support explicit compression selection
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestRunner.java
Due: java-format

Regenerate client from commit 57b70f0 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/DowntimesApi.java
Due: generate

Regenerate client from commit f23e221 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/LogsApi.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/test/resources/com/datadog/api/client/v1/api/logs.feature
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v1/logs/send-deflate-logs-returns-response-from-server-always-200-empty-json-response.json
  src/test/resources/generated-test/test-runner-data/v2/logs/send-deflate-logs-returns-request-accepted-for-processing-always-202-empty-json-response.json
  src/test/resources/generated-test/test-server
  src/test/resources/generated-test/test-server-data/v1/logs.json
  src/test/resources/generated-test/test-server-data/v2/logs.json
Due: generate

Regenerate client from commit 6bb6903 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/terraform-state-files/CreateTerraformBackendSyncConfig.java
  examples/v2/terraform-state-files/DeleteTerraformBackendSyncConfig.java
  examples/v2/terraform-state-files/ListTerraformBackendSyncConfigs.java
  examples/v2/terraform-state-files/UpdateTerraformBackendSyncConfig.java
  src/main/java/com/datadog/api/client/v2/api/TerraformStateFilesApi.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendBucket.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendKind.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendListResponse.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendResponse.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendSyncStatus.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendType.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateRequest.java
  src/test/resources/com/datadog/api/client/v2/api/terraform_state_files.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/create-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/delete-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/list-terraform-backend-sync-configurations-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/update-a-terraform-backend-sync-configuration-returns-conflict-response.json
Due: generate

Regenerate client from commit 9f62108 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetMatchingSignals.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalData.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalType.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 605b75b of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
Due: generate

Regenerate client from commit 18afb2c of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
Due: generate

Regenerate client from commit 2ffb29f of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/TableRowResourceArray.java
  src/main/java/com/datadog/api/client/v2/model/TableRowResourceArrayMeta.java
Due: generate

Regenerate client from commit 6660dcf of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/terraform-state-files/CreateTerraformBackendSyncConfig.java
  examples/v2/terraform-state-files/DeleteTerraformBackendSyncConfig.java
  examples/v2/terraform-state-files/ListTerraformBackendSyncConfigs.java
  examples/v2/terraform-state-files/UpdateTerraformBackendSyncConfig.java
  src/main/java/com/datadog/api/client/v2/api/TerraformStateFilesApi.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendBucket.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendKind.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendListResponse.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendResponse.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendSyncStatus.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendType.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateRequest.java
  src/test/resources/com/datadog/api/client/v2/api/terraform_state_files.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/create-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/delete-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/list-terraform-backend-sync-configurations-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/update-a-terraform-backend-sync-configuration-returns-conflict-response.json
Due: generate

Regenerate client from commit e2193fc of spec repo
  examples/v2/metrics/CreateTagIndexingRule.java
  examples/v2/metrics/UpdateTagIndexingRule.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/generated-test/test-runner-data/v2/metrics/create-a-tag-indexing-rule-returns-created-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-not-found-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-ok-response.json
  src/test/resources/generated-test/test-server-data/v2/metrics.json
Due: none

Regenerate client from commit c1f6c48 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/terraform-state-files/CreateTerraformBackendSyncConfig.java
  examples/v2/terraform-state-files/DeleteTerraformBackendSyncConfig.java
  examples/v2/terraform-state-files/ListTerraformBackendSyncConfigs.java
  examples/v2/terraform-state-files/UpdateTerraformBackendSyncConfig.java
  src/main/java/com/datadog/api/client/v2/api/TerraformStateFilesApi.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendBucket.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendKind.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendListResponse.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendResponse.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendSyncStatus.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendType.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/TerraformBackendUpdateRequest.java
  src/test/resources/com/datadog/api/client/v2/api/terraform_state_files.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/create-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/delete-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/list-terraform-backend-sync-configurations-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/terraform-state-files/update-a-terraform-backend-sync-configuration-returns-conflict-response.json
  src/test/resources/generated-test/test-server-data/manifest.json
  src/test/resources/generated-test/test-server-data/v2/terraform-state-files.json
Due: generate

Regenerate client from commit 7f0c07a of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AnalysisRequestRule.java
  src/main/java/com/datadog/api/client/v2/model/CustomRuleRevisionAttributesSeverity.java
  src/main/java/com/datadog/api/client/v2/model/Language.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit a160e5f of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetMatchingSignals.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalData.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalType.java
  src/main/java/com/datadog/api/client/v2/model/MatchingSignalsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 552c309 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagIndexingRule.java
  examples/v2/metrics/UpdateTagIndexingRule.java
  src/main/java/com/datadog/api/client/v2/model/TagIndexingRuleDynamicTags.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/generated-test/test-runner-data/v2/metrics/create-a-tag-indexing-rule-returns-created-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-not-found-response.json
  src/test/resources/generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-ok-response.json
  src/test/resources/generated-test/test-server-data/v2/metrics.json
Due: generate

Regenerate client from commit a4a6ad3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/gcp-integration/CreateGCPSTSAccount_2882283621.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount_4285997499.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/gcp-integration/create-a-new-entry-for-your-service-account-with-org-folder-resource-collection-enabled-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/gcp-integration/update-sts-service-account-returns-ok-response-with-org-folder-resource-collection-enabled.json
  src/test/resources/generated-test/test-server-data/v2/gcp-integration.json
Due: generate

Regenerate client from commit 099b3f3 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/IpRangesApi.java
Due: generate

Regenerate client from commit 41e19db of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DeploymentGatesEvaluationResultResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DeploymentGatesEvaluationResultResponseAttributesGateStatus.java
  src/main/java/com/datadog/api/client/v2/model/DeploymentGatesRuleResponse.java
Due: generate

Regenerate client from commit 8308ab1 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
Due: generate

Regenerate client from commit 4b5e808 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialAPIKeyAttributes.java
Due: generate
