Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit b63ccd75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/WebhooksIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/api/ApmRetentionFiltersApi.java
Due: generate

Regenerate client from commit 514c9081 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit deb69b98 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/gcp-integration/CreateGCPSTSAccount_109518525.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_account_tags_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_account_tags_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: generate

Regenerate client from commit aee9e14a of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

Enable request retry in BDD tests (#1982)
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit adf28ce4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1754992756.java
  src/main/java/com/datadog/api/client/v1/model/PowerpackTemplateVariableContents.java
  src/main/java/com/datadog/api/client/v1/model/PowerpackTemplateVariables.java
  src/main/java/com/datadog/api/client/v1/model/PowerpackWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/PowerpackWidgetDefinitionType.java
  src/main/java/com/datadog/api/client/v1/model/WidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_powerpack_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_powerpack_widget.json
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_Powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/powerpack_widget.json
Due: generate

Regenerate client from commit 79ab1c3c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
Due: generate

Regenerate client from commit 3ff3d77e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1.java
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Regenerate client from commit 432a5a71 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/CreateMonitor_1539578087.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptionsCustomSchedule.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptionsCustomScheduleRecurrence.java
  src/test/resources/cassettes/features/v1/Create_a_metric_monitor_with_a_custom_schedule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_metric_monitor_with_a_custom_schedule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit faa2c8d3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit f7a95272 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/powerpack/CreatePowerpack.java
  examples/v2/powerpack/ListPowerpacks.java
  examples/v2/powerpack/UpdatePowerpack.java
  src/main/java/com/datadog/api/client/v2/api/PowerpackApi.java
  src/main/java/com/datadog/api/client/v2/model/ListPowerpacksResponse.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackGroupWidget.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackGroupWidgetDefinition.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackGroupWidgetLayout.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackInnerWidgetLayout.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackInnerWidgets.java
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_with_missing_group_widget_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_with_missing_group_widget_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.json
  src/test/resources/com/datadog/api/client/v2/api/powerpack.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 298a7f88 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/events.feature
Due: none

Regenerate client from commit 6482b048 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: none

Regenerate client from commit 77b6b5b3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit afb48804 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_2621709423.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionSchema.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionSchemaVersions.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Integrations.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Link.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Opsgenie.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2OpsgenieRegion.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Pagerduty.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Version.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionsCreateRequest.java
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_2_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_2_returns_CREATED_response.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

fix null pointer in field lookup
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

fix licenses
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit 6653b14d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/powerpack/CreatePowerpack.java
  examples/v2/powerpack/ListPowerpacks.java
  examples/v2/powerpack/ListPowerpacks_1173755071.java
  examples/v2/powerpack/UpdatePowerpack.java
  src/main/java/com/datadog/api/client/v2/api/PowerpackApi.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_powerpack_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_powerpack_widget.json
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_Powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_Powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_Powerpack_returns_Powerpack_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Powerpack_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Powerpack_Not_Found_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/powerpack.feature
  src/test/resources/com/datadog/api/client/v2/api/powerpack_payload.json
Due: generate

Regenerate client from commit 9c8a1ad7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Regenerate client from commit a04c27c5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/container-images/ListContainerImages.java
  examples/v2/container-images/ListContainerImages_3088586393.java
  examples/v2/container-images/ListContainerImages_3974828736.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ContainerImagesApi.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImage.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageFlavor.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageGroup.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageGroupAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageGroupImagesRelationshipsLink.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageGroupRelationships.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageGroupRelationshipsLinks.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageGroupType.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageItem.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageMeta.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageMetaPage.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageMetaPageType.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageType.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImageVulnerabilities.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImagesResponse.java
  src/main/java/com/datadog/api/client/v2/model/ContainerImagesResponseLinks.java
  src/test/resources/cassettes/features/v2/Get_all_Container_Image_groups_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_Container_Image_groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_Container_Images_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_Container_Images_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_Container_Images_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_Container_Images_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/container_images.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 201be608 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/IPPrefixesGlobal.java
  src/main/java/com/datadog/api/client/v1/model/IPRanges.java
Due: generate

Regenerate client from commit 1ddbcdce of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RestrictionPolicyBinding.java
  src/test/resources/com/datadog/api/client/v2/api/restriction_policies.feature
Due: generate

Regenerate client from commit d4c17bf0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2Type.java
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Regenerate client from commit 30a99088 of spec repo
  .apigentools-info
  examples/v2/service-accounts/CreateServiceAccountApplicationKey.java
  examples/v2/service-accounts/CreateServiceAccountApplicationKey_1761876297.java
  examples/v2/service-accounts/DeleteServiceAccountApplicationKey.java
  examples/v2/service-accounts/DeleteServiceAccountApplicationKey_992091161.java
  examples/v2/service-accounts/GetServiceAccountApplicationKey.java
  examples/v2/service-accounts/GetServiceAccountApplicationKey_819075131.java
  examples/v2/service-accounts/ListServiceAccountApplicationKeys.java
  examples/v2/service-accounts/ListServiceAccountApplicationKeys_1268914341.java
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey.java
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey_768415790.java
  src/test/resources/cassettes/features/v2/Create_an_app_key_for_this_service_account_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_app_key_for_this_service_account_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_an_application_key_for_this_service_account_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_application_key_for_this_service_account_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_an_application_key_for_this_service_account_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_application_key_for_this_service_account_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Edit_an_app_key_owned_by_this_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Edit_an_app_key_owned_by_this_service_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_an_application_key_for_this_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Edit_an_application_key_for_this_service_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_app_keys_owned_by_this_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_app_keys_owned_by_this_service_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_one_app_key_owned_by_this_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_one_app_key_owned_by_this_service_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_one_application_key_for_this_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_one_application_key_for_this_service_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_application_keys_for_this_service_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_application_keys_for_this_service_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
Due: none

fix licenses (#2020)
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit 9c0d47b3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent.java
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: generate

Regenerate client from commit 4f580adf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Fix test
  src/test/java/com/datadog/api/client/v1/api/DashboardsApiTest.java
Due: java-format

Regenerate client from commit f65f803e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/GroupWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/GroupWidgetItem.java
  src/main/java/com/datadog/api/client/v1/model/GroupWidgetItemDefinition.java
Due: generate

catch all exceptions instead of just null pointer
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 823e1cf6 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Create_a_retention_filter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_retention_filter_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/apm_retention_filters.feature
Due: none

Catch all exceptions in ResponseHasItemWithField step definition (#2031)
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 696abec0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit d0a92e86 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/users/GetInvitation.java
  src/main/java/com/datadog/api/client/v2/api/UsersApi.java
  src/main/java/com/datadog/api/client/v2/model/UserInvitationDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UserInvitationResponseData.java
Due: generate

Regenerate client from commit 7e490450 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/ListTeams_3429963470.java
  src/main/java/com/datadog/api/client/v2/api/KeyManagementApi.java
  src/main/java/com/datadog/api/client/v2/api/RolesApi.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/main/java/com/datadog/api/client/v2/model/TeamsField.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamPermissionAttributes.java
  src/test/resources/cassettes/features/v2/Get_all_teams_with_fields_team_parameter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_teams_with_fields_team_parameter_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit 9ebdefa4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
