Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit e38a8a7 of spec repo
  src/test/resources/cassettes/features/v2/Create_AWS_Scan_Options_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_AWS_Scan_Options_returns_Bad_Request_response.json
Due: none

Regenerate client from commit d8f6dd8 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalArchiveReason.java
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  pom.xml
Due: none

Regenerate client from commit c7d416f of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

Regenerate client from commit 3711875 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSecretsRules.java
  examples/v2/security-monitoring/ListMultipleRulesets.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsRequest.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsRequestData.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsRequestDataType.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponse.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseData.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItems.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsData.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsDataType.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsRulesItems.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsRulesItemsArgumentsItems.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsRulesItemsData.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsRulesItemsDataType.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataAttributesRulesetsItemsRulesItemsTestsItems.java
  src/main/java/com/datadog/api/client/v2/model/GetMultipleRulesetsResponseDataType.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleArray.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleData.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleDataAttributesMatchValidation.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleDataAttributesMatchValidationInvalidHttpStatusCodeItems.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleDataAttributesMatchValidationValidHttpStatusCodeItems.java
  src/main/java/com/datadog/api/client/v2/model/SecretRuleDataType.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 97e042b of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/aws-integration/CreateAWSEventBridgeSource.java
  examples/v2/aws-integration/DeleteAWSEventBridgeSource.java
  examples/v2/aws-integration/ListAWSEventBridgeSources.java
  src/main/java/com/datadog/api/client/v1/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeAccountConfiguration.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateRequestData.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeCreateStatus.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteRequest.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteRequestData.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeDeleteStatus.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeListResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeListResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeListResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeSource.java
  src/main/java/com/datadog/api/client/v2/model/AWSEventBridgeType.java
  src/main/java/com/datadog/api/client/v2/model/AWSNamespaceTagFilter.java
  src/test/resources/com/datadog/api/client/v2/api/aws_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 95b8434 of spec repo
  src/test/resources/com/datadog/api/client/v2/api/data_deletion.feature
Due: none

Regenerate client from commit e31a80b of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/client/v1/api/AwsLogsIntegrationApi.java
  src/main/java/com/datadog/api/client/v1/model/AWSAccount.java
Due: generate

Regenerate client from commit deafda3 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
Due: generate

Regenerate client from commit 8507789 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/AwsIntegrationApi.java
Due: generate

Regenerate client from commit 5ba3857 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionEventsDataSource.java
Due: generate

Regenerate client from commit ec89ca1 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v2/api/reference_tables.feature
Due: generate

Regenerate client from commit a7c729e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/PreviewCatalogEntities.java
  src/main/java/com/datadog/api/client/v2/api/SoftwareCatalogApi.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseArray.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationships.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsIncidents.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsIncidentsDataItems.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsIncidentsDataItemsType.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsOncalls.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsOncallsDataItems.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsOncallsDataItemsType.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsRawSchema.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsRawSchemaData.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsRawSchemaDataType.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsRelatedEntities.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsRelatedEntitiesDataItems.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsRelatedEntitiesDataItemsType.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsSchema.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsSchemaData.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataRelationshipsSchemaDataType.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseDataType.java
  src/main/java/com/datadog/api/client/v2/model/PreviewEntityResponseData.java
  src/test/resources/com/datadog/api/client/v2/api/software_catalog.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 8386a26 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ReferenceTablesApi.java
Due: generate

Regenerate client from commit e8e45fc of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 23b5e7e of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MetricsApi.java
Due: generate

Regenerate client from commit e470158 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit ada708b of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
Due: generate

Regenerate client from commit 160a422 of spec repo
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: none

Regenerate client from commit 901655b of spec repo
  src/test/resources/com/datadog/api/client/v2/api/monitors.feature
Due: none

Regenerate client from commit 3c17510 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/TableResultV2DataAttributesFileMetadataCloudStorage.java
  src/main/java/com/datadog/api/client/v2/model/TableResultV2DataAttributesFileMetadataLocalFile.java
Due: generate

Regenerate client from commit 12a343e of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/UserAttributes.java
Due: generate

Regenerate client from commit 31feed4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs-restriction-queries/AddRoleToRestrictionQuery.java
  examples/v2/logs-restriction-queries/CreateRestrictionQuery.java
  examples/v2/logs-restriction-queries/DeleteRestrictionQuery.java
  examples/v2/logs-restriction-queries/GetRestrictionQuery.java
  examples/v2/logs-restriction-queries/GetRoleRestrictionQuery.java
  examples/v2/logs-restriction-queries/ListRestrictionQueries.java
  examples/v2/logs-restriction-queries/ListRestrictionQueryRoles.java
  examples/v2/logs-restriction-queries/ListUserRestrictionQueries.java
  examples/v2/logs-restriction-queries/RemoveRoleFromRestrictionQuery.java
  examples/v2/logs-restriction-queries/UpdateRestrictionQuery.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/LogsRestrictionQueriesApi.java
  src/main/java/com/datadog/api/client/v2/model/LogsRestrictionQueriesType.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryCreateData.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryListResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRole.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRoleAttribute.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRolesResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryUpdatePayload.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithRelationshipsResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithoutRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithoutRelationshipsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/logs_restriction_queries.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 505640d of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/KeyManagementApi.java
  src/main/java/com/datadog/api/client/v2/api/KeyManagementApi.java
Due: generate

Regenerate client from commit b6a9475 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ErrorTrackingApi.java
Due: generate

Regenerate client from commit 46390f1 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_suppression_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_suppression_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_suppression_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_suppression_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 46eb50c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/team-connections/CreateTeamConnections.java
  examples/v2/team-connections/DeleteTeamConnections.java
  examples/v2/team-connections/ListTeamConnections.java
  examples/v2/team-connections/ListTeamConnections_1473516764.java
  examples/v2/team-connections/ListTeamConnections_2418873869.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/TeamConnectionsApi.java
  src/main/java/com/datadog/api/client/v2/model/ConnectedTeamRef.java
  src/main/java/com/datadog/api/client/v2/model/ConnectedTeamRefData.java
  src/main/java/com/datadog/api/client/v2/model/ConnectedTeamRefDataType.java
  src/main/java/com/datadog/api/client/v2/model/ConnectionsPagePagination.java
  src/main/java/com/datadog/api/client/v2/model/ConnectionsResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnection.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionCreateData.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionDeleteRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionDeleteRequestDataItem.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionRelationships.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionType.java
  src/main/java/com/datadog/api/client/v2/model/TeamConnectionsResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamRef.java
  src/main/java/com/datadog/api/client/v2/model/TeamRefData.java
  src/main/java/com/datadog/api/client/v2/model/TeamRefDataType.java
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/team_connections.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

respect insertion order
  src/test/java/com/datadog/api/Given.java
Due: java-format

respect insertion order (#3248)
  src/test/java/com/datadog/api/Given.java
Due: java-format

Regenerate client from commit f0f73ae of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call/CreateUserEmailNotificationChannel.java
  examples/v2/on-call/DeleteUserEmailNotificationChannel.java
  examples/v2/on-call/GetUserEmailNotificationChannel.java
  examples/v2/on-call/UpdateUserEmailNotificationChannel.java
  src/main/java/com/datadog/api/client/v2/api/ErrorTrackingApi.java
  src/main/java/com/datadog/api/client/v2/api/OnCallApi.java
  src/main/java/com/datadog/api/client/v2/model/Email.java
  src/main/java/com/datadog/api/client/v2/model/EmailAttributes.java
  src/main/java/com/datadog/api/client/v2/model/EmailCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/EmailData.java
  src/main/java/com/datadog/api/client/v2/model/EmailFormatType.java
  src/main/java/com/datadog/api/client/v2/model/EmailType.java
  src/main/java/com/datadog/api/client/v2/model/EmailUpdateRequest.java
  src/test/resources/cassettes/features/v2/Create_an_On_Call_email_for_a_user_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_On_Call_email_for_a_user_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_an_On_Call_email_for_a_user_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_On_Call_email_for_a_user_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_an_On_Call_email_for_a_user_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_On_Call_email_for_a_user_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Delete_an_On_Call_email_for_a_missing_email_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_On_Call_email_for_a_missing_email_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Delete_an_On_Call_email_for_a_missing_user_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_On_Call_email_for_a_missing_user_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Delete_an_On_Call_email_for_a_user_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_On_Call_email_for_a_user_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_an_On_Call_email_for_a_user_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_an_On_Call_email_for_a_user_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_On_Call_email_for_a_user_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_On_Call_email_for_a_user_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/on-call.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit b4519e6 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 266da8c of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ThreatHuntingJobResponseAttributes.java
  src/test/resources/cassettes/features/v2/Get_a_job_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_job_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_historical_jobs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_historical_jobs_returns_OK_response.json
Due: generate
