Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

add support for additionalProperties:false
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit 20d1cfc9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 7a16d6c5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

update tests
  src/test/java/com/datadog/api/client/v1/api/DashboardsApiTest.java
Due: java-format

Regenerate client from commit fafdefa8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountUpdateRequestAttributes.java
Due: generate

fix azure test client secret
  src/test/java/com/datadog/api/client/v1/api/AzureIntegrationApiTest.java
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.json
Due: java-format

Regenerate client from commit dcc3176b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FastlyAccounResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FastlyAccountUpdateRequestAttributes.java
Due: generate

Regenerate client from commit 5e33062a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/OpsgenieServiceResponseAttributes.java
Due: generate

Regenerate client from commit 07d72513 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/APIKeyResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/APIKeyUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationKeyResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LeakedKey.java
  src/main/java/com/datadog/api/client/v2/model/LeakedKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LeakedKeyType.java
Due: generate

Regenerate client from commit 5f2719fc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/APIKeyResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/APIKeyUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationKeyResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LeakedKey.java
  src/main/java/com/datadog/api/client/v2/model/LeakedKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/LeakedKeyType.java
Due: generate

Fix azure test client secret tripping backend validation (#2434)
  src/test/java/com/datadog/api/client/v1/api/AzureIntegrationApiTest.java
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.json
Due: java-format

Regenerate client from commit 1b56c3ba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateGlobalVariable.java
  examples/v1/synthetics/CreateGlobalVariable_3298562511.java
  examples/v1/synthetics/CreateGlobalVariable_3397718516.java
  examples/v1/synthetics/EditGlobalVariable.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsGlobalVariableRequest.java
  src/test/resources/cassettes/features/v1/Create_a_FIDO_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_FIDO_global_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_TOTP_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_TOTP_global_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_global_variable_fido_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_global_variable_from_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_global_variable_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_global_variable_totp_payload.json
Due: generate

Regenerate client from commit 9c789d05 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FastlyAccounResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FastlyAccountUpdateRequestAttributes.java
Due: generate

Regenerate client from commit a4585fac of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountUpdateRequestAttributes.java
Due: generate

Regenerate client from commit e0cd2a66 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/OpsgenieServiceResponseAttributes.java
Due: generate

Regenerate client from commit 2d74b3a8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountUpdateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FastlyAccountUpdateRequestAttributes.java
Due: generate

close PRs that are inactive for 4 months
  .github/workflows/stale.yml
Due: none

add devflow for stale branch cleanup
  .github/workflows/stale.yml
  repository.datadog.yaml
Due: none

Close PRs that are inactive for 4 months (#2447)
  .github/workflows/stale.yml
  repository.datadog.yaml
Due: none

Regenerate client from commit be697120 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 5bcbcb40 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequestAttributes.java
Due: generate

Regenerate client from commit 4470dfc1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
Due: generate

Regenerate client from commit ffed3856 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/MetricAssetAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricDashboardAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricDashboardAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricMonitorAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricNotebookAsset.java
  src/main/java/com/datadog/api/client/v2/model/MetricSLOAsset.java
Due: generate

Regenerate client from commit e8ef24a7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionAttributes.java
Due: generate

Regenerate client from commit 46829234 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 9ce6b1ec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.java
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.java
  examples/v1/synthetics/CreateSyntheticsAPITest_1402674167.java
  examples/v1/synthetics/CreateSyntheticsAPITest_3829801148.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
  src/test/resources/cassettes/features/v1/Create_a_FIDO_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_FIDO_global_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_TOTP_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_TOTP_global_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_grpc_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_ssl_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_multi_step_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_udp_payload.json
Due: generate

Regenerate client from commit de79ce01 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v2/api/ip_allowlist.feature
Due: generate

Regenerate client from commit 9aa94b63 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/FetchUptimes.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsFetchUptimesPayload.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestUptime.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsUptime.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: generate

Regenerate client from commit f3d81376 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
Due: generate

Regenerate client from commit 1167a86b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 0857d88a of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: none

Regenerate client from commit f621bf7a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

Regenerate client from commit 09daef2e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.java
  examples/v1/logs-indexes/UpdateLogsIndex.java
  src/main/java/com/datadog/api/client/v1/model/LogsIndex.java
  src/main/java/com/datadog/api/client/v1/model/LogsIndexUpdateRequest.java
  src/test/resources/com/datadog/api/client/v1/api/logs_indexes.feature
Due: generate

Regenerate client from commit 6b2f00dd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Monitor.java
Due: generate

Regenerate client from commit fcff7a80 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/HTTPLogItem.java
Due: generate

Regenerate client from commit 518ca9df of spec repo
  .apigentools-info
  examples/v2/service-level-objectives/CreateSLOReportJob.java
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_SLO_report_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/service_level_objectives.feature
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
