Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 56b8bb9b of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_graph_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_graph_widget.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_value_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_value_widget.json
  src/test/resources/cassettes/features/v1/Delete_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Edit_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_with_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Schedule_a_monitor_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_monitor_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_Invalid_JSON_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_Invalid_JSON_response.json
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
Due: none

Regenerate client from commit 1bd8568a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SoftwareCatalogApi.java
  src/main/java/com/datadog/api/client/v2/model/EntityAttributes.java
  src/main/java/com/datadog/api/client/v2/model/EntityData.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseIncludedIncident.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseIncludedRawSchema.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseIncludedRelatedOncallAttributes.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseIncludedRelatedOncallEscalationItem.java
  src/main/java/com/datadog/api/client/v2/model/EntityResponseIncludedSchema.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3APIVersion.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogCodeLocationItem.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogEventItem.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogIntegrationOpsgenie.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogIntegrationPagerduty.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogLogItem.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogPerformance.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatadogPipelines.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3Datastore.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatastoreDatadog.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatastoreSpec.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3Integrations.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3Metadata.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3MetadataAdditionalOwnersItems.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3MetadataContactsItems.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3MetadataLinksItems.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3MetadataOwner.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3Queue.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3QueueDatadog.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3QueueSpec.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3Service.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3ServiceDatadog.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3ServiceSpec.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3System.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3SystemDatadog.java
  src/main/java/com/datadog/api/client/v2/model/IncludeType.java
  src/main/java/com/datadog/api/client/v2/model/ListEntityCatalogResponseLinks.java
  src/main/java/com/datadog/api/client/v2/model/RelationType.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipItem.java
  src/test/resources/com/datadog/api/client/v2/api/software_catalog.feature
Due: generate

Regenerate client from commit 049920eb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 85278ed5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsCITestBody.java
Due: generate

Regenerate client from commit 2a5e035c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerMeta.java
Due: generate

Regenerate client from commit 3a805b0a of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

Regenerate client from commit cd45bf1d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParams.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsCheck.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsDirection.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElement.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementContextType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementRelativePosition.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocator.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItemsType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsPosition.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsPositionPositionsItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsVariable.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBindingRelation.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit da2ec797 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/HTTPLogItem.java
Due: generate

Regenerate client from commit 86072741 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetMonthlyCostAttribution.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 97c53c7d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/application-security-exclusion-filters/CreateApplicationSecurityExclusionFilter.java
  examples/v2/application-security-exclusion-filters/DeleteApplicationSecurityExclusionFilter.java
  examples/v2/application-security-exclusion-filters/GetApplicationSecurityExclusionFilters.java
  examples/v2/application-security-exclusion-filters/ListApplicationSecurityExclusionFilters.java
  examples/v2/application-security-exclusion-filters/UpdateApplicationSecurityExclusionFilter.java
  src/main/java/com/datadog/api/client/v2/api/ApplicationSecurityExclusionFiltersApi.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterCreateData.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterData.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterListAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterListResponse.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterListRulesTarget.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterListRulesTargetTags.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterMetadata.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterResponse.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterRulesTarget.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterScope.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterType.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionFilterUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityExclusionListFilterData.java
  src/test/resources/com/datadog/api/client/v2/api/application_security_exclusion_filters.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit c4a891f3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStepDetail.java
Due: generate

Regenerate client from commit fb024a45 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3298564989.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_llm_observability_stream_list_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_llm_observability_stream_list_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 3cbe2c1b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEvent.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCategory.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequestPayload.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequestType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponse.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributesEvt.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponsePayload.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthor.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthorType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResource.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResourceType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesImpactedResourcesItems.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesImpactedResourcesItemsType.java
  src/test/resources/com/datadog/api/client/v2/api/events.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 112f4aa8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParams.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsDirection.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElement.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementContextType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementRelativePosition.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocator.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItemsType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsPositionsItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsVariable.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBinding.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBindingRelation.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestsMobileApplication.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestCiOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsScheduling.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsSchedulingTimeframe.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit ddca5581 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentType.java
  examples/v2/incidents/DeleteIncidentType.java
  examples/v2/incidents/GetIncidentType.java
  examples/v2/incidents/ListIncidentTypes.java
  examples/v2/incidents/UpdateIncidentType.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeCreateData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeListResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypePatchData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypePatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeUpdateAttributes.java
  src/test/resources/cassettes/features/v2/Add_commander_to_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_an_incident_attachment_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_an_incident_integration_metadata_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Create_an_incident_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_an_existing_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_an_incident_integration_metadata_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_an_incident_s_integration_metadata_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_incidents_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_incident_attachments_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_incident_integration_metadata_details_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_the_details_of_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Remove_commander_from_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Search_for_incidents_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_integration_metadata_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_incident_todo_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 37070fd4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/HTTPLogItem.java
Due: generate

Regenerate client from commit 85355ab0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

bump ddtrace
  pom.xml
Due: none

Regenerate client from commit 9ac9609b of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

bump ddtrace (#2534)
  pom.xml
Due: none

Regenerate client from commit 2340c8b7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEvent.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCategory.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequestPayload.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequestType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponse.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributesEvt.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponsePayload.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthor.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthorType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResource.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResourceType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesImpactedResourcesItems.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesImpactedResourcesItemsType.java
  src/test/resources/com/datadog/api/client/v2/api/events.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 6a94e484 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetBillingDimensionMapping.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItem.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItemAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItemAttributesEndpointsItems.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingBodyItemAttributesEndpointsItemsStatus.java
  src/main/java/com/datadog/api/client/v2/model/BillingDimensionsMappingResponse.java
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 603ea76a of spec repo
  .apigentools-info
  examples/v2/security-monitoring/ListFindings_1668290866.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/resources/cassettes/features/v2/List_findings_with_detection_type_query_param_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_findings_with_detection_type_query_param_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: java-format

Regenerate client from commit df3187ca of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStepDetail.java
Due: generate

Regenerate client from commit a916f673 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Create_role_with_a_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/roles.feature
Due: none

Regenerate client from commit 7c559e99 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParams.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsDirection.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElement.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementContextType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementRelativePosition.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocator.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItemsType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsPositionsItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsVariable.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBindingRelation.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestConfig.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptionsMonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptionsMonitorOptionsNotificationPresetName.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestsMobileApplication.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestCiOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsScheduling.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsSchedulingTimeframe.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit da544f48 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountCreateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountUpdateRequestAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: generate

Regenerate client from commit aaacb8db of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerMeta.java
Due: generate

Regenerate client from commit 191fb816 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit a2f558e8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 849ce45c of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

Regenerate client from commit 2e09a3ec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.java
  examples/v1/synthetics/UpdateBrowserTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParams.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsDirection.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElement.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementContextType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementRelativePosition.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocator.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsElementUserLocatorValuesItemsType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsPositionsItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepParamsVariable.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBindingItemsRole.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestConfig.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptionsMonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptionsMonitorOptionsNotificationPresetName.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestsMobileApplication.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestCiOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptionsNotificationPresetName.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsSchedulingTimeframe.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRestrictionPolicyBinding.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRestrictionPolicyBindingRelation.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit b4ad1786 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit c0b9551e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerIncludedKeywordConfiguration.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
