Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit fa551a3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/ApplicationKeyCreateAttributes.md
  api_docs/v2/ApplicationKeyUpdateAttributes.md
  api_docs/v2/FullApplicationKeyAttributes.md
  api_docs/v2/PartialApplicationKeyAttributes.md
  examples/v2/key-management/CreateCurrentUserApplicationKey_3383369233.java
  examples/v2/key-management/UpdateApplicationKey.java
  examples/v2/key-management/UpdateCurrentUserApplicationKey.java
  examples/v2/service-accounts/CreateServiceAccountApplicationKey_3480494373.java
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey_768415790.java
  src/main/java/com/datadog/api/v2/client/model/ApplicationKeyCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/ApplicationKeyUpdateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/FullApplicationKeyAttributes.java
  src/main/java/com/datadog/api/v2/client/model/PartialApplicationKeyAttributes.java
  src/test/resources/cassettes/features/v2/Create_an_Application_key_with_scopes_for_current_user_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_Application_key_with_scopes_for_current_user_returns_Created_response.json
  src/test/resources/cassettes/features/v2/Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response.json
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
  src/test/resources/com/datadog/api/v2/client/api/service_accounts.feature
Due: generated, generate

Regenerate client from commit 861a3c0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/HourlyUsageAttributionBody.md
  api_docs/v1/HourlyUsageAttributionMetadata.md
  api_docs/v1/HourlyUsageAttributionPagination.md
  api_docs/v1/HourlyUsageAttributionResponse.md
  api_docs/v1/HourlyUsageAttributionUsageType.md
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  examples/v1/downtimes/CreateDowntime.java
  examples/v1/downtimes/CreateDowntime_1393233946.java
  examples/v1/downtimes/CreateDowntime_2908359488.java
  examples/v1/downtimes/CreateDowntime_3059354445.java
  examples/v1/downtimes/CreateDowntime_3355644446.java
  examples/v1/metrics/SubmitMetrics.java
  examples/v1/metrics/SubmitMetrics_2203981258.java
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.java
  examples/v1/service-level-objective-corrections/CreateSLOCorrection_1326388368.java
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.java
  examples/v1/snapshots/GetGraphSnapshot.java
  examples/v1/usage-metering/GetHourlyUsageAttribution.java
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionBody.java
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionMetadata.java
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionPagination.java
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionResponse.java
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionUsageType.java
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Regenerate client from commit 58a70a6 of spec repo
  .apigentools-info
  api_docs/v1/HourlyUsageAttributionBody.md
  api_docs/v1/HourlyUsageAttributionMetadata.md
  api_docs/v1/HourlyUsageAttributionPagination.md
  api_docs/v1/HourlyUsageAttributionResponse.md
  api_docs/v1/HourlyUsageAttributionUsageType.md
Due: generated

Regenerate client from commit 2f072b0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/README.md
  api_docs/v2/SecurityMonitoringRuleQuery.md
  api_docs/v2/SecurityMonitoringRuleQueryCreate.md
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleQuery.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleQueryCreate.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_type_workload_security_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_type_workload_security_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

Regenerate client from commit 7b8392b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageRumSessionsHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageRumSessionsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
Due: generated, generate

Regenerate client from commit 4c3cdd2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/Dashboard.md
  examples/v1/dashboards/GetDashboard_4262333854.java
  src/main/java/com/datadog/api/v1/client/model/Dashboard.java
  src/test/resources/cassettes/features/v1/Get_a_dashboard_returns_author_name_.freeze
  src/test/resources/cassettes/features/v1/Get_a_dashboard_returns_author_name_.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Regenerate client from commit 6946869 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Get_a_dashboard_returns_author_name_.json
Due: none

Regenerate client from commit 184be3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsAPIStep.md
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPIStep.java
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_test_multi_step_payload.json
Due: generated, generate

Regenerate client from commit a4fe6c9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageAttributionPagination.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionPagination.java
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Regenerate client from commit d72de97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/DowntimeRecurrence.java
Due: generated, generate

Fix OffsetDateTime parsing in tests
  src/test/java/com/datadog/api/World.java
Due: java-format

Update World.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 5471583 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_dashboards_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_monitor_details_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Monitors_group_search_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Monitors_search_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Query_timeseries_points_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_all_incident_services_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_all_incident_teams_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_quick_list_of_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_API_keys_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_processes_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_users_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_roles_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_tag_configurations_with_a_tag_filter_returns_Success_response.json
Due: none

Regenerate client from commit d9089b2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageRumSessionsHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageRumSessionsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
Due: generated, generate

Regenerate client from commit 16aa0e9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/HostMeta.md
  api_docs/v1/HostMetaInstallMethod.md
  api_docs/v1/README.md
  examples/v1/hosts/ListHosts_2975406675.java
  examples/v1/hosts/ListHosts_347346033.java
  src/main/java/com/datadog/api/v1/client/model/HostMeta.java
  src/main/java/com/datadog/api/v1/client/model/HostMetaInstallMethod.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.freeze
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/hosts.feature
Due: generated, generate

Lint all docs
  .pre-commit-config.yaml
Due: generate

Add files directive
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 43a312f of spec repo
  .apigentools-info
  api_docs/v1/HostMetaInstallMethod.md
Due: generated

Regenerate client from commit 1d9e354 of spec repo
  .apigentools-info
  api_docs/v1/HostMetaInstallMethod.md
Due: generated

Regenerate client from commit 1c5282f of spec repo
  .apigentools-info
  api_docs/v1/HostMetaInstallMethod.md
Due: generated

Regenerate client from commit 7c3b86d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit cc7ebbe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonthlyUsageAttributionBody.md
  api_docs/v1/MonthlyUsageAttributionMetadata.md
  api_docs/v1/MonthlyUsageAttributionPagination.md
  api_docs/v1/MonthlyUsageAttributionResponse.md
  api_docs/v1/MonthlyUsageAttributionSupportedMetrics.md
  api_docs/v1/MonthlyUsageAttributionValues.md
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  examples/v1/usage-metering/GetMonthlyUsageAttribution.java
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionBody.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionMetadata.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionPagination.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionResponse.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionValues.java
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_Monthly_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Monthly_Usage_Attribution_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Regenerate client from commit f43ab25 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageMeteringApi.md
  examples/v1/usage-metering/GetUsageAttribution.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/test/resources/cassettes/features/v1/Get_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Usage_Attribution_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Regenerate client from commit 55f26ba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsGlobalVariable.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsGlobalVariable.java
Due: generated, generate

Regenerate client from commit 8cf1daa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/IncidentsApi.md
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
Due: generated, generate

Regenerate client from commit 9f3c740 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/TreeMapWidgetDefinition.md
  api_docs/v1/TreeMapWidgetRequest.md
  examples/v1/dashboards/CreateDashboard_1024858348.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetRequest.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_formulas_and_functions_treemap_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_formulas_and_functions_treemap_widget.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated, generate

Use openapi-generator-cli instead of docker-compose
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
  docker-compose.yml
  openapitools.json
Due: generate

Move to .generator
  .generator/openapitools.json
  .gitignore
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 830f39c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/README.md
  api_docs/v2/README.md
Due: generated, generate

Regenerate client from commit bb2c57f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/EventCreateRequest.md
  src/main/java/com/datadog/api/v1/client/model/EventCreateRequest.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
Due: generated, generate

Regenerate client from commit 1ae19d0 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 74ee362 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SyntheticsBasicAuth.md
  api_docs/v1/SyntheticsBasicAuthNTLM.md
  api_docs/v1/SyntheticsBasicAuthNTLMType.md
  api_docs/v1/SyntheticsBasicAuthSigv4.md
  api_docs/v1/SyntheticsBasicAuthSigv4Type.md
  api_docs/v1/SyntheticsBasicAuthWeb.md
  api_docs/v1/SyntheticsBasicAuthWebType.md
  api_docs/v1/SyntheticsTestRequest.md
  api_docs/v1/SyntheticsTestRequestProxy.md
  examples/v1/synthetics/CreateSyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuth.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthNTLM.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthNTLMType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthSigv4.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthSigv4Type.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthWeb.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthWebType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequestProxy.java
  src/test/resources/cassettes/features/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetics_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_test_payload.json
Due: generated, generate

Enable code generation in repo
  .github/workflows/test.yml
Due: none

Run all pre-commits
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: generate

Fix condition
  .pre-commit-config.yaml
Due: generate

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
  generate: any of: ^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)
