Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Add compress support in the client
  .generator/templates/libraries/jersey2/ApiClient.mustache
Due: none

Enable, document
  .generator/templates/libraries/jersey2/ApiClient.mustache
  README.md
Due: none

Fix tests and config setting
  .generator/templates/libraries/jersey2/ApiClient.mustache
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Due: java-format

Skip synthetics tests
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
Due: java-format

Skip synthetics tests (#996)
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
Due: java-format

Regenerate client from commit 7a4f3f3 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
Due: generated

skip existing examples on generation
  extract-code-blocks.awk
Due: none

Regenerate client from commit 0e7768c of spec repo
  .apigentools-info
  api_docs/v1/MonitorOptions.md
  api_docs/v1/MonitorRenotifyStatusType.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/main/java/com/datadog/api/v1/client/model/MonitorRenotifyStatusType.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated

fix failing aws test in ci
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
Due: java-format

pre-commit fix
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
Due: java-format

Fix failing AWS test in ci (#998)
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
Due: java-format

Skip one more synthetics test
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
Due: java-format

Skip one more synthetics test (#999)
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
Due: java-format

skip existing examples on generation (#997)
  extract-code-blocks.awk
Due: none

Regenerate client from commit 9a4b94d of spec repo
  .apigentools-info
  api_docs/v1/NotebookCreateDataAttributes.md
  api_docs/v1/NotebookMetadata.md
  api_docs/v1/NotebookMetadataType.md
  api_docs/v1/NotebookResponseDataAttributes.md
  api_docs/v1/NotebookUpdateDataAttributes.md
  api_docs/v1/NotebooksApi.md
  api_docs/v1/NotebooksResponseDataAttributes.md
  api_docs/v1/NotebooksResponseMeta.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/model/NotebookCreateDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookMetadata.java
  src/main/java/com/datadog/api/v1/client/model/NotebookMetadataType.java
  src/main/java/com/datadog/api/v1/client/model/NotebookResponseDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebookUpdateDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebooksResponseDataAttributes.java
  src/main/java/com/datadog/api/v1/client/model/NotebooksResponseMeta.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/notebooks.feature
Due: generated

documentate debugging flag and changing server
  README.md
Due: none

cleanup
  README.md
Due: none

small change
  README.md
Due: none

Regenerate client from commit 06c7795 of spec repo
  .apigentools-info
  api_docs/v1/Event.md
  src/main/java/com/datadog/api/v1/client/model/Event.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Post_an_event_with_a_long_title_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Post_an_event_with_a_long_title_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/events.feature
Due: generated

Prepare 1.2.0 release
  CHANGELOG.md
  pom.xml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Prepare 1.2.0 release (#1002)
  CHANGELOG.md
  pom.xml
Due: none

Support cross version given statements
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/GivenAction.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit a046371 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  api_docs/v1/SyntheticsBatchDetails.md
  api_docs/v1/SyntheticsBatchDetailsData.md
  api_docs/v1/SyntheticsBatchResult.md
  api_docs/v1/SyntheticsCIBatchMetadata.md
  api_docs/v1/SyntheticsCIBatchMetadataCI.md
  api_docs/v1/SyntheticsCIBatchMetadataGit.md
  api_docs/v1/SyntheticsCITest.md
  api_docs/v1/SyntheticsCITestMetadata.md
  api_docs/v1/SyntheticsCITestMetadataGit.md
  api_docs/v1/SyntheticsStatus.md
  api_docs/v1/SyntheticsTestExecutionRule.md
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBatchDetails.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBatchDetailsData.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBatchResult.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadata.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataCI.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataGit.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsStatus.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestExecutionRule.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generated

Regenerate client from commit 9ad7087 of spec repo
  .apigentools-info
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 452360f of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageSDSHour.md
  api_docs/v1/UsageSDSResponse.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageSDSHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSDSResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Regenerate client from commit 12e050e of spec repo
  .apigentools-info
  api_docs/v1/AWSAccount.md
  src/main/java/com/datadog/api/v1/client/model/AWSAccount.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
Due: generated

Regenerate client from commit fcd10ad of spec repo
  .apigentools-info
  api_docs/v1/UsageTimeseriesHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageTimeseriesHour.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 532aa21 of spec repo
  .apigentools-info
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Regenerate client from commit 303d2e3 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
Due: none

Regenerate client from commit 3b56e2f of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/Monitor.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit 9841481 of spec repo
  .apigentools-info
  api_docs/v1/DistributionWidgetRequest.md
  src/main/java/com/datadog/api/v1/client/model/DistributionWidgetRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data.freeze
  src/test/resources/cassettes/v1/Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

add support for lookup of nullable values
  src/test/java/com/datadog/api/World.java
Due: java-format

ci: get more information about source code
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit c203748 of spec repo
  .apigentools-info
  api_docs/v1/UsageAttributionSupportedMetrics.md
  api_docs/v1/UsageAttributionValues.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

ci: get more information about source code (#1011)
  .github/workflows/test_integration.yml
Due: none

Active the proper span in test tracing
  src/test/java/com/datadog/api/TracePlugin.java
Due: java-format

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
