Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Fix javadoc (#1355)
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/JSON.j2
  .generator/src/generator/templates/auth/Authentication.j2
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/JSON.java
  src/main/java/com/datadog/api/v1/client/api/DashboardsApi.java
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsPipelinesApi.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/api/PagerDutyIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/api/SlackIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/api/TagsApi.java
  src/main/java/com/datadog/api/v1/client/api/WebhooksIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/auth/Authentication.java
  src/main/java/com/datadog/api/v1/client/model/HTTPLogItem.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/JSON.java
  src/main/java/com/datadog/api/v2/client/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsArchivesApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsMetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/client/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
  src/main/java/com/datadog/api/v2/client/auth/Authentication.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogItem.java
Due: generate

Version bump 1.7.1
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit dca4c8bf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2634813877.java
  examples/v1/dashboards/CreateDashboard_3250131584.java
  src/main/java/com/datadog/api/v1/client/model/EventQueryDefinition.java
  src/main/java/com/datadog/api/v1/client/model/EventStreamWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/EventTimelineWidgetDefinition.java
  src/main/java/com/datadog/api/v1/client/model/WidgetEvent.java
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/v1/client/PaginationIterable.java
  src/main/java/com/datadog/api/v1/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/PaginationIterable.java
  src/main/java/com/datadog/api/v2/client/PaginationIterator.java
Due: none

Add pagination helper method (#1337)
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/PaginationIterable.j2
  .generator/src/generator/templates/PaginationIterator.j2
  src/main/java/com/datadog/api/v1/client/PaginationIterable.java
  src/main/java/com/datadog/api/v1/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/PaginationIterable.java
  src/main/java/com/datadog/api/v2/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/ScenariosTest.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit dfe05b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagConfiguration.java
  examples/v2/metrics/DeleteTagConfiguration.java
  examples/v2/metrics/ListTagConfigurationByName.java
  examples/v2/metrics/ListTagConfigurations.java
  examples/v2/metrics/ListTagConfigurations_103226315.java
  examples/v2/metrics/ListTagConfigurations_1799362914.java
  examples/v2/metrics/UpdateTagConfiguration.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: generate

Regenerate client from commit b6edc832 of spec repo
  .apigentools-info
  examples/v2/authn-mappings/ListAuthNMappings.java
  examples/v2/key-management/GetAPIKey.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_API_key_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_AuthN_Mappings_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_AuthN_Mappings_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/authn_mappings.feature
  src/test/resources/com/datadog/api/v2/client/api/key_management.feature
Due: none

Regenerate client from commit 4afe3284 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.java
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.java
  examples/v2/security-platform/CreateSecurityFilter.java
  examples/v2/security-platform/CreateSecurityMonitoringRule.java
  examples/v2/security-platform/DeleteSecurityFilter.java
  examples/v2/security-platform/DeleteSecurityMonitoringRule.java
  examples/v2/security-platform/GetSecurityFilter.java
  examples/v2/security-platform/GetSecurityMonitoringRule.java
  examples/v2/security-platform/ListSecurityFilters.java
  examples/v2/security-platform/ListSecurityMonitoringRules.java
  examples/v2/security-platform/ListSecurityMonitoringSignals.java
  examples/v2/security-platform/SearchSecurityMonitoringSignals.java
  examples/v2/security-platform/UpdateSecurityFilter.java
  examples/v2/security-platform/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/api/SecurityPlatformApi.java
  src/test/resources/com/datadog/api/v2/client/api/given.json
  src/test/resources/com/datadog/api/v2/client/api/security_platform.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generate

build javadoc in ci
  run-tests.sh
Due: none

fix javadoc
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: generate

Regenerate client from commit 47ec2394 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagConfiguration.java
  examples/v2/metrics/DeleteTagConfiguration.java
  examples/v2/metrics/ListTagConfigurationByName.java
  examples/v2/metrics/ListTagConfigurations.java
  examples/v2/metrics/ListTagConfigurations_103226315.java
  examples/v2/metrics/ListTagConfigurations_1799362914.java
  examples/v2/metrics/UpdateTagConfiguration.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: generate

run doc build in seperate job
  .github/workflows/test.yml
  run-tests.sh
Due: none

Regenerate client from commit 4afe3284 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagConfiguration.java
  examples/v2/metrics/DeleteTagConfiguration.java
  examples/v2/metrics/ListTagConfigurationByName.java
  examples/v2/metrics/ListTagConfigurations.java
  examples/v2/metrics/ListTagConfigurations_103226315.java
  examples/v2/metrics/ListTagConfigurations_1799362914.java
  examples/v2/metrics/UpdateTagConfiguration.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.java
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.java
  examples/v2/security-platform/CreateSecurityFilter.java
  examples/v2/security-platform/CreateSecurityMonitoringRule.java
  examples/v2/security-platform/DeleteSecurityFilter.java
  examples/v2/security-platform/DeleteSecurityMonitoringRule.java
  examples/v2/security-platform/GetSecurityFilter.java
  examples/v2/security-platform/GetSecurityMonitoringRule.java
  examples/v2/security-platform/ListSecurityFilters.java
  examples/v2/security-platform/ListSecurityMonitoringRules.java
  examples/v2/security-platform/ListSecurityMonitoringSignals.java
  examples/v2/security-platform/SearchSecurityMonitoringSignals.java
  examples/v2/security-platform/UpdateSecurityFilter.java
  examples/v2/security-platform/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityPlatformApi.java
  src/test/resources/com/datadog/api/v2/client/api/given.json
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/security_platform.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generate

Regenerate client from commit 3e311663 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit a5080035 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/opsgenie-integration/CreateOpsgenieService.java
  examples/v2/opsgenie-integration/DeleteOpsgenieService.java
  examples/v2/opsgenie-integration/GetOpsgenieService.java
  examples/v2/opsgenie-integration/ListOpsgenieServices.java
  examples/v2/opsgenie-integration/UpdateOpsgenieService.java
  src/main/java/com/datadog/api/v2/client/api/OpsgenieIntegrationApi.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceCreateData.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceCreateRequest.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceRegionType.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceResponse.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceResponseAttributes.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceResponseData.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceType.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceUpdateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceUpdateData.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServiceUpdateRequest.java
  src/main/java/com/datadog/api/v2/client/model/OpsgenieServicesResponse.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_service_object_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_service_object_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/given.json
  src/test/resources/com/datadog/api/v2/client/api/opsgenie_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generate

Regenerate client from commit 32abf518 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit b9e36dc8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCoreWebVitals.java
Due: generate

Test build javadoc (#1363)
  .generator/src/generator/templates/Api.j2
  .github/workflows/test.yml
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: generate

Regenerate client from commit 4569968f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/metrics/SubmitDistributionPoints.java
  examples/v1/metrics/SubmitDistributionPoints_3109558960.java
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/model/DistributionPointItem.java
  src/main/java/com/datadog/api/v1/client/model/DistributionPointsContentEncoding.java
  src/main/java/com/datadog/api/v1/client/model/DistributionPointsPayload.java
  src/main/java/com/datadog/api/v1/client/model/DistributionPointsSeries.java
  src/main/java/com/datadog/api/v1/client/model/DistributionPointsType.java
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generate

Regenerate client from commit 04543c8c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 0f6264a5 of spec repo
  .apigentools-info
  examples/v2/opsgenie-integration/DeleteOpsgenieService.java
  examples/v2/opsgenie-integration/GetOpsgenieService.java
  examples/v2/opsgenie-integration/UpdateOpsgenieService.java
  src/test/resources/cassettes/features/v2/Delete_a_single_service_object_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_single_service_object_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_single_service_object_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_single_service_object_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_service_objects_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_service_objects_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_single_service_object_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_single_service_object_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/opsgenie_integration.feature
Due: none

fix javadoc tags
  .generator/src/generator/templates/modelOneOf.j2
  src/main/java/com/datadog/api/v1/client/model/DistributionPointItem.java
Due: generate

fix javadoc tags (#1377)
  .generator/src/generator/templates/modelOneOf.j2
  src/main/java/com/datadog/api/v1/client/model/DistributionPointItem.java
Due: generate

fix javadoc reporting
  .github/workflows/test.yml
Due: none

fix javadoc reporting (#1378)
  .github/workflows/test.yml
Due: none

Regenerate client from commit d8a79527 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Update_an_AWS_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
Due: none

Regenerate client from commit 905f3e95 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ListSecurityMonitoringSignals.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generate

Use java-action for tests
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Cleanup
  .github/workflows/approved_status.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Bump mockserver
  pom.xml
Due: none

Try something else
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  pom.xml
Due: none

Another try
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Update .github/workflows/approved_status.yml
  .github/workflows/approved_status.yml
Due: none

Upgrade mockserver
  pom.xml
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Regenerate client from commit 9397edbc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 3fedb74d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/snapshots/GetGraphSnapshot.java
  src/main/java/com/datadog/api/v1/client/api/SnapshotsApi.java
  src/test/resources/com/datadog/api/v1/client/api/snapshots.feature
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
