Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 0dc03d11 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
Due: generate

remove
  src/test/java/com/datadog/api/client/v1/api/UsageMeteringApiTest.java
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageAttributionErrorsTest.freeze
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageAttributionErrorsTest.json
Due: java-format

Regenerate client from commit ef47ef5d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination.java
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_1091442807.java
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_1288180912.java
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_141236188.java
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_2184123765.java
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination.java
  src/main/java/com/datadog/api/client/v2/model/CustomDestinationCreateRequestDefinition.java
  src/main/java/com/datadog/api/client/v2/model/CustomDestinationResponseDefinition.java
  src/main/java/com/datadog/api/client/v2/model/CustomDestinationType.java
  src/main/java/com/datadog/api/client/v2/model/CustomDestinationUpdateRequestDefinition.java
Due: generate

Regenerate client from commit a75cff58 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/logs_custom_destinations.feature
Due: none

remove (#2236)
  src/test/java/com/datadog/api/client/v1/api/UsageMeteringApiTest.java
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageAttributionErrorsTest.freeze
  src/test/resources/cassettes/v1/UsageMeteringApiTest.getUsageAttributionErrorsTest.json
Due: java-format

Regenerate client from commit a7489f2d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/UserTeamsResponse.java
Due: generate

Regenerate client from commit e44e440e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/authn-mappings/CreateAuthNMapping.java
  examples/v2/authn-mappings/UpdateAuthNMapping.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingCreateRelationships.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingIncluded.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingRelationshipToRole.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingRelationshipToTeam.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingTeam.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingUpdateRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToTeam.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToTeamData.java
Due: generate

Regenerate client from commit 8b28b19e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Series.java
Due: generate

Regenerate client from commit 65baee0e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequestAttributes.java
Due: generate

Regenerate client from commit 7b0d4cbe of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/logs_custom_destinations.feature
  src/test/resources/com/datadog/api/client/v2/api/organizations.feature
Due: none

Regenerate client from commit 24998b49 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/MetricSeries.java
Due: generate

Regenerate client from commit 733f0b89 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v2/api/logs_custom_destinations.feature
Due: generate

Regenerate client from commit b8f385dc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetUsageAttribution.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionBody.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionMetadata.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionPagination.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionResponse.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionSort.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionValues.java
  src/test/resources/com/datadog/api/client/v1/api/undo.json
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: generate

Regenerate client from commit 7ea2a27f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
Due: generate

Regenerate client from commit f9b6a1cc of spec repo
  .apigentools-info
  examples/v2/metrics/QueryScalarData_3112571352.java
  examples/v2/metrics/QueryTimeseriesData_301142940.java
  src/test/resources/cassettes/features/v2/Scalar_cross_product_query_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Scalar_cross_product_query_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: none

Regenerate client from commit 7d443735 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.java
  examples/v1/synthetics/CreateSyntheticsAPITest_960766374.java
  examples/v1/synthetics/UpdateAPITest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertion.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionJSONSchemaMetaSchema.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionJSONSchemaOperator.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionJSONSchemaTarget.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionJSONSchemaTargetTarget.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_with_oauth_rop_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_with_oauth_rop_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_oauth_rop_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_update_payload.json
Due: generate

Regenerate client from commit 37197a93 of spec repo
  .apigentools-info
  examples/v2/metrics/QueryScalarData_3112571352.java
  examples/v2/metrics/QueryTimeseriesData_301142940.java
  examples/v2/teams/CreateTeamLink.java
  src/test/resources/cassettes/features/v2/Create_a_team_link_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Scalar_cross_product_query_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Scalar_cross_product_query_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: none

Regenerate client from commit 46383d02 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit d7fae3ec of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-level-objectives/CreateSLOReportJob.java
  examples/v2/service-level-objectives/GetSLOReport.java
  examples/v2/service-level-objectives/GetSLOReportJobStatus.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportInterval.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportPostRequest.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportPostRequestData.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportPostResponse.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportPostResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportStatus.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportStatusGetResponse.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportStatusGetResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SLOReportStatusGetResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SloReportPostRequestAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_SLO_report_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_SLO_report_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_SLO_report_status_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Rename integrations-tools-and-libraries to api-clients in CODEOWNERS
  .github/CODEOWNERS
Due: none

Remove baklava
  .github/CODEOWNERS
Due: none

Regenerate client from commit e0504d22 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/client/v1/api/metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit a66332d3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
Due: generate

skip users test for v1
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
Due: java-format

skip users test for v1 (#2252)
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
Due: java-format

Regenerate client from commit 85625198 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ValidateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/test/resources/cassettes/features/v2/Validate_a_detection_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Validate_a_detection_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Validate_a_detection_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Validate_a_detection_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit a462e143 of spec repo
  .apigentools-info
  examples/v2/cloud-workload-security/CreateCSMThreatsAgentRule.java
  src/test/resources/cassettes/features/v2/Create_a_CSM_Threats_Agent_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_CSM_Threats_Agent_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_CSM_Threats_Agent_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_CSM_Threats_Agent_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/cloud_workload_security.feature
Due: none

Revert "Remove baklava"
  .github/CODEOWNERS
Due: none

baklava -> documentation
  .github/CODEOWNERS
Due: none

Regenerate client from commit 3e55ad68 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 286f4535 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/QueryTimeseriesData_301142940.java
  src/main/java/com/datadog/api/client/v2/model/TimeseriesResponseSeries.java
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit de9967cc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Regenerate client from commit e8144990 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceCondition.java
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceInterval.java
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceSpec.java
Due: generate

sleep after request
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit bf950df2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleUpdatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleResponse.java
Due: generate

Regenerate client from commit fd06108d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
Due: generate

Regenerate client from commit cdcf2ed6 of spec repo
  .apigentools-info
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination.java
  src/test/resources/cassettes/features/v2/Update_a_custom_destination_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_custom_destination_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/logs_custom_destinations.feature
Due: none

Regenerate client from commit 037e376a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/authn-mappings/CreateAuthNMapping.java
  examples/v2/authn-mappings/UpdateAuthNMapping.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingCreateRelationships.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingIncluded.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingRelationshipToRole.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingRelationshipToTeam.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingTeam.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingUpdateRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToTeam.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToTeamData.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
