Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit baeaf882 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 99fc1893 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/ChangeWidgetRequest.md
  api_docs/v1/GeomapWidgetRequest.md
  api_docs/v1/QueryValueWidgetRequest.md
  api_docs/v1/ScatterplotTableRequest.md
  api_docs/v1/SunburstWidgetRequest.md
  api_docs/v1/TableWidgetRequest.md
  api_docs/v1/TimeseriesWidgetRequest.md
  api_docs/v1/ToplistWidgetRequest.md
  api_docs/v1/TreeMapWidgetRequest.md
  src/main/java/com/datadog/api/v1/client/model/ChangeWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionResponseFormat.java
  src/main/java/com/datadog/api/v1/client/model/GeomapWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/QueryValueWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotTableRequest.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TimeseriesWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ToplistWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetRequest.java
Due: generated, generate

Regenerate client from commit 80288098 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/GCPAccount.md
  src/main/java/com/datadog/api/v1/client/model/AWSAccount.java
  src/main/java/com/datadog/api/v1/client/model/GCPAccount.java
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

Regenerate client from commit af97a438 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/GCPAccount.md
  src/main/java/com/datadog/api/v1/client/model/AWSAccount.java
  src/main/java/com/datadog/api/v1/client/model/GCPAccount.java
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

Parse URI manually (#1207)
  .generator/templates/libraries/jersey2/ApiClient.mustache
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
Due: generated, generate

Regenerate client from commit 3350ca00 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/ChangeWidgetRequest.md
  api_docs/v1/GCPAccount.md
  api_docs/v1/GeomapWidgetRequest.md
  api_docs/v1/QueryValueWidgetRequest.md
  api_docs/v1/ScatterplotTableRequest.md
  api_docs/v1/SunburstWidgetRequest.md
  api_docs/v1/TableWidgetRequest.md
  api_docs/v1/TimeseriesWidgetRequest.md
  api_docs/v1/ToplistWidgetRequest.md
  api_docs/v1/TreeMapWidgetRequest.md
  examples/v1/logs/ListLogs.java
  src/main/java/com/datadog/api/v1/client/model/AWSAccount.java
  src/main/java/com/datadog/api/v1/client/model/ChangeWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionResponseFormat.java
  src/main/java/com/datadog/api/v1/client/model/GCPAccount.java
  src/main/java/com/datadog/api/v1/client/model/GeomapWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/QueryValueWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotTableRequest.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TimeseriesWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ToplistWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetRequest.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Search_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

Regenerate client from commit 12a9b2cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/ChangeWidgetRequest.md
  api_docs/v1/GCPAccount.md
  api_docs/v1/GeomapWidgetRequest.md
  api_docs/v1/QueryValueWidgetRequest.md
  api_docs/v1/ScatterplotTableRequest.md
  api_docs/v1/SunburstWidgetRequest.md
  api_docs/v1/TableWidgetRequest.md
  api_docs/v1/TimeseriesWidgetRequest.md
  api_docs/v1/ToplistWidgetRequest.md
  api_docs/v1/TreeMapWidgetRequest.md
  examples/v1/logs/ListLogs.java
  src/main/java/com/datadog/api/v1/client/model/AWSAccount.java
  src/main/java/com/datadog/api/v1/client/model/ChangeWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/FormulaAndFunctionResponseFormat.java
  src/main/java/com/datadog/api/v1/client/model/GCPAccount.java
  src/main/java/com/datadog/api/v1/client/model/GeomapWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/QueryValueWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ScatterplotTableRequest.java
  src/main/java/com/datadog/api/v1/client/model/SunburstWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TimeseriesWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/ToplistWidgetRequest.java
  src/main/java/com/datadog/api/v1/client/model/TreeMapWidgetRequest.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Search_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

Regenerate client from commit a7afd4c8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/Monitor.md
  api_docs/v1/MonitorOptions.md
  api_docs/v1/MonitorUpdateRequest.md
  api_docs/v2/RelationshipToRoleData.md
  api_docs/v2/RelationshipToRoles.md
  api_docs/v2/Role.md
  api_docs/v2/RoleAttributes.md
  api_docs/v2/RoleCreateResponseData.md
  api_docs/v2/RoleUpdateData.md
  api_docs/v2/RoleUpdateResponseData.md
  api_docs/v2/RolesApi.md
  src/main/java/com/datadog/api/v1/client/model/Monitor.java
  src/main/java/com/datadog/api/v1/client/model/MonitorOptions.java
  src/main/java/com/datadog/api/v1/client/model/MonitorUpdateRequest.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToRoleData.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToRoles.java
  src/main/java/com/datadog/api/v2/client/model/Role.java
  src/main/java/com/datadog/api/v2/client/model/RoleAttributes.java
  src/main/java/com/datadog/api/v2/client/model/RoleCreateResponseData.java
  src/main/java/com/datadog/api/v2/client/model/RoleUpdateData.java
  src/main/java/com/datadog/api/v2/client/model/RoleUpdateResponseData.java
Due: generated, generate

Regenerate client from commit e10259da of spec repo
  .apigentools-info
  examples/v1/logs/ListLogs_235998668.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Search_test_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_test_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
Due: none

Regenerate client from commit 1289c722 of spec repo
  .apigentools-info
  examples/v1/logs/ListLogs_235998668.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Search_test_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Search_test_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
Due: none

Regenerate client from commit 31d44cb6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
Due: generate

shaded jar
  pom.xml
Due: none

add transitive dependency that don't cause conflicts
  pom.xml
Due: none

Regenerate client from commit 717103c5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorType.md
  api_docs/v1/MonitorsApi.md
  examples/v1/monitors/CreateMonitor_440013737.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
  src/test/resources/cassettes/features/v1/Create_an_Error_Tracking_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_Error_Tracking_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/monitor_error_tracking_alert_payload.json
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated, generate

Regenerate client from commit 713a20ee of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/test/resources/cassettes/features/v2/Get_a_list_of_Audit_Logs_events_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_Audit_Logs_events_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Search_Audit_Logs_events_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Search_Audit_Logs_events_returns_Bad_Request_response.json
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/audit.feature
Due: generate

Regenerate client from commit 27296419 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/UsageTopAvgMetricsMetadata.md
  api_docs/v1/UsageTopAvgMetricsPagination.md
  src/main/java/com/datadog/api/v1/client/model/UsageTopAvgMetricsMetadata.java
  src/main/java/com/datadog/api/v1/client/model/UsageTopAvgMetricsPagination.java
Due: generated, generate

Regenerate client from commit 4a3c7df2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorsApi.md
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
Due: generated, generate

Regenerate client from commit 5ac1cf92 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/LogsListRequestTime.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetails.java
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/events.feature
  src/test/resources/com/datadog/api/v1/client/api/gcp_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/metrics.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
  src/test/resources/com/datadog/api/v1/client/api/slack_integration.feature
  src/test/resources/com/datadog/api/v1/client/api/snapshots.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
  src/test/resources/com/datadog/api/v1/client/api/webhooks_integration.feature
  src/test/resources/com/datadog/api/v2/client/api/audit.feature
  src/test/resources/com/datadog/api/v2/client/api/cloud_workload_security.feature
  src/test/resources/com/datadog/api/v2/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/logs_archives.feature
  src/test/resources/com/datadog/api/v2/client/api/roles.feature
  src/test/resources/com/datadog/api/v2/client/api/rum.feature
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v2/client/api/service_accounts.feature
  src/test/resources/com/datadog/api/v2/client/api/users.feature
Due: generated, generate

Regenerate client from commit 00dc2878 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/authn_mappings.feature
Due: generate

Regenerate client from commit 6cd4865a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/com/datadog/api/v2/client/api/authn_mappings.feature
Due: generate

Regenerate client from commit 6cf3cf57 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Due: none

Regenerate client from commit c00e855e of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/downtimes.feature
  src/test/resources/com/datadog/api/v1/client/api/key_management.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_indexes.feature
  src/test/resources/com/datadog/api/v1/client/api/logs_pipelines.feature
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v1/client/api/organizations.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Due: none

Regenerate client from commit 2b7dea77 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MonitorFormulaAndFunctionEventsDataSource.md
  examples/v1/monitors/CreateMonitor_3824294658.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventsDataSource.java
  src/test/resources/cassettes/features/v1/Create_a_ci_pipelines_formula_and_functions_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_ci_pipelines_formula_and_functions_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
Due: generated, generate

Regenerate client from commit e401bea6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageAttributionSort.md
  api_docs/v1/UsageAttributionSupportedMetrics.md
  api_docs/v1/UsageAttributionValues.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSort.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionValues.java
Due: generated, generate

Regenerate client from commit 0d23d651 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
Due: generated, generate

Regenerate client from commit 3627d624 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit d3051b71 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageIngestedSpansHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageIngestedSpansHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
Due: generated, generate

Regenerate client from commit 363a0c66 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/Monitor.md
  api_docs/v1/MonitorUpdateRequest.md
  src/main/java/com/datadog/api/v1/client/model/Monitor.java
  src/main/java/com/datadog/api/v1/client/model/MonitorUpdateRequest.java
Due: generated, generate

Regenerate client from commit 442fcd8b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/dashboard-lists/CreateDashboardListItems_3995409989.java
  examples/v2/dashboard-lists/CreateDashboardListItems_825696022.java
  examples/v2/dashboard-lists/DeleteDashboardListItems_2656706656.java
  examples/v2/dashboard-lists/DeleteDashboardListItems_3851624753.java
  examples/v2/dashboard-lists/GetDashboardListItems.java
  examples/v2/dashboard-lists/UpdateDashboardListItems.java
  src/test/resources/cassettes/features/v2/Add_custom_screenboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_custom_screenboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_custom_timeboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_custom_timeboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_items_of_a_Dashboard_List_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_items_of_a_Dashboard_List_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_items_of_a_dashboard_list_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_items_of_a_dashboard_list_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/screenboard_dashboard_payload.json
  src/test/resources/com/datadog/api/v2/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v2/client/api/given.json
Due: generate

Update dependencies
  pom.xml
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Update dependencies (#1262)
  pom.xml
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit b42df806 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageIngestedSpansHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/model/UsageIngestedSpansHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
Due: generated, generate

Regenerate client from commit 42159e33 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsBasicAuthWeb.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthWeb.java
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated, generate

Regenerate client from commit e6337d88 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/MetricsApi.md
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
Due: generated, generate

Regenerate client from commit a3bcd902 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/MetricsApi.md
  api_docs/v1/Monitor.md
  api_docs/v1/MonitorUpdateRequest.md
  api_docs/v1/SyntheticsBasicAuthWeb.md
  api_docs/v1/UsageIngestedSpansHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/model/Monitor.java
  src/main/java/com/datadog/api/v1/client/model/MonitorUpdateRequest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBasicAuthWeb.java
  src/main/java/com/datadog/api/v1/client/model/UsageIngestedSpansHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v2/client/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/v2/client/api/given.json
Due: generated, generate

Regenerate client from commit d7ce271f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/HourlyUsageAttributionPagination.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionPagination.java
  src/main/java/com/datadog/api/v1/client/model/UsageTopAvgMetricsPagination.java
  src/test/resources/cassettes/features/v1/Paginate_Monthly_Usage_Attribution.freeze
  src/test/resources/cassettes/features/v1/Paginate_Monthly_Usage_Attribution.json
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Remove package
  pom.xml
Due: none

Regenerate client from commit 9a0922b9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/LogsAggregationFunction.md
  api_docs/v2/RUMAggregationFunction.md
  src/main/java/com/datadog/api/v2/client/model/LogsAggregationFunction.java
  src/main/java/com/datadog/api/v2/client/model/RUMAggregationFunction.java
Due: generated, generate

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
  generate: any of: ^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)
