Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

ci: use generated BDD test runner
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-java-test.yml
Due: none

ci: run formatters during generation
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit edc0743 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DetachCaseRequestData.java
Due: generate

Regenerate client from commit 372caf3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/report-schedules/ListDatasetReportSchedules.java
Due: generate

Regenerate client from commit 4be576d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-teams-ownership/CreateTeamsOwnershipMapping.java
  examples/v2/rum-teams-ownership/CreateTeamsOwnershipMapping_1881412984.java
  examples/v2/rum-teams-ownership/CreateTeamsOwnershipMappingsBatch.java
  examples/v2/rum-teams-ownership/DeleteTeamsOwnershipMapping.java
  examples/v2/rum-teams-ownership/GetTeamsOwnershipMapping.java
  examples/v2/rum-teams-ownership/ListTeamsOwnershipMappings.java
  examples/v2/rum-teams-ownership/ListTeamsOwnershipRules.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/RumTeamsOwnershipApi.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchError.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchOperation.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchOperationData.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchOperationDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchOperationOp.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchOperationRef.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchResult.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchResultData.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingBatchResultDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingCreateData.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingCreateDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingResponseData.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingType.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMappingsResponse.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipMatchType.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipRuleResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipRuleResponseData.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipRuleTeamMapping.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipRuleType.java
  src/main/java/com/datadog/api/client/v2/model/TeamsOwnershipRulesResponse.java
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/rum_teams_ownership.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit e2125c8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-retention-quotas/DeleteRumQuotaConfig.java
  examples/v2/rum-retention-quotas/GetRumQuotaConfig.java
  examples/v2/rum-retention-quotas/UpsertRumQuotaConfig.java
  src/main/java/com/datadog/api/client/v2/api/RumRetentionQuotasApi.java
  src/main/java/com/datadog/api/client/v2/model/RumRetentionQuotaAdaptiveConfig.java
  src/main/java/com/datadog/api/client/v2/model/RumRetentionQuotaConfigAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RumRetentionQuotaConfigUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RumRetentionQuotaMode.java
  src/main/java/com/datadog/api/client/v2/model/RumRetentionQuotaScopeType.java
  src/test/resources/com/datadog/api/client/v2/api/rum_retention_quota.feature
  src/test/resources/com/datadog/api/client/v2/api/rum_retention_quotas.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 5196374 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSpec.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSpecData.java
Due: generate

[AGV-1597] Add is_iac support to send X-Datadog-Managed-By header
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
  src/test/java/com/datadog/api/client/ApiClientTest.java
Due: generate, java-format

Regenerate client from commit 0ca1b45 of spec repo
  src/test/resources/com/datadog/api/client/v1/api/authentication.feature
  src/test/resources/com/datadog/api/client/v1/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
Due: none

Regenerate client from commit 45567e1 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 1caedca of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/tag-policies/CreateTagPolicy.java
  examples/v2/tag-policies/UpdateTagPolicy.java
  examples/v2/tag-rules/CreateTagRule.java
  examples/v2/tag-rules/DeleteTagRule.java
  examples/v2/tag-rules/GetTagRule.java
  examples/v2/tag-rules/GetTagRuleScore.java
  examples/v2/tag-rules/ListTagRules.java
  examples/v2/tag-rules/UpdateTagRule.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/TagRulesApi.java
  src/main/java/com/datadog/api/client/v2/model/TagPolicyResponse.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleCreateData.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleCreateType.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleData.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleInclude.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleRelationships.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleResourceType.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleScoreAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleScoreData.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleScoreRelationship.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleScoreRelationshipData.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleScoreResourceType.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleScoreResponse.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleSource.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleType.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/TagRuleUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/TagRulesListResponse.java
  src/test/resources/com/datadog/api/client/v2/api/tag_policies.feature
  src/test/resources/com/datadog/api/client/v2/api/tag_rules.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 610ac2d of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 49871d0 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

chore: gate check (authorized security test)
  GATECHECK.md
Due: none

Regenerate client from commit 0172867 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/threat-intelligence/SubmitStixThreatIntel.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ThreatIntelligenceApi.java
  src/main/java/com/datadog/api/client/v2/model/STIXBundleRequest.java
  src/main/java/com/datadog/api/client/v2/model/STIXBundleType.java
  src/main/java/com/datadog/api/client/v2/model/STIXContentEncoding.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponse.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponseData.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponseType.java
  src/main/java/com/datadog/api/client/v2/model/STIXObject.java
  src/main/java/com/datadog/api/client/v2/model/STIXPatternType.java
  src/main/java/com/datadog/api/client/v2/model/STIXSpecVersion.java
  src/test/resources/com/datadog/api/client/v2/api/threat_intelligence.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/threat-intelligence/ingest-stix-threat-intelligence-returns-ok-response.json
  src/test/resources/generated-test/test-server-data/manifest.json
  src/test/resources/generated-test/test-server-data/v2/threat-intelligence.json
Due: generate

Regenerate client from commit e8cb6a3 of spec repo
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

Add tests for IaC managed-by header
  src/test/java/com/datadog/api/client/ApiClientTest.java
Due: java-format

Regenerate client from commit 6cb59b9 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AzureStorageDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAmazonS3Destination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAmazonS3DestinationCompression.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAmazonS3DestinationCompressionGzip.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAmazonS3DestinationCompressionGzipType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAmazonS3DestinationCompressionZstd.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAmazonS3DestinationCompressionZstdType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAzureStorageDestinationCompression.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAzureStorageDestinationCompressionGzip.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAzureStorageDestinationCompressionGzipType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAzureStorageDestinationCompressionZstd.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineAzureStorageDestinationCompressionZstdType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestinationCompression.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestinationCompressionGzip.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestinationCompressionGzipType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestinationCompressionZstd.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineGoogleCloudStorageDestinationCompressionZstdType.java
Due: generate

Regenerate client from commit 9324879 of spec repo
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

Regenerate client from commit ad69f99 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Regenerate client from commit abdcd60 of spec repo
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

Regenerate client from commit 2c9d133 of spec repo
  src/main/java/com/datadog/api/client/ApiClient.java
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v1/usage-metering/get-specified-daily-custom-reports-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v1/usage-metering/get-specified-monthly-custom-reports-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-cost-across-multi-org-account-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-application-security-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-application-security-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-lambda-traced-invocations-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-lambda-traced-invocations-returns-ok-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-observability-pipelines-returns-bad-request-response.json
  src/test/resources/generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-observability-pipelines-returns-ok-response.json
Due: none

Regenerate client from commit d56d1f2 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DeploymentRuleOptionsMonitor.java
Due: generate

Regenerate client from commit fb473a3 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentAveragedMetrics.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentObjectAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRemediation.java
Due: generate

Regenerate client from commit 396c2b3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/ValidatePipeline_1874470273.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSplunkHecDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSplunkHecDestinationEndpointTarget.java
  src/test/resources/com/datadog/api/client/v2/api/observability_pipelines.feature
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/observability-pipelines/validate-an-observability-pipeline-with-splunk-hec-destination-endpoint-target-returns-ok-response.json
  src/test/resources/generated-test/test-server-data/v2/observability-pipelines.json
Due: generate

Regenerate client from commit c5f7a98 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MetricsApi.java
Due: generate

Regenerate client from commit bf00374 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/CreateSCAResult.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesDependenciesItems.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesDependenciesItemsLocationsItems.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesDependenciesItemsLocationsItemsNullableFilePosition.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesScanStartTimestamp.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesTags.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesTagsTool.java
  src/main/java/com/datadog/api/client/v2/model/ScaRequestDataAttributesTagsToolGenerator.java
  src/test/resources/com/datadog/api/client/v2/api/static_analysis.feature
Due: generate

Regenerate client from commit 366b496 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agent-observability/GetLLMObsPrompt_2452494832.java
  src/main/java/com/datadog/api/client/v2/api/AgentObservabilityApi.java
  src/test/resources/com/datadog/api/client/v2/api/agent_observability.feature
Due: generate

Regenerate client from commit ac12f30 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityWafCustomRuleConditionInputAddress.java
Due: generate

Regenerate client from commit 1f11370 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudWorkloadSecurityAgentPolicyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudWorkloadSecurityAgentRuleAction.java
  src/main/java/com/datadog/api/client/v2/model/CloudWorkloadSecurityAgentRuleActionSet.java
Due: generate

Regenerate client from commit 3d27e4b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/threat-intelligence/AddSTIXThreatIntel.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ThreatIntelligenceApi.java
  src/main/java/com/datadog/api/client/v2/model/STIXBundleRequest.java
  src/main/java/com/datadog/api/client/v2/model/STIXBundleType.java
  src/main/java/com/datadog/api/client/v2/model/STIXContentEncoding.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponse.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponseData.java
  src/main/java/com/datadog/api/client/v2/model/STIXIngestResponseType.java
  src/main/java/com/datadog/api/client/v2/model/STIXObject.java
  src/main/java/com/datadog/api/client/v2/model/STIXPatternType.java
  src/main/java/com/datadog/api/client/v2/model/STIXSpecVersion.java
  src/test/resources/com/datadog/api/client/v2/api/threat_intelligence.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v2/threat-intelligence/ingest-stix-threat-intelligence-returns-ok-response.json
  src/test/resources/generated-test/test-server-data/manifest.json
  src/test/resources/generated-test/test-server-data/v2/threat-intelligence.json
Due: generate

Regenerate client from commit b54f156 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agent-observability/CreateLLMObsAnnotationQueue.java
  examples/v2/agent-observability/UpdateLLMObsAnnotationQueue.java
  examples/v2/agent-observability/UpsertLLMObsAnnotations.java
  src/main/java/com/datadog/api/client/v2/api/AgentObservabilityApi.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsAnnotatedInteractionByTraceItem.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsAnnotationError.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsAnnotationErrorCode.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsAnnotationQueueDataAttributesRequest.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsAnnotationQueueDataAttributesResponse.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsAnnotationQueueUpdateDataAttributesRequest.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsDisplayBlockAnnotatedInteractionItem.java
  src/main/java/com/datadog/api/client/v2/model/LLMObsTraceAnnotatedInteractionItem.java
  src/test/resources/com/datadog/api/client/v2/api/agent_observability.feature
Due: generate

Regenerate client from commit c38672d of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfigDestinationItem.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineOpentelemetryMetricsDestination.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineOpentelemetryMetricsDestinationType.java
Due: generate

Regenerate client from commit ad7bd2a of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/Event.java
  src/main/java/com/datadog/api/client/v2/model/EventAttributes.java
  src/main/java/com/datadog/api/client/v2/model/EventPriority.java
  src/main/java/com/datadog/api/client/v2/model/EventStatusType.java
  src/main/java/com/datadog/api/client/v2/model/EventsRequestPage.java
Due: generate

Regenerate client from commit f5ef2e8 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ExecutionLimit.java
  src/main/java/com/datadog/api/client/v2/model/IncidentCondition.java
  src/main/java/com/datadog/api/client/v2/model/IncidentCreatedTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentCreatedTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentImpactCreatedTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentImpactCreatedTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentImpactUpdatedTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentImpactUpdatedTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentPostmortemUpdatedTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentPostmortemUpdatedTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResponderCreatedTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResponderCreatedTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentSavedTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentSavedTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentScheduleTrigger.java
  src/main/java/com/datadog/api/client/v2/model/IncidentScheduleTriggerWrapper.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTagValue.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTrigger.java
  src/main/java/com/datadog/api/client/v2/model/SerialExecution.java
  src/main/java/com/datadog/api/client/v2/model/SlackReactionConfig.java
  src/main/java/com/datadog/api/client/v2/model/SlackTrigger.java
  src/main/java/com/datadog/api/client/v2/model/Trigger.java
Due: generate

Regenerate client from commit cec3e6b of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/dashboards/GetDashboard_3568243180.java
  examples/v2/dashboard-lists/GetDashboardListItems_2618168713.java
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v2/model/DashboardListItem.java
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/dashboard_lists.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/generated-test/test-runner-data/manifest.json
  src/test/resources/generated-test/test-runner-data/v1/dashboards/get-a-dashboard-with-five-team-tags-and-two-ai-tags.json
  src/test/resources/generated-test/test-runner-data/v2/dashboard-lists/get-dashboard-list-items-with-five-team-tags-and-two-ai-tags.json
Due: generate

Regenerate client from commit ad868cb of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IssuesSearchResultIncluded.java
Due: generate

Regenerate client from commit c162efd of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DetachCaseRequestData.java
Due: generate

Regenerate client from commit 6dba2a8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/CreateQuotas.java
  examples/v2/usage-metering/DeleteQuota.java
  examples/v2/usage-metering/ListQuotas.java
  examples/v2/usage-metering/ListQuotas_918754421.java
  examples/v2/usage-metering/UpdateQuota.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaBulkResultAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaBulkResultData.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaCreateData.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaResponse.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaResponseData.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaType.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotaUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotasBulkResponse.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotasCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotasListResponse.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotasResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/UsageQuotasResponseMetaPage.java
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate
