Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 95a954a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2336428357.java
  examples/v1/dashboards/CreateDashboard_2563642929.java
  examples/v1/dashboards/CreateDashboard_3669695268.java
  examples/v1/dashboards/CreateDashboard_915214113.java
  src/main/java/com/datadog/api/client/v1/model/FormulaType.java
  src/main/java/com/datadog/api/client/v1/model/GeomapWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/GroupType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/WidgetFormulaSort.java
  src/main/java/com/datadog/api/client/v1/model/WidgetGroupSort.java
  src/main/java/com/datadog/api/client/v1/model/WidgetSortBy.java
  src/main/java/com/datadog/api/client/v1/model/WidgetSortOrderBy.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_sorted_by_group.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_sorted_by_group.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_geomap_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_geomap_widget.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_query_table_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_query_table_widget.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_toplist_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_toplist_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/geomap_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/query_table_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/toplist_widget.json
Due: generate

Regenerate client from commit b9b11fda of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

update cassettes
  src/test/java/com/datadog/api/client/v1/api/MetricsApiTest.java
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataGetErrorsTest.freeze
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataGetErrorsTest.json
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataUpdateErrorsTest.json
Due: java-format

update cassettes (#2299)
  src/test/java/com/datadog/api/client/v1/api/MetricsApiTest.java
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataGetErrorsTest.freeze
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataGetErrorsTest.json
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/MetricsApiTest.metricsMetadataUpdateErrorsTest.json
Due: java-format

Regenerate client from commit 9445af96 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/TestExistingSecurityMonitoringRule.java
  examples/v2/security-monitoring/TestSecurityMonitoringRule.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQueryPayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQueryPayloadData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTestRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTestResponse.java
  src/test/resources/cassettes/features/v2/Test_a_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Test_a_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 03c4f8e6 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Update_a_CSM_Threats_Agent_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_OK_response.json
Due: none

Regenerate client from commit 6cd5686a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 5a618bf5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit faa2d929 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ApiManagementApi.java
Due: generate

Regenerate client from commit e834e6d7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Event.java
Due: generate

Regenerate client from commit 314f8988 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1241981394.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequestBodyFile.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.json
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_with_oauth_rop_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_with_oauth_rop_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_a_file_payload_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_a_file_payload_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_the_list_of_default_locations_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_the_list_of_default_locations_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_with_file_payload.json
Due: generate

Regenerate client from commit df6778e5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/TestSecurityMonitoringRule.java
  examples/v2/security-monitoring/ValidateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/CloudConfigurationRulePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTestPayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTestRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTypeTest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleValidatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalRulePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRulePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleTestPayload.java
Due: generate

Regenerate client from commit 60183db6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1241981394.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequestBodyFile.java
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_a_file_payload_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_a_file_payload_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_with_file_payload.json
Due: generate

Regenerate client from commit 8e7244ae of spec repo
  .apigentools-info
  examples/v2/csm-threats/UpdateCloudWorkloadSecurityAgentRule.java
  src/test/resources/cassettes/features/v2/Update_a_CSM_Threats_Agent_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_CSM_Threats_Agent_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_Cloud_Workload_Security_Agent_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/csm_threats.feature
Due: none

Regenerate client from commit 837921b8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/client/v2/model/AuthNMappingResourceType.java
Due: generate

Regenerate client from commit 73749e78 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/aws-integration/CreateAWSAccountv2.java
  examples/v2/aws-integration/DeleteAWSAccountv2.java
  examples/v2/aws-integration/GetAWSAccountv2.java
  examples/v2/aws-integration/ListAWSAccountsv2.java
  examples/v2/aws-integration/PatchAWSAccountv2.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccount.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountCreate.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountPatch.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountPatchAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountPatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountType.java
  src/main/java/com/datadog/api/client/v2/model/AWSAccountsResponse.java
  src/main/java/com/datadog/api/client/v2/model/AWSAuthConfig.java
  src/main/java/com/datadog/api/client/v2/model/AWSLambdaForwarder.java
  src/main/java/com/datadog/api/client/v2/model/AWSLogs.java
  src/main/java/com/datadog/api/client/v2/model/AWSMetrics.java
  src/main/java/com/datadog/api/client/v2/model/AWSNamespaceTagFilter.java
  src/main/java/com/datadog/api/client/v2/model/AWSNamespacesList.java
  src/main/java/com/datadog/api/client/v2/model/AWSRegionsList.java
  src/main/java/com/datadog/api/client/v2/model/AWSResources.java
  src/main/java/com/datadog/api/client/v2/model/AWSTraces.java
  src/main/java/com/datadog/api/client/v2/model/AWSXRayServicesList.java
  src/test/resources/com/datadog/api/client/v1/api/aws_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/aws_logs_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/aws_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 93296fc6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestOptionsMonitorOptions.java
Due: generate

Regenerate client from commit 39ba1c0d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/key-management/GetApplicationKey_1225400040.java
  src/main/java/com/datadog/api/client/v2/api/KeyManagementApi.java
  src/test/resources/com/datadog/api/client/v2/api/key_management.feature
Due: generate

Regenerate client from commit eaf0da43 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertion.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionBodyHashOperator.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionBodyHashTarget.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionBodyHashType.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_has_bodyHash_filled_out.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_has_bodyHash_filled_out.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_payload.json
Due: generate

Regenerate client from commit cee92551 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentRequestAttributes.java
Due: generate

Regenerate client from commit 71f2f0da of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/api-management/ListAPIs.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ApiManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/ListAPIsResponse.java
  src/main/java/com/datadog/api/client/v2/model/ListAPIsResponseData.java
  src/main/java/com/datadog/api/client/v2/model/ListAPIsResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/ListAPIsResponseMetaPagination.java
  src/test/resources/com/datadog/api/client/v2/api/api_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Add org.aopalliance to the list of packages to shade.
  pom.xml
Due: none

Regenerate client from commit a845de18 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SensitiveDataScannerApi.java
Due: generate

Add org.aopalliance to the list of packages to shade. (#2315)
  pom.xml
Due: none

Add a test to check that all dependencies are shaded
  .github/workflows/test.yml
Due: none

Add test.
  .github/workflows/test.yml
  shade-test.sh
Due: none

Add comments.
  shade-test.sh
Due: none

Rename integrations-tools-and-libraries to api-clients in CODEOWNERS (#2248)
  .github/CODEOWNERS
Due: none

Run shading separately.
  .github/workflows/test.yml
Due: none

Regenerate client from commit 0db19316 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Skip javadoc generation.
  shade-test.sh
Due: none

Add a test to check that all dependencies are shaded (#2320)
  .github/workflows/test.yml
  shade-test.sh
Due: none

Regenerate client from commit eb5da65e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit d50f58aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/aws-integration/CreateAWSTagFilter.java
  examples/v1/aws-integration/DeleteAWSTagFilter.java
  src/main/java/com/datadog/api/client/v1/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/client/v1/model/AWSNamespace.java
  src/test/resources/com/datadog/api/client/v1/api/aws_integration.feature
Due: generate

Regenerate client from commit 3a2d9e6b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/HostsApi.java
Due: generate

Regenerate client from commit 7fc1538c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.java
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsAssertionJSONPathTargetTarget.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_has_bodyHash_filled_out.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_has_bodyHash_filled_out.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_with_jsonPath_assertion_succeeds.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_with_jsonPath_assertion_succeeds.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_payload.json
Due: generate

Regenerate client from commit 2d7b3f3a of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/synthetics.feature
Due: none

Regenerate client from commit 743cf92b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ListAPIsResponseDataAttributes.java
Due: generate

Regenerate client from commit 2b218621 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.java
  examples/v1/logs-indexes/UpdateLogsIndex.java
  src/main/java/com/datadog/api/client/v1/model/LogsIndex.java
  src/main/java/com/datadog/api/client/v1/model/LogsIndexUpdateRequest.java
  src/test/resources/com/datadog/api/client/v1/api/logs_indexes.feature
Due: generate

Regenerate client from commit e90583bd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ServiceScorecardsApi.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
