Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 2d21d782 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1177423752.java
  examples/v1/dashboards/CreateDashboard_1213075383.java
  examples/v1/dashboards/CreateDashboard_1284514532.java
  examples/v1/dashboards/CreateDashboard_1307120899.java
  examples/v1/dashboards/CreateDashboard_2064651578.java
  examples/v1/dashboards/CreateDashboard_2308247857.java
  examples/v1/dashboards/CreateDashboard_2336428357.java
  examples/v1/dashboards/CreateDashboard_2342457693.java
  examples/v1/dashboards/CreateDashboard_2349863258.java
  examples/v1/dashboards/CreateDashboard_2563642929.java
  examples/v1/dashboards/CreateDashboard_2610827685.java
  examples/v1/dashboards/CreateDashboard_2644712913.java
  examples/v1/dashboards/CreateDashboard_2800096921.java
  examples/v1/dashboards/CreateDashboard_2921337351.java
  examples/v1/dashboards/CreateDashboard_3066042014.java
  examples/v1/dashboards/CreateDashboard_3451918078.java
  examples/v1/dashboards/CreateDashboard_3562282606.java
  examples/v1/dashboards/CreateDashboard_3777304439.java
  examples/v1/dashboards/CreateDashboard_41622531.java
  examples/v1/dashboards/CreateDashboard_4262729673.java
  examples/v1/dashboards/CreateDashboard_578885732.java
  examples/v1/dashboards/CreateDashboard_765140092.java
  examples/v1/dashboards/CreateDashboard_915214113.java
  src/main/java/com/datadog/api/client/v1/model/WidgetLegacyLiveSpan.java
  src/main/java/com/datadog/api/client/v1/model/WidgetLiveSpanUnit.java
  src/main/java/com/datadog/api/client/v1/model/WidgetNewFixedSpan.java
  src/main/java/com/datadog/api/client/v1/model/WidgetNewFixedSpanType.java
  src/main/java/com/datadog/api/client/v1/model/WidgetNewLiveSpan.java
  src/main/java/com/datadog/api/client/v1/model/WidgetNewLiveSpanType.java
  src/main/java/com/datadog/api/client/v1/model/WidgetTime.java
  src/test/java/com/datadog/api/client/v1/api/DashboardsApiTest.java
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_legacy_live_span_time_format.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_legacy_live_span_time_format.json
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_new_fixed_span_time_format.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_new_fixed_span_time_format.json
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_new_live_span_time_format.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_timeseries_widget_with_new_live_span_time_format.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate, java-format

Regenerate client from commit b289628c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
Due: generate

Regenerate client from commit b31c228b of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

Regenerate client from commit fe4f848e of spec repo
  .apigentools-info
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3367706049.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: none

Version bump 2.28.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#2464)
  CHANGELOG.md
Due: none

Regenerate client from commit 3dff532a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1213075383.java
  examples/v1/dashboards/CreateDashboard_2563642929.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetStyle.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_sorted_by_group.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_sorted_by_group.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_toplist_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_toplist_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/toplist_widget.json
Due: generate

Fix permissions.
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Fix typo.
  .github/workflows/changelog.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
Due: none

Fix permissions
  .github/workflows/changelog.yml
Due: none

fix
  .github/workflows/changelog.yml
Due: none

Regenerate client from commit 80dc4248 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit b614b142 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_794302680.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatMatch.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatMatchType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatPalette.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplace.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceAll.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceAllType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceSubstring.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceSubstringType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatRule.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_query_table_widget_and_text_formatting.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_query_table_widget_and_text_formatting.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/query_table_widget_text_formatting.json
Due: generate

Regenerate client from commit 3288a6f0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.java
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.java
  examples/v1/synthetics/CreateSyntheticsAPITest_1402674167.java
  examples/v1/synthetics/CreateSyntheticsAPITest_3829801148.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequestPort.java
  src/test/resources/cassettes/features/v1/Create_a_FIDO_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_FIDO_global_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_TOTP_global_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_TOTP_global_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_grpc_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_ssl_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_multi_step_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_test_udp_payload.json
Due: generate

Regenerate client from commit 7c86a87a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

add support for top level indexing
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 6faa6fb3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeam.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamType.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamIncluded.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUser.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUserAttributes.java
Due: generate

Fix permissions. (#2469)
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

empty strings aren't equal
  src/test/java/com/datadog/api/World.java
Due: java-format

oops we should be skipping when the length is zero
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit bee8c3e1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeam.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamType.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamIncluded.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUser.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUserAttributes.java
Due: generate

Regenerate client from commit 6093038f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IncidentNotificationHandle.java
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: generate

Regenerate client from commit 966987f5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_794302680.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatMatch.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatMatchType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatPalette.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplace.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceAll.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceAllType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceSubstring.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatReplaceSubstringType.java
  src/main/java/com/datadog/api/client/v1/model/TableWidgetTextFormatRule.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_query_table_widget_and_text_formatting.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_query_table_widget_and_text_formatting.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/query_table_widget_text_formatting.json
Due: generate

Regenerate client from commit 15519102 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SignalArchiveReason.java
Due: generate

Regenerate client from commit 253b7b76 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 41592dc6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 74e85997 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FastlyServicesResponse.java
Due: generate

Regenerate client from commit 7752efd3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FastlyServicesResponse.java
Due: generate

Regenerate client from commit 77d3d5e5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/UserInvitationDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UserOrgsSerializable.java
  src/main/java/com/datadog/api/client/v2/model/UserOrgsSerializableAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UserOrgsSerializableType.java
  src/main/java/com/datadog/api/client/v2/model/UserOverrideIdentityProvider.java
  src/main/java/com/datadog/api/client/v2/model/UserOverrideIdentityProviderAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UserOverrideIdentityProviderType.java
  src/main/java/com/datadog/api/client/v2/model/UserResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/UserUpdateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: generate

Regenerate client from commit 53c64681 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/ListTagConfigurations_3969783727.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricMetaPage.java
  src/main/java/com/datadog/api/client/v2/model/MetricMetaPageType.java
  src/main/java/com/datadog/api/client/v2/model/MetricPaginationMeta.java
  src/main/java/com/datadog/api/client/v2/model/MetricsAndMetricTagConfigurationsResponse.java
  src/main/java/com/datadog/api/client/v2/model/MetricsListResponseLinks.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit 2eb52c63 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 0d76884c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequestAttributes.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
