Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit 9d22381 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsAPIStep.md
  api_docs/v1/SyntheticsBrowserTestConfig.md
  api_docs/v1/SyntheticsTestRequest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPIStep.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Speed up check examples
  check-examples.sh
Due: none

Speed up check examples (#801)
  check-examples.sh
Due: none

Handle version parameter
  check-examples.sh
Due: none

Make extraction version aware as well
  check-examples.sh
  extract-code-blocks.sh
Due: none

Try to fetch dependencies
  check-examples.sh
Due: none

Regenerate client from commit 45e6981 of spec repo
  .apigentools-info
Due: none

update test
  src/test/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApiTest.java
Due: java-format

fix typo
  src/test/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApiTest.java
Due: java-format

Regenerate client from commit eaa0782 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/SLOResponse.md
  api_docs/v1/SLOResponseData.md
  api_docs/v1/ServiceLevelObjectivesApi.md
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/model/SLOResponse.java
  src/main/java/com/datadog/api/v1/client/model/SLOResponseData.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Fix small issues in doc
  .generator/templates/libraries/jersey2/api_doc.mustache
Due: none

Regenerate client from commit b2e3154 of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestOptions.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Add cassettes
  src/test/resources/cassettes/v1/Create_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_a_notebook_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Bad_Request_response.json
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Not_Found_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Not_Found_response.json
  src/test/resources/cassettes/v1/Get_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_a_notebook_returns_OK_response.json
Due: none

Regenerate client from commit 52e5730 of spec repo
  .apigentools-info
  api_docs/v2/SecurityMonitoringRuleDetectionMethod.md
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleDetectionMethod.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

feat: add access to webclient and webclientBuilder (#9329)
  .generator/templates/libraries/webclient/ApiClient.mustache
Due: none

Regenerate client from commit dcadb1c of spec repo
  .apigentools-info
  api_docs/v1/LogsByRetention.md
  api_docs/v1/LogsByRetentionMonthlyUsage.md
  api_docs/v1/LogsByRetentionOrgUsage.md
  api_docs/v1/LogsByRetentionOrgs.md
  api_docs/v1/LogsRetentionAggSumUsage.md
  api_docs/v1/LogsRetentionSumUsage.md
  api_docs/v1/README.md
  api_docs/v1/UsageLogsByRetentionHour.md
  api_docs/v1/UsageLogsByRetentionResponse.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v1/UsageSummaryResponse.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/LogsByRetention.java
  src/main/java/com/datadog/api/v1/client/model/LogsByRetentionMonthlyUsage.java
  src/main/java/com/datadog/api/v1/client/model/LogsByRetentionOrgUsage.java
  src/main/java/com/datadog/api/v1/client/model/LogsByRetentionOrgs.java
  src/main/java/com/datadog/api/v1/client/model/LogsRetentionAggSumUsage.java
  src/main/java/com/datadog/api/v1/client/model/LogsRetentionSumUsage.java
  src/main/java/com/datadog/api/v1/client/model/UsageLogsByRetentionHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageLogsByRetentionResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/undo.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Regenerate client from commit b9a2b4b of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsTestConfig.md
  api_docs/v1/SyntheticsTickInterval.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTickInterval.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit 8176bfc of spec repo
  .apigentools-info
  api_docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
Due: generated

Use enum field for attribution test
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
Due: java-format

Regenerate client from commit 8d8238a of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageAttributionSupportedMetrics.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
Due: generated, java-format

Update cassettes
  src/test/resources/cassettes/v1/Create_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Not_Found_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_all_notebooks_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_all_notebooks_returns_OK_response.json
  src/test/resources/cassettes/v1/Update_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_a_notebook_returns_OK_response.json
Due: none

Fix required fields, re-record
  .generator/templates/libraries/jersey2/model.mustache
  .generator/templates/libraries/jersey2/pojo.mustache
  src/test/resources/cassettes/v1/Create_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_a_notebook_returns_OK_response.json
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Not_Found_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_Not_Found_response.json
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Delete_a_notebook_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_a_notebook_returns_OK_response.json
  src/test/resources/cassettes/v1/Get_all_notebooks_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Get_all_notebooks_returns_OK_response.json
  src/test/resources/cassettes/v1/Update_a_notebook_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Update_a_notebook_returns_OK_response.json
Due: none

Remove scenario rendered impossible
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesApiTest.java
  src/test/resources/cassettes/v1/LogsPipelinesApiTest.orderUpdateLogsPipelineErrorsTest.freeze
  src/test/resources/cassettes/v1/LogsPipelinesApiTest.orderUpdateLogsPipelineErrorsTest.json
Due: java-format

Commit cassettes
  src/test/resources/cassettes/v2/Create_a_security_filter_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Create_a_security_filter_returns_OK_response.json
  src/test/resources/cassettes/v2/Delete_a_security_filter_returns_No_Content_response.freeze
  src/test/resources/cassettes/v2/Delete_a_security_filter_returns_No_Content_response.json
  src/test/resources/cassettes/v2/Get_a_security_filter_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Get_a_security_filter_returns_OK_response.json
  src/test/resources/cassettes/v2/Get_all_security_filters_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Get_all_security_filters_returns_OK_response.json
  src/test/resources/cassettes/v2/Update_a_security_filter_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Update_a_security_filter_returns_OK_response.json
Due: none

Update IncidentIntegrationMetadataType enum
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

[K9] Update cassettes
  src/test/resources/cassettes/v2/Create_a_security_filter_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Create_a_security_filter_returns_OK_response.json
  src/test/resources/cassettes/v2/Delete_a_security_filter_returns_No_Content_response.freeze
  src/test/resources/cassettes/v2/Delete_a_security_filter_returns_No_Content_response.json
  src/test/resources/cassettes/v2/Get_a_security_filter_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Get_a_security_filter_returns_OK_response.json
  src/test/resources/cassettes/v2/Update_a_security_filter_returns_OK_response.freeze
  src/test/resources/cassettes/v2/Update_a_security_filter_returns_OK_response.json
Due: none

Regenerate client from commit 9b7eac3 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/WidgetLayout.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Release beta11
  CHANGELOG.md
  pom.xml
Due: none

Release beta11 (#817)
  CHANGELOG.md
  pom.xml
Due: none

new release cycleé
  pom.xml
Due: none

Regenerate client from commit 3445859 of spec repo
  .apigentools-info
  api_docs/v1/DowntimeChild.md
  api_docs/v1/README.md
  src/main/java/com/datadog/api/v1/client/model/DowntimeChild.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit b30ab78 of spec repo
  .apigentools-info
  api_docs/v1/README.md
  api_docs/v1/UsageAttributionPagination.md
  api_docs/v1/UsageMeteringApi.md
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionPagination.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated

Fix tests
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
Due: java-format

Regenerate client from commit cc429de of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/service_checks.feature
Due: generated

Fix tests, re-record
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/resources/cassettes/v1/SyntheticsApiTest.aPISpecificGetResultSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.aPISpecificGetResultSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.browserSpecificGetResultSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.browserSpecificGetResultSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.createTestSynthetics402ErrorTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.createTestSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.createTestSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.deleteSynthetics404ErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.deleteSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.deleteSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.getTestSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.getTestSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.listTestSynthetics404ErrorTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.listTestSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.listTestSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.syntheticsListLocationsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.syntheticsListLocationsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsAPILifecycle.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsAPILifecycle.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsBrowserLifecycle.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsBrowserLifecycle.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsMultipleTestsOperations.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsMultipleTestsOperations.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsSubtypeTcpAPILifecycle.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.testSyntheticsSubtypeTcpAPILifecycle.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.updateStatusSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.updateStatusSyntheticsErrorsTest.json
  src/test/resources/cassettes/v1/SyntheticsApiTest.updateTestSyntheticsErrorsTest.freeze
  src/test/resources/cassettes/v1/SyntheticsApiTest.updateTestSyntheticsErrorsTest.json
Due: java-format

Regenerate client from commit 8dce4be of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsAPITest.md
  api_docs/v1/SyntheticsBrowserTest.md
  api_docs/v1/SyntheticsGlobalVariableValue.md
  api_docs/v1/SyntheticsTestDetails.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsGlobalVariableValue.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetails.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated, java-format

Regenerate client from commit a1af0e0 of spec repo
  .apigentools-info
  api_docs/v1/WidgetCustomLink.md
  src/main/java/com/datadog/api/v1/client/model/WidgetCustomLink.java
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Update ApiClient.mustache (#9492)
  .generator/templates/libraries/resttemplate/ApiClient.mustache
Due: none
