Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit 306edfe of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/WidgetCalendarAlignedSpan.java
  src/main/java/com/datadog/api/client/v1/model/WidgetCalendarAlignedSpanType.java
  src/main/java/com/datadog/api/client/v1/model/WidgetLiveSpan.java
  src/main/java/com/datadog/api/client/v1/model/WidgetTime.java
Due: generate

When parsing oneOf[list-of-models, ...], treat list as unparsed if a model is unparsed.
  .generator/src/generator/templates/modelOneOf.j2
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionEventQueryGroupByConfig.java
  src/main/java/com/datadog/api/client/v1/model/SharedDashboardInvitesData.java
  src/main/java/com/datadog/api/client/v2/model/AnyValue.java
  src/main/java/com/datadog/api/client/v2/model/CIAppAggregateBucketValue.java
  src/main/java/com/datadog/api/client/v2/model/CIAppCreatePipelineEventRequestDataSingleOrArray.java
  src/main/java/com/datadog/api/client/v2/model/LogsAggregateBucketValue.java
  src/main/java/com/datadog/api/client/v2/model/RUMAggregateBucketValue.java
  src/main/java/com/datadog/api/client/v2/model/SpansAggregateBucketValue.java
  src/test/java/com/datadog/api/client/v1/api/DashboardsApiTest.java
Due: generate, java-format

Nix test code
  src/test/java/com/datadog/api/World.java
Due: java-format

Fix dd-octo-sts token fetch guard for non-generated PRs
  .github/workflows/reusable-integration-test.yml
Due: none

Regenerate client from commit 09cb5b9 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_4032568083.java
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v1/model/DashboardDefaultTimeframeSetting.java
  src/main/java/com/datadog/api/client/v1/model/DashboardFixedTimeframe.java
  src/main/java/com/datadog/api/client/v1/model/DashboardFixedTimeframeType.java
  src/main/java/com/datadog/api/client/v1/model/DashboardLiveTimeframe.java
  src/main/java/com/datadog/api/client/v1/model/DashboardLiveTimeframeType.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_live_default_timeframe_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_live_default_timeframe_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Fix oneOf array alias examples
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/modelSimple.j2
  .generator/tests/test_formatter.py
Due: generate

pre-commit fixes
  examples/v2/pup-bump-test/GetPupBumpTest.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/PupBumpTestApi.java
  src/main/java/com/datadog/api/client/v2/model/PupBumpTestData.java
  src/main/java/com/datadog/api/client/v2/model/PupBumpTestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PupBumpTestResponse.java
  src/main/java/com/datadog/api/client/v2/model/PupBumpTestType.java
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/EntityV3.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3Repository.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3RepositoryDatadog.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3RepositoryKind.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3RepositorySpec.java
Due: none
