Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 9ea284b5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/EntityV3DatastoreSpec.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3QueueSpec.java
  src/main/java/com/datadog/api/client/v2/model/EntityV3ServiceSpec.java
  src/test/resources/com/datadog/api/client/v2/api/software_catalog.feature
Due: generate

Regenerate client from commit f1a43647 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/slack-integration/CreateSlackIntegrationChannel.java
  examples/v1/slack-integration/UpdateSlackIntegrationChannel.java
  src/main/java/com/datadog/api/client/v1/model/SlackIntegrationChannelDisplay.java
  src/test/resources/com/datadog/api/client/v1/api/slack_integration.feature
Due: generate

Regenerate client from commit 4468962d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-network-monitoring/GetAggregatedConnections_3059356111.java
  src/main/java/com/datadog/api/client/v2/api/CloudNetworkMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/SingleAggregatedConnectionResponseArray.java
  src/main/java/com/datadog/api/client/v2/model/SingleAggregatedConnectionResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SingleAggregatedConnectionResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SingleAggregatedConnectionResponseDataType.java
  src/test/resources/com/datadog/api/client/v2/api/cloud_network_monitoring.feature
Due: generate

Regenerate client from commit 17df409e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/metrics/SubmitDistributionPoints.java
  examples/v1/metrics/SubmitDistributionPoints_3109558960.java
  src/main/java/com/datadog/api/client/v1/model/DistributionPointItems.java
  src/main/java/com/datadog/api/client/v1/model/DistributionPointsSeries.java
Due: generate

Allow hyphen
  .generator/conftest.py
  .generator/src/generator/formatter.py
  src/test/java/com/datadog/api/Given.java
  src/test/java/com/datadog/api/Undo.java
Due: generate, java-format

Fix hyphen
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 73e22797 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ApplicationSecurityWafCustomRuleTagsCategory.java
Due: generate

Regenerate client from commit da94868e of spec repo
  .apigentools-info
  examples/v2/action-connection/CreateActionConnection.java
  examples/v2/action-connection/DeleteActionConnection.java
  examples/v2/action-connection/DeleteActionConnection_2142905164.java
  src/test/resources/cassettes/features/v2/Create_a_new_Action_Connection_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_Action_Connection_returns_Successfully_created_Action_Connection_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_Action_Connection_returns_Successfully_created_Action_Connection_response.json
  src/test/resources/cassettes/features/v2/Delete_an_existing_Action_Connection_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_existing_Action_Connection_returns_The_resource_was_deleted_successfully_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_existing_Action_Connection_returns_The_resource_was_deleted_successfully_response.json
  src/test/resources/cassettes/features/v2/Get_an_existing_Action_Connection_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_an_existing_Action_Connection_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_an_existing_Action_Connection_returns_Successfully_get_Action_Connection_response.freeze
  src/test/resources/cassettes/features/v2/Get_an_existing_Action_Connection_returns_Successfully_get_Action_Connection_response.json
  src/test/resources/cassettes/features/v2/Update_an_existing_Action_Connection_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_existing_Action_Connection_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_existing_Action_Connection_returns_Successfully_updated_Action_Connection_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_existing_Action_Connection_returns_Successfully_updated_Action_Connection_response.json
  src/test/resources/com/datadog/api/client/v2/api/action_connection.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: none

Regenerate client from commit de612b2d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOQueryType.java
Due: generate

Regenerate client from commit 3909ab62 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

Regenerate client from commit fe3756c4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CancelHistoricalJob.java
  examples/v2/security-monitoring/ConvertJobResultToSignal.java
  examples/v2/security-monitoring/DeleteHistoricalJob.java
  examples/v2/security-monitoring/GetHistoricalJob.java
  examples/v2/security-monitoring/ListHistoricalJobs.java
  examples/v2/security-monitoring/RunHistoricalJob.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit d3ea2d9b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetRuleVersionHistory.java
  examples/v2/security-monitoring/GetRuleVersionHistory_2467565841.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 642b7d0b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionSLOQueryType.java
Due: generate

Regenerate client from commit 3e2afa30 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/apm-retention-filters/CreateApmRetentionFilter_3853850379.java
  examples/v2/apm-retention-filters/UpdateApmRetentionFilter_3916044058.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterAllAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterUpdateAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_default_retention_filter_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_retention_filter_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_retention_filter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_retention_filter_with_trace_rate_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_retention_filter_with_trace_rate_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_with_trace_rate_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_with_trace_rate_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/apm_retention_filters.feature
Due: generate

Regenerate client from commit 21cf6edb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/InterfaceAttributes.java
  src/test/resources/cassettes/features/v2/Get_the_list_of_interfaces_of_the_device_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/network_device_monitoring.feature
Due: generate

Regenerate client from commit 6d558e91 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfig.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfigProcessorItem.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineConfigSourceItem.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineDecoding.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineFluentSource.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineFluentSourceType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineHttpServerSource.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineHttpServerSourceAuthStrategy.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineHttpServerSourceType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineParseGrokProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineParseGrokProcessorRule.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineParseGrokProcessorRuleMatchRule.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineParseGrokProcessorRuleSupportRule.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineParseGrokProcessorType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineQuotaProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSampleProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineSampleProcessorType.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineThrottleProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineThrottleProcessorType.java
Due: generate

Regenerate client from commit 4733e6bf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterAllAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterUpdateAttributes.java
Due: generate

Regenerate client from commit 7f98e0a9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStepType.java
Due: generate

Regenerate client from commit 21e93578 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
Due: generate

Regenerate client from commit c0a45137 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleCaseActionOptions.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleCaseActionType.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_type_application_security_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_type_application_security_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 4513739b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/network-device-monitoring/GetInterfaces.java
  src/main/java/com/datadog/api/client/v2/api/NetworkDeviceMonitoringApi.java
  src/test/resources/cassettes/features/v2/Get_the_list_of_interfaces_of_the_device_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_the_list_of_interfaces_of_the_device_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/network_device_monitoring.feature
Due: generate

Regenerate client from commit d209cd40 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/application_security.feature
Due: none

Regenerate client from commit b50db944 of spec repo
  .apigentools-info
  examples/v2/incidents/CreateIncidentType.java
  src/test/resources/cassettes/features/v2/Create_an_incident_type_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_incident_type_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_an_incident_type_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_incident_type_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_incident_type_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_incident_type_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: none

Regenerate client from commit 357a756f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit e73254d7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterAllAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RetentionFilterUpdateAttributes.java
Due: generate

Version bump 2.34.1
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit c0287407 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/network-device-monitoring/GetInterfaces.java
  src/main/java/com/datadog/api/client/v2/api/NetworkDeviceMonitoringApi.java
  src/test/resources/cassettes/features/v2/Get_the_list_of_interfaces_of_the_device_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_the_list_of_interfaces_of_the_device_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/network_device_monitoring.feature
Due: generate

Regenerate client from commit 71455c7c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/EstimateMetricsOutputSeries.java
  examples/v2/metrics/ListActiveMetricConfigurations_2806781557.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationUpdateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit cd8e59b7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/DeleteBudget.java
  examples/v2/cloud-cost-management/GetBudget.java
  examples/v2/cloud-cost-management/ListBudgets.java
  examples/v2/cloud-cost-management/UpsertBudget.java
  src/main/java/com/datadog/api/client/v2/api/CloudCostManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/Budget.java
  src/main/java/com/datadog/api/client/v2/model/BudgetArray.java
  src/main/java/com/datadog/api/client/v2/model/BudgetEntry.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntries.java
  src/main/java/com/datadog/api/client/v2/model/BudgetWithEntriesData.java
  src/test/resources/cassettes/features/v2/Delete_a_budget_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_budget_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_a_budget_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_budget_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/List_budgets_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_budgets_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_if_exists_or_create_a_new_budget_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_if_exists_or_create_a_new_budget_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_if_exists_or_create_a_new_budget_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Update_if_exists_or_create_a_new_budget_returns_Not_Found_response.json
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit a35a6879 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Regenerate client from commit 2d6e55b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
