Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit 1fa8186c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeam.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamType.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamIncluded.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUser.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUserAttributes.java
Due: generate

Regenerate client from commit 279f186f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/FindingDetectionType.java
Due: generate

Regenerate client from commit 83debf9e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Regenerate client from commit ed2597a8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsStep.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit eb66b1cf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationMetricTypeCategory.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationUpdateAttributes.java
Due: generate

Regenerate client from commit 60bc9127 of spec repo
  .apigentools-info
  examples/v1/dashboards/CreateDashboard_1433408735.java
  src/test/resources/cassettes/features/v1/Clients_deserialize_a_dashboard_with_a_empty_time_object.freeze
  src/test/resources/cassettes/features/v1/Clients_deserialize_a_dashboard_with_a_empty_time_object.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: none

Regenerate client from commit 3c5d6057 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamMembership.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeam.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AbbreviatedTeamType.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamIncluded.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamRelationships.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUser.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamUserAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit 909e369c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringReferenceTable.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleUpdatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRulePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleTestPayload.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 64b1c61a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1413226400.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetStacked.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringReferenceTable.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleUpdatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRulePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleTestPayload.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_with_stacked_type_and_no_legend_specified.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_with_stacked_type_and_no_legend_specified.json
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit d90ee2ef of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 763d3bd7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/LogsRestrictionQueriesApi.java
  src/main/java/com/datadog/api/client/v2/model/LogsRestrictionQueriesType.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryCreateData.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryListResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRole.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRoleAttribute.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryRolesResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryUpdatePayload.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithRelationshipsResponse.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithoutRelationships.java
  src/main/java/com/datadog/api/client/v2/model/RestrictionQueryWithoutRelationshipsResponse.java
Due: generate

Regenerate client from commit 34a01c1d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit c09e55c6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsMobileTest.java
  examples/v1/synthetics/GetMobileTest.java
  examples/v1/synthetics/UpdateMobileTest.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsConfigVariableType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileDeviceID.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStep.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileStepType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBinding.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBindingItems.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestBindingItemsRole.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestCiOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestConfig.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestInitialApplicationArguments.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestInitialApplicationArgumentsPropertyNames.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptionsMonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptionsMonitorOptionsNotificationPresetName.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestType.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestsMobileApplication.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestsMobileApplicationReferenceType.java
  src/test/resources/cassettes/features/v1/Create_a_mobile_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_mobile_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_a_Mobile_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_a_Mobile_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_Mobile_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_Mobile_test_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_mobile_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_mobile_test_update_payload.json
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: generate

Regenerate client from commit e02e4f4c of spec repo
  .apigentools-info
  examples/v2/logs/AggregateLogs_2955613758.java
  src/test/resources/cassettes/features/v2/Aggregate_compute_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_compute_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Aggregate_compute_events_with_group_by_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_compute_events_with_group_by_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Aggregate_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_quick_list_of_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_quick_list_of_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Search_logs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Search_logs_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Send_logs_returns_Request_accepted_for_processing_always_202_empty_JSON_response.freeze
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
Due: none

Regenerate client from commit 3b4747f4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/FetchUptimes.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsFetchUptimesPayload.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestUptime.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsUptime.java
  src/test/resources/cassettes/features/v1/Fetch_uptime_for_multiple_tests_returns_JSON_format_is_wrong_response.freeze
  src/test/resources/cassettes/features/v1/Fetch_uptime_for_multiple_tests_returns_JSON_format_is_wrong_response.json
  src/test/resources/cassettes/features/v1/Fetch_uptime_for_multiple_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Fetch_uptime_for_multiple_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: generate

Version bump 2.29.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 3f12bebc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1413226400.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetStacked.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_with_stacked_type_and_no_legend_specified.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_toplist_widget_with_stacked_type_and_no_legend_specified.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 76b7b19d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit 2c46d95c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IncidentResponseIncludedItem.java
  src/main/java/com/datadog/api/client/v2/model/IncidentUserAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentUserData.java
Due: generate

Regenerate client from commit 7a63d530 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsMobileTest.java
  examples/v1/synthetics/UpdateMobileTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileDeviceID.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsMobileTestOptions.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestDetailsType.java
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: generate

Regenerate client from commit f28ad048 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/IncidentIntegrationMetadataMetadata.java
  src/main/java/com/datadog/api/client/v2/model/MSTeamsIntegrationMetadata.java
  src/main/java/com/datadog/api/client/v2/model/MSTeamsIntegrationMetadataTeamsItem.java
Due: generate

Regenerate client from commit ef7c2778 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit e9adfd01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentType.java
  examples/v2/incidents/DeleteIncidentType.java
  examples/v2/incidents/GetIncidentType.java
  examples/v2/incidents/ListIncidentTypes.java
  examples/v2/incidents/UpdateIncidentType.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeCreateData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeListResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypePatchData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypePatchRequest.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeType.java
  src/main/java/com/datadog/api/client/v2/model/IncidentTypeUpdateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 5b4f9ebe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/gcp-integration/CreateGCPIntegration.java
  examples/v1/gcp-integration/UpdateGCPIntegration.java
  examples/v1/gcp-integration/UpdateGCPIntegration_3544259255.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_2597004741.java
  src/main/java/com/datadog/api/client/v1/model/GCPAccount.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/cassettes/features/v1/Create_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_GCP_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Delete_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_a_GCP_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_cloud_run_revision_filters_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_cloud_run_revision_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_security_command_center_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_security_command_center_enabled_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: generate

Regenerate client from commit 14f75a85 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetMonthlyCostAttribution.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 6c26a0dd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/asm-exclusion-filters/CreateASMExclusionFilter.java
  examples/v2/asm-exclusion-filters/DeleteASMExclusionFilter.java
  examples/v2/asm-exclusion-filters/GetASMExclusionFilters.java
  examples/v2/asm-exclusion-filters/ListASMExclusionFilters.java
  examples/v2/asm-exclusion-filters/UpdateASMExclusionFilter.java
  src/main/java/com/datadog/api/client/v2/api/AsmExclusionFiltersApi.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterCreateData.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterData.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterListAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterListResponse.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterListRulesTarget.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterListRulesTargetTags.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterMetadata.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterResponse.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterRulesTarget.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterScope.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterType.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionFilterUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ASMExclusionListFilterData.java
  src/test/resources/com/datadog/api/client/v2/api/asm_exclusion_filters.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit eb227ded of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMonitor.java
Due: generate

Regenerate client from commit 5a397b5f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEvent.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCategory.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequestType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponse.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributesEvt.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthor.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthorType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResource.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResourceName.java
  src/test/resources/com/datadog/api/client/v2/api/events.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 43ae024c of spec repo
  .apigentools-info
  examples/v1/monitors/ValidateExistingMonitor.java
  examples/v1/monitors/ValidateMonitor.java
  examples/v1/monitors/ValidateMonitor_4247196452.java
  src/test/resources/cassettes/features/v1/Validate_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_a_multi_alert_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_a_multi_alert_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitor_payload.json
  src/test/resources/com/datadog/api/client/v1/api/multi_alert_monitor_payload.json
Due: none

Regenerate client from commit 3984d2f2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/test/resources/com/datadog/api/client/v1/api/given.json
Due: generate

Regenerate client from commit 672b8739 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Regenerate client from commit d5d7664b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEvent.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCategory.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateRequestType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponse.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCreateResponseAttributesAttributesEvt.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthor.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesAuthorType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResource.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesChangedResourceType.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesImpactedResourcesItems.java
  src/main/java/com/datadog/api/client/v2/model/ChangeEventCustomAttributesImpactedResourcesItemsType.java
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/events.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Sort param list before comparing
  src/test/java/com/datadog/api/TestClient.java
Due: java-format

this
  src/test/java/com/datadog/api/TestClient.java
Due: java-format
