Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

pre-commit fixes
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

update retryConfig object and test casettes
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest429.json
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest500.json
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

Refactor tests and retry config
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/ApiClient.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: generate, java-format

pre-commit fixes
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

change test assert
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

add back sleep method using retry object
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

refresh jdoc
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

Remove param for jdoc
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: generate

Add mock retry config and simplify the sleep
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/MockRetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/V2APITest.java
Due: generate, java-format

pre-commit fixes
  src/test/java/com/datadog/api/MockRetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/V2APITest.java
Due: java-format

Regenerate client from commit 991b8a6f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/GetUserMemberships.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/test/resources/cassettes/features/v2/Get_user_memberships_returns_Represents_a_user_s_association_to_a_team_response.freeze
  src/test/resources/cassettes/features/v2/Get_user_memberships_returns_Represents_a_user_s_association_to_a_team_response.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

fix for comments
  .generator/src/generator/templates/ApiClient.j2
  README.md
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/MockRetryConfig.java
Due: generate, java-format

pre-commit fixes
  README.md
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
Due: none

refactor retry test
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/MockRetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: generate, java-format

pre-commit fixes
  src/test/java/com/datadog/api/MockRetryConfig.java
Due: java-format

Rearrange mockconfig
  .generator/src/generator/templates/RetryConfig.j2
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/MockRetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: generate, java-format

pre-commit fixes
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/MockRetryConfig.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

Regenerate client from commit 0b6bfbed of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/WidgetComparator.java
Due: generate

Regenerate client from commit 54e2961f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.freeze
  src/test/resources/cassettes/features/v1/Get_a_synthetics_monitor_s_details.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_api_http_test_payload.json
Due: generate

Regenerate client from commit c4e697b1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/UpdateFinding.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequest.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestProperties.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponse.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseProperties.java
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_finding_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_finding_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit d5b95a22 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit f7f3d222 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/azure-integration/CreateAzureIntegration.java
  examples/v1/azure-integration/DeleteAzureIntegration.java
  examples/v1/azure-integration/UpdateAzureHostFilters.java
  examples/v1/azure-integration/UpdateAzureIntegration.java
  src/main/java/com/datadog/api/client/v1/model/AzureAccount.java
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
Due: generate

Add retry support (#1925)
  .generator/src/generator/cli.py
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/RetryConfig.j2
  README.md
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/RetryConfig.java
  src/test/java/com/datadog/api/MockRetryConfig.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
  src/test/java/com/datadog/api/client/v2/api/V2APITest.java
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest429.freeze
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest429.json
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest500.freeze
  src/test/resources/cassettes/v2/RetryTest.retryWithDashboardListItemGetTest500.json
Due: generate, java-format

run retry test in cassettes only
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

Run retry test in cassettes only (#1936)
  src/test/java/com/datadog/api/client/v2/api/RetryTest.java
Due: java-format

Regenerate client from commit 357af604 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit bb17cef0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/LogsAggregateRequest.java
  src/main/java/com/datadog/api/client/v2/model/LogsAggregateRequestPage.java
  src/main/java/com/datadog/api/client/v2/model/LogsGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/LogsGroupByHistogram.java
  src/main/java/com/datadog/api/client/v2/model/LogsListRequest.java
  src/main/java/com/datadog/api/client/v2/model/LogsQueryOptions.java
  src/main/java/com/datadog/api/client/v2/model/LogsResponseMetadataPage.java
Due: generate

Regenerate client from commit 77f8c067 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeam_252121814.java
  examples/v2/teams/UpdateTeam.java
  src/main/java/com/datadog/api/client/v2/model/TeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/TeamUpdateAttributes.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_team_with_V2_fields_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_team_with_V2_fields_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_team_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_team_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit 0240d726 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV1.java
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: generate

Regenerate client from commit 32ed4727 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Due: generate

Version bump 2.15.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit d78a6960 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
Due: generate

Regenerate client from commit 7e4a4121 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2618036642.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_trace_stream_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_trace_stream_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate
