Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

pre-commit fixes
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateAttributes.java
Due: none

cleanup
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/PaginationIterator.j2
  src/main/java/com/datadog/api/v1/client/PaginationIterable.java
  src/main/java/com/datadog/api/v1/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/PaginationIterable.java
  src/main/java/com/datadog/api/v2/client/PaginationIterator.java
  src/test/resources/cassettes/v1/LogsApiTest.listLogTest.freeze
  src/test/resources/cassettes/v1/LogsApiTest.listLogTest.json
Due: generate

Regenerate client from commit d65e6213 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/monitors/CreateMonitor_1969035628.java
  examples/v1/monitors/CreateMonitor_2520912138.java
  examples/v2/metrics/EstimateMetricsOutputSeries.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/model/MonitorFormulaAndFunctionEventsDataSource.java
  src/main/java/com/datadog/api/v1/client/model/MonitorType.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/test/resources/cassettes/features/v1/Create_a_ci_tests_formula_and_functions_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_ci_tests_formula_and_functions_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_ci_tests_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_ci_tests_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Tag_Configuration_Cardinality_Estimator_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/Tag_Configuration_Cardinality_Estimator_returns_Success_response.json
  src/test/resources/com/datadog/api/v1/client/api/monitors.feature
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: generate

Regenerate client from commit e1764101 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
Due: none

Regenerate client from commit dc18f74b of spec repo
  .apigentools-info
  examples/v1/aws-integration/UpdateAWSAccount.java
  src/test/resources/cassettes/features/v1/Update_an_AWS_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_AWS_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/aws_integration.feature
Due: none

cleanup
  .generator/src/generator/cli.py
  src/test/java/com/datadog/api/v2/client/api/LogsApiTest.java
Due: generate, java-format

fix java base type
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/modelOneOf.j2
Due: generate

Regenerate client from commit da8834e1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.java
  examples/v1/synthetics/CreateSyntheticsBrowserTest_2932742688.java
  examples/v1/synthetics/UpdateBrowserTest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestRumSettings.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestOptions.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_browser_test_payload_with_rum_settings.json
Due: generate

fix examples
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit 37954eaf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/security-monitoring/AddSecurityMonitoringSignalToIncident.java
  examples/v1/security-monitoring/EditSecurityMonitoringSignalAssignee.java
  examples/v1/security-monitoring/EditSecurityMonitoringSignalState.java
  src/main/java/com/datadog/api/v1/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v1/client/model/AddSignalToIncidentRequest.java
  src/main/java/com/datadog/api/v1/client/model/SignalArchiveReason.java
  src/main/java/com/datadog/api/v1/client/model/SignalAssigneeUpdateRequest.java
  src/main/java/com/datadog/api/v1/client/model/SignalStateUpdateRequest.java
  src/main/java/com/datadog/api/v1/client/model/SignalTriageState.java
  src/main/java/com/datadog/api/v1/client/model/SuccessfulSignalUpdateResponse.java
  src/test/resources/cassettes/features/v1/Add_a_security_signal_to_an_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Add_a_security_signal_to_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Change_the_triage_state_of_a_security_signal_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Change_the_triage_state_of_a_security_signal_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Modify_the_triage_assignee_of_a_security_signal_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Modify_the_triage_assignee_of_a_security_signal_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/security_monitoring.feature
  src/test/resources/com/datadog/api/v1/client/api/undo.json
Due: generate

Regenerate client from commit 4797abcd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/model/AuthNMapping.java
  src/main/java/com/datadog/api/v2/client/model/AuthNMappingAttributes.java
  src/main/java/com/datadog/api/v2/client/model/AuthNMappingResponse.java
  src/main/java/com/datadog/api/v2/client/model/AuthNMappingsResponse.java
  src/main/java/com/datadog/api/v2/client/model/RelationshipToSAMLAssertionAttributeData.java
  src/main/java/com/datadog/api/v2/client/model/SAMLAssertionAttribute.java
Due: generate

Regenerate client from commit 82432e90 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/usage-metering/GetHourlyUsageAttribution.java
  examples/v1/usage-metering/GetMonthlyUsageAttribution_3849653599.java
  examples/v1/usage-metering/GetUsageAttribution.java
  examples/v2/usage-metering/GetCostByOrg.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/model/MonthlyUsageAttributionResponse.java
  src/main/java/com/datadog/api/v1/client/model/UsageAttributionResponse.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Hourly_Usage_Attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_Monthly_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Usage_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Usage_Attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_monthly_usage_attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_monthly_usage_attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_usage_attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_usage_attribution_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_cost_across_multi_org_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_cost_across_multi_org_account_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Regenerate client from commit 99066a28 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 730e00d7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionType.java
Due: generate

Regenerate client from commit 068bc4e7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
Due: generate

Regenerate client from commit 84372280 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1402674167.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAssertionType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetails.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestDetailsSubType.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_grpc_test_payload.json
Due: generate

Deleted renamed examples
  Makefile
  examples/v1/usage-metering/GetMonthlyUsageAttribution_3738504447.java
Due: generate

Regenerate client from commit ee99d802 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
Due: none

refactor template
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: generate

docs
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: generate

Regenerate client from commit ee6c9cb0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/LogsCategoryProcessor.java
  src/main/java/com/datadog/api/v1/client/model/LogsListRequest.java
  src/main/java/com/datadog/api/v1/client/model/LogsSort.java
Due: generate

Deleted renamed examples (#1345)
  Makefile
  examples/v1/usage-metering/GetMonthlyUsageAttribution_3738504447.java
Due: generate

attempt to fix example
  .generator/src/generator/formatter.py
Due: generate

add missing imports
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit 55b88fd3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.java
  examples/v1/service-level-objective-corrections/CreateSLOCorrection_1326388368.java
  examples/v1/service-level-objective-corrections/DeleteSLOCorrection.java
  examples/v1/service-level-objective-corrections/GetSLOCorrection.java
  examples/v1/service-level-objective-corrections/ListSLOCorrection.java
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.java
  examples/v1/service-level-objectives/GetSLOCorrections.java
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
  src/test/resources/com/datadog/api/v1/client/api/service_level_objectives.feature
Due: generate

validate if unstable operaation is enabled
  .generator/src/generator/templates/Api.j2
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

pre-commit fixes
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: none

Calculate next version in pre-release script
  .github/workflows/prepare_release.yml
Due: none

Calculate next version in pre-release script (#1351)
  .github/workflows/prepare_release.yml
Due: none

apply code review suggetion
  .generator/src/generator/templates/Api.j2
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Fix workflow to fetch all repo
  .github/workflows/prepare_release.yml
Due: none

Version bump 1.7.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 921d5a27 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/SecurityMonitoringApi.java
Due: generate

Fix javadoc
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/JSON.j2
  .generator/src/generator/templates/auth/Authentication.j2
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/JSON.java
  src/main/java/com/datadog/api/v1/client/api/DashboardsApi.java
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsPipelinesApi.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/api/PagerDutyIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/api/SlackIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/api/TagsApi.java
  src/main/java/com/datadog/api/v1/client/api/WebhooksIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/auth/Authentication.java
  src/main/java/com/datadog/api/v1/client/model/HTTPLogItem.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/JSON.java
  src/main/java/com/datadog/api/v2/client/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsArchivesApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsMetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/client/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
  src/main/java/com/datadog/api/v2/client/auth/Authentication.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogItem.java
Due: generate

Apply suggestions from code review
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/JSON.j2
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/JSON.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/JSON.java
Due: none
