Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format, generate

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^(src/main|api_docs/v)'
    verbose: true
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]
  - id: generate
    name: Generate
    language: node
    entry: make
    files: "^(.generator|.pre-commit-config.yaml|.prettierrc.yml|docker-compose.generator.yaml|Makefile)"
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown
    "types": [text]
    files: '^api_docs/'
    args: []
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.2.1
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']

Add env variables
  .github/workflows/test.yml
Due: none

Enable code generation in repo (#1153)
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: generate

Remove CI condition
  .github/workflows/test.yml
Due: none

Regenerate client from commit 07112c0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/CloudWorkloadSecurityAgentRulesListResponse.md
  src/main/java/com/datadog/api/v2/client/model/CloudWorkloadSecurityAgentRulesListResponse.java
  src/test/resources/com/datadog/api/v2/client/api/cloud_workload_security.feature
Due: generated, generate

Regenerate client from commit f03f589 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/events.feature
Due: none

rm
  examples/v2/security-monitoring/CreateSecurityFilter.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.java
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.java
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.java
  examples/v2/security-monitoring/DeleteSecurityMonitoringRule.java
  examples/v2/security-monitoring/GetSecurityFilter.java
  examples/v2/security-monitoring/ListSecurityFilters.java
  examples/v2/security-monitoring/UpdateSecurityFilter.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: generated

Regenerate client from commit d58d627 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 9f83d50 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Create_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_webhooks_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_webhooks_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_webhook_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_webhook_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_custom_variable_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_custom_variable_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_webhook_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_webhook_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_log_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_log_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_log_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_log_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_log_based_metrics_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_log_based_metrics_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_log_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_log_based_metric_returns_OK_response.json
Due: none

Fix regex
  src/test/java/com/datadog/api/World.java
Due: java-format

replace everywhere
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/v2/client/api/service_accounts.feature
Due: java-format

Regenerate client from commit 33f7cea of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageBillableSummaryHour.md
  src/main/java/com/datadog/api/v1/client/model/UsageBillableSummaryHour.java
Due: generated, generate

Regenerate client from commit 1d04508 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/DashboardsApi.md
  examples/v1/dashboards/ListDashboards_1773932563.java
  src/main/java/com/datadog/api/v1/client/api/DashboardsApi.java
  src/test/resources/cassettes/features/v1/Get_deleted_dashboards_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_deleted_dashboards_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
  src/test/resources/com/datadog/api/v1/client/api/given.json
Due: generated, generate

Regenerate client from commit 5808ab7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SyntheticsAPIStep.md
  api_docs/v1/SyntheticsAPITest.md
  api_docs/v1/SyntheticsBrowserTest.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPIStep.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTest.java
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated, generate

Regenerate client from commit 9646439 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/SecurityMonitoringRuleDetectionMethod.md
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleDetectionMethod.java
Due: generated, generate

Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit a6ad2ff of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/README.md
  api_docs/v2/SecurityMonitoringRuleDetectionMethod.md
  api_docs/v2/SecurityMonitoringRuleOptions.md
  api_docs/v2/SecurityMonitoringRuleQueryAggregation.md
  api_docs/v2/SecurityMonitoringRuleThirdPartyOptions.md
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3348700599.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleDetectionMethod.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleOptions.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleQueryAggregation.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleThirdPartyOptions.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generated, generate

Regenerate client from commit 4f2cfc0 of spec repo
  .apigentools-info
  examples/v2/incidents/CreateIncident.java
  examples/v2/incidents/DeleteIncident.java
  examples/v2/incidents/GetIncident.java
  examples/v2/incidents/ListIncidents.java
  examples/v2/incidents/UpdateIncident.java
  src/test/resources/cassettes/features/v2/Create_an_incident_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_an_incident_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_an_existing_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_an_existing_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_incidents_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_incidents_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_the_details_of_an_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_the_details_of_an_incident_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_an_existing_incident_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/incidents.feature
Due: none

Update actions (#1158)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 23b4462 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: none

Regenerate client from commit a7ac3db of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/UsageCloudSecurityPostureManagementHour.md
  api_docs/v1/UsageSummaryDate.md
  api_docs/v1/UsageSummaryDateOrg.md
  api_docs/v1/UsageSummaryResponse.md
  examples/v1/usage-metering/GetUsageCloudSecurityPostureManagement.java
  src/main/java/com/datadog/api/v1/client/model/UsageCloudSecurityPostureManagementHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CSPM_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CSPM_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/logs.feature
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
Due: generated, generate

Make sure element is not null when checking unparsed
  .generator/templates/libraries/jersey2/pojo.mustache
  src/main/java/com/datadog/api/v2/client/model/LogsArchiveAttributes.java
Due: generated, generate

Make sure element is not null when checking unparsed (#1163)
  .generator/templates/libraries/jersey2/pojo.mustache
  src/main/java/com/datadog/api/v2/client/model/LogsArchiveAttributes.java
Due: generated, generate

Release 1.4
  CHANGELOG.md
  pom.xml
Due: none

Release 1.4 (#1164)
  CHANGELOG.md
  pom.xml
Due: none

Start dev cycle
  pom.xml
Due: none

Start dev cycle (#1165)
  pom.xml
Due: none

Regenerate client from commit 0c99985 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/LogsIndexesApi.md
  api_docs/v1/LogsPipelinesApi.md
  api_docs/v2/LogsArchivesApi.md
  api_docs/v2/LogsMetricsApi.md
  src/main/java/com/datadog/api/v1/client/api/LogsIndexesApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsPipelinesApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsArchivesApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsMetricsApi.java
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: generated, generate

handle non json error responses in bdd
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit caffcc6 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit c738c50 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

cleanup container on exit
  format.sh
Due: none

cleanup container on exit (#1172)
  format.sh
Due: none

remove dd operaation id header
  .generator/templates/libraries/jersey2/api.mustache
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
Due: java-format, generate

Regenerate client from commit d0d1224 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SyntheticsAPITestResultData.md
  api_docs/v1/SyntheticsApiTestFailureCode.md
  api_docs/v1/SyntheticsApiTestResultFailure.md
  api_docs/v1/SyntheticsBrowserTestFailureCode.md
  api_docs/v1/SyntheticsBrowserTestResultData.md
  api_docs/v1/SyntheticsBrowserTestResultFailure.md
  examples/v1/synthetics/GetAPITestResult_1321866518.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITestResultData.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsApiTestFailureCode.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsApiTestResultFailure.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestFailureCode.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestResultData.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsBrowserTestResultFailure.java
  src/test/resources/cassettes/features/v1/Get_an_API_test_result_returns_result_with_failure_object.freeze
  src/test/resources/cassettes/features/v1/Get_an_API_test_result_returns_result_with_failure_object.json
  src/test/resources/com/datadog/api/v1/client/api/given.json
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
  src/test/resources/com/datadog/api/v1/client/api/synthetics_api_test_with_wrong_dns.json
Due: generated, generate

Regenerate client from commit 3b52f9a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api_docs/v1/DowntimesApi.md
  api_docs/v1/HostsApi.md
  api_docs/v1/NotebooksApi.md
  api_docs/v1/README.md
  api_docs/v1/SyntheticsApi.md
  api_docs/v1/UsageMeteringApi.md
  api_docs/v2/CloudWorkloadSecurityApi.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
  src/main/java/com/datadog/api/v1/client/api/HostsApi.java
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
Due: generated, generate
