Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit f52831f of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/CreateCaseJiraIssue.java
  examples/v2/case-management/CreateCaseNotebook.java
  examples/v2/case-management/CreateCaseServiceNowTicket.java
  examples/v2/case-management/LinkIncident.java
  examples/v2/case-management/LinkJiraIssueToCase.java
  examples/v2/case-management/MoveCaseToProject.java
  examples/v2/case-management/UnlinkJiraIssue.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRelationshipData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResourceType.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueResourceType.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateData.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/NotebookResourceType.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToIncidentRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateData.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketResourceType.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

add dd-octo-sts policies
  .github/chainguard/self.github.pre-commit.pull-requests.sts.yaml
  .github/chainguard/self.github.release.master.sts.yaml
Due: none

Regenerate client from commit 5f844fc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/seats/AssignSeatsUserV2.java
  examples/v2/seats/GetSeatsUsersV2.java
  examples/v2/seats/UnassignSeatsUserV2.java
  src/main/java/com/datadog/api/client/v2/api/SeatsApi.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponse.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SeatAssignmentsDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserData.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataArray.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserMeta.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestDataAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/seats.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 0e52e6a of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/NetworkDeviceMonitoringApi.java
Due: generate

Regenerate client from commit 0f78b75 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/CreateDORAFailure.java
  examples/v2/dora-metrics/CreateDORAIncident.java
  examples/v2/dora-metrics/DeleteDORAFailure.java
  examples/v2/dora-metrics/DeleteDORAFailure_3462074974.java
  examples/v2/dora-metrics/ListDORAFailures_3269988848.java
  src/main/java/com/datadog/api/client/v2/api/DoraMetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRemediation.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRemediationType.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentPatchRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureFetchResponse.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureRequest.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureRequestData.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureResponse.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureResponseData.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailureType.java
  src/main/java/com/datadog/api/client/v2/model/DORAFailuresListResponse.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentObject.java
  src/main/java/com/datadog/api/client/v2/model/DORAListFailuresRequest.java
  src/main/java/com/datadog/api/client/v2/model/DORAListFailuresRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORAListFailuresRequestData.java
  src/test/resources/com/datadog/api/client/v2/api/dora_metrics.feature
Due: generate

Regenerate client from commit 97cfbb4 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1259346254.java
  examples/v1/dashboards/CreateDashboard_1284514532.java
  examples/v1/dashboards/CreateDashboard_1307120899.java
  examples/v1/dashboards/CreateDashboard_1433408735.java
  examples/v1/dashboards/CreateDashboard_2261785072.java
  examples/v1/dashboards/CreateDashboard_2278756614.java
  examples/v1/dashboards/CreateDashboard_2800096921.java
  examples/v1/dashboards/CreateDashboard_3066042014.java
  examples/v1/dashboards/CreateDashboard_3451918078.java
  examples/v1/dashboards/CreateDashboard_3631423980.java
  examples/v1/dashboards/CreateDashboard_3982498788.java
  examples/v1/dashboards/CreateDashboard_41622531.java
  examples/v1/dashboards/CreateDashboard_416487533.java
  examples/v1/dashboards/CreateDashboard_4262729673.java
  examples/v1/dashboards/CreateDashboard_607525069.java
  examples/v1/dashboards/CreateDashboard_985012506.java
  examples/v1/notebooks/CreateNotebook.java
  examples/v1/notebooks/UpdateNotebook.java
  src/main/java/com/datadog/api/client/v1/model/TimeseriesRequestStyle.java
  src/main/java/com/datadog/api/client/v1/model/TimeseriesWidgetRequest.java
Due: generate

Fix test: use TimeseriesRequestStyle instead of WidgetRequestStyle
  src/test/java/com/datadog/api/client/v1/api/DashboardsApiTest.java
Due: java-format

Regenerate client from commit 6f0b2c3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/seats/AssignSeatsUserV2.java
  examples/v2/seats/GetSeatsUsersV2.java
  examples/v2/seats/UnassignSeatsUserV2.java
  src/main/java/com/datadog/api/client/v2/api/SeatsApi.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponse.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SeatAssignmentsDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserData.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataArray.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserMeta.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestDataAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/seats.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 89ecaf8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/workflow-automation/ExecuteWorkflowFromTemplate.java
  examples/v2/workflow-automation/ExecuteWorkflowFromWebhook.java
  examples/v2/workflow-automation/UpdateWorkflowFavorite.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/WorkflowAutomationApi.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowFavoriteRequest.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowFavoriteRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowFavoriteRequestData.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowFavoriteRequestType.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionConfig.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionConnection.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionRequest.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionRequestData.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionRequestType.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionResponse.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionResponseData.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowHeadlessExecutionResponseType.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowWebhookExecutionResponse.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowWebhookExecutionResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowWebhookExecutionResponseData.java
  src/main/java/com/datadog/api/client/v2/model/WorkflowWebhookExecutionResponseType.java
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/workflow_automation.feature
Due: generate

Regenerate client from commit fc5a1fe of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/CreateCaseJiraIssue.java
  examples/v2/case-management/CreateCaseNotebook.java
  examples/v2/case-management/CreateCaseServiceNowTicket.java
  examples/v2/case-management/LinkIncident.java
  examples/v2/case-management/LinkJiraIssueToCase.java
  examples/v2/case-management/MoveCaseToProject.java
  examples/v2/case-management/UnlinkJiraIssue.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentRelationshipData.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResourceType.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkData.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueLinkRequest.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueResourceType.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateData.java
  src/main/java/com/datadog/api/client/v2/model/NotebookCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/NotebookResourceType.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToIncidentRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateData.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/ServiceNowTicketResourceType.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit de1f615 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/AcceptRecommendedEntities.java
  examples/v2/software-catalog/ConvertCatalogEntities.java
  examples/v2/software-catalog/DeclineRecommendedEntities.java
  examples/v2/software-catalog/GetIDPConfigValue.java
  examples/v2/software-catalog/TriggerRecommendedEntities.java
  examples/v2/software-catalog/UpsertIDPConfigValue.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SoftwareCatalogApi.java
  src/main/java/com/datadog/api/client/v2/model/EntitySchemaVersion.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigData.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigRequest.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigRequestData.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigResponse.java
  src/main/java/com/datadog/api/client/v2/model/IDPConfigType.java
  src/main/java/com/datadog/api/client/v2/model/RecommendedEntityID.java
  src/main/java/com/datadog/api/client/v2/model/RecommendedEntityWithSchema.java
  src/test/resources/com/datadog/api/client/v2/api/software_catalog.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 6c91cfe of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/CreateCaseJiraIssue.java
  examples/v2/case-management/CreateCaseNotebook.java
  examples/v2/case-management/CreateCaseServiceNowTicket.java
  examples/v2/case-management/LinkIncident.java
  examples/v2/case-management/LinkJiraIssueToCase.java
  examples/v2/case-management/MoveCaseToProject.java
  examples/v2/seats/AssignSeatsUserV2.java
  examples/v2/seats/GetSeatsUsersV2.java
  examples/v2/seats/UnassignSeatsUserV2.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CaseManagementApi.java
  src/main/java/com/datadog/api/client/v2/api/SeatsApi.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponse.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/IncidentResourceType.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/JiraIssueResourceType.java
  src/main/java/com/datadog/api/client/v2/model/SeatAssignmentsDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserData.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataArray.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserMeta.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestDataAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/case_management.feature
  src/test/resources/com/datadog/api/client/v2/api/seats.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit dc71b62 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/DatasetsApi.java
Due: generate

Regenerate client from commit 246eb79 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline_3363445359.java
  examples/v2/observability-pipelines/CreatePipeline_581245895.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineDedupeProcessor.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineDedupeProcessorCache.java
  src/test/resources/cassettes/features/v2/Create_a_pipeline_with_dedupe_processor_with_cache_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_pipeline_with_dedupe_processor_with_cache_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_pipeline_with_dedupe_processor_without_cache_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_pipeline_with_dedupe_processor_without_cache_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/observability_pipelines.feature
Due: generate

Regenerate client from commit 795b9a0 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
Due: generate

use dd-octo-sts policies
  .github/workflows/approved_status.yml
  .github/workflows/release.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-java-test.yml
  .github/workflows/reusable-javadoc.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-shading.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 471a06e of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/InputSchemaParameters.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
Due: generate

Regenerate client from commit d003244 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/google-chat-integration/CreateOrganizationHandle.java
  examples/v2/google-chat-integration/DeleteOrganizationHandle.java
  examples/v2/google-chat-integration/GetOrganizationHandle.java
  examples/v2/google-chat-integration/GetSpaceByDisplayName.java
  examples/v2/google-chat-integration/ListOrganizationHandles.java
  examples/v2/google-chat-integration/UpdateOrganizationHandle.java
  src/main/java/com/datadog/api/client/v2/api/GoogleChatIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatAppNamedSpaceResponse.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatAppNamedSpaceResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatAppNamedSpaceResponseData.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatAppNamedSpaceType.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatCreateOrganizationHandleRequest.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatCreateOrganizationHandleRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatCreateOrganizationHandleRequestData.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatOrganizationHandleResponse.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatOrganizationHandleResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatOrganizationHandleResponseData.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatOrganizationHandleType.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatOrganizationHandlesResponse.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatUpdateOrganizationHandleRequest.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatUpdateOrganizationHandleRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/GoogleChatUpdateOrganizationHandleRequestData.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/test/resources/cassettes/features/v2/Create_organization_handle_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_organization_handle_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Delete_organization_handle_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_organization_handle_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_organization_handles_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_organization_handles_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_organization_handle_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_organization_handle_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_space_information_by_display_name_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_space_information_by_display_name_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_organization_handle_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_organization_handle_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/google_chat_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 0cec205 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
  src/main/java/com/datadog/api/client/v2/model/RoleAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RoleCloneAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RoleCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RoleUpdateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/roles.feature
Due: generate

add dd-octo-sts policies (#3467)
  .github/chainguard/self.github.pre-commit.pull-requests.sts.yaml
  .github/chainguard/self.github.release.master.sts.yaml
Due: none

[SINT-4729] use dd-octo-sts in approved_status
  .github/workflows/approved_status.yml
Due: none

[SINT-4729] use dd-octo-sts in release
  .github/workflows/release.yml
Due: none

[SINT-4729] use dd-octo-sts in ci
  .github/workflows/reusable-ci.yml
Due: none

[SINT-4729] use dd-octo-sts in examples
  .github/workflows/reusable-examples.yml
Due: none

[SINT-4729] use dd-octo-sts in integration-test
  .github/workflows/reusable-integration-test.yml
Due: none

[SINT-4729] use dd-octo-sts in java-test
  .github/workflows/reusable-java-test.yml
Due: none

[SINT-4729] use dd-octo-sts in javadoc
  .github/workflows/reusable-javadoc.yml
Due: none

[SINT-4729] use dd-octo-sts in pre-commit
  .github/workflows/reusable-pre-commit.yml
Due: none

[SINT-4729] use dd-octo-sts in shading
  .github/workflows/reusable-shading.yml
Due: none

[SINT-4729] use dd-octo-sts in test
  .github/workflows/test.yml
Due: none

Regenerate client from commit 73a4677 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/seats/AssignSeatsUser.java
  examples/v2/seats/GetSeatsUsers.java
  examples/v2/seats/UnassignSeatsUser.java
  src/main/java/com/datadog/api/client/v2/api/SeatsApi.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserRequestDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponse.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseData.java
  src/main/java/com/datadog/api/client/v2/model/AssignSeatsUserResponseDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
  src/main/java/com/datadog/api/client/v2/model/SeatAssignmentsDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserData.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataArray.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserDataType.java
  src/main/java/com/datadog/api/client/v2/model/SeatUserMeta.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequest.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestData.java
  src/main/java/com/datadog/api/client/v2/model/UnassignSeatsUserRequestDataAttributes.java
  src/test/resources/cassettes/features/v2/Assign_seats_to_users_returns_Unprocessable_Entity_response.freeze
  src/test/resources/cassettes/features/v2/Assign_seats_to_users_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Assign_seats_to_users_returns_Unprocessable_Entity_response_when_product_code_is_empty.freeze
  src/test/resources/cassettes/features/v2/Assign_seats_to_users_returns_Unprocessable_Entity_response_when_product_code_is_empty.json
  src/test/resources/cassettes/features/v2/Assign_seats_to_users_returns_Unprocessable_Entity_response_when_user_uuids_is_empty.freeze
  src/test/resources/cassettes/features/v2/Assign_seats_to_users_returns_Unprocessable_Entity_response_when_user_uuids_is_empty.json
  src/test/resources/cassettes/features/v2/Get_users_with_seats_returns_Bad_Request_response_when_product_code_is_missing.freeze
  src/test/resources/cassettes/features/v2/Get_users_with_seats_returns_Bad_Request_response_when_product_code_is_missing.json
  src/test/resources/cassettes/features/v2/Get_users_with_seats_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_users_with_seats_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Unassign_seats_from_users_returns_Unprocessable_Entity_response.freeze
  src/test/resources/cassettes/features/v2/Unassign_seats_from_users_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Unassign_seats_from_users_returns_Unprocessable_Entity_response_when_product_code_is_empty.freeze
  src/test/resources/cassettes/features/v2/Unassign_seats_from_users_returns_Unprocessable_Entity_response_when_product_code_is_empty.json
  src/test/resources/cassettes/features/v2/Unassign_seats_from_users_returns_Unprocessable_Entity_response_when_user_uuids_is_empty.freeze
  src/test/resources/cassettes/features/v2/Unassign_seats_from_users_returns_Unprocessable_Entity_response_when_user_uuids_is_empty.json
  src/test/resources/com/datadog/api/client/v2/api/seats.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

[SINT-4729] use dd-octo-sts in reusable workflows and test.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-java-test.yml
  .github/workflows/reusable-javadoc.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-shading.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 39c88ed of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
Due: generate

Regenerate client from commit 45fac7b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3355193622.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleAnomalyDetectionOptions.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_anomaly_detection_with_enabled_feature_instantaneousBaseline_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_anomaly_detection_with_enabled_feature_instantaneousBaseline_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

[SINT-4729] use dd-octo-sts in approved_status (#3483)
  .github/workflows/approved_status.yml
Due: none

Regenerate client from commit c7c0fc0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/code-coverage/GetCodeCoverageBranchSummary.java
  examples/v2/code-coverage/GetCodeCoverageBranchSummary_2532383345.java
  examples/v2/code-coverage/GetCodeCoverageCommitSummary.java
  examples/v2/code-coverage/GetCodeCoverageCommitSummary_2575243916.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CodeCoverageApi.java
  src/main/java/com/datadog/api/client/v2/model/BranchCoverageSummaryRequest.java
  src/main/java/com/datadog/api/client/v2/model/BranchCoverageSummaryRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BranchCoverageSummaryRequestData.java
  src/main/java/com/datadog/api/client/v2/model/BranchCoverageSummaryRequestType.java
  src/main/java/com/datadog/api/client/v2/model/CommitCoverageSummaryRequest.java
  src/main/java/com/datadog/api/client/v2/model/CommitCoverageSummaryRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CommitCoverageSummaryRequestData.java
  src/main/java/com/datadog/api/client/v2/model/CommitCoverageSummaryRequestType.java
  src/main/java/com/datadog/api/client/v2/model/CoverageSummaryAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CoverageSummaryCodeownerStats.java
  src/main/java/com/datadog/api/client/v2/model/CoverageSummaryData.java
  src/main/java/com/datadog/api/client/v2/model/CoverageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/model/CoverageSummaryServiceStats.java
  src/main/java/com/datadog/api/client/v2/model/CoverageSummaryType.java
  src/test/resources/com/datadog/api/client/v2/api/code_coverage.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit b914c06 of spec repo
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineDiskBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferOptions.java
  src/main/java/com/datadog/api/client/v2/model/ObservabilityPipelineMemoryBufferSizeOptions.java
Due: generate
