Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit fb2f4134 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/powerpack/CreatePowerpack.java
  examples/v2/powerpack/UpdatePowerpack.java
  src/main/java/com/datadog/api/client/v2/model/PowerpackGroupWidget.java
  src/main/java/com/datadog/api/client/v2/model/WidgetLiveSpan.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_powerpack_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_powerpack_widget.json
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_Powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_Powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_powerpacks_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Powerpack_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_powerpack_returns_Powerpack_Not_Found_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/powerpack.feature
  src/test/resources/com/datadog/api/client/v2/api/powerpack_payload.json
Due: generate

Regenerate client from commit b719c3e3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit 10504fc3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/AwsIntegrationApi.java
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit d4ce0c7b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/azure-integration/CreateAzureIntegration.java
  examples/v1/azure-integration/DeleteAzureIntegration.java
  examples/v1/azure-integration/UpdateAzureHostFilters.java
  examples/v1/azure-integration/UpdateAzureIntegration.java
  src/main/java/com/datadog/api/client/v1/model/AzureAccount.java
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
Due: generate

Regenerate client from commit 2204d6df of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAttributes.java
Due: generate

Regenerate client from commit 86d56f2b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent.java
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: generate

Add UUID format support (#2046)
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  .generator/src/generator/templates/model.j2
Due: generate

Regenerate client from commit 483916f9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/MuteFindings.java
  examples/v2/security-monitoring/UpdateFinding.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsRequest.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsRequestData.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsRequestMeta.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsRequestMetaFindings.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsRequestProperties.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsResponse.java
  src/main/java/com/datadog/api/client/v2/model/BulkMuteFindingsResponseData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseProperties.java
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Bad_Request_The_server_cannot_process_the_request_due_to_invalid_syntax_in_the_request_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Bad_Request_The_server_cannot_process_the_request_due_to_invalid_syntax_in_the_request_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_Some_findings_IDs_are_malformed_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_Some_findings_IDs_are_malformed_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_The_server_understands_the_request_syntax_but_cannot_process_it_due_to_invalid_data_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_The_server_understands_the_request_syntax_but_cannot_process_it_due_to_invalid_data_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Not_Found_The_requested_finding_cannot_be_found_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Not_Found_The_requested_finding_cannot_be_found_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_finding_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_finding_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 98cfa2fd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit 89f9f50d of spec repo
  .apigentools-info
  examples/v1/aws-integration/CreateAWSAccount.java
  src/test/resources/cassettes/features/v1/Create_an_AWS_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_AWS_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/aws_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: none

Regenerate client from commit 781a7cfb of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Bad_Request_The_server_cannot_process_the_request_due_to_invalid_syntax_in_the_request_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Bad_Request_The_server_cannot_process_the_request_due_to_invalid_syntax_in_the_request_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_Some_findings_IDs_are_malformed_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_Some_findings_IDs_are_malformed_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_The_server_understands_the_request_syntax_but_cannot_process_it_due_to_invalid_data_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Invalid_Request_The_server_understands_the_request_syntax_but_cannot_process_it_due_to_invalid_data_response.json
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Not_Found_The_requested_finding_cannot_be_found_response.freeze
  src/test/resources/cassettes/features/v2/Mute_or_unmute_a_batch_of_findings_returns_Not_Found_The_requested_finding_cannot_be_found_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: none

Version bump 2.17.0
  pom.xml
Due: none

Regenerate client from commit 97ff7561 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricBulkTagConfigCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricBulkTagConfigStatusAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationCreateAttributes.java
Due: generate

Post release bump
  pom.xml
Due: none

Regenerate client from commit c1794418 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1213075383.java
  examples/v2/service-scorecards/CreateScorecardRule.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetDisplay.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetFlat.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetFlatType.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetLegend.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetScaling.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetStacked.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetStackedType.java
  src/main/java/com/datadog/api/client/v1/model/ToplistWidgetStyle.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_toplist_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_toplist_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/toplist_widget.json
Due: generate

pre-commit fixes
  examples/v2/service-scorecards/CreateScorecardRule.java
Due: none

Regenerate client from commit 62fc6756 of spec repo
  .apigentools-info
  examples/v2/service-scorecards/CreateScorecardRule.java
  src/test/resources/com/datadog/api/client/v2/api/service_scorecards.feature
Due: none

Regenerate client from commit c7428dad of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot2.java
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Regenerate client from commit 66a4cef6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleQuery.java
Due: generate

Support request Data for undo
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 893a406f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricTagConfigurationUpdateAttributes.java
Due: generate

Regenerate client from commit fe3526fc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit cc528a25 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 5d9edae7 of spec repo
  .apigentools-info
  examples/v1/monitors/CreateMonitor_1539578087.java
  src/test/resources/cassettes/features/v1/Create_a_metric_monitor_with_a_custom_schedule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_metric_monitor_with_a_custom_schedule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
Due: none

Regenerate client from commit 6a5a9f95 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/okta-integration/CreateOktaAccount.java
  examples/v2/okta-integration/DeleteOktaAccount.java
  examples/v2/okta-integration/GetOktaAccount.java
  examples/v2/okta-integration/ListOktaAccounts.java
  examples/v2/okta-integration/UpdateOktaAccount.java
  src/main/java/com/datadog/api/client/v2/api/OktaIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccount.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountRequest.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountResponse.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountType.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit c261ff98 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/okta-integration/CreateOktaAccount.java
  examples/v2/okta-integration/DeleteOktaAccount.java
  examples/v2/okta-integration/GetOktaAccount.java
  examples/v2/okta-integration/ListOktaAccounts.java
  examples/v2/okta-integration/UpdateOktaAccount.java
  src/main/java/com/datadog/api/client/v2/api/OktaIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccount.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountRequest.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountResponse.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountType.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit b95546fe of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 32d52969 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/DowntimesApi.java
  src/test/resources/com/datadog/api/client/v2/api/downtimes.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit d994bc85 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 974acd6e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetProjectedCost.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/ProjectedCost.java
  src/main/java/com/datadog/api/client/v2/model/ProjectedCostAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ProjectedCostResponse.java
  src/main/java/com/datadog/api/client/v2/model/ProjectedCostType.java
  src/test/resources/cassettes/features/v2/Get_projected_cost_across_your_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_projected_cost_across_your_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 0e97d7dd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/HostsApi.java
Due: generate

Regenerate client from commit 973bd612 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetActiveBillingDimensions.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/ActiveBillingDimensionsAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ActiveBillingDimensionsBody.java
  src/main/java/com/datadog/api/client/v2/model/ActiveBillingDimensionsResponse.java
  src/main/java/com/datadog/api/client/v2/model/ActiveBillingDimensionsType.java
  src/test/resources/cassettes/features/v2/Get_active_billing_dimensions_for_cost_attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_active_billing_dimensions_for_cost_attribution_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

add logs
  src/main/java/com/datadog/api/client/ApiClient.java
  src/test/java/com/datadog/api/World.java
Due: java-format

test
  run-tests.sh
  src/test/java/com/datadog/api/World.java
Due: java-format

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
