Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit b180cceb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/ListServiceDefinitions_336468013.java
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Regenerate client from commit 642e33ec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageLogsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit e6f88173 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
Due: generate

Regenerate client from commit 6433e803 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/ListServiceDefinitions_336468013.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/client/v1/model/UsageLogsHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Bug bounty test - please ignore.... (dygibo)
  pom.xml
Due: none

Regenerate client from commit 04eeb6ee of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ConfluentAccountResourceAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ConfluentResourceRequestAttributes.java
Due: generate

Regenerate client from commit 615bff17 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionBody.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionBody.java
Due: generate

Regenerate client from commit 4e7c36aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit 27919220 of spec repo
  .apigentools-info
  examples/v2/cloudflare-integration/CreateCloudflareAccount.java
  examples/v2/cloudflare-integration/UpdateCloudflareAccount.java
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Get_Cloudflare_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Cloudflare_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_invalid_api_key.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_missing_required_email.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: none

Regenerate client from commit 9b02c84d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

fix tempalte
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Support false additionalProperties in simple model
  .generator/src/generator/templates/modelSimple.j2
Due: generate

fix tempalte (#1744)
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Update poetry lock file
  .generator/poetry.lock
Due: generate

Regenerate client from commit 318954bb of spec repo
  .apigentools-info
  examples/v2/logs/SubmitLog.java
  src/test/resources/cassettes/features/v2/Send_logs_returns_Request_accepted_for_processing_always_202_empty_JSON_response.freeze
  src/test/resources/cassettes/features/v2/Send_logs_returns_Request_accepted_for_processing_always_202_empty_JSON_response.json
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
Due: none

experimental example generation fix for oneOf lists
  .generator/src/generator/formatter.py
Due: generate

Regenerate client from commit 61947562 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
Due: generate

Support json api content type in tests
  src/test/java/com/datadog/api/TestClient.java
Due: java-format

fix failing tests
  src/test/java/com/datadog/api/client/v1/api/HostsApiTest.java
Due: java-format

properly check length of lists within oneOfs
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

Regenerate client from commit 6c7bddba of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/SpansMetricsApi.java
  src/test/resources/cassettes/features/v2/Create_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_span_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_span_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_span_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_span_based_metrics_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_span_based_metrics_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_span_based_metric_returns_OK_response.json
Due: generate

Document alternate artifacts
  README.md
Due: none

Document alternate artifacts (#1750)
  README.md
Due: none

Regenerate client from commit 0c4beb36 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  README.md
  src/main/java/com/datadog/api/client/v2/api/LogsMetricsApi.java
  src/main/java/com/datadog/api/client/v2/api/SpansMetricsApi.java
  src/test/resources/cassettes/features/v2/Delete_a_log_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_log_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_span_based_metric_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/logs_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/spans_metrics.feature
Due: generate

Regenerate client from commit f3c70802 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MetricsQueryMetadata.java
Due: generate

Version bump 2.11.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 04af06e0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetFinding.java
  examples/v2/security-monitoring/ListFindings.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/DetailedFinding.java
  src/main/java/com/datadog/api/client/v2/model/DetailedFindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DetailedFindingType.java
  src/main/java/com/datadog/api/client/v2/model/Finding.java
  src/main/java/com/datadog/api/client/v2/model/FindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FindingEvaluation.java
  src/main/java/com/datadog/api/client/v2/model/FindingMute.java
  src/main/java/com/datadog/api/client/v2/model/FindingMuteReason.java
  src/main/java/com/datadog/api/client/v2/model/FindingRule.java
  src/main/java/com/datadog/api/client/v2/model/FindingStatus.java
  src/main/java/com/datadog/api/client/v2/model/FindingType.java
  src/main/java/com/datadog/api/client/v2/model/GetFindingResponse.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsMeta.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsPage.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsResponse.java
  src/test/resources/cassettes/features/v2/Get_a_finding_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_finding_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_findings_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_findings_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit b98d4099 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/authn_mappings.feature
  src/test/resources/com/datadog/api/client/v2/api/ip_allowlist.feature
  src/test/resources/com/datadog/api/client/v2/api/roles.feature
Due: none

Regenerate client from commit 32e3b934 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/authentication.feature
  src/test/resources/com/datadog/api/client/v1/api/key_management.feature
  src/test/resources/com/datadog/api/client/v1/api/organizations.feature
  src/test/resources/com/datadog/api/client/v1/api/users.feature
  src/test/resources/com/datadog/api/client/v2/api/audit.feature
  src/test/resources/com/datadog/api/client/v2/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
  src/test/resources/com/datadog/api/client/v2/api/users.feature
Due: none

Regenerate client from commit 24cbf678 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 63967d49 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
Due: none

Regenerate client from commit 7fa27269 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SignalArchiveReason.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalArchiveReason.java
Due: generate

Regenerate client from commit 6be43f02 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ListFindings_3865842421.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit c30028c7 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
Due: none

add object array with key value pair step definition
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

add array contains value assertion
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
Due: generate, java-format

Regenerate client from commit cb58d3ae of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/notebooks.feature
Due: none
