Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Post release bump
  pom.xml
Due: none

render_new for required additionalProperties: {}
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Regenerate client from commit dfa5ada6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2278756614.java
  src/main/java/com/datadog/api/client/v1/model/SplitConfig.java
  src/main/java/com/datadog/api/client/v1/model/SplitConfigSortCompute.java
  src/main/java/com/datadog/api/client/v1/model/SplitDimension.java
  src/main/java/com/datadog/api/client/v1/model/SplitGraphSourceWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/SplitGraphVizSize.java
  src/main/java/com/datadog/api/client/v1/model/SplitGraphWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/SplitGraphWidgetDefinitionType.java
  src/main/java/com/datadog/api/client/v1/model/SplitSort.java
  src/main/java/com/datadog/api/client/v1/model/SplitVectorEntryItem.java
  src/main/java/com/datadog/api/client/v1/model/WidgetDefinition.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_split_graph_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_split_graph_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/split_graph_widget.json
Due: generate, java-format

fix format of fake keys to skip edge validation
  src/test/java/com/datadog/api/client/v1/api/V1ApiTest.java
Due: java-format

Change fake auth keys to use valid format (#1977)
  src/test/java/com/datadog/api/client/v1/api/V1ApiTest.java
Due: java-format

Regenerate client from commit 0e1d17c9 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

Regenerate client from commit e63e296b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SplitConfigSortCompute.java
Due: generate

Regenerate client from commit 30c5293b of spec repo
  .apigentools-info
  examples/v2/rum/CreateRUMApplication.java
  src/test/resources/cassettes/features/v2/Create_a_new_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_RUM_application_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
Due: none

enable retry for bdd
  src/test/java/com/datadog/api/World.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/World.java
Due: java-format

skip slow metrics test during integration
  src/test/java/com/datadog/api/client/v1/api/MetricsApiTest.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/client/v1/api/MetricsApiTest.java
Due: java-format

Skip slow metrics test during integration (#1984)
  src/test/java/com/datadog/api/client/v1/api/MetricsApiTest.java
Due: java-format

Regenerate client from commit d6a9d57f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/DashboardListsApi.java
Due: generate

Make example in "Getting Started" section of README compile
  README.md
Due: none

Fix monitor example in readme
  README.md
Due: none

Make example in "Getting Started" section of README compile (#1988)
  README.md
Due: none

Regenerate client from commit bcba1c72 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityTestsApi.java
Due: generate

Regenerate client from commit 98de9afb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DataScalarColumn.java
  src/main/java/com/datadog/api/client/v2/model/GroupScalarColumn.java
  src/main/java/com/datadog/api/client/v2/model/ScalarColumnTypeGroup.java
  src/main/java/com/datadog/api/client/v2/model/ScalarColumnTypeNumber.java
  src/main/java/com/datadog/api/client/v2/model/ScalarMeta.java
Due: generate

Regenerate client from commit 61ae9703 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: none

Regenerate client from commit 45270a3e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/usage-metering/GetUsageCloudSecurityPostureManagement.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageCloudSecurityPostureManagementHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageCloudSecurityPostureManagementResponse.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CSM_Pro_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CSM_Pro_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: generate

Regenerate client from commit 5d002e79 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: generate

Regenerate client from commit 71cd39b1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/DowntimesApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
Due: generate

Regenerate client from commit c1694968 of spec repo
  .apigentools-info
  examples/v1/usage-metering/GetUsageCIApp.java
  examples/v1/usage-metering/GetUsageCIApp_1064440884.java
  examples/v1/usage-metering/GetUsageCWS.java
  examples/v1/usage-metering/GetUsageCWS_736958514.java
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_Visibility_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_visibility_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_visibility_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_visibility_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_CI_visibility_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_Cloud_Workload_Security_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_Cloud_Workload_Security_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_cloud_workload_security_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_hourly_usage_for_cloud_workload_security_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: none

Regenerate client from commit 0270a00c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SpansFilter.java
  src/main/java/com/datadog/api/client/v2/model/SpansFilterCreate.java
Due: generate

add uuid type
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/example.j2
  .generator/src/generator/templates/model.j2
Due: generate

Add uuid import to api
  .generator/src/generator/templates/Api.j2
Due: generate

Fixe template
  .generator/src/generator/templates/example.j2
Due: generate

declare uuid value
  .generator/src/generator/templates/example.j2
Due: generate

update template
  .generator/src/generator/templates/example.j2
Due: generate

change example formatting
  .generator/src/generator/formatter.py
Due: generate

complete parenthesis
  .generator/src/generator/templates/example.j2
Due: generate

Regenerate client from commit b001e122 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/ApmRetentionFiltersApi.java
Due: generate

Regenerate client from commit e497e690 of spec repo
  .apigentools-info
  examples/v1/synthetics/CreateSyntheticsBrowserTest.java
  examples/v1/synthetics/CreateSyntheticsBrowserTest_2932742688.java
  examples/v1/synthetics/CreateSyntheticsBrowserTest_397420811.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.json
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_browser_test_payload.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_browser_test_payload_with_advanced_scheduling.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics_browser_test_payload_with_rum_settings.json
Due: none

Regenerate client from commit 6bea2ad2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
Due: generate

Regenerate client from commit 3f45eb23 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 4b2bab38 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/apm-retention-filters/GetApmRetentionFilter.java
  src/main/java/com/datadog/api/client/v2/api/ApmRetentionFiltersApi.java
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/apm_retention_filters.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate
