Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

pre-commit fixes
  src/test/java/com/datadog/api/World.java
Due: java-format

trigger again
  run-tests.sh
Due: none

enable profiling
  pom.xml
Due: none

somehow stuck in loop?
  .github/workflows/test_integration.yml
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 5dacc5ab of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetMonthlyCostAttribution.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/CostAttributionAggregatesBody.java
  src/main/java/com/datadog/api/client/v2/model/CostAttributionType.java
  src/main/java/com/datadog/api/client/v2/model/MonthlyCostAttributionAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MonthlyCostAttributionBody.java
  src/main/java/com/datadog/api/client/v2/model/MonthlyCostAttributionMeta.java
  src/main/java/com/datadog/api/client/v2/model/MonthlyCostAttributionPagination.java
  src/main/java/com/datadog/api/client/v2/model/MonthlyCostAttributionResponse.java
  src/main/java/com/datadog/api/client/v2/model/SortDirection.java
  src/test/resources/cassettes/features/v2/Get_Monthly_Cost_Attribution_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_Monthly_Cost_Attribution_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_Monthly_Cost_Attribution_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Monthly_Cost_Attribution_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 04139dfa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/CreateDORADeployment.java
  examples/v2/dora-metrics/CreateDORAIncident.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/DoraMetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequest.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequestData.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentResponse.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentResponseData.java
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentType.java
  src/main/java/com/datadog/api/client/v2/model/DORAGitInfo.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentRequest.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentRequestData.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentResponse.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentResponseData.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentType.java
  src/test/resources/cassettes/features/v2/Send_a_deployment_event_for_DORA_Metrics_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Send_a_deployment_event_for_DORA_Metrics_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Send_an_incident_event_for_DORA_Metrics_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Send_an_incident_event_for_DORA_Metrics_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/dora_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit d2efeed9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/PatchTest.java
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsPatchTestBody.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsPatchTestOperation.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsPatchTestOperationName.java
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: generate

Enable profiling
  .github/workflows/test_integration.yml
Due: none

close the connection before retry
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

close conenction before sleep
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

Regenerate client from commit 46090fc1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/APIKeysResponse.java
  src/main/java/com/datadog/api/client/v2/model/APIKeysResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/APIKeysResponseMetaPage.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationKeyResponseMeta.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationKeyResponseMetaPage.java
  src/main/java/com/datadog/api/client/v2/model/ListApplicationKeysResponse.java
Due: generate

Regenerate client from commit ea610108 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudWorkloadSecurityAgentRuleAttributes.java
Due: generate

Close the response before retry (#2079)
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/client/ApiClient.java
Due: none

Regenerate client from commit 506ed2d8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/PowerpackRelationships.java
  src/main/java/com/datadog/api/client/v2/model/PowerpacksResponseMetaPagination.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_APM_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit 7fb616ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Close the response before retry
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Close the response before retry (#2081)
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

run pre-commit on generated files changes
  .pre-commit-config.yaml
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Regenerate client from commit 55cf29a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1284514532.java
  src/main/java/com/datadog/api/client/v1/model/WidgetLiveSpan.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_timeseries_widget_using_formulas_and_functions_cloud_cost_query.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_timeseries_widget_using_formulas_and_functions_cloud_cost_query.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Version bump 2.18.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit f57ca8ef of spec repo
  .apigentools-info
  examples/v1/aws-integration/CreateAWSAccount.java
  src/test/java/com/datadog/api/Undo.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v1/Create_an_AWS_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_AWS_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/aws_integration.feature
Due: java-format

Run pre-commit on generated files changes (#2083)
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit d902bcbc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/container-images/ListContainerImages.java
  examples/v2/container-images/ListContainerImages_3088586393.java
  examples/v2/container-images/ListContainerImages_3974828736.java
  examples/v2/containers/ListContainers.java
  examples/v2/containers/ListContainers_2175733917.java
  examples/v2/containers/ListContainers_931009654.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ContainerImagesApi.java
  src/main/java/com/datadog/api/client/v2/api/ContainersApi.java
  src/test/resources/com/datadog/api/client/v2/api/container_images.feature
  src/test/resources/com/datadog/api/client/v2/api/containers.feature
Due: generate

Regenerate client from commit 83154a77 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerStandardPatternAttributes.java
Due: generate

Regenerate client from commit be350e98 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialAPIKeyAttributes.java
Due: generate

Regenerate client from commit 891a7c39 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SyntheticsApi.java
Due: generate

Regenerate client from commit c40088ac of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/CalendarInterval.java
  src/main/java/com/datadog/api/client/v1/model/CalendarIntervalType.java
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionEventQueryDefinitionCompute.java
  src/main/java/com/datadog/api/client/v1/model/LogsQueryCompute.java
  src/main/java/com/datadog/api/client/v2/model/CalendarInterval.java
  src/main/java/com/datadog/api/client/v2/model/CalendarIntervalType.java
  src/main/java/com/datadog/api/client/v2/model/EventsCompute.java
  src/main/java/com/datadog/api/client/v2/model/ScalarFormulaResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ScalarResponse.java
Due: generate

Declare Origin
  src/test/java/com/datadog/api/Given.java
Due: java-format

Regenerate client from commit bfa2e051 of spec repo
  .apigentools-info
  examples/v1/aws-integration/DeleteAWSAccount.java
  examples/v1/aws-integration/UpdateAWSAccount.java
  src/test/resources/cassettes/features/v1/Delete_an_AWS_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_an_AWS_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_an_AWS_integration_returns_OK_response.freeze
  src/test/resources/com/datadog/api/client/v1/api/aws_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/given.json
Due: none

Regenerate client from commit a50d3f14 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/MetricOrigin.java
Due: generate

Regenerate client from commit 37397584 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/azure-integration/CreateAzureIntegration.java
  examples/v1/azure-integration/DeleteAzureIntegration.java
  examples/v1/azure-integration/UpdateAzureHostFilters.java
  examples/v1/azure-integration/UpdateAzureIntegration.java
  src/main/java/com/datadog/api/client/v1/model/AzureAccount.java
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
Due: generate

Regenerate client from commit e66bf244 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentRequestAttributes.java
Due: generate

Regenerate client from commit 07df9ec5 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/aws_integration.feature
Due: none

Regenerate client from commit 60646909 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleTypeCreate.java
Due: generate

Regenerate client from commit 334a5ac9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/okta-integration/CreateOktaAccount.java
  examples/v2/okta-integration/DeleteOktaAccount.java
  examples/v2/okta-integration/GetOktaAccount.java
  examples/v2/okta-integration/ListOktaAccounts.java
  examples/v2/okta-integration/UpdateOktaAccount.java
  src/main/java/com/datadog/api/client/v2/api/OktaIntegrationApi.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccount.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountAttributes.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountRequest.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountResponse.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountResponseData.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountType.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountUpdateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountUpdateRequestData.java
  src/main/java/com/datadog/api/client/v2/model/OktaAccountsResponse.java
  src/test/resources/cassettes/features/v2/Add_Okta_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_Okta_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_Okta_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Okta_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Okta_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_Okta_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Okta_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Okta_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 4e7616f2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FullAPIKeyLastUsedDate.java
Due: generate
