Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit f1e731d3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetUsageLambdaTracedInvocations.java
  src/main/java/com/datadog/api/v2/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/model/HourlyUsageType.java
  src/main/java/com/datadog/api/v2/client/model/UsageLambdaTracedInvocationsResponse.java
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_Traced_Invocations_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_Traced_Invocations_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_Traced_Invocations_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_Traced_Invocations_returns_OK_response.json
  src/test/resources/com/datadog/api/v2/client/api/undo.json
  src/test/resources/com/datadog/api/v2/client/api/usage_metering.feature
Due: generate

Regenerate client from commit 433d5d54 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetUsageRumSessions_3271366243.java
  src/main/java/com/datadog/api/v1/client/model/UsageRumSessionsHour.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/v1/client/model/UsageSummaryResponse.java
  src/test/resources/cassettes/features/v1/Get_mobile_hourly_usage_for_RUM_Sessions_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_mobile_hourly_usage_for_RUM_Sessions_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/usage_metering.feature
  src/test/resources/com/datadog/api/v1/client/api/webhooks_integration.feature
Due: generate

Regenerate client from commit 895618f0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/v2/client/api/AuthNMappingsApi.java
Due: generate

Remove extract script
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

initial pagination work
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/PaginationIterable.j2
  .generator/src/generator/templates/PaginationIterator.j2
Due: generate

handle nextPage and type conversion
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/PaginationIterable.j2
  .generator/src/generator/templates/PaginationIterator.j2
Due: generate

generate
  src/main/java/com/datadog/api/v1/client/PaginationIterable.java
  src/main/java/com/datadog/api/v1/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/PaginationIterable.java
  src/main/java/com/datadog/api/v2/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/test/java/com/datadog/api/v2/client/api/LogsApiTest.java
Due: java-format

generate
  src/main/java/com/datadog/api/v1/client/PaginationIterator.java
  src/main/java/com/datadog/api/v2/client/PaginationIterator.java
Due: none

convert values
  .generator/src/generator/templates/PaginationIterator.j2
Due: generate

Regenerate client from commit c590cc0b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
Due: generate

Remove extract script (#1324)
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

Regenerate client from commit 47e2b711 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleHardcodedEvaluatorType.java
  src/main/java/com/datadog/api/v2/client/model/SecurityMonitoringRuleOptions.java
  src/test/resources/com/datadog/api/v2/client/api/security_monitoring.feature
Due: generate

fix limit param setting
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Due: generate

Update tests
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/ScenariosTest.java
  src/test/java/com/datadog/api/World.java
Due: java-format

test fixes
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Fix example generation
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Format
  .generator/src/generator/openapi.py
Due: generate

Regenerate client from commit ec5cdbdf of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Get_a_list_of_security_signals_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_a_list_of_security_signals_returns_OK_response_with_pagination.json
Due: none

fix conversion
  .generator/src/generator/templates/PaginationIterable.j2
  .generator/src/generator/templates/PaginationIterator.j2
Due: generate

cutom date-time serializer
  .generator/src/generator/cli.py
  .generator/src/generator/templates/JavaTimeSerializer.j2
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/modelSimple.j2
Due: generate

rerecord test with correct precision
  src/test/resources/cassettes/v1/LogsApiTest.logsListErrorsTest.freeze
  src/test/resources/cassettes/v1/LogsApiTest.logsListErrorsTest.json
Due: none

handle no ns
  src/main/java/com/datadog/api/v2/client/JavaTimeSerializer.java
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/v2/client/JavaTimeSerializer.java
Due: none

more test fixes
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/resources/cassettes/v1/LogsApiTest.listLogTest.freeze
  src/test/resources/cassettes/v1/LogsApiTest.listLogTest.json
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
Due: java-format

handle missing ms and code review suggestions
  .generator/src/generator/cli.py
  .generator/src/generator/templates/JavaTimeSerializer.j2
  .generator/src/generator/templates/JsonTimeSerializer.j2
  .generator/src/generator/templates/model.j2
Due: generate

class name fix
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Regenerate client from commit e6216ca6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/EstimateMetricsOutputSeries.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimate.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateResourceType.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateResponse.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateType.java
  src/test/resources/cassettes/features/v2/Estimate_Output_Series_Public_v2_API_returns_Success_response.freeze
  src/test/resources/cassettes/features/v2/Estimate_Output_Series_Public_v2_API_returns_Success_response.json
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricEstimateType.java
Due: none

Support additionalProperties (#1304)
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Regenerate client from commit 8e5ea991 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs/SubmitLog.java
  src/main/java/com/datadog/api/v1/client/model/HTTPLogItem.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogItem.java
  src/test/resources/cassettes/features/v2/Send_logs_returns_Request_accepted_for_processing_always_202_empty_JSON_response.freeze
  src/test/resources/cassettes/features/v2/Send_logs_returns_Request_accepted_for_processing_always_202_empty_JSON_response.json
  src/test/resources/com/datadog/api/v2/client/api/logs.feature
Due: generate

Regenerate client from commit 6f5f750c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/SubmitMetrics.java
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/model/Series.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/IntakePayloadAccepted.java
  src/main/java/com/datadog/api/v2/client/model/MetricContentEncoding.java
  src/main/java/com/datadog/api/v2/client/model/MetricIntakeType.java
  src/main/java/com/datadog/api/v2/client/model/MetricMetadata.java
  src/main/java/com/datadog/api/v2/client/model/MetricOrigin.java
  src/main/java/com/datadog/api/v2/client/model/MetricPayload.java
  src/main/java/com/datadog/api/v2/client/model/MetricPoint.java
  src/main/java/com/datadog/api/v2/client/model/MetricResource.java
  src/main/java/com/datadog/api/v2/client/model/MetricSeries.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.json
  src/test/resources/com/datadog/api/v2/client/api/metrics.feature
  src/test/resources/com/datadog/api/v2/client/api/undo.json
Due: generate

Regenerate client from commit 76680efa of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.json
Due: none
