Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Update generator dependencies
  .generator/poetry.lock
  .generator/pyproject.toml
Due: generate

Update generator dependencies (#1886)
  .generator/poetry.lock
  .generator/pyproject.toml
Due: generate

Regenerate client from commit 9ad4f63e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CloudWorkloadSecurityAgentRuleAttributes.java
Due: generate

Regenerate client from commit b37fc521 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DashboardListItem.java
Due: generate

Regenerate client from commit efde263a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/EventResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/EventsResponseMetadata.java
Due: generate

Regenerate client from commit 70f8c389 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationList.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit 2bd58701 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionMeta.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionMetaWarnings.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit 3868f953 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SpansAggregateBucketAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SpansAggregateBucketType.java
  src/main/java/com/datadog/api/client/v2/model/SpansAttributes.java
Due: generate

add new assertion
  src/test/java/com/datadog/api/ClientSteps.java
Due: java-format

fix example
  .generator/conftest.py
Due: generate

Regenerate client from commit e70d9c5c of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: java-format

Regenerate client from commit cbddd387 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2261785072.java
  src/main/java/com/datadog/api/client/v1/model/WidgetDisplayType.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_timeseries_widget_and_an_overlay_request.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_a_timeseries_widget_and_an_overlay_request.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 0259ae38 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/IPPrefixesRemoteConfiguration.java
  src/main/java/com/datadog/api/client/v1/model/IPRanges.java
Due: generate

handle {} and bool for additionalProperties
  .generator/src/generator/templates/modelSimple.j2
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/DetailedFindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeMonitorIdentifierId.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeMonitorIdentifierTags.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleOneTimeCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleRecurrenceCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/FindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsMeta.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsResponse.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseAttributes.java
Due: none

Regenerate client from commit e9066fe1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/UserInvitationResponseData.java
Due: generate

Regenerate client from commit 878f93fe of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1092490364.java
  src/main/java/com/datadog/api/client/v2/model/CloudConfigurationRuleCreatePayload.java
  src/test/resources/cassettes/features/v2/Create_a_cloud_configuration_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_cloud_configuration_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Version bump 2.14.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 5cc4eb6d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/client/v1/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/client/v2/api/IpAllowlistApi.java
  src/main/java/com/datadog/api/client/v2/api/SpansMetricsApi.java
Due: generate

Regenerate client from commit 313b8b33 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ApplicationKeyCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ApplicationKeyUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/FullApplicationKeyAttributes.java
  src/main/java/com/datadog/api/client/v2/model/PartialApplicationKeyAttributes.java
  src/test/resources/com/datadog/api/client/v1/api/authentication.feature
  src/test/resources/com/datadog/api/client/v1/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
Due: generate

Regenerate client from commit 6b2c473f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/QueryScalarData.java
  examples/v2/metrics/QueryScalarData_3112571352.java
  examples/v2/metrics/QueryTimeseriesData.java
  examples/v2/metrics/QueryTimeseriesData_301142940.java
  src/main/java/com/datadog/api/client/v2/model/QueryFormulaWithLimit.java
  src/main/java/com/datadog/api/client/v2/model/ScalarFormulaRequestAttributes.java
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Timeseries_cross_product_query_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit 1b0797fc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Fix trace reporting for regular tests
  pom.xml
Due: none

Try setting the env var
  .github/workflows/test_integration.yml
Due: none

Handle {} and bool value for `additionalProperties` (#1901)
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/client/v2/model/DetailedFindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeMonitorIdentifierId.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeMonitorIdentifierTags.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleOneTimeCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleRecurrenceCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/FindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsMeta.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsResponse.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseAttributes.java
Due: generate

fix non additionalproperties contianer handling
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Update .generator/src/generator/templates/modelSimple.j2
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Regenerate client from commit b233d581 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerGetConfigResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerMeta.java
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerStandardPatternAttributes.java
Due: generate

Try fix
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

pre-commit fixes
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Fix handling of `additionalProperties` only containers (#1910)
  .generator/src/generator/templates/modelSimple.j2
Due: generate

Regenerate client from commit 98b05871 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/CIAppPipelinesGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/CIAppTestsGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/RUMGroupBy.java
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_tests.feature
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
Due: generate

Fix trace reporting for regular tests (#1909)
  .github/workflows/test_integration.yml
  pom.xml
  src/test/java/com/datadog/api/TestUtils.java
Due: java-format

Update prettier (#1912)
  .pre-commit-config.yaml
Due: generate

Remove invalid warning in example generator
  .generator/src/generator/formatter.py
Due: generate
