Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Regenerate client from commit 719a584 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2882802132.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetDimension.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetFormula.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetGroupBy.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetInfrastructureRequest.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetInfrastructureRequestLeaf.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetInfrastructureRequestRequestType.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetInfrastructureStyle.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetNodeType.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetScalarRequest.java
  src/main/java/com/datadog/api/client/v1/model/HostMapWidgetScalarRequestResponseFormat.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_hostmap_infra_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_hostmap_infra_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/hostmap_infra_widget.json
Due: generate

Regenerate client from commit 44f37c4 of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/FormulaAndFunctionEventsDataSource.java
Due: generate

Regenerate client from commit 4ac086a of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/KeyManagementApi.java
Due: generate

Regenerate client from commit 6dd1df0 of spec repo
  src/test/resources/com/datadog/api/client/v2/api/key_management.feature
  src/test/resources/com/datadog/api/client/v2/api/service_accounts.feature
Due: none

Regenerate client from commit a4d8447 of spec repo
  src/test/resources/cassettes/features/v2/Get_All_Containers_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_Audit_Logs_events_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_RUM_events_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_events_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_logs_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_metrics_returns_Success_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_security_signals_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_list_of_spans_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_a_quick_list_of_security_signals_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_all_Container_Images_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Get_all_processes_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Search_Audit_Logs_events_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Search_RUM_events_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Search_events_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Search_logs_returns_OK_response_with_pagination.json
  src/test/resources/cassettes/features/v2/Search_spans_returns_OK_response_with_pagination.json
Due: none

Regenerate client from commit 57c8bdd of spec repo
  src/test/resources/com/datadog/api/client/v1/api/hosts.feature
  src/test/resources/com/datadog/api/client/v1/api/tags.feature
Due: none

Regenerate client from commit 38754ea of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit d125f6f of spec repo
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/ListStreamIssuePersona.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamIssueState.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamQuery.java
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
Due: generate

Fix LogsArchivesApiTest failures for new lookup/partitioning attributes
  src/test/java/com/datadog/api/client/v2/api/LogsArchivesApiTest.java
  src/test/resources/com/datadog/api/client/v2/api/logs_archives_fixtures/azure/out/create.json
  src/test/resources/com/datadog/api/client/v2/api/logs_archives_fixtures/gcs/out/create.json
  src/test/resources/com/datadog/api/client/v2/api/logs_archives_fixtures/s3/out/create.json
  src/test/resources/com/datadog/api/client/v2/api/logs_archives_fixtures/s3/out/getall.json
  src/test/resources/com/datadog/api/client/v2/api/logs_archives_fixtures/s3/out/getbyid.json
  src/test/resources/com/datadog/api/client/v2/api/logs_archives_fixtures/s3/out/update.json
Due: java-format

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)
  java-format: any of: ^src/test/ and \.java$
