Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Add support for zstd (#1418)
  .generator/src/generator/cli.py
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/ZstdEncoder.j2
  pom.xml
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/ZstdEncoder.java
Due: generate

Regenerate client from commit d3379b79 of spec repo
  .apigentools-info
  examples/v1/downtimes/CreateDowntime_1393233946.java
  examples/v1/downtimes/CreateDowntime_2908359488.java
  examples/v1/downtimes/CreateDowntime_3059354445.java
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_once_a_year.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_once_a_year.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_until_date.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_until_date.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_invalid_type_hours.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_invalid_type_hours.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_invalid_weekdays.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_invalid_weekdays.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_mutually_exclusive_until_occurrences_and_until_date_properties.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_mutually_exclusive_until_occurrences_and_until_date_properties.json
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_until_occurrences.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_downtime_with_until_occurrences.json
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_invalid_type_hours.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_invalid_weekdays.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_once_a_year.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_until_date.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_until_occurrences.json
  src/test/resources/com/datadog/api/client/v1/api/downtime_recurrence_payload_until_occurrences_and_until_date_are_mutually_exclusive.json
Due: none

pre-commit fixes
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/World.java
  src/test/java/com/datadog/api/client/v1/api/EventsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/HostsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/LogsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/MetricsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/TagsApiTest.java
  src/test/java/com/datadog/api/client/v1/api/V1ApiTest.java
  src/test/java/com/datadog/api/client/v2/api/LogsApiTest.java
  src/test/java/com/datadog/api/client/v2/api/V2APITest.java
Due: java-format

add missing dependency
  pom.xml
Due: none

Regenerate client from commit d854c667 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/EditSecurityMonitoringSignalAssignee.java
  examples/v2/security-monitoring/EditSecurityMonitoringSignalIncidents.java
  examples/v2/security-monitoring/EditSecurityMonitoringSignalState.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalArchiveReason.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAssigneeUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAssigneeUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAssigneeUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalIncidentsUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalIncidentsUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalIncidentsUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalState.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageUpdateResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringTriageUser.java
  src/test/resources/cassettes/features/v2/Change_the_related_incidents_of_a_security_signal_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Change_the_related_incidents_of_a_security_signal_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Change_the_triage_state_of_a_security_signal_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Change_the_triage_state_of_a_security_signal_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Modify_the_triage_assignee_of_a_security_signal_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Modify_the_triage_assignee_of_a_security_signal_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit f486a915 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetHourlyUsageAttribution.java
  examples/v1/usage-metering/GetMonthlyUsageAttribution.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: generate

Regenerate client from commit 0fe2fba6 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/logs.feature
  src/test/resources/com/datadog/api/client/v2/api/logs.feature
Due: none

Version bump 2.0.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit fd2aa418 of spec repo
  .apigentools-info
  examples/v1/synthetics/GetAPITestLatestResults.java
  examples/v1/synthetics/GetAPITestResult.java
  examples/v1/synthetics/GetBrowserTestLatestResults.java
  examples/v1/synthetics/GetBrowserTestResult.java
  src/test/resources/cassettes/features/v1/Get_a_browser_test_result_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_browser_test_result_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_browser_test_s_latest_results_summaries_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_browser_test_s_latest_results_summaries_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_API_test_result_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_an_API_test_result_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_API_test_s_latest_results_summaries_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_an_API_test_s_latest_results_summaries_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: none

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAssigneeUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAssigneeUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalAssigneeUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalIncidentsUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalIncidentsUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalIncidentsUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalStateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSignalTriageUpdateResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringTriageUser.java
Due: none

Regenerate client from commit d2c0157b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/TreeMapColorBy.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapGroupBy.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapSizeBy.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapWidgetDefinition.java
Due: generate

Regenerate client from commit 448d6aae of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetHourlyUsage.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsage.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageAttributes.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageMeasurement.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageMetadata.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsagePagination.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageResponse.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_by_product_family_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_by_product_family_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_by_product_family_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_by_product_family_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/HourlyUsage.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageAttributes.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageMeasurement.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageMetadata.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsagePagination.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageResponse.java
Due: none

Update .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Setup Code Scanning on datadog-api-client-java (#1421)
  .github/workflows/codeql-analysis.yml
Due: none

Regenerate client from commit a82be8f8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQueryCreate.java
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Regenerate client from commit 692b2bd1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/usage-metering/GetUsageCIApp.java
  examples/v1/usage-metering/GetUsageCIApp_1064440884.java
  examples/v1/usage-metering/GetUsageCWS.java
  examples/v1/usage-metering/GetUsageCWS_736958514.java
  examples/v1/usage-metering/GetUsageDBM_3446806203.java
  examples/v1/usage-metering/GetUsageLambda.java
  examples/v1/usage-metering/GetUsageLambda_3132428705.java
  examples/v1/usage-metering/GetUsageLogs.java
  examples/v1/usage-metering/GetUsageLogsByIndex.java
  examples/v1/usage-metering/GetUsageLogsByIndex_1025184776.java
  examples/v1/usage-metering/GetUsageLogs_2562396405.java
  examples/v1/usage-metering/GetUsageNetworkFlows.java
  examples/v1/usage-metering/GetUsageNetworkFlows_1239422069.java
  examples/v1/usage-metering/GetUsageNetworkHosts.java
  examples/v1/usage-metering/GetUsageNetworkHosts_1249907835.java
  examples/v1/usage-metering/GetUsageOnlineArchive.java
  examples/v1/usage-metering/GetUsageOnlineArchive_1501172903.java
  examples/v1/usage-metering/GetUsageRumSessions.java
  examples/v1/usage-metering/GetUsageRumSessions_714937291.java
  examples/v1/usage-metering/GetUsageRumUnits.java
  examples/v1/usage-metering/GetUsageRumUnits_3959755399.java
  examples/v1/usage-metering/GetUsageSDS.java
  examples/v1/usage-metering/GetUsageSDS_271128478.java
  examples/v1/usage-metering/GetUsageSynthetics.java
  examples/v1/usage-metering/GetUsageSyntheticsAPI.java
  examples/v1/usage-metering/GetUsageSyntheticsAPI_4048033529.java
  examples/v1/usage-metering/GetUsageSyntheticsBrowser.java
  examples/v1/usage-metering/GetUsageSyntheticsBrowser_1704663299.java
  examples/v2/usage-metering/GetUsageApplicationSecurityMonitoring_3959166796.java
  examples/v2/usage-metering/GetUsageLambdaTracedInvocations_1436752065.java
  examples/v2/usage-metering/GetUsageObservabilityPipelines.java
  examples/v2/usage-metering/GetUsageObservabilityPipelines_970725512.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 699e45b4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetCustomEventsCount.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v2/model/HourlyUsageType.java
  src/main/java/com/datadog/api/client/v2/model/UsageCustomEventsResponse.java
  src/test/resources/com/datadog/api/client/v2/api/undo.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 8b6d3567 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/SubmitMetrics.java
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/MetricResource.java
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.freeze
  src/test/resources/cassettes/features/v2/Submit_metrics_returns_Payload_accepted_response.json
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

generate pagination examples
  .generator/conftest.py
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
Due: generate

add missing import
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
Due: generate

catch apiexception as well
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
Due: generate

Regenerate client from commit 409aef60 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleQueryCreate.java
Due: generate

handle nullable enums
  .generator/src/generator/formatter.py
Due: generate

fix pd tests
  src/test/java/com/datadog/api/client/v1/api/PagerDutyIntegrationApiTest.java
  src/test/resources/cassettes/v1/PagerDutyIntegrationApiTest.lifecyclePagerDutyIntegrationTest.freeze
  src/test/resources/cassettes/v1/PagerDutyIntegrationApiTest.lifecyclePagerDutyIntegrationTest.json
Due: java-format

remove zstd compression
  .generator/src/generator/templates/ZstdEncoder.j2
  src/main/java/com/datadog/api/client/ZstdEncoder.java
Due: generate

Regenerate client from commit 42e24f61 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit a68d81e0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetEstimatedCostByOrg.java
  examples/v2/usage-metering/GetEstimatedCostByOrg_2734954020.java
  examples/v2/usage-metering/GetEstimatedCostByOrg_3186693804.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/resources/cassettes/features/v2/GetEstimatedCostByOrg_with_start_date_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/GetEstimatedCostByOrg_with_start_date_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit 6b569d0a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

remove zstd compression (#1439)
  .generator/src/generator/templates/ZstdEncoder.j2
  src/main/java/com/datadog/api/client/ZstdEncoder.java
Due: generate

Version bump 2.1.0
  pom.xml
Due: none

fix test
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/TestUtils.java
  src/test/resources/cassettes/v1/PagerDutyIntegrationApiTest.lifecyclePagerDutyIntegrationTest.freeze
  src/test/resources/cassettes/v1/PagerDutyIntegrationApiTest.lifecyclePagerDutyIntegrationTest.json
Due: java-format

apply code review suggestion
  src/test/java/com/datadog/api/TestClient.java
Due: java-format

Regenerate client from commit 38d3cf07 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/pagerduty-integration/DeletePagerDutyIntegrationService.java
  src/main/java/com/datadog/api/client/v1/api/PagerDutyIntegrationApi.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/resources/com/datadog/api/client/v1/api/pagerduty_integration.feature
Due: generate, java-format
