Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

pre-commit fixes
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 73e66c9a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/CancelDowntimesByScopeRequest.java
  src/main/java/com/datadog/api/client/v1/model/Downtime.java
  src/main/java/com/datadog/api/client/v1/model/DowntimeChild.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit df25e0fd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/SnapshotsApi.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit a6f623f0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit 5ad82066 of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Get_Fastly_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Fastly_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Fastly_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_Fastly_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Fastly_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Fastly_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/fastly_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: java-format

Regenerate client from commit 13001c30 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Version bump 2.10.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 315984bc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/RestrictionPoliciesApi.java
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate, java-format

Bump java format in CI
  .github/workflows/test.yml
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Bump java format in CI (#1712)
  .github/workflows/test.yml
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 45be3462 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageBillableSummaryKeys.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_monitor_configuration_policies_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Fix team tag
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 0ac475a2 of spec repo
  .apigentools-info
  examples/v2/audit/SearchAuditLogs.java
  src/test/resources/cassettes/features/v2/Search_Audit_Logs_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Search_Audit_Logs_events_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/audit.feature
Due: none

Regenerate client from commit cdf4007e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/downtimes/ListDowntimes.java
  src/main/java/com/datadog/api/client/v1/api/DowntimesApi.java
  src/test/resources/cassettes/features/v1/Get_all_downtimes_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_all_downtimes_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/downtimes.feature
Due: generate

Regenerate client from commit 9bdb5ee6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
Due: generate

Regenerate client from commit b6741167 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2064651578.java
  examples/v1/dashboards/UpdateDashboard_3454865944.java
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_invalid_team_tags_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_invalid_team_tags_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_team_tags_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_team_tags_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_dashboard_with_tags_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_dashboard_with_tags_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
Due: generate

Regenerate client from commit 3658de8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
  src/test/resources/com/datadog/api/client/v2/api/metrics.feature
Due: generate

Regenerate client from commit 21917b12 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/SearchIncidents_1931679109.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/model/IncidentSearchResponse.java
  src/main/java/com/datadog/api/client/v2/model/IncidentSearchResponseMeta.java
  src/test/resources/cassettes/features/v2/Search_for_incidents_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Search_for_incidents_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/incidents.feature
Due: generate

Regenerate client from commit 1f3268e7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_1808735248.java
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_2619874414.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionSchema.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Email.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1EmailType.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Integrations.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Link.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1LinkType.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Opsgenie.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1OpsgenieRegion.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Pagerduty.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Slack.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1SlackType.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Version.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionsCreateRequest.java
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_1_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_1_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_returns_CREATED_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Regenerate client from commit c0790f05 of spec repo
  .apigentools-info
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_2619874414.java
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_1_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Create_or_update_service_definition_using_schema_v2_1_returns_CREATED_response.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: none

Regenerate client from commit ba5c9739 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/spans-metrics/CreateSpansMetric.java
  examples/v2/spans-metrics/DeleteSpansMetric.java
  examples/v2/spans-metrics/GetSpansMetric.java
  examples/v2/spans-metrics/ListSpansMetrics.java
  examples/v2/spans-metrics/UpdateSpansMetric.java
  src/main/java/com/datadog/api/client/v2/api/SpansMetricsApi.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricCompute.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricComputeAggregationType.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricCreateData.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricFilter.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricResponse.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricResponseCompute.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricResponseData.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricResponseFilter.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricResponseGroupBy.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricType.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricUpdateCompute.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SpansMetricsResponse.java
  src/test/resources/cassettes/features/v2/Create_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_span_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_span_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_span_based_metric_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_span_based_metrics_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_span_based_metrics_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_span_based_metric_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_span_based_metric_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/spans_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 874ba49a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 1cb4b144 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/DeleteTeam.java
  examples/v2/teams/DeleteTeamLink.java
  examples/v2/teams/DeleteTeamMembership.java
  examples/v2/teams/ListTeams.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/main/java/com/datadog/api/client/v2/model/ListTeamsInclude.java
  src/main/java/com/datadog/api/client/v2/model/ListTeamsSort.java
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit 9a7b22d0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit f75fcc91 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/ListServiceDefinitions_336468013.java
  src/main/java/com/datadog/api/client/v1/model/HourlyUsageAttributionUsageType.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionSupportedMetrics.java
  src/main/java/com/datadog/api/client/v1/model/MonthlyUsageAttributionValues.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1MSTeams.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1MSTeamsType.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2MSTeams.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2MSTeamsType.java
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_all_service_definitions_returns_OK_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/service_definition.feature
Due: generate

Regenerate client from commit 627d5fdd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1MSTeams.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1MSTeamsType.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2MSTeams.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2MSTeamsType.java
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Edit_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_monitor_configuration_policy_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit bb35241c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1Contact.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1MSTeams.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2Dot1MSTeamsType.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2MSTeams.java
  src/main/java/com/datadog/api/client/v2/model/ServiceDefinitionV2MSTeamsType.java
Due: generate

Regenerate client from commit 9572acd2 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Add_resource_to_Confluent_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_resource_to_Confluent_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/confluent_cloud.feature
Due: none
