Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, java-format

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

java-format:
  name: Format non-generated code
  language: script
  entry: ./format.sh

Remove unused docker file
  Dockerfile.test.v1
Due: none

Active the proper span in test tracing (#1013)
  src/test/java/com/datadog/api/TracePlugin.java
Due: java-format

Regenerate client from commit 436b9e1 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/openapi.yaml
Due: generated

Regenerate client from commit d3a053a of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 53a5665 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit badf0b8 of spec repo
  .apigentools-info
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITest.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsAPITestConfig.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestRequest.java
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

Regenerate client from commit ad22b00 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  api_docs/v2/MetricCustomAggregation.md
  api_docs/v2/MetricCustomSpaceAggregation.md
  api_docs/v2/MetricCustomTimeAggregation.md
  api_docs/v2/MetricTagConfigurationAttributes.md
  api_docs/v2/MetricTagConfigurationCreateAttributes.md
  api_docs/v2/MetricTagConfigurationUpdateAttributes.md
  api_docs/v2/MetricsApi.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/MetricCustomAggregation.java
  src/main/java/com/datadog/api/v2/client/model/MetricCustomSpaceAggregation.java
  src/main/java/com/datadog/api/v2/client/model/MetricCustomTimeAggregation.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationUpdateAttributes.java
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

Generate in repo
  .generator/config/v1.json
  .generator/config/v2.json
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  .github/workflows/test.yml
  .gitignore
  .openapi-generator-ignore
  .pre-commit-config.yaml
  Makefile
  check-examples.sh
  docker-compose.generator.yaml
  format.sh
  src/main/java/com/datadog/api/v1/openapi.yaml
  src/main/java/com/datadog/api/v2/openapi.yaml
Due: generated

pre-commit generate
  .pre-commit-config.yaml
Due: none

remove .generated_files
  .generated_files
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

auto add modification in pre-commit hook
  .pre-commit-config.yaml
  Makefile
Due: none

regenerate
  .generator/schemas/v2/openapi.yaml
  api_docs/v2/MetricTagConfigurationAttributes.md
  api_docs/v2/MetricTagConfigurationCreateAttributes.md
  api_docs/v2/MetricTagConfigurationUpdateAttributes.md
  api_docs/v2/MetricsApi.md
  api_docs/v2/README.md
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/model/MetricCustomAggregation.java
  src/main/java/com/datadog/api/v2/client/model/MetricCustomSpaceAggregation.java
  src/main/java/com/datadog/api/v2/client/model/MetricCustomTimeAggregation.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationCreateAttributes.java
  src/main/java/com/datadog/api/v2/client/model/MetricTagConfigurationUpdateAttributes.java
Due: generated

remove schemas
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: none

Document changing servers and tracing requests (#1001)
  README.md
Due: none

Regenerate client from commit 0b58986 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/Dashboard.md
  src/main/java/com/datadog/api/v1/client/model/Dashboard.java
Due: generated

Fix downtime cancellation tests
  src/test/java/com/datadog/api/v1/client/api/DowntimesApiTest.java
  src/test/resources/cassettes/v1/DowntimesApiTest.cancelDowntimesByScopeTest.freeze
  src/test/resources/cassettes/v1/DowntimesApiTest.cancelDowntimesByScopeTest.json
Due: java-format

Fix downtime cancellation tests (#1022)
  src/test/java/com/datadog/api/v1/client/api/DowntimesApiTest.java
  src/test/resources/cassettes/v1/DowntimesApiTest.cancelDowntimesByScopeTest.freeze
  src/test/resources/cassettes/v1/DowntimesApiTest.cancelDowntimesByScopeTest.json
Due: java-format

Regenerate client from commit f510509 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/SLOCorrectionCreateRequestAttributes.md
  api_docs/v1/SLOCorrectionResponseAttributes.md
  api_docs/v1/SLOCorrectionUpdateRequestAttributes.md
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionCreateRequestAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionResponseAttributes.java
  src/main/java/com/datadog/api/v1/client/model/SLOCorrectionUpdateRequestAttributes.java
  src/test/resources/cassettes/v1/Create_an_SLO_correction_with_rrule_returns_OK_response.freeze
  src/test/resources/cassettes/v1/Create_an_SLO_correction_with_rrule_returns_OK_response.json
  src/test/resources/com/datadog/api/v1/client/api/service_level_objective_corrections.feature
Due: generated

Fix lint hook
  .pre-commit-config.yaml
Due: none

Fix lint hook (#1023)
  .pre-commit-config.yaml
Due: none

Use bash in format
  format.sh
Due: none

Use bash in format (#1024)
  format.sh
Due: none

Make some fix to pre-commit and generation
  .pre-commit-config.yaml
  Makefile
Due: none

Regenerate client from commit 569e123 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/ServiceChecksApi.md
  src/main/java/com/datadog/api/v1/client/api/ServiceChecksApi.java
Due: generated

Regenerate client from commit ca6b2d8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/v1/client/model/Dashboard.java
  src/main/java/com/datadog/api/v1/client/model/GroupWidgetDefinition.java
  src/test/resources/com/datadog/api/v1/client/api/dashboards.feature
Due: generated

GCR
  .github/workflows/test_integration.yml
Due: none

Update .github/workflows/test_integration.yml
  .github/workflows/test_integration.yml
Due: none

GCR (#1031)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 5a8a968 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/README.md
  api_docs/v1/SyntheticsCIBatchMetadataCI.md
  api_docs/v1/SyntheticsCIBatchMetadataPipeline.md
  api_docs/v1/SyntheticsCIBatchMetadataProvider.md
  api_docs/v1/SyntheticsTestConfig.md
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataCI.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataGit.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataPipeline.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsCIBatchMetadataProvider.java
  src/main/java/com/datadog/api/v1/client/model/SyntheticsTestConfig.java
  src/test/resources/com/datadog/api/v1/client/api/synthetics.feature
Due: generated

fix pre-commit
  .github/workflows/test.yml
Due: none

Regenerate client from commit 90cbc9e of spec repo
  .apigentools-info
  api_docs/v1/SyntheticsCIBatchMetadataPipeline.md
  api_docs/v1/SyntheticsCIBatchMetadataProvider.md
Due: generated

Regenerate client from commit 5f61238 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: none

Path conditions:
  generated: any of: ^(src/main|api_docs/v)
  java-format: any of: ^src/test/ and \.java$
