Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit bafcada7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/sensitive-data-scanner/CreateScanningRule.java
  examples/v2/sensitive-data-scanner/UpdateScanningRule.java
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerIncludedKeywordConfiguration.java
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerRuleAttributes.java
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit 8b5aed97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate

Regenerate client from commit 150ace98 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloudflare-integration/CreateCloudflareAccount.java
  examples/v2/cloudflare-integration/UpdateCloudflareAccount.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountCreateRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CloudflareAccountUpdateRequestAttributes.java
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_due_to_missing_email.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_due_to_missing_email.json
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_using_invalid_auth_key.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_Bad_Request_response_using_invalid_auth_key.json
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response.json
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response_with_optional_filters.freeze
  src/test/resources/cassettes/features/v2/Add_Cloudflare_account_returns_CREATED_response_with_optional_filters.json
  src/test/resources/cassettes/features/v2/Get_Cloudflare_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_Cloudflare_account_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Cloudflare_accounts_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_Cloudflare_accounts_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_invalid_api_key.freeze
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_invalid_api_key.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_missing_required_email.freeze
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_Bad_Request_response_due_to_missing_required_email.json
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Cloudflare_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
Due: generate

Regenerate client from commit 71a576e0 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/List_standard_patterns_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/List_standard_patterns_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
Due: none

Regenerate client from commit 7c621566 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit ba6497ef of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit f84630e6 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v2/Get_all_teams_with_fields_team_parameter_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_all_teams_with_fields_team_parameter_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: none

Version bump 2.20.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Enable static analysis
  .github/workflows/static-analysis.datadog.yml
  static-analysis.datadog.yml
Due: none

Regenerate client from commit 76753e01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Log.java
Due: generate

Regenerate client from commit 0d87bc66 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: none

run on master merge
  .github/workflows/static-analysis.datadog.yml
Due: none

Regenerate client from commit b125495e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.java
  examples/v2/security-monitoring/DeleteSecurityMonitoringSuppression.java
  examples/v2/security-monitoring/GetSecurityMonitoringSuppression.java
  examples/v2/security-monitoring/ListSecurityMonitoringSuppressions.java
  examples/v2/security-monitoring/UpdateSecurityMonitoringSuppression.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppression.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionType.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionsResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringUser.java
  src/test/resources/cassettes/features/v2/Create_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_suppression_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_suppression_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_suppression_rule_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_suppression_rule_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_suppression_rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_suppression_rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_a_suppression_rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

Regenerate client from commit bdf7d582 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

skip examples
  static-analysis.datadog.yml
Due: none

update templates
  .generator/src/generator/templates/AbstractOpenApiSchema.j2
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/ApiException.j2
  .generator/src/generator/templates/RetryConfig.j2
  .generator/src/generator/templates/modelSimple.j2
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppression.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateData.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionsResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringUser.java
Due: none

Add support for file parameters
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 4d921fb1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v1/model/DashboardSummaryDefinition.java
Due: generate

Regenerate client from commit 7dba000a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SLOCorrectionCreateRequestAttributes.java
  src/main/java/com/datadog/api/client/v1/model/SLOCorrectionResponseAttributes.java
  src/main/java/com/datadog/api/client/v1/model/SLOCorrectionUpdateRequestAttributes.java
Due: generate

Regenerate client from commit b407748b of spec repo
  .apigentools-info
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/organizations.feature
Due: java-format

Regenerate client from commit 20461e26 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/DORADeploymentRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DORAIncidentRequestAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/dora_metrics.feature
Due: generate

Regenerate client from commit 80f33fd7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestRequest.java
Due: generate

Regenerate client from commit 7def3c63 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.java
  examples/v1/logs-indexes/UpdateLogsIndex.java
  src/main/java/com/datadog/api/client/v1/model/LogsDailyLimitReset.java
  src/main/java/com/datadog/api/client/v1/model/LogsIndex.java
  src/main/java/com/datadog/api/client/v1/model/LogsIndexUpdateRequest.java
  src/test/resources/com/datadog/api/client/v1/api/logs_indexes.feature
Due: generate

Regenerate client from commit 2129ce76 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v2/api/organizations.feature
Due: none

Fix multipart handling
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

Fix multipart handling (#2155)
  .generator/src/generator/templates/ApiClient.j2
  src/main/java/com/datadog/api/client/ApiClient.java
Due: generate

implement file handling in given parameter resolver
  src/test/java/com/datadog/api/Given.java
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit 9d7a3d85 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/usage-metering/GetUsageLambda.java
  examples/v1/usage-metering/GetUsageLambda_3132428705.java
  examples/v2/usage-metering/GetUsageLambdaTracedInvocations.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/UsageLambdaHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageLambdaResponse.java
  src/main/java/com/datadog/api/client/v2/api/UsageMeteringApi.java
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_Traced_Invocations_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_traced_invocations_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_traced_invocations_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_traced_invocations_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_Lambda_traced_invocations_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_lambda_traced_invocations_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_hourly_usage_for_lambda_traced_invocations_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/authentication.feature
  src/test/resources/com/datadog/api/client/v1/api/aws_logs_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
  src/test/resources/com/datadog/api/client/v2/api/apm_retention_filters.feature
  src/test/resources/com/datadog/api/client/v2/api/authn_mappings.feature
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_tests.feature
  src/test/resources/com/datadog/api/client/v2/api/cloud_cost_management.feature
  src/test/resources/com/datadog/api/client/v2/api/cloud_workload_security.feature
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/dora_metrics.feature
  src/test/resources/com/datadog/api/client/v2/api/usage_metering.feature
Due: generate

Regenerate client from commit bdb7b215 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringSuppressionUpdateAttributes.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_a_given_APM_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_Unprocessable_Entity_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filters_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
Due: generate

Regenerate client from commit 29ecc007 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/pagerduty_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/slack_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/cloudflare_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/confluent_cloud.feature
  src/test/resources/com/datadog/api/client/v2/api/fastly_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
Due: none

migrate to k8s runner
  .gitlab-ci.yml
Due: none

also create_key
  .gitlab-ci.yml
Due: none

Regenerate client from commit a9a258a4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/api-management/CreateOpenAPI.java
  examples/v2/api-management/DeleteOpenAPI.java
  examples/v2/api-management/GetOpenAPI.java
  examples/v2/api-management/UpdateOpenAPI.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/ApiManagementApi.java
  src/main/java/com/datadog/api/client/v2/model/CreateOpenAPIResponse.java
  src/main/java/com/datadog/api/client/v2/model/CreateOpenAPIResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/CreateOpenAPIResponseData.java
  src/main/java/com/datadog/api/client/v2/model/OpenAPIEndpoint.java
  src/main/java/com/datadog/api/client/v2/model/OpenAPIFile.java
  src/main/java/com/datadog/api/client/v2/model/UpdateOpenAPIResponse.java
  src/main/java/com/datadog/api/client/v2/model/UpdateOpenAPIResponseAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UpdateOpenAPIResponseData.java
  src/test/java/com/datadog/api/Given.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/com/datadog/api/client/v2/api/api_management.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/openapi-spec.yaml
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate, java-format

Migrate to k8s runner (#2161)
  .gitlab-ci.yml
Due: none

Regenerate client from commit 28baf464 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.java
  examples/v1/synthetics/CreateSyntheticsBrowserTest.java
  examples/v1/synthetics/TriggerCITests.java
  examples/v1/synthetics/UpdateBrowserTest.java
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response.json
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_browser_test_with_advanced_scheduling_options_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_global_variable_from_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_private_location_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_private_location_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_with_oauth_rop_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_HTTP_with_oauth_rop_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_UDP_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_API_test_with_multi_subtype_returns_OK_Returns_the_created_test_details_response.json
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_an_API_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_the_list_of_default_locations_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_the_list_of_default_locations_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Patch_a_Synthetic_test_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Trigger_Synthetic_tests_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics_browser_test_payload.json
Due: generate

Regenerate client from commit a1db94fd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/GetTeamMemberships_3799131168.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/test/resources/cassettes/features/v2/Get_team_memberships_returns_Represents_a_user_s_association_to_a_team_response_with_pagination.freeze
  src/test/resources/cassettes/features/v2/Get_team_memberships_returns_Represents_a_user_s_association_to_a_team_response_with_pagination.json
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit 5ded48a3 of spec repo
  .apigentools-info
  examples/v2/okta-integration/CreateOktaAccount.java
  src/test/resources/cassettes/features/v2/Add_Okta_account_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Add_Okta_account_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/okta_integration.feature
Due: none
