Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Regenerate client from commit ea3afdf8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/Pagination.java
  src/main/java/com/datadog/api/client/v2/model/UserAttributes.java
Due: generate

Regenerate client from commit 6ccf2a1f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/ListEvents.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/ListEvents_2663715109.java
  examples/v2/events/SearchEvents.java
  examples/v2/events/SearchEvents_3856995058.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/test/resources/com/datadog/api/client/v2/api/events.feature
Due: generate

Regenerate client from commit 09d1112a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit 440c93b5 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Configure_tags_for_multiple_metrics_returns_Accepted_response.freeze
  src/test/resources/cassettes/features/v2/Configure_tags_for_multiple_metrics_returns_Accepted_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: none

Regenerate client from commit 5584abd0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/AzureAccount.java
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: generate

Regenerate client from commit ce848888 of spec repo
  .apigentools-info
  src/test/resources/cassettes/features/v1/Create_a_user_returns_User_created_response_test.json
  src/test/resources/cassettes/features/v1/Create_a_user_returns_null_access_role.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_Forbidden_response.json
  src/test/resources/cassettes/features/v1/Validate_API_key_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Get_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Grant_permission_to_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_Scanning_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_rules_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_all_the_RUM_applications_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_for_a_role_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Reorder_Groups_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Group_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_retention_filter_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Bad_Role_ID_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_Not_found_response.json
  src/test/resources/cassettes/features/v2/Update_a_role_returns_OK_response.json
Due: none

Supports unique id
  .generator/conftest.py
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Version bump 2.19.0
  pom.xml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit 58625d67 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/sensitive-data-scanner/CreateScanningRule.java
  examples/v2/sensitive-data-scanner/UpdateScanningRule.java
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerRuleAttributes.java
  src/main/java/com/datadog/api/client/v2/model/SensitiveDataScannerStandardPatternAttributes.java
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_Scanning_Rule_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Update_Scanning_Rule_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit 493effcf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Organization.java
Due: generate

Use variable instead of function
  .generator/conftest.py
  src/test/java/com/datadog/api/ClientSteps.java
  src/test/java/com/datadog/api/World.java
Due: generate, java-format

Regenerate client from commit fd0b0fcb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/gcp-integration/CreateGCPIntegration.java
  examples/v1/gcp-integration/DeleteGCPIntegration.java
  examples/v1/gcp-integration/UpdateGCPIntegration.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_130557025.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_2597004741.java
  examples/v2/gcp-integration/CreateGCPSTSAccount_4235664992.java
  examples/v2/gcp-integration/UpdateGCPSTSAccount_3205636354.java
  src/main/java/com/datadog/api/client/v1/model/GCPAccount.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cspm_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cspm_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_disabled_and_cspm_enabled_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_disabled_and_cspm_enabled_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_resource_collection_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_security_command_center_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_security_command_center_enabled_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_enable_resource_collection_turned_on.freeze
  src/test/resources/cassettes/features/v2/Update_STS_Service_Account_returns_OK_response_with_enable_resource_collection_turned_on.json
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: generate

Regenerate client from commit cdc82e06 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Regenerate client from commit 56bcf717 of spec repo
  .apigentools-info
  examples/v2/gcp-integration/CreateGCPSTSAccount_4235664992.java
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cspm_enabled_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_entry_for_your_service_account_with_cspm_enabled_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: none

Update poetry lock file
  .generator/poetry.lock
Due: generate

Regenerate client from commit 358fd0af of spec repo
  .apigentools-info
  examples/v1/azure-integration/CreateAzureIntegration.java
  src/test/resources/cassettes/features/v1/Create_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_Azure_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: none

Regenerate client from commit 0285f23a of spec repo
  .apigentools-info
  examples/v1/azure-integration/DeleteAzureIntegration.java
  examples/v1/azure-integration/UpdateAzureIntegration.java
  src/test/resources/cassettes/features/v1/Delete_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_an_Azure_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_Azure_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/given.json
Due: none

Regenerate client from commit 118421b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Update poetry lock file (#2113)
  .generator/poetry.lock
Due: generate

Regenerate client from commit f363f7b4 of spec repo
  .apigentools-info
  examples/v1/azure-integration/DeleteAzureIntegration.java
  src/test/resources/cassettes/features/v1/Create_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_Azure_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Delete_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_an_Azure_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_an_Azure_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_Azure_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: none

Regenerate client from commit f9ad7ced of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/KeyManagementApi.java
  src/main/java/com/datadog/api/client/v2/api/RolesApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/client/v2/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/client/v2/api/ServiceDefinitionApi.java
  src/main/java/com/datadog/api/client/v2/api/ServiceScorecardsApi.java
  src/main/java/com/datadog/api/client/v2/api/TeamsApi.java
  src/main/java/com/datadog/api/client/v2/api/UsersApi.java
Due: generate

Regenerate client from commit 1e75e401 of spec repo
  .apigentools-info
  examples/v1/gcp-integration/CreateGCPIntegration.java
  examples/v1/gcp-integration/DeleteGCPIntegration.java
  examples/v1/gcp-integration/UpdateGCPIntegration.java
  src/test/resources/cassettes/features/v1/Create_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_GCP_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Delete_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_a_GCP_integration_returns_OK_response.json
  src/test/resources/cassettes/features/v1/List_all_GCP_integrations_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/List_all_GCP_integrations_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_a_GCP_integration_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/gcp_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/undo.json
Due: none

Regenerate client from commit 0b5e5217 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_2888440510.java
  src/main/java/com/datadog/api/client/v1/model/DistributionWidgetRequest.java
  src/main/java/com/datadog/api/client/v1/model/SplitGraphSourceWidgetDefinition.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_split_graph_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_split_graph_widget.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_split_graph_widget_from_distribution_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_split_graph_widget_from_distribution_widget.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/split_graph_widget_distribution.json
Due: generate

Regenerate client from commit 0ea19912 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamMembership.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToUserTeamTeam.java
  src/main/java/com/datadog/api/client/v2/model/RelationshipToUserTeamTeamData.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamAttributes.java
  src/main/java/com/datadog/api/client/v2/model/UserTeamTeamType.java
  src/test/resources/com/datadog/api/client/v2/api/teams.feature
Due: generate

Regenerate client from commit 61dc4c3e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit 42c21a14 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/DowntimesApi.java
Due: generate

Regenerate client from commit 0c0f34f6 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/azure_integration.feature
Due: none

Regenerate client from commit d5ac2418 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/downtimes/ListMonitorDowntimes_3316718253.java
  src/main/java/com/datadog/api/client/v2/api/DowntimesApi.java
  src/test/resources/com/datadog/api/client/v2/api/downtimes.feature
Due: generate

Regenerate client from commit 08a40cb5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent.java
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v2/api/CiVisibilityPipelinesApi.java
  src/test/resources/com/datadog/api/client/v2/api/ci_visibility_pipelines.feature
Due: generate

Regenerate client from commit 9fcd8e1e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/AwsCURConfigAttributes.java
  src/main/java/com/datadog/api/client/v2/model/AzureUCConfig.java
Due: generate

Regenerate client from commit 9c078a68 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/GCPAccount.java
  src/main/java/com/datadog/api/client/v2/model/GCPSTSServiceAccountAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/gcp_integration.feature
Due: generate

Regenerate client from commit b2d74fec of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/MetricsApi.java
Due: generate

Fix typo in README docs
  README.md
Due: none

Regenerate client from commit e7cfa56f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3367706049.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleOptions.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleThirdPartyOptions.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringRuleUpdatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleCreatePayload.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringStandardRuleResponse.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringThirdPartyRootQuery.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringThirdPartyRuleCase.java
  src/main/java/com/datadog/api/client/v2/model/SecurityMonitoringThirdPartyRuleCaseCreate.java
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/security_monitoring.feature
Due: generate

Fix typo in README docs (#2131)
  README.md
Due: none

Regenerate client from commit 9cbf6566 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/CreateSLO_3765703239.java
  src/main/java/com/datadog/api/client/v1/model/SLODataSourceQueryDefinition.java
  src/main/java/com/datadog/api/client/v1/model/SLOFormula.java
  src/main/java/com/datadog/api/client/v1/model/SLOResponseData.java
  src/main/java/com/datadog/api/client/v1/model/SLOSliSpec.java
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceComparator.java
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceCondition.java
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceQuery.java
  src/main/java/com/datadog/api/client/v1/model/SLOTimeSliceSpec.java
  src/main/java/com/datadog/api/client/v1/model/SLOType.java
  src/main/java/com/datadog/api/client/v1/model/SLOTypeNumeric.java
  src/main/java/com/datadog/api/client/v1/model/ServiceLevelObjective.java
  src/main/java/com/datadog/api/client/v1/model/ServiceLevelObjectiveRequest.java
  src/test/resources/cassettes/features/v1/Create_a_time_slice_SLO_object_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_a_time_slice_SLO_object_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_an_SLO_object_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_SLO_object_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Create_an_SLO_object_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Create_an_SLO_object_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Delete_an_SLO_returns_Not_found_response.freeze
  src/test/resources/cassettes/features/v1/Delete_an_SLO_returns_Not_found_response.json
  src/test/resources/cassettes/features/v1/Delete_an_SLO_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_an_SLO_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_Corrections_For_an_SLO_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_Corrections_For_an_SLO_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_SLOs_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_all_SLOs_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_history_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_an_SLO_s_history_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Update_an_SLO_returns_Bad_Request_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_SLO_returns_Bad_Request_response.json
  src/test/resources/cassettes/features/v1/Update_an_SLO_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Update_an_SLO_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v1/api/service_level_objectives.feature
Due: generate
