Repository DataDog/datadog-api-client-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, java-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: node
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|\.prettierrc\.yml|Makefile)'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v1/openapi.yaml -o ../src/main/java/com/datadog/api/v1/client/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator -i ./schemas/v2/openapi.yaml -o ../src/main/java/com/datadog/api/v2/client"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: lint
    name: Format generated code
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^src/'
    types: [file, java]
    pass_filenames: false
    args: ['src/']
  - id: lint-examples
    name: Format examples
    stages: [manual]
    language: script
    entry: ./format.sh
    files: '^examples/'
    types: [file, java]
    pass_filenames: false
    args: ['examples/']
  - id: java-format
    name: Format non-generated code
    language: script
    entry: ./format.sh
    files: '^src/test/'
    types: [file, java]

Generate pagination examples (#1436)
  .generator/conftest.py
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
Due: generate

cleanup exceptions
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
  src/main/java/com/datadog/api/client/v2/api/AuditApi.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/main/java/com/datadog/api/client/v2/api/ProcessesApi.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Due: generate

more ApiException handling remonal
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/client/v2/api/AuditApi.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/main/java/com/datadog/api/client/v2/api/ProcessesApi.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Due: generate

Cleanup exceptions for pagination helper methods (#1446)
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
  src/main/java/com/datadog/api/client/v2/api/AuditApi.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/main/java/com/datadog/api/client/v2/api/ProcessesApi.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Due: generate

Regenerate client from commit 43d0c8cf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
Due: generate

Regenerate client from commit 27b7ba8d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuth.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthDigest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthDigestType.java
Due: generate

Fix API class get for given and undos
  src/test/java/com/datadog/api/World.java
Due: java-format

Regenerate client from commit ddadc0b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum/CreateRUMApplication.java
  examples/v2/rum/DeleteRUMApplication.java
  examples/v2/rum/GetRUMApplication.java
  examples/v2/rum/GetRUMApplications.java
  examples/v2/rum/UpdateRUMApplication.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplication.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreate.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationResponse.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdate.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationsResponse.java
  src/test/java/com/datadog/api/World.java
  src/test/resources/cassettes/features/v2/Create_a_new_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Create_a_new_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_Not_Found_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_Not_Found_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate, java-format

Regenerate client from commit f62be169 of spec repo
  .apigentools-info
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
Due: none

Regenerate client from commit 8040d523 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/pagerduty-integration/DeletePagerDutyIntegrationService.java
  examples/v2/rum/CreateRUMApplication.java
  examples/v2/rum/DeleteRUMApplication.java
  examples/v2/rum/GetRUMApplication.java
  examples/v2/rum/GetRUMApplications.java
  examples/v2/rum/UpdateRUMApplication.java
  src/main/java/com/datadog/api/client/v1/api/PagerDutyIntegrationApi.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuth.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthDigest.java
  src/main/java/com/datadog/api/client/v1/model/SyntheticsBasicAuthDigestType.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplication.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreate.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateRequest.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationResponse.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdate.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateType.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationsResponse.java
  src/test/resources/com/datadog/api/client/v1/api/pagerduty_integration.feature
  src/test/resources/com/datadog/api/client/v1/api/synthetics.feature
  src/test/resources/com/datadog/api/client/v2/api/given.json
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
  src/test/resources/com/datadog/api/client/v2/api/undo.json
Due: generate

add missing dependencies into the shaded jar
  pom.xml
Due: none

Regenerate client from commit 51cbf00f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1094917386.java
  src/main/java/com/datadog/api/client/v1/model/MonitorSummaryWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/WidgetMonitorSummarySort.java
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter.json
  src/test/resources/com/datadog/api/client/v1/api/dashboards.feature
  src/test/resources/com/datadog/api/client/v1/api/dashboards_json_payload/manage_status_widget_priority_sort.json
Due: generate

add missing dependencies into the shaded jar (#1453)
  pom.xml
Due: none

add relocations
  pom.xml
Due: none

Regenerate client from commit 56625080 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/ListStreamSource.java
Due: generate

add relocations (#1456)
  pom.xml
Due: none

Version bump 2.2.0
  pom.xml
Due: none

Post release bump
  pom.xml
Due: none

Regenerate client from commit a957cd49 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetDailyCustomReports.java
  examples/v1/usage-metering/GetMonthlyCustomReports.java
  examples/v1/usage-metering/GetSpecifiedDailyCustomReports.java
  examples/v1/usage-metering/GetSpecifiedMonthlyCustomReports.java
  examples/v1/usage-metering/GetUsageAttribution.java
  src/main/java/com/datadog/api/client/ApiClient.java
  src/main/java/com/datadog/api/client/v1/api/UsageMeteringApi.java
  src/test/resources/com/datadog/api/client/v1/api/usage_metering.feature
Due: generate

Regenerate client from commit 57b75ade of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/ValidateExistingMonitor.java
  examples/v1/monitors/ValidateMonitor_4247196452.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/OnMissingDataOption.java
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Check_if_a_monitor_can_be_deleted_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_graph_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_graph_widget.json
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_value_widget.freeze
  src/test/resources/cassettes/features/v1/Create_a_new_dashboard_with_alert_value_widget.json
  src/test/resources/cassettes/features/v1/Delete_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Delete_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Edit_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Edit_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Get_a_monitor_s_details_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_deserializes_successfully.json
  src/test/resources/cassettes/features/v1/Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Schedule_a_monitor_downtime_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Schedule_a_monitor_downtime_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_a_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_a_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_a_multi_alert_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_a_multi_alert_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_Invalid_JSON_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_Invalid_JSON_response.json
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.freeze
  src/test/resources/cassettes/features/v1/Validate_an_existing_monitor_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.freeze
  src/test/resources/cassettes/features/v2/Aggregate_RUM_events_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Delete_a_RUM_application_returns_No_Content_response.json
  src/test/resources/cassettes/features/v2/Get_a_RUM_application_returns_OK_response.json
  src/test/resources/cassettes/features/v2/List_permissions_returns_OK_response.json
  src/test/resources/cassettes/features/v2/Revoke_permission_returns_Not_found_response.json
  src/test/resources/com/datadog/api/client/v1/api/given.json
  src/test/resources/com/datadog/api/client/v1/api/monitors.feature
  src/test/resources/com/datadog/api/client/v1/api/multi_alert_monitor_payload.json
Due: generate

Regenerate client from commit 063ba8c1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum/UpdateRUMApplication.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationCreateAttributes.java
  src/main/java/com/datadog/api/client/v2/model/RUMApplicationUpdateAttributes.java
  src/test/resources/com/datadog/api/client/v2/api/rum.feature
Due: generate

Regenerate client from commit 0a894d5c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/SyntheticsTestProcessStatus.java
Due: generate

add javadoc deprecation warnings to fields and getter setter methods
  .generator/src/generator/templates/modelSimple.j2
Due: generate

pre-commit fixes
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v1/model/DistributionWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/LogStreamWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/MonitorSummaryWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/Organization.java
  src/main/java/com/datadog/api/client/v1/model/OrganizationCreateBody.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapWidgetDefinition.java
Due: none

Regenerate client from commit 26daca9c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Due: generate

Ease running local formatting
  Dockerfile.format
  format.sh
Due: none

Ease running local formatting (#1472)
  Dockerfile.format
  format.sh
Due: none

Fix docker format
  format.sh
Due: none

Fix docker format for real
  Dockerfile.format
  format.sh
Due: none

Regenerate client from commit fa737570 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ContentEncoding.java
Due: generate

Regenerate client from commit ccfa4a07 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/Event.java
  src/main/java/com/datadog/api/client/v2/model/EventAttributes.java
Due: generate

Regenerate client from commit bffd4769 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/api/MonitorsApi.java
Due: generate

Regenerate client from commit 8a0bf28b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  src/main/java/com/datadog/api/client/v2/model/ContentEncoding.java
Due: generate

Regenerate client from commit c6ece364 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 95ec6eee of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/OnMissingDataOption.java
Due: generate

Regenerate client from commit 3f049059 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  src/main/java/com/datadog/api/client/v1/model/UsageCloudSecurityPostureManagementHour.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDate.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryDateOrg.java
  src/main/java/com/datadog/api/client/v1/model/UsageSummaryResponse.java
Due: generate
